.tooltip-menu {
    position: relative;
    height: 0;
    z-index: 3000;
    width: 100%;
    .menu-container {
        .drop-shadow(0, 2px, 5px, 2px, .5);
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        background-color: @color-medium-gray3;
        width: 100%;
        max-width: 276px;
        z-index: 3000;
    }
    .menu-item {
        display: block;
        padding: 9px;
        cursor: pointer;
        font-family: @font-primary;
        font-size: 14px;
        color: @color-gray2;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .menu-item:hover {
        text-decoration: none;
        background-color: @color-medium-gray2;
        color: @color-white;
    }
    .menu-icon {
        font-size: 18px;
        color: @color-gray2;
        margin-right: 1px;
    }
    .menu-label {
        position: relative;
    }
    .icon-favorite-icon {
        font-size: 17px;
    }

    .points-violator {
        display: inline-block;
        margin-left: 15px;
    }
}