.clix-offer-modal {
    color: @color-white;
    padding: 30px;

    .slick-dots {
        position: absolute;
        left: 0;
        bottom: 20px;
        list-style-type: none;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding: 0;

        li {
            display: inline-block;
            margin: 0 7px;
        }

        button {
            .border-radius(2.5px);
            border-width: 0;
            background-color: @color-gray4;
            font-size: 0;
            line-height: 0;
            width: 5px;
            height: 5px;
            padding: 0;
            margin: 0;
        }

        .slick-active {
            button {
                background-color: @color-white;
            }
        }
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 3000;
        margin-top: -20px;
    }

    #main-carousel-next {
        right: 10px;
    }

    .main-carousel-button {
        font-size: 36px;
        color: @color-white;
        cursor: pointer;
    }

    .arrow-icon {
        .text-shadow;
    }


    .close-modal-icon {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 20px;
        cursor: pointer;
        color: @color-gray2;

        &:hover {
            color: @color-white;
        }
    }

    .offer-coupon-code {
        background-color: @color-gray12;
        font-family: @font-primary;
        color: @color-reward-primary;
        display: inline-block;
        font-size: 20px;
        padding: 3px 10px;
        margin: 5px 0;
    }

    .offer-title {
        font-size: 18px;
        font-family: @font-primary-bold;
    }

    .offer-image-info-container {
        position: relative;
        padding: 40px 20px;

        .offer-background-image {
            .blur(30px);
            .border-radius(10px);
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-position: center center;
            background-size: cover;

            &:before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                content: '';
                background-color: fade(@color-gray4, 80%)
            }
        }

        .offer-image-container {
            .drop-shadow(0, 0, 10px, 0, .22);
        }

        .offer-image {
            max-width: 100%;
        }

        .offer-expiration-date {
            font-family: @font-primary;
            font-size: 10px;
            color: @color-white;
            text-transform: uppercase;
            margin-top: 10px;

            @media (min-width: @screen-sm) {
                margin-top: 0;
            }
        }

        .instructions-title {
            font-size: 16px;
            font-family: @font-primary;
            color: @color-white;
            text-transform: uppercase;
            margin-top: 10px;
        }

        .instructions-container {
            font-family: @font-primary;
            font-size: 11px;
            color: @color-white;
            line-height: 14px;
            margin-top: 10px;
        }

        .instruction-row {
            .flex-display;
            margin-bottom: 10px;

            &:first-child {
                .instruction-step {
                    margin-top: 10px;
                }
            }

            .instruction-step {
                .border-radius(25px / 2);
                border: 1px solid @color-primary;
                width: 25px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                font-family: @font-primary;
                font-size: 12px;
            }

            .instruction-info {
                .flex(1);
                padding-left: 20px;
                padding-top: 4px;
                font-family: @font-primary;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .offer-buttons-container {
        margin-top: 50px;

        .offer-button {
            position: relative;
            margin-bottom: 10px;

            @media (min-width: @screen-sm) {
                margin-bottom: 0;
            }

            .clix-tertiary-button {
                display: block;
            }

            .violator-container {
                position: absolute;
                top: 50%;
                margin-top: -13px;
                right: 6px;

                @media (min-width: @screen-sm) {
                    margin-top: -15px;
                    right: 3px;
                }
            }
        }

        .offer-share {
            .flex-display;
            .align-items(center);
            font-size: 40px;
        }
    }

    .offer-description-container {
        margin-top: 50px;

        .offer-description-header {
            font-family: @font-primary-bold;
            font-size: 24px;
            color: @color-gray;
            letter-spacing: 3.5px;
            text-transform: uppercase;
        }

        .offer-description {
            font-family: @font-primary;
            font-size: 14px;
            line-height: 20px;
            margin-top: 20px;
        }
    }
}