<div class="clix-offer-modal">
    <a ng-click="onClosePress()" class="close-modal-icon">
        <div class="icon-remove-icon"></div>
    </a>
    <div ng-if="!offer">
        <clix-loader size="small"></clix-loader>
    </div>
    <div ng-if="offer">
        <div class="offer-title">
            {{offer.title}}
        </div>
        <div class="offer-image-info-container row">
            <div class="col-xs-6">
                <img ng-if="offer.carouselPic1" ng-src="{{offer.carouselPic1}}" class="offer-image" />
                <div class="offer-expiration-date">
                    Expires {{offer.expirationDate | clixDate : 'long'}}
                </div>
            </div>
            <div class="col-xs-6">
                <div class="instructions-title">
                    Instructions
                </div>
                <div class="instructions-container">
                    <div class="instruction-row">
                        <div class="instruction-step-container">
                            <div class="instruction-step">
                                1
                            </div>
                        </div>
                        <div class="instruction-info">
                            Click the button below to shop online at {{offer.brand.title}}. Your Coupon code will be copied to your clipboard automatically.
                        </div>
                    </div>
                    <div class="instruction-row">
                        <div class="instruction-step-container">
                            <div class="instruction-step">
                                2
                            </div>
                        </div>
                        <div class="instruction-info">
                            Paste your code during checkout.
                        </div>
                    </div>
                    <div class="instruction-row">
                        <div class="instruction-step-container">
                            <div class="instruction-step">
                                3
                            </div>
                        </div>
                        <div class="instruction-info">
                            Enjoy!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offer-buttons-container row">
            <div class="col-xs-4">
                <div class="offer-button">
                    <clix-tertiary-button ng-click="onSaveOfferPress()">
                        {{isSavedOffer ? 'Offer Saved' : 'Save Offer'}}
                    </clix-tertiary-button>
                    <div class="violator-container">
                        <clix-points-violator>
                            50
                        </clix-points-violator>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="offer-button">
                    <clix-tertiary-button>
                        Redeem Offer
                    </clix-tertiary-button>
                    <div class="violator-container">
                        <clix-points-violator>
                            50
                        </clix-points-violator>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="offer-share">
                    <clix-share-button offer="offer"></clix-share-button>
                    <clix-points-violator>
                        50
                    </clix-points-violator>
                </div>
            </div>
        </div>
        <div class="offer-description-container">
            <div class="offer-description-header">
                The Revolution Never Ends
            </div>
            <div class="offer-description" ng-bind-html="offer.longDescription || offer.description | clixNewLineBreak">
            </div>
        </div>
    </div>
</div>