.clix-circle-container-icon {
    .flex-display;
    .border-radius(42px / 2);
    .align-items(center);
    .justify-content(center);
    width: 42px;
    height: 42px;
    color: @color-white;
    font-size: 20px;
    &.clix-trophy-indicator-icon {
        background-color: @color-reward-primary;
    }
    &.clix-error-indicator-icon {
        background-color: @color-error;
    }
}