.clix-account-favorites {
    .favorites-page-content {
        padding: 46px 29px 46px 48px;
    }

    .clix-search-filter {
        padding-top: 45px;
    }

    .empty-favorite-icon {
        font-size: 18px;
        position: relative;
        top: -1px;
    }
}