.clix-account-favorites {
    .favorites-page-content {
        padding: 20px @common-mobile-padding 46px @common-mobile-padding;

        @media (min-width: @screen-md) {
            padding: 46px 29px 46px 48px;
        }
    }

    .clix-search-filter {
        padding-top: 45px;
    }

    .empty-favorite-icon {
        font-size: 18px;
        position: relative;
        top: -1px;
    }

    .tab-content {
        border-top: 1px solid @color-gray3;
        @media (min-width: @screen-md) {
            border-top-width: 0;
        }
    }

    .clix-search-filter {
        @media (max-width: @screen-md) {
            padding-top: 20px;
        }
    }

    .clix-empty-container {
        @media (min-width: @screen-md) {
            border-top: 1px solid @color-gray3;
        }
    }
}