<div class="clix-account-favorites">
    <clix-account-header>
        <header-text>
            Favorites
        </header-text>
    </clix-account-header>
    <div ng-if="!ready">
        <clix-loader size="large"></clix-loader>
    </div>
    <div class="favorites-page-content" ng-show="ready">
        <div class="clix-tabs">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Stars">
                    <div class="favorites-tab-content">

                        <div ng-if="!celebrities || !celebrities.celebrities || celebrities.celebrities.length === 0">
                            <clix-empty-container>
                                <header-text>
                                    Your favorite Stars will appear here.
                                </header-text>
                                <body-text>
                                    Browse through Stars and hit the <i class="empty-favorite-icon icon-favorite-icon"></i> to add them to this list.
                                </body-text>
                                <call-to-action-button>
                                    <clix-primary-button ui-sref="stars">
                                        Go to Stars
                                    </clix-primary-button>
                                </call-to-action-button>
                            </clix-empty-container>
                        </div>
                        <div ng-if="celebrities && celebrities.celebrities && celebrities.celebrities.length > 0">
                            <clix-filter-page partial="true">
                                <page-search-filter>
                                    <clix-search-filter
                                            search-placeholder="Search Stars"
                                            filter-placeholder="Filter By"
                                            sort-placeholder="Sort By"
                                            filter-options="filterStarsOptions"
                                            sort-options="sortStarsOptions"
                                    ></clix-search-filter>
                                </page-search-filter>
                                <page-content>
                                    <clix-content-callout-list items="celebrities.celebrities" large-col-class="col-lg-2-4">
                                        <clix-star-content-callout star="item"></clix-star-content-callout>
                                    </clix-content-callout-list>
                                </page-content>
                            </clix-filter-page>
                        </div>

                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Brands">
                    <div class="favorites-tab-content">

                        <div ng-if="!brands || !brands.brands || brands.brands.length === 0">
                            <clix-empty-container>
                                <header-text>
                                    Your favorite Brands will appear here.
                                </header-text>
                                <body-text>
                                    Browse through Brands &amp; Offers and hit the <i class="empty-favorite-icon icon-favorite-icon"></i> to add them to this list.
                                </body-text>
                                <call-to-action-button>
                                    <clix-primary-button ui-sref="brands">
                                        Go to Brands & Offers
                                    </clix-primary-button>
                                </call-to-action-button>
                            </clix-empty-container>
                        </div>
                        <div ng-if="brands && brands.brands && brands.brands.length > 0">
                            <clix-filter-page partial="true">
                                <page-search-filter>
                                    <clix-search-filter
                                        search-placeholder="Search Brands"
                                        filter-placeholder="Filter By"
                                        sort-placeholder="Sort By"
                                        filter-options="filterBrandsOptions"
                                        sort-options="sortBrandsOptions"
                                    ></clix-search-filter>
                                </page-search-filter>
                                <page-content>
                                    <clix-content-callout-list items="brands.brands" large-col-class="col-lg-2-4">
                                        <clix-brand-content-callout brand="item"></clix-brand-content-callout>
                                    </clix-content-callout-list>
                                </page-content>
                            </clix-filter-page>
                        </div>

                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Charities">
                    <div class="favorites-tab-content">

                        <div ng-if="!charities || !charities.charities || charities.charities.length === 0">
                            <clix-empty-container>
                                <header-text>
                                    Your favorite Charities will appear here.
                                </header-text>
                                <body-text>
                                    Browse through Charities and hit the <i class="empty-favorite-icon icon-favorite-icon"></i> to add them to this list.
                                </body-text>
                                <call-to-action-button>
                                    <clix-primary-button ui-sref="charities">
                                        Go to Charities
                                    </clix-primary-button>
                                </call-to-action-button>
                            </clix-empty-container>
                        </div>
                        <div ng-if="charities && charities.charities && charities.charities.length > 0">
                            <clix-filter-page partial="true">
                                <page-search-filter>
                                    <clix-search-filter
                                            search-placeholder="Search Charities"
                                            filter-placeholder="Filter By"
                                            sort-placeholder="Sort By"
                                            filter-options="filterCharitiesOptions"
                                            sort-options="sortCharitiesOptions"
                                    ></clix-search-filter>
                                </page-search-filter>
                                <page-content>
                                    <clix-content-callout-list items="charities.charities" large-col-class="col-lg-2-4">
                                        <clix-charity-content-callout charity="item"></clix-charity-content-callout>
                                    </clix-content-callout-list>
                                </page-content>
                            </clix-filter-page>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="3" heading="Categories">
                    <div class="favorites-tab-content">

                        <div ng-if="!categories || !categories.categories || categories.categories.length === 0">
                            <clix-empty-container>
                                <header-text>
                                    Your favorite Categories will appear here.
                                </header-text>
                                <body-text>
                                    Browse through Categories and hit the <i class="empty-favorite-icon icon-favorite-icon"></i> to add them to this list.
                                </body-text>
                                <call-to-action-button>
                                    <clix-primary-button ui-sref="categories">
                                        Go to Categories
                                    </clix-primary-button>
                                </call-to-action-button>
                            </clix-empty-container>
                        </div>
                        <div ng-if="categories && categories.categories && categories.categories.length > 0">
                            <clix-filter-page partial="true">
                                <page-search-filter>
                                    <clix-search-filter
                                            search-placeholder="Search Categories"
                                            filter-placeholder="Filter By"
                                            sort-placeholder="Sort By"
                                            filter-options="filterCategoriesOptions"
                                            sort-options="sortCategoriesOptions"
                                    ></clix-search-filter>
                                </page-search-filter>
                                <page-content>
                                    <clix-content-callout-list items="categories.categories" large-col-class="col-lg-2-4">
                                        <clix-category-content-callout category="item"></clix-category-content-callout>
                                    </clix-content-callout-list>
                                </page-content>
                            </clix-filter-page>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>