.home_page{
  padding: 0;
  .sport_list_container{
    background-color: #18d676;
    padding-right: 14%;
    padding-left: 14%;
    height: 6vw;
    .kinds_of_sports{
      width: 6.25%;
      height: 2vw;
      float: left;
      margin-top: 2vw;
      .sport_logo{
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
      }
    }
  }
  .center_container{
    padding: 0;
    .center_image{
      height: 55vw;
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100%;
    }
  }
  .channels_container{
    background-color: #18d676;
    height: 10vw;
    padding-right: 14%;
    padding-left: 14%;
    .channel{
      width: 14%;
      height: 6vw;
      float: left;
      margin-top: 2vw;
      .channel_logo{
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
      }
    }
  }
  .content_container{
    padding-right: 14%;
    padding-left: 14%;
    .content_title{
      height: 4vw;
      line-height: 4vw;
      margin-top: 3vw;
      &.orange{
        background-color: #fc5f3d;
      }
      &.green{
        background-color: #18d676;
      }
    }
    .points_container{
      height: 20vw;
      padding: 0;
      .point{
        height: 100%;
        padding-left: 0.8vw;
        padding-right: 0.8vw;
        transition: all 0.25s;
        cursor: pointer;
        .point_logo{
          height: 4.5vw;
          margin-top: 2vw;
          margin-bottom: 1.8vw;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          transition: all 0.25s;
        }
        .point_logo_hover{
          display: none;
          height: 4.5vw;
          margin-top: 2vw;
          margin-bottom: 1.8vw;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          transition: all 0.25s;
        }
        .point_title{
          font-family: SourceSansPro;
          font-style: italic;
          font-size: 1.15vw;
          line-height: 1.36;
          letter-spacing: 0.8px;
          text-align: center;
          color: rgba(51, 60, 69, .4);
          text-transform: uppercase;
          padding-left: 1.25vw;
          padding-right: 1.25vw;
          transition: all 0.25s;
        }
        .point_num{
          font-family: Roboto;
          font-size: 2vw;
          font-weight: 300;
          line-height: 0.77;
          letter-spacing: 1.9px;
          text-align: center;
          color: rgba(51, 60, 69, .4);
          margin-top: 0.9vw;
          margin-bottom: 1.05vw;
          transition: all 0.25s;
        }
        .point_desc{
          font-family: Roboto;
          font-size: 0.82vw;
          line-height: 1.38;
          text-align: center;
          color: rgba(51, 60, 69, .4);
          transition: all 0.25s;
        }
        .point_button{
          display: none;
          transition: all 0.25s;
        }
        &:hover{
          background-color: #fc5f3d;
          .point_logo{
            display: none;
          }
          .point_logo_hover{
            display: block;
          }
          .point_title{
            color: #ffffff;
            font-weight: bold;
          }
          .point_num{
            color: #ffffff;
            font-weight: bold;
            font-size: 3vw;
          }
          .point_desc{
            display: none;
          }
          .point_button{
            display: block;
            text-align: center;
            .get_points_button{
              font-family: SourceSansPro;
              font-style: italic;
              font-size: 1.15vw;
              font-weight: bold;
              line-height: 1.36;
              letter-spacing: 1.1px;
              text-align: center;
              color: #ffffff;
              border-radius: 2px;
              border: solid 0.1vw #ffffff;
              background-color: #fc5f3d;
            }
          }
        }
      }
    }
    .video_list_container{
      padding: 0.8vw;
      position: relative;
      transition: all 0.5s;
      .video_list_image{
        padding-bottom: 58%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;
        .video_list_background{
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(32, 32, 32, 0.5);
          transition: all 0.25s;
        }
        .video_logo{
          position: absolute;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: right;
          height: 2vw;
          width: 2vw;
          top: 3%;
          right: 3%;
        }
        .video_play_button{
          background-image: url('../src/images/icon/play.png');
          position: absolute;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 1.6vw;
          height: 2.2vw;
          top: 40%;
          margin-left: auto;
          margin-right: auto;
          right: 0;
          left: 0;
          transition: all 0.25s;
          cursor: pointer;
        }
        .video_points{
          position: absolute;
          width: 4.5vw;
          height: 1.8vw;
          border-radius: 100px;
          background-color: #1a2937;
          border: solid 0.1vw #18d676;
          top: 70%;
          left: 34%;
          transition: all 0.25s;
          .pin_icon{
            background-image: url('../src/images/icon/pin-icon-yellow.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 1.15vw;
            height: 1.15vw;
            margin: 0.2vw 0 0.2vw 0.5vw;
            float: left;
          }
          .points_num{
            float: left;
            font-family: SourceSansPro;
            font-size: 1.25vw;
            font-weight: 900;
            text-align: center;
            color: #ffffff;
            line-height: 1.6vw;
            margin-left: 0.2vw;
          }
        }
        .video_desc_hover{
          position: absolute;
          top: 100%;
          height: 47%;
          width: 100%;
          padding: 0.75vw;
          background-color: rgba(26, 37, 48, .72);
          transition: all 0.25s;
          .video_desc_title{
            font-family: SourceSansPro;
            font-style: italic;
            font-size: 0.82vw;
            font-weight: 600;
            color: #fc5f3d;
            padding: 0;
          }
          .video_desc_share{
            padding: 0;
            .video_share_button{
              background-image: url(../src/images/icon/share-green.png);
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              width: 1vw;
              height: 1vw;

              float: right;
              cursor: pointer;
            }
            .video_add_to_my_list{
              background-image: url(../src/images/icon/add_to_list.png);
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              width: 1vw;
              height: 1vw;
              margin-left: 1vw;
              float: right;
              cursor: pointer;
            }
          }
          .video_desc_info{
            padding: 0;
            font-family: Roboto;
            font-size: 0.5vw;
            font-weight: 300;
            line-height: 1.21;
            letter-spacing: 0.4px;
            text-align: left;
            color: #ffffff;
          }
          .video_desc_arrow{
            background-image: url(../src/images/icon/down.png);
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 1.6vw;
            height: 1.2vw;
            top: 70%;
            margin-left: auto;
            margin-right: auto;
            right: 0;
            left: 0;
            cursor: pointer;
          }
        }
      }
      &:hover{
        z-index: 1;
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -o-transform: scale(1.4);
        transform: scale(1.4);
        .video_list_background{
          opacity: 0;
        }
        .video_play_button{
          top: 25%;
        }
        .video_points{
          top: 3%;
          left: 3%;
        }
        .video_desc_hover{
          top: 53%;
        }
      }
    }
    .social_list_container{
      padding: 0.3vw;
      position: relative;
      transition: all 0.5s;
      .social_list_image{
        padding-bottom: 75%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;
        border-radius: 0.2vw;
        &.facebook{
          border: solid 0.2vw #3b5998;
          .social_desc{
            background-color: rgba(59, 89, 152, 0.8);
            .social_icon{
              background-image: url('../src/images/icon/facebook.png');
            }
          }
        }
        &.twitter{
          border: solid 0.2vw #5dd7fb;
          .social_desc{
            background-color: rgba(93, 215, 251, 0.9);
            .social_icon{
              background-image: url('../src/images/icon/twitter.png');
            }
          }
        }
        &.instagram{
          border: solid 0.2vw #cd486b;
          .social_desc{
            background-color: rgba(205, 72, 107, 0.8);
            .social_icon{
              background-image: url('../src/images/icon/instagram.png');
            }
          }
        }
        .social_desc{
          position: absolute;
          bottom: 0;
          height: 25%;
          width: 100%;
          .social_user_image{
            padding: 0;
          }
          .social_title{
            padding: 0;
            font-family: Roboto;
            font-size: 0.75vw;
            text-align: left;
            color: #ffffff;
            padding-top: 0.3vw;
          }
          .social_icon{
            padding: 0;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
            height: 1.6vw;
            margin-top: 0.5vw;
          }
          .social_time{
            padding: 0;
            font-family: Roboto;
            font-size: 0.5vw;
            text-align: left;
            color: #ffffff;
            line-height: 2.8vw;
            text-align: center;
          }
        }
      }
    }
  }
}
