.home_page{
  padding: 0;
  .sport_list_container{
    background-color: #18d676;
    padding-right: 14%;
    padding-left: 14%;
    height: 6vw;
    .kinds_of_sports{
      width: 6.25%;
      height: 2vw;
      float: left;
      margin-top: 2vw;
      transition: all 0.25s;
      .sport_logo{
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
      }
      .sport_logo_hover{
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
        display: none;
      }
      .sport_title{
        display: none;
        color: #ffffff;
        text-align: center;
        font-family: SourceSansPro;
        font-style: italic;
        font-size: 0.9vw;
        font-weight: 600;
        line-height: 1.5;
      }
      &.active{
        height: 3vw;
        margin-top: 1vw;
        .sport_logo{
          display: none;
        }
        .sport_logo_hover{
          display: block;
        }
        .sport_title{
          display: block;
        }
      }
      &:hover{
        height: 3vw;
        margin-top: 1vw;
        .sport_logo{
          display: none;
        }
        .sport_logo_hover{
          display: block;
        }
        .sport_title{
          display: block;
        }
      }
      &:nth-child(14){
        .sport_title{
          font-size: 0.75vw;
        }
      }
    }
  }
  .center_container{
    padding: 0;
    .center_image{
      height: 55vw;
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100%;
      position: relative;
      .center_play_button{
        background-image: url(../src/images/icon/play-shadow.png);
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 5vw;
        height: 6vw;
        top: 40%;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
        cursor: pointer;
      }
      .center_points{
        position: absolute;
        width: 10.5vw;
        height: 4.3vw;
        border-radius: 100px;
        background-color: #1a2937;
        border: solid 0.25vw #18d676;
        top: 52%;
        left: 45%;
        .points_icon{
          background-image: url(../src/images/icon/pin-icon-yellow.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 2.5vw;
          height: 2.5vw;
          margin: 0.6vw 0 0.6vw 1vw;
          float: left;
        }
        .points_number{
          float: left;
          font-family: SourceSansPro;
          font-size: 2.3vw;
          font-weight: 900;
          text-align: center;
          color: #ffffff;
          line-height: 3.7vw;
          margin-left: 1vw;
        }
      }
      .epg_channel_logo{
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 7.3vw;
        height: 4vw;
        top: 2vw;
        left: 2vw;
      }
      .center_epg_container{
        position: absolute;
        height: 100%;
        width: 27%;
        right: 14%;
        background-color: rgba(92, 82, 82, 0.75);
        .epg_type{
          width: 100%;
          height: 6.5%;
          .type_title{
            font-family: SourceSansPro;
            font-size: 1.3vw;
            color: #ffffff;
            padding: 0.8vw;
            width: 50%;
            float: left;
            text-transform: uppercase;
          }
          .close_epg_button{
            width: 50%;
            padding: 0.8vw;
            float: left;
            .epg_button{
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              background-image: url('../src/images/icon/x-red.png');
              width: 1.6vw;
              height: 1.6vw;
              float: right;
              cursor: pointer;
            }
          }
        }
        .epg_now_container{
          width: 100%;
          height: 19.5%;
          background-color: rgba(38, 125, 202, .2);
          padding: 0.8vw;
          .epg_now{
            font-family: SourceSansPro;
            font-size: 2.5vw;
            font-weight: 900;
            color: #ffffff;
            line-height: 2.5vw;
          }
          .epg_now_image{
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 4.5vw;
            height: 2.8vw;
          }
          .epg_now_title{
            font-family: SourceSansPro;
            font-size: 1.75vw;
            font-weight: bold;
            color: #ffffff;
            line-height: 2vw;
          }
          .epg_now_description{
            font-family: SourceSansPro;
            font-style: italic;
            font-size: 1.6vw;
            font-weight: 600;
            color: #ffffff;
            line-height: 2vw;
            width: 70%;
            float: left;
          }
          .epg_now_time{
            width: 30%;
            float: left;
            font-family: SourceSansPro;
            font-size: 1.25vw;
            color: #ffffff;
            text-align: center;
            line-height: 2vw;
          }
        }
        .epg_events_title{
          width: 100%;
          height: 6%;
          font-family: SourceSansPro;
          font-size: 1.6vw;
          font-weight: bold;
          text-align: left;
          color: #ffffff;
          text-transform: uppercase;
          padding: 0.8vw;
        }
        .epg_container{
          width: 100%;
          height: 68%;
          overflow-y: scroll;
          &::-webkit-scrollbar-track{
            background-color: #b3b3b3;
            width: 0.75vw;
            border-radius: 100px;
          }
          &::-webkit-scrollbar{
            width: 0.75vw;
          }
          &::-webkit-scrollbar-thumb{
            border-radius: 100px;
            background-color: #fc5f3d;
          }
          .epg_list{
            .epg_item{
              padding: 0.8vw;
              height: 5vw;
              cursor: pointer;
              transition: all 0.25s;
              .epg_info{
                width: 75%;
                float: left;
                .epg_title{
                  font-family: SourceSansPro;
                  font-style: italic;
                  font-size: 1.3vw;
                  font-weight: 600;
                  color: #ffffff;
                }
                .epg_desc{
                  font-family: SourceSansPro;
                  font-size: 1.05vw;
                  color: #ffffff;
                }
              }
              .epg_logo{
                float: left;
                width: 25%;
                .epg_logo_image{
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                  width: 4.6vw;
                  height: 3.3vw;
                }
              }
              &:hover{
                background-color: #18d676;
              }
            }
          }
        }
      }
    }
  }
  .channels_container{
    background-color: #18d676;
    height: 10vw;
    padding-right: 14%;
    padding-left: 14%;
    .channel{
      position: relative;
      width: 14.2%;
      height: 10vw;
      float: left;
      cursor: pointer;
      .channel_logo{
        position: absolute;
        height: 40%;
        width: 40%;
        margin: 30%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      .channel_background{
        position: absolute;
        width: 70%;
        height: 70%;
        margin: 15%;
        background: rgba(250, 244, 244, 0.5);
        border-radius: 50%;
        transition: all 0.25s;
      }
      &:hover{
        .channel_logo{
          z-index: 1;
        }
        .channel_background{
          background: #fc5f3e;
        }
      }
    }
  }
  .content_container{
    padding-right: 14%;
    padding-left: 14%;
    .content_title{
      height: 4vw;
      line-height: 4vw;
      margin-top: 3vw;
      &.orange{
        background-color: #fc5f3d;
      }
      &.green{
        background-color: #18d676;
      }
    }
    .points_container{
      height: 20vw;
      padding: 0;
      .point{
        height: 100%;
        padding-left: 0.8vw;
        padding-right: 0.8vw;
        transition: all 0.25s;
        cursor: pointer;
        .point_logo{
          height: 4.5vw;
          margin-top: 2vw;
          margin-bottom: 1.8vw;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          transition: all 0.25s;
        }
        .point_logo_hover{
          display: none;
          height: 4.5vw;
          margin-top: 2vw;
          margin-bottom: 1.8vw;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          transition: all 0.25s;
        }
        .point_title{
          font-family: SourceSansPro;
          font-style: italic;
          font-size: 1.15vw;
          line-height: 1.36;
          letter-spacing: 0.8px;
          text-align: center;
          color: rgba(51, 60, 69, .4);
          text-transform: uppercase;
          padding-left: 1.25vw;
          padding-right: 1.25vw;
          transition: all 0.25s;
        }
        .point_num{
          font-family: Roboto;
          font-size: 2vw;
          font-weight: 300;
          line-height: 0.77;
          letter-spacing: 1.9px;
          text-align: center;
          color: rgba(51, 60, 69, .4);
          margin-top: 0.9vw;
          margin-bottom: 1.05vw;
          transition: all 0.25s;
        }
        .point_desc{
          font-family: Roboto;
          font-size: 0.82vw;
          line-height: 1.38;
          text-align: center;
          color: rgba(51, 60, 69, .4);
          transition: all 0.25s;
        }
        .point_button{
          display: none;
          transition: all 0.25s;
        }
        &:hover{
          background-color: #fc5f3d;
          .point_logo{
            display: none;
          }
          .point_logo_hover{
            display: block;
          }
          .point_title{
            color: #ffffff;
            font-weight: bold;
          }
          .point_num{
            color: #ffffff;
            font-weight: bold;
            font-size: 3vw;
          }
          .point_desc{
            display: none;
          }
          .point_button{
            display: block;
            text-align: center;
            .get_points_button{
              font-family: SourceSansPro;
              font-style: italic;
              font-size: 1.15vw;
              font-weight: bold;
              line-height: 1.36;
              letter-spacing: 1.1px;
              text-align: center;
              color: #ffffff;
              border-radius: 2px;
              border: solid 0.1vw #ffffff;
              background-color: #fc5f3d;
            }
          }
        }
      }
    }
    #carousel_home_page{
      height: 24vw;
      .carousel-indicators{
        bottom: 0;
        margin-bottom: 0;
        li{
          width: 0.9vw;
          height: 0.9vw;
          margin: 0.5vw;
          opacity: 0.6;
          border: solid 2px #fc5f3d;
        }
        li.active{
          margin: 0.5vw;
          opacity: 1;
          background-color: #18d676;
        }
      }
      .carousel-inner{
        height: 100%;
        .item{
          height: 100%;
          .item_content{
            position: relative;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            .item_background{
              position: absolute;
              background-image: linear-gradient(to bottom, rgba(242, 242, 242, 0), #f2f2f2);
              height: 100%;
              width: 100%;
              .carousel_point_title{
                font-family: SourceSansPro;
                font-size: 2.2vw;
                font-weight: bold;
                line-height: 0.71;
                letter-spacing: 1.6px;
                text-align: center;
                color: #f2f2f2;
                text-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
                text-transform: uppercase;
                margin-top: 2vw;
                margin-bottom: 0.5vw;
              }
              .carousel_point_num{
                width: 6.8vw;
                height: 2.8vw;
                border-radius: 100px;
                background-color: #1a2937;
                border: solid 0.2vw #18d676;
                margin: auto;
                margin-top: 2vw;
                margin-bottom: 0.5vw;
                .pin_icon{
                  background-image: url('../src/images/icon/pin-icon-yellow.png');
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                  width: 2vw;
                  height: 2vw;
                  margin: 0.2vw 0.4vw 0.2vw 0.4vw;
                  float: left;
                }
                .points_num{
                  float: left;
                  font-family: SourceSansPro;
                  font-size: 2vw;
                  font-weight: 900;
                  text-align: center;
                  color: #ffffff;
                  line-height: 2.2vw;
                }
              }
              .carousel_point_desc{
                font-family: Roboto;
                font-size: 1.2vw;
                font-weight: 400;
                line-height: 1.13;
                letter-spacing: 0.9px;
                text-align: center;
                color: #1a2937;
                padding-left: 22%;
                padding-right: 22%;
                margin-top: 2vw;
              }
              .carousel_point_button{
                text-align: center;
                margin-top: 2vw;
                .points_button{
                  border-radius: 15px;
                  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                  border: solid 0.2vw #fc5f3d;
                  font-family: SourceSansPro;
                  font-style: italic;
                  font-size: 2vw;
                  font-weight: bold;
                  //line-height: 0.79;
                  padding: 0px 12px;
                  letter-spacing: 1.9px;
                  text-align: center;
                  color: #fc5f3d;
                  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
    }
    // .video_list_container{
    //   padding: 0.8vw;
    //   position: relative;
    //   transition: all 0.5s;
    //   .video_list_image{
    //     padding-bottom: 58%;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     background-position: center;
    //     position: relative;
    //     overflow: hidden;
    //     .video_list_background{
    //       position: absolute;
    //       width: 100%;
    //       height: 100%;
    //       background-color: rgba(32, 32, 32, 0.5);
    //       transition: all 0.25s;
    //     }
    //     .video_logo{
    //       position: absolute;
    //       background-repeat: no-repeat;
    //       background-size: contain;
    //       background-position: right;
    //       height: 2vw;
    //       width: 2vw;
    //       top: 3%;
    //       right: 3%;
    //     }
    //     .video_play_button{
    //       background-image: url('../src/images/icon/play.png');
    //       position: absolute;
    //       background-repeat: no-repeat;
    //       background-size: contain;
    //       background-position: center;
    //       width: 1.6vw;
    //       height: 2.2vw;
    //       top: 40%;
    //       margin-left: auto;
    //       margin-right: auto;
    //       right: 0;
    //       left: 0;
    //       transition: all 0.25s;
    //       cursor: pointer;
    //     }
    //     .video_points{
    //       position: absolute;
    //       width: 4.5vw;
    //       height: 1.8vw;
    //       border-radius: 100px;
    //       background-color: #1a2937;
    //       border: solid 0.1vw #18d676;
    //       top: 70%;
    //       left: 34%;
    //       transition: all 0.25s;
    //       .pin_icon{
    //         background-image: url('../src/images/icon/pin-icon-yellow.png');
    //         background-repeat: no-repeat;
    //         background-size: contain;
    //         background-position: center;
    //         width: 1.15vw;
    //         height: 1.15vw;
    //         margin: 0.2vw 0 0.2vw 0.5vw;
    //         float: left;
    //       }
    //       .points_num{
    //         float: left;
    //         font-family: SourceSansPro;
    //         font-size: 1.25vw;
    //         font-weight: 900;
    //         text-align: center;
    //         color: #ffffff;
    //         line-height: 1.6vw;
    //         margin-left: 0.2vw;
    //       }
    //     }
    //     .video_desc_hover{
    //       position: absolute;
    //       top: 100%;
    //       height: 47%;
    //       width: 100%;
    //       padding: 0.75vw;
    //       background-color: rgba(26, 37, 48, .72);
    //       transition: all 0.25s;
    //       .video_desc_title{
    //         font-family: SourceSansPro;
    //         font-style: italic;
    //         font-size: 0.82vw;
    //         font-weight: 600;
    //         color: #fc5f3d;
    //         padding: 0;
    //       }
    //       .video_desc_share{
    //         padding: 0;
    //         .video_share_button{
    //           background-image: url(../src/images/icon/share-green.png);
    //           background-repeat: no-repeat;
    //           background-size: contain;
    //           background-position: center;
    //           width: 1vw;
    //           height: 1vw;
    //
    //           float: right;
    //           cursor: pointer;
    //         }
    //         .video_add_to_my_list{
    //           background-image: url(../src/images/icon/add_to_list.png);
    //           background-repeat: no-repeat;
    //           background-size: contain;
    //           background-position: center;
    //           width: 1vw;
    //           height: 1vw;
    //           margin-left: 1vw;
    //           float: right;
    //           cursor: pointer;
    //         }
    //       }
    //       .video_desc_info{
    //         padding: 0;
    //         font-family: Roboto;
    //         font-size: 0.5vw;
    //         font-weight: 300;
    //         line-height: 1.21;
    //         letter-spacing: 0.4px;
    //         text-align: left;
    //         color: #ffffff;
    //       }
    //       .video_desc_arrow{
    //         background-image: url(../src/images/icon/down.png);
    //         position: absolute;
    //         background-repeat: no-repeat;
    //         background-size: contain;
    //         background-position: center;
    //         width: 0.5vw;
    //         height: 0.5vw;
    //         top: 80%;
    //         margin-left: auto;
    //         margin-right: auto;
    //         right: 0;
    //         left: 0;
    //         cursor: pointer;
    //       }
    //     }
    //   }
    //   .video_aroow_green{
    //     background-image: url(../src/images/icon/arrow_green.png);
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     background-position: top;
    //     position: absolute;
    //     width: 2.4vw;
    //     height: 0.8vw;
    //     margin-left: auto;
    //     margin-right: auto;
    //     right: 0;
    //     left: 0;
    //     display: none;
    //   }
    //   &:hover{
    //     z-index: 1;
    //     -webkit-transform: scale(1.4);
    //     -moz-transform: scale(1.4);
    //     -o-transform: scale(1.4);
    //     transform: scale(1.4);
    //     .video_list_background{
    //       opacity: 0;
    //     }
    //     .video_play_button{
    //       top: 25%;
    //     }
    //     .video_points{
    //       top: 3%;
    //       left: 3%;
    //     }
    //     .video_desc_hover{
    //       top: 53%;
    //     }
    //     .video_aroow_green{
    //       display: none!important;
    //     }
    //   }
    //   &.active{
    //     .video_list_image{
    //       .video_list_background{
    //         border: solid 0.2vw #18d676;
    //         background-color: rgba(32, 32, 32, 0);
    //       }
    //       .video_play_button{
    //         display: none;
    //       }
    //       .video_points{
    //         display: none;
    //       }
    //     }
    //     .video_aroow_green{
    //       display: block;
    //     }
    //   }
    // }
    // .video_full_desc_container{
    //   height: 26.5vw;
    //   overflow: hidden;
    //   padding-right: 0.8vw;
    //   padding-left: 0.8vw;
    //   .full_desc_info{
    //     padding: 0;
    //     .full_desc_title{
    //       font-family: SourceSansPro;
    //       font-style: italic;
    //       font-size: 2.1vw;
    //       font-weight: bold;
    //       line-height: 0.94;
    //       letter-spacing: 1.5px;
    //       color: #fe6443;
    //       text-transform: uppercase;
    //       padding: 0;
    //       margin-top: 3vw;
    //       margin-bottom: 1vw;
    //     }
    //     .full_desc_text{
    //       padding: 0;
    //       font-family: Roboto;
    //       font-size: 1.05vw;
    //       line-height: 1.17;
    //       letter-spacing: 1px;
    //       color: #1a2937;
    //     }
    //     .full_desc_desc_share{
    //       padding: 0;
    //       margin-top: 1vw;
    //       .full_desc_share_button{
    //         background-image: url(../src/images/icon/share-green@2x.png);
    //         background-repeat: no-repeat;
    //         background-size: contain;
    //         background-position: center;
    //         width: 2.3vw;
    //         height: 2.3vw;
    //         float: right;
    //         cursor: pointer;
    //       }
    //       .full_desc_add_to_my_list{
    //         background-image: url(../src/images/icon/add_to_list@2x.png);
    //         background-repeat: no-repeat;
    //         background-size: contain;
    //         background-position: center;
    //         width: 2.3vw;
    //         height: 2.3vw;
    //         margin-left: 1vw;
    //         float: right;
    //         cursor: pointer;
    //       }
    //     }
    //   }
    //   .full_desc_image{
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: 100%;
    //     position: relative;
    //     padding-bottom: 38%;
    //     padding-left: 0;
    //     padding-right: 0;
    //     .full_desc_background{
    //         background-image: linear-gradient(to left, rgba(242, 242, 242, 0), #f2f2f2);
    //         position: absolute;
    //         width: 74%;
    //         height: 100%;
    //     }
    //     .full_desc_logo{
    //       position: absolute;
    //       background-repeat: no-repeat;
    //       background-size: contain;
    //       background-position: right;
    //       height: 6vw;
    //       width: 4.5vw;
    //       top: 3%;
    //       right: 3%;
    //     }
    //     .full_desc_play_button{
    //       background-image: url('../src/images/icon/play.png');
    //       position: absolute;
    //       background-repeat: no-repeat;
    //       background-size: contain;
    //       background-position: center;
    //       width: 3vw;
    //       height: 4vw;
    //       top: 40%;
    //       margin-left: auto;
    //       margin-right: auto;
    //       right: 0;
    //       left: 0;
    //       cursor: pointer;
    //     }
    //     .full_desc_points{
    //       position: absolute;
    //       width: 9.1vw;
    //       height: 3.8vw;
    //       border-radius: 100px;
    //       background-color: #1a2937;
    //       border: solid 0.2vw #18d676;
    //       top: 60%;
    //       left: 40%;
    //       transition: all 0.25s;
    //       .pin_icon{
    //         background-image: url('../src/images/icon/pin-icon-yellow.png');
    //         background-repeat: no-repeat;
    //         background-size: contain;
    //         background-position: center;
    //         width: 2.5vw;
    //         height: 2.5vw;
    //         margin: 0.4vw 0 0.4vw 0.8vw;
    //         float: left;
    //       }
    //       .points_num{
    //         float: left;
    //         font-family: SourceSansPro;
    //         font-size: 2.5vw;
    //         font-weight: 900;
    //         text-align: center;
    //         color: #ffffff;
    //         line-height: 3.2vw;
    //         margin-left: 0.4vw;
    //       }
    //     }
    //   }
    // }
    // .social_list_container{
    //   padding: 0.3vw;
    //   position: relative;
    //   transition: all 0.5s;
    //   .social_list_image{
    //     padding-bottom: 75%;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     background-position: center;
    //     position: relative;
    //     overflow: hidden;
    //     border-radius: 0.2vw;
    //     &.facebook{
    //       border: solid 0.2vw #3b5998;
    //       .social_desc{
    //         background-color: rgba(59, 89, 152, 0.8);
    //         .social_icon{
    //           background-image: url('../src/images/icon/facebook.png');
    //         }
    //       }
    //     }
    //     &.twitter{
    //       border: solid 0.2vw #5dd7fb;
    //       .social_desc{
    //         background-color: rgba(93, 215, 251, 0.9);
    //         .social_icon{
    //           background-image: url('../src/images/icon/twitter.png');
    //         }
    //       }
    //     }
    //     &.instagram{
    //       border: solid 0.2vw #cd486b;
    //       .social_desc{
    //         background-color: rgba(205, 72, 107, 0.8);
    //         .social_icon{
    //           background-image: url('../src/images/icon/instagram.png');
    //         }
    //       }
    //     }
    //     .social_desc{
    //       position: absolute;
    //       bottom: 0;
    //       height: 25%;
    //       width: 100%;
    //       transition: all 0.25s;
    //       .social_user_image{
    //         padding-left: 0.75vw;
    //         padding-right: 0.75vw;
    //         .user_image{
    //           background-repeat: no-repeat;
    //           background-size: contain;
    //           background-position: center;
    //           height: 1.6vw;
    //           width: 1.6vw;
    //           margin-top: 0.6vw;
    //           border-radius: 50%;
    //         }
    //       }
    //       .social_title{
    //         padding: 0;
    //         font-family: Roboto;
    //         font-size: 0.75vw;
    //         text-align: left;
    //         color: #ffffff;
    //         padding-top: 0.3vw;
    //       }
    //       .social_icon{
    //         padding: 0;
    //         background-repeat: no-repeat;
    //         background-size: contain;
    //         background-position: right;
    //         height: 1.6vw;
    //         margin-top: 0.6vw;
    //       }
    //       .social_time{
    //         padding: 0;
    //         font-family: Roboto;
    //         font-size: 0.5vw;
    //         text-align: left;
    //         color: #ffffff;
    //         line-height: 2.7vw;
    //         text-align: center;
    //       }
    //       .social_info{
    //         padding-left: 0.75vw;
    //         padding-right: 0.75vw;
    //         .social_likes{
    //           width: 100%;
    //           height: 1.2vw;
    //           font-family: Roboto;
    //           font-size: 0.75vw;
    //           text-align: left;
    //           color: #ffffff;
    //           .social_heart{
    //             background-repeat: no-repeat;
    //             background-size: contain;
    //             background-position: center;
    //             height: 0.9vw;
    //             width: 0.9vw;
    //             margin-right: 0.5vw;
    //             float: left;
    //             &.facebook{
    //               display: none;
    //             }
    //             &.twitter{
    //                 background-image: url(../src/images/icon/twitter_heart.png);
    //             }
    //             &.instagram{
    //                 background-image: url(../src/images/icon/instagram_heart.png);
    //             }
    //           }
    //           .social_like_num{
    //             float: left;
    //             margin-right: 0.5vw;
    //           }
    //           .social_comments{
    //             float: left;
    //             margin-left: 0.5vw;
    //           }
    //         }
    //         .social_text{
    //           font-family: Roboto;
    //           font-size: 0.75vw;
    //           line-height: 1.13;
    //           letter-spacing: 0.5px;
    //           color: #ffffff;
    //         }
    //         .social_share{
    //           float: right;
    //           background-image: url(../src/images/icon/share_arrow@2x.png);
    //           background-repeat: no-repeat;
    //           background-size: contain;
    //           background-position: center;
    //           width: 1.6vw;
    //           height: 1.6vw;
    //           cursor: pointer;
    //           margin-right: 0.2vw;
    //         }
    //         .social_points{
    //           float: right;
    //           width: 3.4vw;
    //           height: 1.5vw;
    //           border-radius: 100px;
    //           background-color: #1a2937;
    //           border: solid 0.1vw #18d676;
    //           .pin_icon{
    //             background-image: url(../src/images/icon/pin-icon-yellow.png);
    //             background-repeat: no-repeat;
    //             background-size: contain;
    //             background-position: center;
    //             width: 0.9vw;
    //             height: 0.9vw;
    //             margin: 0.15vw 0.15vw 0.15vw 0.2vw;
    //             float: left;
    //           }
    //           .points_num{
    //             float: left;
    //             font-family: SourceSansPro;
    //             font-size: 0.9vw;
    //             font-weight: 900;
    //             text-align: center;
    //             color: #ffffff;
    //             line-height: 1.3vw;
    //           }
    //         }
    //       }
    //     }
    //     &:hover{
    //       .social_desc{
    //         height: 100%;
    //       }
    //     }
    //   }
    // }
  }
}

#home_epg_modal{
  .modal-dialog{
    @media (min-width: 768px){
      width: 500px;
      margin: 26vh auto;
    }
    .modal-content{
      border-radius: 10px;
      background-color: rgba(26, 37, 48, 0.9);
      border: solid 8px #18d676;
      .modal-body{
        padding: 10px;
        .close_section{
          width: 100%;
          height: 20px;
          .close_button{
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url(../src/images/icon/x-red.png);
            width: 20px;
            height: 20px;
            float: right;
            cursor: pointer;
          }
        }
        .modal_header_section{
          width: 100%;
          height: 72px;
          .modal_logo{
            float: left;
            margin-left: 20px;
            width: 110px;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }
          .modal_time_info{
            width: 190px;
            height: 100%;
            float:left;
            margin-left: 20px;
            .modal_organization{
              width: 45px;
              height: 45px;
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
            }
            .modal_date{
              font-family: SourceSansPro;
              font-style: italic;
               font-size: 20px;
               font-weight: 600;
               color: #f2f2f2;
               line-height: 25px;
            }
          }
          .modal_points{
            width: 108px;
            height: 52px;
            margin-top: 20px;
            background-image: url('../src/images/icon/points.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            float: right;
            .points_logo{
              background-image: url(../src/images/icon/pin-icon-yellow.png);
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              width: 25px;
              height: 25px;
              margin: 17px 0 9px 10px;
              float: left;
            }
            .points_num{
              float: left;
              font-family: SourceSansPro;
              font-size: 26px;
              font-weight: 900;
              color: #ffffff;
              margin: 11px 0 0 5px;
            }
          }
        }
        .modal_center_section{
          margin: 10px 20px 20px 20px;
          border-top: solid 2px rgba(242, 242, 242, 0.9);
          .modal_title{
            font-family: SourceSansPro;
            font-style: italic;
            font-size: 36px;
            font-weight: bold;
            line-height: 1.19;
            color: #fc5f3e;
          }
          .modal_description{
            font-family: Roboto;
            font-size: 22px;
            line-height: 1.36;
            letter-spacing: 0.6px;
            color: #f2f2f2;
          }
          .modal_time{
            height: 60px;
            margin-top: 10px;
            .time_block{
              width: 50%;
              height: 100%;
              float: right;
              .time_item{
                width: 25%;
                height: 100%;
                float: left;
                .time_num{
                  font-family: Roboto;
                  font-size: 24px;
                  font-weight: 500;
                  line-height: 1;
                  letter-spacing: 1.7px;
                  text-align: center;
                  color: #fe532f;
                }
                .time_desc{
                  font-family: Roboto;
                  font-size: 16px;
                  font-weight: 500;
                  text-align: center;
                  color: #f2f2f2;
                }
              }
            }
          }
          .modal_button{
            text-align: center;
            .purchase_button{
              border-radius: 6px;
              border: solid 3px #f2f2f2;
              font-family: SourceSansPro;
              font-style: italic;
              font-size: 28px;
              font-weight: 900;
              padding: 0px 12px;
              text-align: center;
              color: #18d676;
              background-color: transparent;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

#home_points_modal{
  .modal-dialog{
    @media (min-width: 768px){
      width: 500px;
      margin: 26vh auto;
    }
    .modal-content{
      border-radius: 10px;
      background-color: rgba(26, 37, 48, 0.9);
      border: solid 8px #fe532f;
      .modal-body{
        padding: 10px;
        .close_section{
          width: 100%;
          height: 20px;
          .close_button{
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url(../src/images/icon/x-red.png);
            width: 20px;
            height: 20px;
            float: right;
            cursor: pointer;
          }
        }
        .modal_center_section{
          margin: 0 20px 20px 20px;
          .modal_title{
            font-family: SourceSansPro;
            font-size: 45px;
            font-weight: bold;
            text-align: center;
            color: #f2f2f2;
            text-transform: uppercase;
          }
          .modal_description{
            font-family: SourceSansPro;
            font-style: italic;
            font-size: 30px;
            line-height: 1;
            letter-spacing: 1.2px;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
          }
          .modal_social{
            width: 100%;
            .social_block{
              width: 50%;
              margin: 24px auto;
              height: 45px;
              .social_item{
                width: 33.3%;
                float: left;
                height: 100%;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                cursor: pointer;
                &.facebook{
                  background-image: url('../src/images/icon/facebook@2x.png');
                }
                &.instagram{
                  background-image: url('../src/images/icon/instagram@2x.png');
                }
                &.twitter{
                  background-image: url('../src/images/icon/twitter@2x.png');
                }
              }
            }
          }
          .modal_video_content{
            width: 100%;
            margin-bottom: 20px;
            .modal_video_image{
              width: 77%;
              margin: 0 auto;
              height: 185px;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              position: relative;
              .video_background{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(32, 32, 32, 0.5);
              }
              .video_title{
                position: absolute;
                font-family: SourceSansPro;
                font-style: italic;
                font-size: 20px;
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: 0.5px;
                text-align: center;
                color: #ffffff;
                left: 0;
                right: 0;
              }
              .video_play_button{
                background-image: url('../src/images/icon/play.png');
                position: absolute;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 30px;
                height: 40px;
                top: 40%;
                margin-left: auto;
                margin-right: auto;
                right: 0;
                left: 0;
              }
              .video_points{
                position: absolute;
                width: 87px;
                height: 35px;
                border-radius: 100px;
                background-color: #1a2937;
                border: solid 2px #18d676;
                top: 70%;
                left: 34%;
                .pin_icon{
                  background-image: url('../src/images/icon/pin-icon-yellow.png');
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                  width: 22px;
                  height: 21px;
                  margin: 5px 5px 5px 8px;
                  float: left;
                }
                .points_num{
                  float: left;
                  font-family: SourceSansPro;
                  font-size: 24px;
                  font-weight: 900;
                  text-align: center;
                  color: #ffffff;
                  line-height: 30px;
                }
              }
            }
          }
          .modal_button{
            text-align: center;
            .points_button{
              border-radius: 2px;
              border: solid 2px #18d676;
              font-family: SourceSansPro;
              font-style: italic;
              font-size: 22px;
              font-weight: bold;
              padding: 3px 12px;
              text-align: center;
              line-height: 1.36;
              letter-spacing: 1.1px;
              color: #18d676;
              background-color: transparent;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
