<div class="container-fluid home_page">

  <!-- KINDS OF SPORTS -->
  <div class="col-xs-12 sport_list_container">
      <div class="kinds_of_sports" ng-repeat="sl in sportLogos">
        <div class="sport_logo" style="background-image: url('{{sl.url}}');"></div>
        <div class="sport_title"></div>
      </div>
  </div>
  <!-- END KINDS OF SPORTS -->

  <!-- CENTER -->
  <div class="col-xs-12 center_container">
    <div class="col-xs-12 center_image" style="background-image: url('assets/theme/src/images/bg/football-manch.png');"></div>

  </div>
  <!--END CENTER  -->

  <!-- CHANNELS -->
  <div class="col-xs-12 channels_container">
    <div class="channel" ng-repeat="channel in channels">
      <div class="channel_logo" style="background-image: url('{{channel.url}}');"></div>
    </div>
  </div>
  <!-- END CHANNELS -->


  <!-- CONTENT -->
  <div class="col-xs-12 content_container">
    <div class="col-xs-12 content_title title1">GAIN POINTS!</div>

    <!-- POINTS -->
    <div class="col-xs-12 points_container">

      <div class="col-xs-15 point" ng-repeat="point in points">
        <div class="point_logo {{point.class}}"></div>
      </div>

      <!-- <div class="col-xs-15 point"></div>
      <div class="col-xs-15 point"></div>
      <div class="col-xs-15 point"></div> -->
    </div>
    <!-- END POINTS -->

  </div>
  <!-- END CONTENT -->

</div>
