.home_page{
  padding: 0;
  .sport_list_container{
    background-color: #18d676;
    padding-right: 14%;
    padding-left: 14%;
    height: 120px;
    .kinds_of_sports{
      width: 6.25%;
      height: 37px;
      float: left;
      margin-top: 3.5%;
      .sport_logo{
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
  .center_container{
    padding: 0;
    .center_image{
      height: 55vw;
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100%;
    }
  }
  .channels_container{
    background-color: #18d676;
    height: 200px;
    padding-right: 14%;
    padding-left: 14%;
  }
}
