<div class="container-fluid home_page">

  <!-- KINDS OF SPORTS -->
  <div class="col-xs-12 sport_list_container">
      <div class="kinds_of_sports {{activeSport.id == sl.id?'active':''}}" ng-repeat="sl in sports" ng-click="getActiveSport(sl);">
        <div class="sport_logo" style="background-image: url('{{sl.url}}');"></div>
        <div class="sport_logo_hover" style="background-image: url('{{sl.url_hover}}');"></div>
        <div class="sport_title">{{sl.title}}</div>
      </div>
  </div>
  <!-- END KINDS OF SPORTS -->

  <!-- CENTER -->
  <div class="col-xs-12 center_container">
    <div class="col-xs-12 center_image" style="background-image: url('assets/theme/src/images/bg/football-manch.png');">
      <div class="center_play_button"></div>
      <div class="center_points">
        <div class="points_icon"></div>
        <div class="points_number">500</div>
      </div>
      <div class="epg_channel_logo" style="background-image: url('assets/theme/src/images/logo/espn.png');"></div>

      <!-- EPG CONTAINER -->
      <div class="center_epg_container">
        <!-- EPG TYPE -->
        <div class="epg_type">
          <div class="type_title">Soccer</div>
          <div class="close_epg_button"><div class="epg_button"></div></div>
        </div>
        <!-- END EPG TYPE -->

        <!-- EPG NOW -->
        <div class="epg_now_container">
          <div class="epg_now">NOW!</div>
          <div class="epg_now_image" style="background-image: url('assets/theme/src/images/logo/espn.png');"></div>
          <div class="epg_now_title">Champions League</div>
          <div class="epg_now_description">Real Madrid - M.United</div>
          <div class="epg_now_time">(49’ min)</div>
        </div>
        <!-- END EPG NOW -->

        <div class="epg_events_title">
          Next Events
        </div>

        <!-- EPG SCROLL -->
        <div class="epg_container">
          <div class="epg_list" style="height:{{epgList.length * 5}}vw;">
            <div class="epg_item" ng-repeat="epg in epgList" ng-click="getPurchaseEvent(epg);">

              <div class="epg_info">
                <div class="epg_title">{{epg.title}}</div>
                <div class="epg_desc">{{epg.desc}}</div>
              </div>
              <div class="epg_logo">
                <div class="epg_logo_image" style="background-image: url('{{epg.url}}');"></div>
              </div>

            </div>
          </div>
        </div>
        <!-- END EPG SCROLL -->

      </div>
      <!-- END EPG CONTAINER -->

    </div>

  </div>
  <!--END CENTER  -->

  <!-- CHANNELS -->
  <div class="col-xs-12 channels_container">
    <div class="channel" ng-repeat="channel in channels">
      <div class="channel_logo" style="background-image: url('{{channel.url}}');"></div>
      <div class="channel_background"></div>
    </div>
  </div>
  <!-- END CHANNELS -->


  <!-- CONTENT -->
  <div class="col-xs-12 content_container">
    <div class="col-xs-12" style="padding-right: 0.8vw; padding-left: 0.8vw;">
      <div class="col-xs-12 content_title orange title1">GAIN POINTS!</div>
    </div>

    <!-- POINTS -->
    <div class="col-xs-12" style="padding-right: 0.8vw; padding-left: 0.8vw;">
      <div class="col-xs-12 points_container">

        <div class="col-xs-15 point" ng-repeat="point in points">
          <div class="point_logo" style="background-image: url('{{point.url}}');"></div>
          <div class="point_logo_hover" style="background-image: url('{{point.url_hover}}');"></div>
          <div class="point_title">{{point.title}}</div>
          <div class="point_num">{{point.points}}</div>
          <div class="point_desc">{{point.description}}</div>
          <div class="point_button"><button type="button" class="btn get_points_button">GET POINTS</button></div>
        </div>

      </div>
    </div>
    <!-- END POINTS -->

    <!-- POINTS FOR REGISTER USER -->
    <div class="col-xs-12" style="padding-right: 0.8vw; padding-left: 0.8vw;">
      <div id="carousel_home_page" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <li data-target="#carousel_home_page" data-slide-to="0" class="active"></li>
          <li data-target="#carousel_home_page" data-slide-to="1"></li>
          <li data-target="#carousel_home_page" data-slide-to="2"></li>
          <li data-target="#carousel_home_page" data-slide-to="3"></li>
          <li data-target="#carousel_home_page" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner" role="listbox">

          <div class="item {{$index == 0?'active':''}} " ng-repeat="point in points track by $index">
            <div class="item_content" style="background-image: url('assets/theme/src/images/bg/points_bg@2x.png');">
              <div class="item_background">
                <div class="carousel_point_title">{{point.title}}</div>
                <div class="carousel_point_num">
                  <div class="pin_icon"></div>
                  <div class="points_num">{{point.points}}</div>
                </div>
                <div class="carousel_point_desc">{{point.description}}</div>
                <div class="carousel_point_button"><button type="button" class="btn points_button" ng-click="getPointsModal(point);">GET POINTS</button></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- END POINTS FOR REGISTER USER -->

    <!-- NEWS FEED TITLE-->
    <div class="col-xs-12" style="padding-right: 0.8vw; padding-left: 0.8vw;">
      <div class="col-xs-12 content_title green title1">NEWS FEED</div>
    </div>
    <!-- END NEWS FEED TITLE-->

    <!-- VIDEO LIST -->
    <div class="col-xs-3 video_list_container {{currentVideo.id == video.id?'active':''}}" ng-repeat="video in videosList">

        <div class="video_list_image" style="background-image: url('{{video.url_image}}');">
            <div class="video_list_background"></div>
            <div class="video_logo" style="background-image: url('{{video.url_logo}}');"></div>
            <div class="video_play_button"></div>
            <div class="video_points">
              <div class="pin_icon"></div>
              <div class="points_num">{{video.points}}</div>
            </div>
            <div class="video_desc_hover">
              <div class="col-xs-6 video_desc_title">{{video.title}}</div>
              <div class="col-xs-6 video_desc_share">
                <div class="video_add_to_my_list"></div>
                <div class="video_share_button"></div>
              </div>
              <div class="col-xs-12 video_desc_info">{{video.description | limitTo: 100}}<span ng-if="video.description.length > 100">[...]</span></div>
              <div class="col-xs-12 video_desc_arrow" ng-click="getFullDescription(video);"></div>
            </div>
        </div>
        <div class="video_aroow_green"></div>

    </div>
    <!-- END VIDEO LIST -->

    <!-- VIDEO FULL DISCRIPTION -->
    <div ng-if="currentVideo.id" class="col-xs-12 video_full_desc_container">
      <div class="col-xs-4 full_desc_info">
        <div class="col-xs-12 full_desc_title">{{currentVideo.title}}</div>
        <div class="col-xs-12 full_desc_text">{{currentVideo.description}}</div>
        <div class="col-xs-12 full_desc_desc_share">
          <div class="full_desc_add_to_my_list"></div>
          <div class="full_desc_share_button"></div>
        </div>
      </div>
      <div class="col-xs-8 full_desc_image" style="background-image: url('{{currentVideo.url_image}}');">
        <div class="full_desc_background"></div>
        <div class="full_desc_logo" style="background-image: url('{{currentVideo.url_logo}}');"></div>
        <div class="full_desc_play_button"></div>
        <div class="full_desc_points">
          <div class="pin_icon"></div>
          <div class="points_num">{{currentVideo.points}}</div>
        </div>
      </div>
    </div>
    <!-- END VIDEO FULL DISCRIPTION -->

    <!-- SOCIAL TITLE-->
    <div class="col-xs-12" style="padding-right: 0.8vw; padding-left: 0.8vw;">
      <div class="col-xs-12 content_title green title1">TOSocial</div>
    </div>
    <!-- END SOCIAL TITLE-->

    <!-- SOCIAL LIST -->
    <div class="col-xs-12" style="padding: 0.5vw;">
      <div class="col-xs-15 social_list_container" ng-repeat="social in socials">
          <div class="social_list_image {{social.social}}" style="background-image: url('{{social.url_image}}');">
            <div class="social_desc">
              <div class="col-xs-3 social_user_image"><div class="user_image" style="background-image: url('{{social.url_user_image}}');"></div></div>
              <div class="col-xs-3 social_title">{{social.title}}</div>
              <div class="col-xs-3 social_icon"></div>
              <div class="col-xs-3 social_time">{{social.time}}</div>
            </div>
          </div>
      </div>
   </div>
    <!-- END SOCIAL LIST -->

  </div>
  <!-- END CONTENT -->

</div>

<!-- HOME EPG MODAL -->
<div class="modal fade" id="home_epg_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="close_section">
            <div class="close_button" data-dismiss="modal" aria-label="Close"></div>
        </div>

        <div class="modal_header_section">
          <div class="modal_logo" style="background-image: url('{{purchaseEvent.url}}');"></div>
          <div class="modal_time_info">
            <div class="modal_organization" style="background-image: url('assets/theme/src/images/logo/uefa.png');"></div>
            <div class="modal_date">22 March 2017</div>
          </div>
          <div class="modal_points">
            <div class="points_logo"></div>
            <div class="points_num">150</div>
          </div>
        </div>
        <div class="modal_center_section">
          <div class="modal_title">{{purchaseEvent.title}}</div>
          <div class="modal_description">With easy access to Broadband and DSL the number of people</div>
          <div class="modal_time">
            <div class="time_block">
                <div class="time_item">
                  <div class="time_num">00</div>
                  <div class="time_desc">days</div>
                </div>
                <div class="time_item">
                  <div class="time_num">18</div>
                  <div class="time_desc">hours</div>
                </div>
                <div class="time_item">
                  <div class="time_num">23</div>
                  <div class="time_desc">mins</div>
                </div>
                <div class="time_item">
                  <div class="time_num">49</div>
                  <div class="time_desc">sec</div>
                </div>
            </div>
          </div>
          <div class="modal_button"><button type="button" class="btn purchase_button">purchase</button></div>
        </div>

      </div>

    </div>
  </div>
</div>
<!-- END HOME EPG MODAL -->


<!-- HOME POINTS MODAL -->
<div class="modal fade" id="home_points_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="close_section">
            <div class="close_button" data-dismiss="modal" aria-label="Close"></div>
        </div>

        <div class="modal_center_section">
          <div class="modal_title">earn more points!</div>
          <div class="modal_description">Share with friends</div>

          <div class="modal_social">
            <div class="social_block">
                <div class="social_item facebook">
                  <!-- <div class="social_facebook"></div> -->
                </div>
                <div class="social_item instagram">
                  <!-- <div class="social_instagram"></div> -->
                </div>
                <div class="social_item twitter">
                  <!-- <div class="social_twitter"></div> -->
                </div>
            </div>
          </div>

          <div class="modal_video_content">
            <div class="modal_video_image" style="background-image: url('assets/theme/src/images/news/3.png');">
              <div class="video_background"></div>
              <div class="video_title">The Benefits And Drawbacks</div>
              <div class="video_play_button"></div>
              <div class="video_points">
                <div class="pin_icon"></div>
                <div class="points_num">300</div>
              </div>
            </div>
          </div>

          <div class="modal_button"><button type="button" class="btn points_button">share now</button></div>
        </div>

      </div>

    </div>
  </div>
</div>
<!-- END HOME POINTS MODAL -->
