.clix-tooltip {
    position: fixed;
    z-index: 9000;
    left: -999px;
    top: -999px;

    @media (max-width: @screen-md) {
        .opacity(0);
    }

    .clix-tooltip-content {
        .transition(0.25s ease);
        .drop-shadow(0, 2px, 4px, 0, 0.5);
        .border-radius(5px);
        .opacity(0);
        background-color: @color-gray6;
        padding: 8px;
        font-family: @font-primary;
        font-size: 11px;
        line-height: 13px;
        color: @color-gray2;
        text-align: center;
        max-width: 198px;
        position: relative;
        top: 20px;
        
        a {
            color: @color-gray2;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid @color-gray6;
        position: absolute;
        top: -12px;
        left: 50%;
        margin-left: -10px;
    }

    &.active {
        .clix-tooltip-content {
            .opacity(1);
            top: 10px;
        }
    }
}