.clix-header {
    .transition(0.5s ease);
    .gradient(@color-black, @color-transparent);
    width: 100%;
    position: fixed;
    z-index: 8000;
    top: 0;

    &.filled {
        background-color: @color-black;
    }

    &.clix-header-hidden {
        top: -75px;
        @media (min-width: @screen-md) {
            top: 0;
        }
    }

    .clix-header-container {
        .flex-display;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: @common-mobile-padding;
        padding-right: @common-mobile-padding;

        @media (min-width: @screen-md) {
            .align-items(center);
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 26px;
            padding-bottom: 26px;
        }
    }

    .points-violator-container,
    .user-avatar {
        display: inline-block;
    }

    .user-avatar-container {
        .justify-content(flex-end);
    }

    .mobile-header-block {
        .flex(1);
        .flex-display;
    }

    .clix-logo {
        max-width: 100%;
        max-height: 26px;
        @media (min-width: @screen-md) {
            max-height: none;
        }
    }
    .logo-container {
        display: block;
        width: 135px;
        margin: 0;
        margin-right: 38px;
    }
    .clix-navigation {
        .flex-display;
        .flex(1);
        border-left: 1px solid @color-white;
        padding-left: 30px;
    }
    .navigation-item-container {
        margin-right: 0;
        padding-top: 8px;
        a {
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 2px;
            padding: 5px 19px;
            color: @color-light-gray;
            font-family: @font-secondary;
        }
        a:hover, a:focus {
            color: @color-white;
            text-decoration: none;
        }

        &.active {
            a {
                color: @color-white;
            }
        }

        .search-icon-container {
            padding: 0;
        }
    }

    .search-item-container {
        padding: 0;
    }

    .search-bar.inactive {
        .search-bar-background {
            background-color: @color-transparent;
            border-color: @color-transparent;
            input {
                width: 1px;
                visibility: hidden;
            }
        }
    }
    .icon-search-icon {
        font-size: 16px;
    }
    .search-bar-background {
        .transition(all 0.25s ease-out);
        .border-radius(15px);
        background-color: @color-black;
        border: 1px solid @color-light-gray;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 5px;
        padding-left: 5px;
        padding-right: 5px;
        input {
            .transition(all 0.25s ease-out);
            width: 200px;
            outline: none;
            visibility: visible;
            background-color: @color-transparent;
            border-width: 0;
            color: @color-white;
            font-family: @font-primary;
            font-size: 14px;
        }
        input::placeholder {
            color: @color-light-gray;
        }
    }

    .account-action-container {
        .account-action-label {
            display: inline-block;
            font-family: @font-secondary;
            font-size: 14px;
            color: @color-white;
            letter-spacing: 1px;
        }
        a {
            cursor: pointer;
        }

        .login-container:hover {
            text-decoration: none;
        }
    }

    .header-user-container {
        .flex-display;
        .align-items(center);

        .header-user-points-container {
            text-transform: uppercase;
            font-family: @font-secondary;
            font-size: 9px;
            color: @color-white;
            letter-spacing: 1px;
            text-align: center;
        }

        .clix-callout-button {
            margin-bottom: 4px;
        }

        .header-avatar-container {
            position: relative;
            margin-right: @common-mobile-padding;
            @media (min-width: @screen-md) {
                margin-left: 20px;
                margin-right: 0;
            }
        }

        .header-avatar {
            .border-radius(18px);
            width: 35px;
            height: 35px;
            background-size: cover;
            background-position: center;
            display: block;

            @media (min-width: @screen-md) {
                .border-radius(15px);
                width: 30px;
                height: 30px;
            }
        }

        .header-notification-count {
            .border-radius(10px);
            position: absolute;
            top: -5px;
            right: -10px;
            width: 20px;
            height: 20px;
            background-color: @color-primary;
            text-align: center;
            color: @color-white;
            line-height: 20px;
            font-family: @font-secondary;
            font-size: 11px;
        }

        .header-name-container {
            .flex-display;
            .align-items(center);
            margin-left: 20px;

            &:hover {
                text-decoration: none;
            }
        }

        .header-name {
            font-family: @font-primary;
            font-size: 14px;
            color: @color-white;
            letter-spacing: 0.8px;
        }

        .header-expand-icon {
            color: @color-white;
            font-size: 20px;
        }
    }

    .mobile-logo {
        .flex(1);
        .justify-content(center);
        padding-top: 6px;
    }
}