<header class="clix-header" clix-scroll-offset-class offset="100" scroll-class="filled">
    <h1 class="logo-container">
        <a href="/">
            <img src="assets/theme/clixtv/dist/images/color-logo.svg" class="clix-logo" />
        </a>
    </h1>
    <nav class="clix-navigation">
        <div class="navigation-item-container">
            <a ui-sref="categories">
                Categories
            </a>
        </div>
        <div class="navigation-item-container">
            <a ui-sref="stars">
                Stars
            </a>
        </div>
        <div class="navigation-item-container">
            <a ui-sref="brands">
                Brands
            </a>
        </div>
        <div class="navigation-item-container">
            <a ui-sref="charities">
                Charities
            </a>
        </div>
        <div class="navigation-item-container search-item-container">
            <clix-header-search-icon></clix-header-search-icon>
        </div>
    </nav>
    <div class="account-action-container">
        <div ng-if="loggedInUser">
            <div class="header-user-container">
                <div class="header-user-points-container">
                    <clix-callout-button>
                        1760
                    </clix-callout-button>
                    Reward Points
                </div>
                <div class="header-avatar-container">
                    <a href="#" class="header-avatar" style="background-image: url('http://www.gravatar.com/avatar?d=mm&s=60')"></a>
                    <div class="header-notification-count">
                        20
                    </div>
                </div>
                <a ng-click="onNamePress()" class="header-name-container">
                    <div class="header-name">
                        {{loggedInUser.firstName}}
                    </div>
                    <div class="header-expand-icon">
                        <div class="icon-left-tall-arrow"></div>
                    </div>
                </a>
            </div>
        </div>
        <div ng-if="!loggedInUser">
            <clix-callout-button ng-click="onLoginSignupPress(false)">
                Login
            </clix-callout-button>
            <a ng-click="onLoginSignupPress(true)" class="account-action-label">
                Register Now
            </a>
        </div>
    </div>
</header>