<header class="clix-header" clix-scroll-offset-class offset="100" scroll-class="filled" ng-class="{'clix-header-hidden': scrollDirection === 'up', 'solid-navigation': $root.solidNavigation}">

    <!--  Full Site Nav -->
    <div class="clix-header-container hidden-xs hidden-sm hidden-md">
        <h1 class="logo-container">
            <a href="/">
                <img src="assets/theme/clixtv/dist/images/gradient-logo.svg" class="clix-logo" ng-if="!isBeta" />
                <img src="assets/theme/clixtv/dist/images/clixtv-logo-horizontal-beta.svg" class="clix-logo" ng-if="isBeta" />
            </a>
        </h1>
        <nav class="clix-navigation">
            <div class="navigation-item-container" ng-class="{'active': selectedStateName === 'categories' || selectedStateName === 'category'}">
                <a ui-sref="categories">
                    Categories
                </a>
            </div>
            <div class="navigation-item-container" ng-class="{'active': selectedStateName === 'stars' || selectedStateName === 'star'}">
                <a ui-sref="stars">
                    Stars
                </a>
            </div>
            <div class="navigation-item-container" ng-class="{'active': selectedStateName === 'brands' || selectedStateName === 'brand'}">
                <a ui-sref="brands">
                    Brands
                </a>
            </div>
            <div class="navigation-item-container" ng-class="{'active': selectedStateName === 'charities' || selectedStateName === 'charity'}">
                <a ui-sref="charities">
                    Charities
                </a>
            </div>
            <div class="navigation-item-container search-item-container">
                <clix-header-search-icon></clix-header-search-icon>
            </div>
        </nav>
        <div class="account-action-container">
            <div ng-if="loggedInUser">
                <div class="header-user-container" clix-click-anywhere-else="hideNotificationMenu">
                    <clix-header-points-violator points="points"></clix-header-points-violator>
                    <div class="header-avatar-container">
                        <div ng-if="loggedInUser.avatar">
                            <a ng-click="onNamePress()" class="header-avatar" style="background-image: url('{{loggedInUser.avatar}}')"></a>
                        </div>
                        <div ng-if="!loggedInUser.avatar">
                            <a ng-click="onNamePress()" class="header-avatar" style="background-image: url('assets/theme/clixtv/dist/images/empty-profile-picture.png')"></a>
                        </div>
                        <!--
                        <div class="header-notification-count" ng-show="notifications.notifications.length > 0">&nbsp;{{notifications.notifications.length}}</div>
                        -->
                    </div>
                    <div class="header-name-container">
                        <a ng-click="onNamePress()" class="header-name">
                            {{loggedInUser.firstName}}
                        </a>
                        <a ng-click="onArrowPress()" class="header-expand-icon">
                            <div class="icon-left-tall-arrow"></div>
                        </a>
                    </div>
                    <div class="notification-tooltip-container" ng-show="tooltipsShown">
                        <clix-notification-tooltip notifications="notifications"></clix-notification-tooltip>
                    </div>
                </div>
            </div>
            <div ng-if="!loggedInUser">
                <div class="header-user-container">
                    <clix-header-points-violator></clix-header-points-violator>
                    <div class="header-login-action-container">
                        <clix-callout-button color-type="secondary" ng-click="onLoginSignupPress(false)">
                            Login
                        </clix-callout-button>
                        <a ng-click="onLoginSignupPress(true)" class="account-action-label">
                            Register Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Mobile Nav -->
    <div class="clix-header-container hidden-lg">
        <div class="mobile-header-block">
            <div class="points-violator-container">
                <clix-header-points-violator></clix-header-points-violator>
            </div>
        </div>
        <a href="/" class="mobile-logo mobile-header-block">
            <img src="assets/theme/clixtv/dist/images/color-logo-light.svg" class="clix-logo" ng-if="!isBeta" />
            <img src="assets/theme/clixtv/dist/images/clixtv-mobile-beta-logo.svg" class="clix-logo" ng-if="isBeta" />
        </a>
        <div class="user-avatar-container mobile-header-block">
            <div class="user-avatar">
                <div ng-if="!loggedInUser">
                    <clix-callout-button color-type="secondary" ng-click="onLoginSignupPress(false)">
                        Login
                    </clix-callout-button>
                </div>
                <div class="header-user-container" ng-if="loggedInUser">
                    <div class="header-avatar-container">
                        <div ng-if="loggedInUser.avatar">
                            <a ng-click="onArrowPress()" class="header-avatar" style="background-image: url('{{loggedInUser.avatar}}')"></a>
                        </div>
                        <div ng-if="!loggedInUser.avatar">
                            <a ng-click="onArrowPress()" class="header-avatar" style="background-image: url('assets/theme/clixtv/dist/images/empty-profile-picture.png')"></a>
                        </div>
                        <!--<div class="header-notification-count" ng-show="notifications.notifications.length > 0">&nbsp;{{notifications.notifications.length}}</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>