.violator {
    .horizontal-gradient(@color-reward-primary, @color-reward-secondary);
    .border-radius(100px);
    color: @color-white;
    font-family: @font-secondary;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    padding: 3px 8px 2px;

    @media (min-width: @screen-sm) {
        font-size: 8px;
        padding: 3px 13px 2px;
    }

    &.points-disabled {
        @media (min-width: @screen-sm) {
            padding: 3px 8px 2px;
        }
    }

    .trophy-icon {
        font-size: 10px;
        display: inline-block;
        margin-right: 3px;
        vertical-align: middle;
    }
}
.violator.large {
    font-size: 13px;
}

.points-violator {
    .border-radius(15px);
    .horizontal-gradient(@color-reward-primary, @color-reward-secondary);
    width: 25px;
    height: 25px;
    line-height: 27px;
    text-align: center;
    color: @color-white;
    font-family: @font-secondary;
    font-size: 11px;

    @media (min-width: @screen-sm) {
        width: 30px;
        height: 30px;
        line-height: 32px;
        font-size: 14px;
    }

    &.points-disabled {
        padding-top: 5px;
        @media (min-width: @screen-sm) {
            padding-top: 6px;
        }
    }

    .trophy-icon {
        display: block;
        font-size: 15px;
        @media (min-width: @screen-sm) {
            font-size: 18px;
        }

    }

    .plus-sign {
        font-size: 11px;
        position: relative;
        top: -4px;
    }
}

.clix-header-points-violator {
    text-transform: uppercase;
    font-family: @font-secondary;
    font-size: 9px;
    color: @color-white;
    letter-spacing: 1px;
    text-align: center;

    .coming-soon-label {
        font-size: 9px;
        display: block;
        padding: 2px 0;
    }
}