.violator {
    .horizontal-gradient(@color-reward-primary, @color-reward-secondary);
    .border-radius(100px);
    color: @color-white;
    font-family: @font-secondary;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    padding: 3px 8px 2px;

    @media (min-width: @screen-sm) {
        font-size: 8px;
        padding: 3px 13px 2px;
    }
}
.violator.large {
    font-size: 13px;

}

.points-violator {
    .border-radius(15px);
    .horizontal-gradient(@color-reward-primary, @color-reward-secondary);
    width: 25px;
    height: 25px;
    line-height: 27px;
    text-align: center;
    color: @color-white;
    font-family: @font-secondary;
    font-size: 11px;

    @media (min-width: @screen-sm) {
        width: 30px;
        height: 30px;
        line-height: 32px;
        font-size: 14px;
    }

    .plus-sign {
        font-size: 11px;
        position: relative;
        top: -4px;
    }
}

.clix-header-points-violator {
    text-transform: uppercase;
    font-family: @font-secondary;
    font-size: 9px;
    color: @color-white;
    letter-spacing: 1px;
    text-align: center;
}