.clix-notifications {

    background-color: @color-gray20;

    .notification-item-container {
        border-bottom: 1px solid @color-gray15;
        &:last-child {
            border-bottom-width: 0;
        }
    }

    .notification-item {
        .flex-display;
        .align-items(center);
        padding: 20px 9px;
        position: relative;

        &:hover {
            background-color: @color-medium-gray2;
        }
    }

    .notification-thumbnail {
        .border-radius(40px / 2);
        .align-self(flex-start);
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @media (min-width: @screen-sm) {
            .border-radius(60px / 2);
            .align-self(center);
            width: 60px;
            height: 60px;
        }
    }

    .notification-content-container {
        .flex(1);
        padding-left: 11px;
        color: @color-white;
        font-size: 16px;
        line-height: 18px;
        font-family: @font-primary;
    }

    .notification-author-name {
        font-family: @font-primary-bold;
    }

    .notification-timestamp-container {
        color: @color-light-gray;
        font-size: 11px;
        margin-top: 6px;

        @media (min-width: @screen-sm) {
            font-size: 13px;
        }
    }

    .notification-icon {
        font-size: 18px;
        position: relative;
        top: 2px;

        @media (min-width: @screen-sm) {
            font-size: 25px;
        }
    }

    .notification-timestamp {
        text-transform: uppercase;
        letter-spacing: 2px;
        display: inline-block;
    }

    .notification-points-container {
        display: inline-block;
        margin-top: 13px;

        @media (min-width: @screen-sm) {
            margin-top: 0;
            margin-left: 20px;
        }
    }

    .notification-more-icon-container {
        cursor: pointer;
        color: @color-gray2;

        &:hover {
            color: @color-white;
        }
    }

    .notification-more-icon {
        font-size: 30px;
        padding: 10px 0;
    }

    .menu-container {
        position: absolute;
        top: 50%;
        right: 0;
        width: 100%;
        margin-top: 7px;
    }

    .minimal-notification-item {

        padding-top: 16px;
        padding-bottom: 8px;

        .notification-thumbnail,
        .notification-more-icon-container {
            display: none;
        }

        .notification-content-container {
            font-size: 14px;
        }

        .notification-author-name {
            font-family: @font-primary;
        }

        .notification-icon {
            font-size: 20px;
        }

        .notification-timestamp-container {
            font-size: 11px;
        }
    }
}

.clix-notification-tooltip {
    .border-radius(8px);
    .drop-shadow(0, 2px, 5px, 2px, .2);
    text-align: left;
    background-color: @color-gray20;
    color: @color-white;
    width: 375px;
    overflow: hidden;

    .notification-tooltip-header {
        font-family: @font-primary-bold;
        font-size: 16px;
        border-bottom: 1px solid @color-gray15;
        padding: 10px 23px;
    }
}