<div class="video-content-box" ng-show="ready">
    <div class="header-container">
        <clix-tooltip-menu items="items" menuopen="menuVisible" class="menu-container" ng-hide="!menuVisible"></clix-tooltip-menu>
        <div class="header-inner-content">
            <a href="#">
                <div class="artist-avatar" style="background-image: url({{video.PosterH.url}})"></div>
            </a>
            <div class="artist-name">
                <a href="#">
                    {{video.artist_name}}
                </a>
            </div>
            <a class="menu-icon-container" ng-click="menuClicked()" clix-click-anywhere-else="bodyClicked">
                <i class="icon-ellipsis"></i>
            </a>
        </div>
    </div>
    <div class="video-thumbnail">
        <img ng-src="{{video.PosterH.url}}" class="video-thumbnail-image" clix-on-image-load="onImageLoad($event)" />
        <div class="video-thumbnail-action-container">
            <div class="video-thumbnail-inner-container">
                <div class="violator-container">
                    <clix-violator>
                        100 Reward Points
                    </clix-violator>
                </div>
                <div class="video-brand-icon-list">
                    <div class="video-brand-icon" ng-repeat="brand in video.brands | limitTo: 5 track by $index" style="background-image: url({{brand.BrandTransparentLogo.url}});"></div>
                </div>
            </div>
            <div class="action-buttons-container">
                <a href="#" class="save-button">
                    <div class="icon-save-icon-normal button-normal"></div>
                    <div class="icon-save-icon-hover button-hover"></div>
                    <div class="icon-save-icon-click button-click"></div>
                </a>
                <a class="play-button" ui-sref="video({ id: video._id })">
                    <div class="icon-play-button-normal button-normal"></div>
                    <div class="icon-play-button-hover button-hover"></div>
                    <div class="icon-play-button-click button-click"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <a href="#">
            <span class="series-title">
                {{video.title}}
            </span><br />
            <span class="episode-title">
                Episode 1: {{video.title}}
            </span>
        </a>
    </div>
</div>