<div class="video-content-box {{extraClass}}" ng-show="ready">
    <div class="header-container">
        <clix-tooltip-menu items="items" menuopen="menuVisible" class="menu-container" ng-hide="!menuVisible"></clix-tooltip-menu>
        <div class="header-inner-content">
            <a ui-sref="star({ id: video.celebrity.id })">
                <div class="artist-avatar" style="background-image: url({{video.celebrity.thumbnail}})"></div>
            </a>
            <div class="artist-name">
                <a ui-sref="star({ id: video.celebrity.id })">
                    {{video.celebrity.name}}
                </a>
            </div>
            <div clix-tooltip-trigger tooltip-id="actions-button-{{$id}}">
                <a class="menu-icon-container" ng-click="menuClicked()" clix-click-anywhere-else="bodyClicked">
                    <i class="icon-ellipsis"></i>
                </a>
            </div>
            <clix-tooltip tooltip-id="actions-button-{{$id}}">
                Actions
            </clix-tooltip>
        </div>
    </div>
    <div class="video-thumbnail" ng-click="onPlayPress($event, video)">
        <img ng-src="{{video.thumbnail}}" class="video-thumbnail-image" clix-on-image-load="onImageLoad($event)" />
        <div class="violator-container" clix-tooltip-trigger tooltip-id="signup-watch-points-{{$id}}">
            <clix-violator>
                100 Reward Points
            </clix-violator>
        </div>
        <div class="video-thumbnail-action-container">
            <div class="video-thumbnail-inner-container">
                <div class="video-brand-icon-list">
                    <div class="video-brand-icon" ng-repeat="brand in video.brands.brands | limitTo: 5 track by $index" style="background-image: url({{brand.transparentThumbnail}});"></div>
                </div>
            </div>
            <div class="action-buttons-container">
                <div class="plus-icon icon-redeem-plus-icon" clix-tooltip-trigger tooltip-id="watchlist-button-{{$id}}"></div>

                <clix-tooltip tooltip-id="watchlist-button-{{$id}}">
                    Add to your Watchlist
                </clix-tooltip>

                <div class="play-button">
                    <div class="play-button-hit-area">
                        <img src="/assets/theme/clixtv/dist/images/gradient-clix-icon.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <a ui-sref="video({ id: video._id })">
            <span class="series-title">
                {{video.seriesTitle || '&nbsp;'}}
            </span><br />
            <span class="episode-title">
                Episode {{video.episodeNumber}}: {{video.title || '&nbsp;'}}
            </span>
        </a>
    </div>
</div>

<clix-tooltip tooltip-id="signup-watch-points-{{$id}}">
    <div ng-show="!loggedInUser">
        After you sign up, you will receive 100 Reward Points for watching this video! <a ng-click="">Learn More</a>.
    </div>
    <div ng-show="loggedInUser">
        You will receive 100 Reward Points for watching this video!
    </div>
</clix-tooltip>