.jwp-container{
    .play-holder {
        top: 60px;
        bottom: 0;
        right: 0;
        left: 0;
        @media (max-width: @screen-xs-max) {
            top: 0;
            bottom: 60px;
        }
        .img-play {
            background-image: url(/assets/theme/clixtv/images/play-grey-200x181.png);
            width: 100%;
            height: 24%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 7%;
        }

        .icon-play-circle-164x164 {
            margin: 30px auto;
        }
    }
}
