.market_item{
  padding: 0.8vw;
  height: 21.5vw;
  .market_background{
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: all 0.25s;
    &:hover{
        box-shadow: 5px 5px 10px 0 rgba(138, 138, 138, 0.5);
    }
    .market_item_points{
      height: 4.7vw;
      .market_points_image{
        width: 4.8vw;
        height: 2vw;
        margin-top: 1vw;
        background-image: url(../src/images/icon/points-discover.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        float: right;
        margin-right: -0.75vw;
        .points_logo{
          background-image: url(../src/images/icon/pin-icon-yellow.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 0.9vw;
          height: 0.9vw;
          margin: 0.65vw 0.2vw 0.4vw 0.6vw;
          float: left;
        }
        .points_num{
          float: left;
          font-family: SourceSansPro;
          font-size: 0.82vw;
          font-weight: 900;
          color: #ffffff;
          margin: 0.55vw 0 0 0;
        }
      }
    }
    .market_item_image{
      padding-left: 3vw;
      padding-right: 3vw;
      height: 9vw;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .market_item_info{
      padding: 1.6vw;
      .market_item_title{
        font-family: SourceSansPro;
        font-style: italic;
        font-size: 1.05vw;
        font-weight: 600;
        text-align: center;
        color: #1a2937;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .market_item_desc{
        font-family: Roboto;
        font-size: 0.75vw;
        font-weight: 300;
        line-height: 1.29;
        letter-spacing: 0.4px;
        text-align: center;
        color: #fe6443;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
