<div class="col-xs-{{col}} market_item" ng-repeat="product in model | limitTo : limit">
    <div class="market_background" ng-click="go('product/' + product.id)">
        <div class="market_item_points">
            <div class="market_points_image">
                <div class="points_logo"></div>
                <div class="points_num">{{product.points}}</div>
            </div>
        </div>
        <div class="market_item_image" style="background-image: url('{{product.url}}');"></div>
        <div class="market_item_info">
            <div class="market_item_title">{{product.title}}</div>
            <div class="market_item_desc">{{product.type}}</div>
        </div>
    </div>
    <div class="buy_button_cover " ng-if ="page=='likepage'">
        <div class="button" ng-click = "open_modal()">Add to bag</div>
    </div>
</div>
