.clix-contact-page {
    padding: 100px 10px 50px;
    color: @color-white;

    .contact-page-header {
        font-family: @font-primary-bold;
        font-size: 32px;
        line-height: 33px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid @color-gray3;
    }

    .contact-page-container {
        margin-left: -10px;
        margin-right: -10px;
    }

    .contact-page-form-container {
        padding: 30px 10px;
        background-color: @color-medium-gray4;
        margin-bottom: 50px;

        .contact-page-form-header {
            font-family: @font-primary-bold;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
            margin-bottom: 20px;
        }

        .contact-page-form {
            border-top: 1px solid @color-lignt-gray2;
            padding-top: 30px;
        }

        .submit-button-container {
            text-align: center;
            padding-top: 20px;
        }
    }

    .contact-sidebar-container {
        .contact-sidebar-block {
            margin-bottom: 50px;
        }
        .contact-sidebar-label {
            margin: 0 0 20px;
            font-family: @font-primary-bold;
            font-size: 20px;
            line-height: 18px;

            @media (min-width: @screen-sm) {
                font-size: 30px;
                line-height: 36px;
            }
        }

        .contact-sidebar-description {
            font-family: @font-primary;
            font-size: 14px;
            line-height: 18px;
        }
    }
}