<div class="clix-contact-page">
    <div class="contact-page-header">
        Contact Us
    </div>
    <div class="row contact-page-container">
        <div class="col-md-4 hidden-xs hidden-sm" ng-include src="'ui/contact/components/view.contact-sidebar.html'"></div>
        <div class="col-md-8 contact-page-form-container">
            <div class="contact-page-form-header">
                If you have any questions or comments, please fill out the form below!
            </div>
            <div class="contact-page-form-header">
                We will get back to you as soon as we can!
            </div>
            <div class="contact-page-form clix-form">
                <div class="clix-form-row">
                    <label class="clix-form-input-label">
                        What can we help you with?
                    </label>
                    <clix-dropdown options="helpTypes" placeholder-text="-" ng-model="selectedHelpType"></clix-dropdown>
                </div>
                <div class="clix-form-row">
                    <label class="clix-form-input-label">
                        Name: <span class="clix-form-input-label-required">*</span>
                    </label>
                    <clix-form-input-error-field show-error="showNameError">
                        <form-field>
                            <input type="text" class="clix-form-input-field" ng-model="form.name" />
                        </form-field>
                        <error-message>
                            Name is required
                        </error-message>
                    </clix-form-input-error-field>
                </div>
                <div class="clix-form-row">
                    <label class="clix-form-input-label">
                        Email Address: <span class="clix-form-input-label-required">*</span>
                    </label>
                    <clix-form-input-error-field show-error="showEmailError">
                        <form-field>
                            <input type="email" class="clix-form-input-field" ng-model="form.email" />
                        </form-field>
                        <error-message>
                            Email address is required
                        </error-message>
                    </clix-form-input-error-field>
                </div>
                <div class="clix-form-row">
                    <label class="clix-form-input-label">
                        Subject: <span class="clix-form-input-label-required">*</span>
                    </label>
                    <clix-form-input-error-field show-error="showSubjectError">
                        <form-field>
                            <input type="text" class="clix-form-input-field" ng-model="form.subject" />
                        </form-field>
                        <error-message>
                            Subject is required
                        </error-message>
                    </clix-form-input-error-field>
                </div>
                <div class="clix-form-row">
                    <label class="clix-form-input-label">
                        Description: <span class="clix-form-input-label-required">*</span>
                    </label>
                    <clix-form-input-error-field show-error="showDescriptionError">
                        <form-field>
                            <textarea class="clix-form-textarea-field" ng-model="form.description"></textarea>
                        </form-field>
                        <error-message>
                            Description is required
                        </error-message>
                    </clix-form-input-error-field>
                </div>
                <div class="clix-form-row submit-button-container">
                    <div class="clix-form-submit-button">
                        <clix-primary-button ng-click="onSubmit()">
                            Submit
                        </clix-primary-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 visible-xs visible-sm" ng-include src="'ui/contact/components/view.contact-sidebar.html'"></div>
    </div>
</div>