
RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} !lb\.php$
#RewriteCond %{REQUEST_URI} !^/hauth
#RewriteCond %{REQUEST_URI} !^/index.php/hauth
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=302,L]

<filesMatch "\.(htaccess|htpasswd|ini|pem|phps|fla|psd|log|sh|json|lock)$">
 Order Allow,Deny
 Deny from all
</filesMatch>

Options -Indexes
Options +FollowSymLinks

# Set the default handler.
DirectoryIndex index.php

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>

<ifModule mod_gzip.c>
mod_gzip_on Yes
mod_gzip_dechunk Yes
mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
mod_gzip_item_include handler ^cgi-script$
mod_gzip_item_include mime ^text/.*
mod_gzip_item_include mime ^image/.*
mod_gzip_item_include mime ^application/x-javascript.*
mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

<IfModule mod_expires.c>
# Enable expirations
ExpiresActive On
# Default directive
ExpiresDefault "access plus 1 month"
# My favicon
ExpiresByType image/x-icon "access plus 1 year"
# Images
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/svg "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType image/jpg "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
# CSS
ExpiresByType text/css "access plus 1 month"
# Javascript
ExpiresByType application/javascript "access plus 1 month"
</IfModule>

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|svg|gif|js|css|swf)$">
Header set Cache-Control "max-age=864000, public"
</FilesMatch>

<FilesMatch "\.(html|htm)$">
Header set Cache-Control "max-age=7200, must-revalidate"
</FilesMatch>
