
RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} !lb\.php$
#RewriteCond %{REQUEST_URI} !^/hauth
#RewriteCond %{REQUEST_URI} !^/index.php/hauth
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=302,L]




#AuthUserFile /var/fog/apps/30029/ex.phpfogapp.com/.htpass
#AuthType Basic
#AuthName "Enter password"
#Require valid-user

Options -Indexes
Options +FollowSymLinks

# Set the default handler.
DirectoryIndex index.php

<IfModule mod_rewrite.c>
	RewriteEngine on

RewriteCond %{QUERY_STRING} _escaped_fragment_=(.*)
#RewriteRule (.*) http://www.walla.co.il/ [P]
RewriteRule (.*) http://phantom-2092494938.us-west-2.elb.amazonaws.com/%1 [P]

RewriteCond %{REQUEST_URI} ^/blog(.*)
RewriteRule (.*) http://blog.viewly.com/blog%1 [P]


	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>
