.clix-main-header {
    font-family: @font-primary;
    font-size: 35px;
    letter-spacing: 1.6px;
    color: @color-white;
    text-align: center;

    @media (min-width: @screen-sm) {
        text-align: left;
    }
}