<footer class="footer-clix">
    <div class="links-section hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="logo-section">
                        <!--<span class="icon icon-logo-white-262x58" style="display: inline-block"></span>-->
                        <img src="assets/theme/clixtv/images/footer-logo.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-9">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="links-header">
                                COMPANY
                            </div>
                            <div class="link-footer hand">
                                What is ClixTV?
                            </div>
                            <div class="link-footer hand">
                                Investor Relations
                            </div>
                            <div class="link-footer hand">
                                Advertisers
                            </div>
                            <div class="link-footer hand">
                                Jobs
                            </div>
                            <div class="link-footer hand">
                                Press
                            </div>
                            <div class="link-footer hand">
                                News
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="links-header hand">
                                USEFUL LINKS
                            </div>
                            <div class="link-footer hand">
                                Store
                            </div>
                            <div class="link-footer hand">
                                Charities
                            </div>
                            <div class="link-footer hand">
                                Celebrities
                            </div>
                            <div class="link-footer hand">
                                Affiliates
                            </div>
                            <div class="link-footer hand">
                                Rewards
                            </div>
                            <div class="link-footer hand">
                                Video Categories
                            </div>
                            <div class="link-footer hand">
                                Help
                            </div>
                            <div class="link-footer hand">
                                Contact
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer-social hand">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </div>
                            <div class="footer-social hand">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                            <div class="footer-social hand">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </div>
                            <div class="footer-social hand">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="legal-section">
                    <div class="col-sm-12 text-center">
                        <div class="legal-links">
                            <a href="#">Legal</a>
                            <a href="#">Cookies</a>
                            <a href="#"> © ClixTV. Inc</a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</footer>
<social-share></social-share>
