.clix-star-page {
    .star-logo {
        .border-radius(55px);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    .banner-favorite-icon {
        font-size: 12px;
        position: relative;

        @media (min-width: @screen-sm) {
            font-size: 20px;
            top: 2px;
        }
    }

    .star-sidebar-container {
        @media (min-width: @screen-sm) {
            padding-left: 5px;
            padding-right: 5px;
        }
        @media (min-width: @screen-md) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .brand-page-content {
        position: relative;
        z-index: 2000;
        background-color: @color-darker-gray;
        padding: 13px 0 62px;

        @media (min-width: @screen-sm) {
            padding: 13px 10px 62px;
        }

        @media (min-width: @screen-lg) {
            padding: 13px 30px 62px;
        }
    }

    .nav-tabs {
        border-bottom: 1px solid @color-gray3 !important;
        margin-left: @common-mobile-padding;
        margin-right: @common-mobile-padding;

        @media (min-width: @screen-sm) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .videos-container {
        @media (max-width: @screen-xs) {
            margin-left: -(@common-mobile-padding);
            margin-right: -(@common-mobile-padding);
        }
    }

    .videos-title-container {

        padding-top: 30px;
        text-align: center;

        @media (min-width: @screen-sm) {
            .flex-display;
            .flex(1);
            padding-top: 50px;
            text-align: left;
            border-bottom: 1px solid @color-gray3;
            padding-bottom: 16px;
            margin-bottom: 20px;
        }
    }

    .video-sort-container {
        display: block;
        margin: 30px auto;
        padding: 0 20px;
        @media (min-width: @screen-sm) {
            margin: 0;
            padding: 0;
            min-width: 300px;
        }
    }

    .videos-title {
        .flex(1);
        text-align: center;
        @media (min-width: @screen-sm) {
            text-align: left;
        }
    }

    .brands-offers-title {
        .flex(1);
        text-align: center;
        margin-bottom: 34px;
        padding: 0 10px;
        @media (min-width: @screen-sm) {
            text-align: left;
            padding: 0;
        }

        &:first-child {
            margin-top: 34px;
        }
    }

    .brand-container {
        margin-bottom: 40px;

        padding-left: 9px;
        padding-right: 9px;

        @media (max-width: @screen-lg) {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .brand-row {
        margin-left: -9px;
        margin-right: -9px;

        @media (min-width: @screen-sm) {
            margin-left: -5px;
            margin-right: -5px;
        }

        @media (min-width: @screen-lg) {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    .sidebar-container {
        background-color: @color-gray5;
        padding: 30px 15px;
        border-top: 1px solid @color-gray4;
        margin-bottom: 20px;
        //margin-left: 10px;
        //margin-right: 10px;
        margin-top: 20px;

        @media (min-width: @screen-sm) {
            border: 1px solid @color-gray4;
            margin-left: 0;
            margin-right: 0;
        }

        @media (min-width: @screen-md) {
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 0;
        }

        @media (min-width: @screen-lg) {
            padding: 30px;
            margin-top: 15px;
        }
    }

    .sidebar-title {
        font-family: @font-secondary;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        color: @color-gray2;
        text-align: center;
        line-height: 22px;
        margin-bottom: 30px;
    }

    .sidebar-content {
        margin-top: 25px;
    }

    // Banner overrides
    @media (max-width: @screen-sm) {
        .clix-hero-banner {
            .banner-logo-container {
                float: left;
            }
            .banner-title-content {
                display: block;
            }
            .hero-banner-content {
                display: block;
            }

            .banner-subtext-container {
                text-align: left;
                margin-top: 10px;
            }
        }
    }
}