.clix-star-page {
    .star-logo {
        .border-radius(55px);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    .banner-favorite-icon {
        font-size: 12px;
        position: relative;

        @media (min-width: @screen-sm) {
            font-size: 20px;
            top: 2px;
        }
    }
}