<div ng-if="!celebrity">
    <clix-loader size="large"></clix-loader>
</div>

<div class="clix-star-page" ng-if="celebrity">
    <clix-hero-banner
        title-text="{{celebrity.name}}"
        button-text="{{isFavorite ? 'Remove from Favorites' : 'Favorite'}}"
        button-icon-class="{{'icon-favorite-icon banner-favorite-icon'}}"
        button-tooltip-text="{{loggedInUser ? ((isFavorite) ? 'Remove this star from your Favorites' : 'Add this star to your Favorites.') : 'After signing up, you will be able to add this star to your Favorites.'}}"
        subtext="{{celebrity.videos.videos.length}} {{celebrity.videos.videos.length === 1 ? 'Video' : 'Videos'}}"
        background-image="{{celebrity.headerImage}}"
        share-tooltip-text="Share this page."
        banner-type="Star"
    >
        <favorite-button>
            <clix-tertiary-button ng-click="onFavoritePress()">
                {{isFavorite ? 'Added to Favorites' : 'Favorite'}}
            </clix-tertiary-button>
        </favorite-button>
        <share-icon>
            <clix-share-button extra-class="banner-share-icon" celebrity="celebrity"></clix-share-button>
        </share-icon>
    </clix-hero-banner>
    <div class="brand-page-content">
        <div class="clix-tabs">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Video" select="onTabSelect('video')">

                    <div class="videos-container">
                        <div class="videos-title-container">
                            <div class="videos-title">
                                <clix-secondary-header>
                                    {{celebrity.name}}: {{selectedSeries.label}}
                                </clix-secondary-header>
                            </div>
                            <div class="video-sort-container">
                                <clix-dropdown options="seriesList" placeholder-text="Select Series"></clix-dropdown>
                            </div>
                        </div>
                        <div class="row" ng-repeat="series in celebrity.series.series" ng-show="series.title === selectedSeries.label">

                            <div class="col-sm-8">
                                <div class="row clix-block-row">
                                    <div class="clix-block-item col-xs-12 col-sm-12 col-md-6 col-lg-4" ng-repeat="video in series.seasons.seasons[0].episodes | orderBy: 'episodeNumber'">
                                        <clix-video-content-callout video="video"></clix-video-content-callout>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">

                                <div class="sidebar-container">
                                    <div class="sidebar-title">
                                        Brands in this Series
                                    </div>
                                    <div class="row brand-row">
                                        <div ng-repeat="brand in series.brands.brands" class="brand-container col-xs-6">
                                            <clix-brand-content-callout brand="brand"></clix-brand-content-callout>
                                        </div>
                                    </div>

                                </div>

                                <div class="sidebar-container">
                                    <div class="sidebar-title">
                                        Charities in this Series
                                    </div>
                                    <div class="row brand-row">
                                        <div class="brand-container col-xs-6">
                                            <clix-charity-content-callout charity="series.charity"></clix-charity-content-callout>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </uib-tab>
                <uib-tab index="1" heading="Brands & Offers" select="onTabSelect('brands_offers')">
                    <div class="brands-offers-title">
                        <div class="visible-sm visible-xs">
                            <clix-secondary-header>
                                Brands Related To<br />{{celebrity.name}}
                            </clix-secondary-header>
                        </div>
                        <div class="hidden-sm hidden-xs">
                            <clix-secondary-header>
                                Brands Related To {{celebrity.name}}
                            </clix-secondary-header>
                        </div>
                    </div>
                    <div class="row brand-row">
                        <div ng-repeat="brand in celebrity.brands.brands" class="brand-container col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <clix-brand-content-callout brand="brand"></clix-brand-content-callout>
                        </div>
                    </div>
                    <div class="brands-offers-title" ng-show="celebrity.offers">
                        <div class="visible-sm visible-xs">
                            <clix-secondary-header>
                                Offers Related To<br />{{celebrity.name}}
                            </clix-secondary-header>
                        </div>
                        <div class="hidden-sm hidden-xs">
                            <clix-secondary-header>
                                Offers Related To {{celebrity.name}}
                            </clix-secondary-header>
                        </div>
                    </div>
                    <div class="row brand-row">
                        <div ng-repeat="offer in celebrity.offers.offers" class="brand-container col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <clix-offer-content-callout offer="offer"></clix-offer-content-callout>
                        </div>
                    </div>

                </uib-tab>
                <uib-tab index="2" heading="Charity" select="onTabSelect('charity')">

                    <div class="brands-offers-title">
                        <div class="visible-sm visible-xs">
                            <clix-secondary-header>
                                Charities Related To<br />{{celebrity.name}}
                            </clix-secondary-header>
                        </div>
                        <div class="hidden-sm hidden-xs">
                            <clix-secondary-header>
                                Charities Related To {{celebrity.name}}
                            </clix-secondary-header>
                        </div>
                    </div>
                    <div class="row brand-row">
                        <div ng-repeat="charity in celebrity.charities.charities" class="brand-container col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <clix-charity-content-callout charity="charity"></clix-charity-content-callout>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>