<div ng-if="!celebrity">
    <clix-loader size="large"></clix-loader>
</div>

<div class="clix-star-page" ng-if="celebrity">
    <clix-hero-banner
        title-text="{{celebrity.name}}"
        button-text="{{'+ Favorites'}}"
        button-icon-class="{{'icon-favorite-icon banner-favorite-icon'}}"
        button-tooltip-text="{{loggedInUser ? 'Add this star to your Favorites.' : 'After signing up, you will be able to add this star to your Favorites.'}}"
        subtext="{{celebrity.videos.videos.length}} {{celebrity.videos.videos.length === 1 ? 'Video' : 'Videos'}}"
        background-image="{{celebrity.headerImage}}"
        share-tooltip-text="Share this page."
        banner-type="Star"
    >
        <share-icon>
            <clix-share-button extra-class="banner-share-icon" celebrity="celebrity"></clix-share-button>
        </share-icon>
    </clix-hero-banner>
    <div class="brand-page-content">
        <div class="clix-tabs">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Video">

                    <div class="videos-container">
                        <div class="videos-title-container">
                            <div class="videos-title">
                                <clix-secondary-header>
                                    {{celebrity.name}}: {{selectedSeries.label}}
                                </clix-secondary-header>
                            </div>
                            <div class="video-sort-container">
                                <clix-dropdown options="seriesList" placeholder-text="Select Series"></clix-dropdown>
                            </div>
                        </div>
                        <div class="row" ng-repeat="series in celebrity.series.series" ng-show="series.title === selectedSeries.label">

                            <div class="col-sm-8">
                                <div class="row clix-block-row">
                                    <div class="clix-block-item col-xs-12 col-sm-12 col-md-6 col-lg-4" ng-repeat="video in series.seasons.seasons[0].episodes">
                                        <clix-video-content-box video="video"></clix-video-content-box>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">

                                <div class="sidebar-container">
                                    <div class="sidebar-title">
                                        Brands in this Series
                                    </div>
                                    <div class="row brand-row">
                                        <div ng-repeat="brand in series.brands.brands" class="brand-container col-xs-6">
                                            <clix-content-callout sref="brand({ id: '{{brand.id}}' })" menu-items="brandMenuItems">
                                                <header-element>
                                                    <clix-brand-charity-logo brand="brand"></clix-brand-charity-logo>
                                                </header-element>
                                                <title-content>
                                                    {{brand.title}}
                                                </title-content>
                                                <subtitle-content>
                                                    {{brand.offers.offers.length}} {{brand.offers.offers.length === 1 ? 'Offer' : 'Offers'}}
                                                </subtitle-content>
                                            </clix-content-callout>
                                        </div>
                                    </div>

                                </div>

                                <div class="sidebar-container">
                                    <div class="sidebar-title">
                                        Charities in this Series
                                    </div>
                                    <div class="row brand-row">
                                        <div class="brand-container col-xs-6">
                                            <clix-content-callout sref="charity({ id: '{{series.charity.id}}' })" menu-items="charityMenuItems">
                                                <header-element>
                                                    <clix-charity-logo charity="series.charity"></clix-charity-logo>
                                                </header-element>
                                                <title-content>
                                                    {{series.charity.title}}
                                                </title-content>
                                                <subtitle-content>
                                                    {{series.charity.videos.videos.length}} {{series.charity.videos.videos.length === 1 ? 'Video' : 'Videos'}}
                                                </subtitle-content>
                                            </clix-content-callout>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </uib-tab>
                <uib-tab index="1" heading="Brands & Offers">
                    <div class="brands-offers-title">
                        <div class="visible-sm visible-xs">
                            <clix-secondary-header>
                                Brands Related To<br />{{celebrity.name}}
                            </clix-secondary-header>
                        </div>
                        <div class="hidden-sm hidden-xs">
                            <clix-secondary-header>
                                Brands Related To {{celebrity.name}}
                            </clix-secondary-header>
                        </div>
                    </div>
                    <div class="row brand-row">
                        <div ng-repeat="brand in celebrity.brands.brands" class="brand-container col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <clix-content-callout sref="brand({ id: '{{brand.id}}' })" menu-items="brandMenuItems">
                                <header-element>
                                    <clix-brand-charity-logo brand="brand"></clix-brand-charity-logo>
                                </header-element>
                                <title-content>
                                    {{brand.title}}
                                </title-content>
                                <subtitle-content>
                                    {{brand.offers.offers.length}} {{brand.offers.offers.length === 1 ? 'Offer' : 'Offers'}}
                                </subtitle-content>
                            </clix-content-callout>
                        </div>
                    </div>
                    <div class="brands-offers-title" ng-show="celebrity.offers">
                        <div class="visible-sm visible-xs">
                            <clix-secondary-header>
                                Offers Related To<br />{{celebrity.name}}
                            </clix-secondary-header>
                        </div>
                        <div class="hidden-sm hidden-xs">
                            <clix-secondary-header>
                                Offers Related To {{celebrity.name}}
                            </clix-secondary-header>
                        </div>
                    </div>
                    <div class="row brand-row">
                        <div ng-repeat="offer in celebrity.offers.offers" class="brand-container col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <clix-content-callout sref="offer({ id: '{{offer.id}}' })" menu-items="offerMenuItems">
                                <header-element>
                                    <clix-offer-logo offer="offer"></clix-offer-logo>
                                </header-element>
                                <title-content>
                                    {{offer.title}}
                                </title-content>
                                <subtitle-content>
                                    Expires {{offer.expirationDate}}
                                </subtitle-content>
                            </clix-content-callout>
                        </div>
                    </div>

                </uib-tab>
                <uib-tab index="2" heading="Charity">

                    <div class="brands-offers-title">
                        <div class="visible-sm visible-xs">
                            <clix-secondary-header>
                                Charities Related To<br />{{celebrity.name}}
                            </clix-secondary-header>
                        </div>
                        <div class="hidden-sm hidden-xs">
                            <clix-secondary-header>
                                Charities Related To {{celebrity.name}}
                            </clix-secondary-header>
                        </div>
                    </div>
                    <div class="row brand-row">
                        <div ng-repeat="charity in celebrity.charities.charities" class="brand-container col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <clix-content-callout sref="charity({ id: '{{charity.id}}' })" menu-items="charityMenuItems">
                                <header-element>
                                    <clix-charity-logo charity="charity"></clix-charity-logo>
                                </header-element>
                                <title-content>
                                    {{charity.title}}
                                </title-content>
                                <subtitle-content>
                                    {{charity.videos.videos.length}} {{charity.videos.videos.length === 1 ? 'Video' : 'Videos'}}
                                </subtitle-content>
                            </clix-content-callout>
                        </div>
                    </div>

                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>