<div ng-if="!stars">
    <clix-loader size="large"></clix-loader>
</div>

<div class="clix-stars-page">
    <clix-filter-page ng-if="stars">
        <page-title>
            Stars
        </page-title>
        <page-search-filter>
            <clix-search-filter
                search-placeholder="Search Stars"
                filter-placeholder="Filter By"
                sort-placeholder="Sort By"
                filter-options="filterOptions"
                sort-options="sortOptions"
            ></clix-search-filter>
        </page-search-filter>
        <page-content>
            <clix-content-callout-list items="stars.celebrities" menu-items="menuItems">
                <clix-content-callout sref="star({ id: '{{item.id}}' })" menu-items="menuItems">
                    <header-element>
                        <div class="star-logo" style="background-image: url({{item.thumbnail}})"></div>
                    </header-element>
                    <title-content>
                        {{item.name}}
                    </title-content>
                    <subtitle-content>
                        {{item.videos.videos.length}} {{item.videos.videos.length === 1 ? 'Video' : 'Videos'}}
                    </subtitle-content>
                </clix-content-callout>
            </clix-content-callout-list>
        </page-content>
    </clix-filter-page>
</div>