.clix-share-modal {
    text-align: center;
    padding: 20px 0 53px 0;

    @media (min-width: @screen-sm) {
        padding: 24px 6px 53px 6px;
    }

    .nav-tabs {
        display: inline-block;
        margin: 0 auto;

        li {
            margin-right: 101px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .share-modal-video-row {
        @media (max-width: @screen-sm) {
            margin-right: -(@common-mobile-padding);
            margin-left: -(@common-mobile-padding);
        }
    }

    .modal-post-content,
    .modal-send-content {
        border-top: 1px solid @color-gray3;
        text-align: left;
        width: 100%;
        margin-top: 1px;
        padding-top: 11px;

        @media (min-width: @screen-sm) {
            padding: 17px 15px 0 15px;
        }
    }

    .clix-share-modal-textbox,
    .clix-share-modal-input {
        .border-radius(6px);
        background-color: @color-white;
        margin-top: 21px;
        padding: 11px 16px;

        textarea,
        input {
            width: 100%;
            background-color: @color-transparent;
            border-width: 0;
            resize: none;
            font-family: @font-primary;
            font-size: 14px;
            line-height: 20px;
            color: @color-black;
            outline: none;
        }

        input {

        }

        textarea {
            height: 150px;
        }
    }

    .send-textbox {
        textarea {
            height: 85px;
        }
    }

    .share-modal-footer {
        text-align: left;
        margin: 20px @common-mobile-padding 0 @common-mobile-padding;

        @media (min-width: @screen-sm) {
            margin: 20px 15px 0;
        }
    }

    .share-modal-post-container {
        .flex-display;
        .align-items(center);
        margin-top: 20px;

        &.share-modal-copy-link-container {
            .justify-content(flex-end);
            margin-bottom: 37px;
        }
    }

    .share-modal-social-networks {
        .flex-display;
        .flex(1);
        .align-items(center);
    }

    .social-network-icon-container {
        .border-radius(17px);
        width: 35px;
        height: 35px;
        background-color: @color-gray14;
        margin-left: 20px;
        text-align: center;
        cursor: pointer;

        @media (min-width: @screen-sm) {
            .border-radius(20px);
            width: 40px;
            height: 40px;
        }
    }

    .social-network-icon {
        font-size: 16px;
        color: @color-white;
        margin-top: 9px;
        display: block;

        @media (min-width: @screen-sm) {
            font-size: 20px;
            margin-top: 10px;
        }

        &.icon-twitter-logo {
            font-size: 16px;
            margin-left: -3px;

            @media (min-width: @screen-sm) {
                margin-left: -1px;
                margin-top: 12px;
            }
        }
    }

    .share-modal-post-to-label {
        font-size: 14px;
        font-family: @font-primary;
        color: @color-gray2;
    }

    .share-modal-settings {
        font-size: 14px;
        font-family: @font-primary;
        color: @color-gray2;
        cursor: pointer;
    }

    .facebook-social-network {
        &.active {
            background-color: @color-facebook;
        }
        &:hover {
            @media (min-width: @screen-sm) {
                background-color: @color-facebook;
            }
        }
    }

    .twitter-social-network {
        &.active {
            background-color: @color-twitter;
        }

        &:hover {
            @media (min-width: @screen-sm) {
                background-color: @color-twitter;
            }
        }
    }

    .tumblr-social-network {
        &.active {
            background-color: @color-tumblr;
        }
        &:hover {
            @media (min-width: @screen-sm) {
                background-color: @color-tumblr;
            }
        }
    }

    .share-modal-copy-link {
        font-size: 13px;
        font-family: @font-secondary;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: @color-light-gray;
    }

    .cancel-button {
        .border-radius(100px);
        padding: 10px 30px;
        font-family: @font-primary;
        font-size: 11px;
        letter-spacing: 0.9px;
        color: @color-gray2;
        text-transform: uppercase;
        border: 1px solid @color-gray2;
        background-color: @color-medium-gray4;
        cursor: pointer;
        text-align: center;
        display: block;

        &:hover {
            text-decoration: none;
            border-color: @color-white;
            background-color: @color-transparent-dark-black;
            color: @color-white;
        }
    }

    .footer-modal-buttons-container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        width: 300px;

        @media (min-width: @screen-sm) {
            margin-top: 15px;
            margin-right: 0;
        }
    }

    .footer-modal-button {
        padding: 0;

        &:first-child {
            padding-right: 12px;
        }

        &:last-child {
            padding-left: 12px;
        }
    }

    .logo-image {
        top: 30px;
        left: 30px;
        right: 30px;
        bottom: 30px;
    }
}

.clix-share-modal-video-content {
    .video-thumbnail-container {
        padding-right: 0;
        @media (max-width: @screen-sm) {
            padding-left: (@common-mobile-padding * 2);
            padding-right: (@common-mobile-padding * 2);
        }
    }

    .video-info-container {
        @media (max-width: @screen-sm) {
            padding-left: 20px;
            padding-right: (@common-mobile-padding * 2);
        }
    }

    .video-thumbnail {
        max-width: 100%;
    }

    .series-title {
        font-family: @font-primary;
        font-size: 30px;
        line-height: 32px;
        color: @color-white;
        margin-top: 11px;
        margin-bottom: 4px;
        @media (min-width: @screen-sm) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .episode-title {
        font-family: @font-primary;
        font-size: 14px;
        line-height: 12px;
        letter-spacing: 1.6px;
        margin-bottom: 5px;
        color: @color-gray16;
        text-transform: uppercase;
    }

    .celebrity-title {
        font-family: @font-primary;
        font-size: 13px;
        line-height: 13px;
        letter-spacing: 2px;
        color: @color-light-gray;
        text-transform: uppercase;
    }

    .video-description {
        font-family: @font-primary;
        font-size: 14px;
        line-height: 20px;
        color: @color-white;
        margin-top: 20px;
        margin-bottom: 22px;

        @media (min-width: @screen-sm) {
            margin-top: 11px;
        }
    }

    .video-clix-tv {
        font-family: @font-primary;
        font-size: 13px;
        color: @color-light-gray;
        text-transform: uppercase;
    }
}

.clix-share-modal-celebrity-content {
    .celebrity-thumbnail {
        width: 160px;
        height: 160px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.clix-share-modal-offer-content {
    .clix-offer-logo {
        width: 160px;
        height: 160px;
    }

    .logo-points {
        display: none;
    }
}

.clix-share-modal-brand-content {
    .clix-brand-charity-logo {
        width: 160px;
        height: 160px;
    }

    .logo-points {
        display: none;
    }
}

.clix-share-modal-charity-content {
    .clix-charity-logo {
        width: 160px;
        height: 160px;
    }
    
    .logo-overlay {
        display: none;
    }
}

.clix-generic-share-content {
    .flex-display;
    color: @color-white;
    padding-left: @common-mobile-padding;
    padding-right: @common-mobile-padding;

    @media (min-width: @screen-sm) {
        padding: 0;
    }

    .share-content-container {
        .flex(1);
        padding-left: 10px;

        @media (min-width: @screen-sm) {
            padding-left: 22px;
        }
    }

    .share-content-title {
        font-family: @font-primary;
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 3px;

        @media (min-width: @screen-sm) {
            font-size: 30px;
            line-height: 30px;
        }
    }

    .share-content-description {
        font-family: @font-primary;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
        display: none;

        @media (min-width: @screen-sm) {
            display: block;
        }
    }

    .share-content-footer {
        font-family: @font-primary;
        font-size: 12px;
        letter-spacing: 2px;
        color: @color-light-gray;
        text-transform: uppercase;

        @media (min-width: @screen-sm) {
            font-size: 13px;
        }
    }
}