.clix-share-settings-modal {

    .share-settings-row {
        .flex-display;
        .align-items(center);
        padding: 30px 0;
        border-top: 1px solid @color-gray3;
        margin: 0 10px;

        @media (min-width: @screen-sm) {
            padding: 35px 30px;
            margin: 0;
        }

        &:first-child {
            border-top-width: 0;
        }

        .social-network-info-container {
            .flex(1);
            margin: 0;
        }

        .social-network-connect-button,
        .social-network-description {
            padding: 0;
        }

        .social-network-connect-button {
            text-align: right;
            margin-top: 11px;

            @media (min-width: @screen-sm) {
                margin-top: 0;
            }
        }

        .social-network-icon-container {
            .border-radius(23px);
            width: 45px;
            height: 45px;
            text-align: center;
            color: @color-white;
            padding-top: 12px;

            &.twitter-social-network {
                padding-top: 14px;

                @media (min-width: @screen-sm) {
                    padding-top: 11px;
                }
            }

            @media (min-width: @screen-sm) {
                .border-radius(20px);
                width: 40px;
                height: 40px;
                padding-top: 8px;
            }
        }

        .facebook-social-network {
            background-color: @color-facebook;
        }

        .twitter-social-network {
            background-color: @color-twitter;
        }

        .tumblr-social-network {
            background-color: @color-tumblr;
        }

        .social-network-icon {
            font-size: 20px;

            &.icon-twitter-logo {
                font-size: 18px;
            }
        }

        .social-network-description {
            font-family: @font-primary;
            color: @color-white;
            font-size: 13px;
            text-transform: uppercase;
            padding-left: 15px;
            margin-top: 10px;
            letter-spacing: 2px;
        }

        .clix-tertiary-button {
            .left-edge {
                @media (min-width: @screen-sm) {
                    top: 1px;
                }
            }
            .right-edge {
                @media (min-width: @screen-sm) {
                    right: -17px;
                    top: -1px;
                }
            }
        }
    }

    .share-settings-footer {
        font-family: @font-primary;
        color: @color-white;
        font-size: 13px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        padding-bottom: 50px;
    }
}