<div class="clix-share-modal">
    <div class="clix-tabs">
        <uib-tabset active="active">
            <uib-tab index="0" heading="Post To" select="onTabPress('post')">

                <div class="modal-post-content">

                    <div ng-if="video">
                        <clix-share-modal-video-content video="video"></clix-share-modal-video-content>
                    </div>
                    <div ng-if="celebrity">
                        <clix-share-modal-celebrity-content celebrity="celebrity"></clix-share-modal-celebrity-content>
                    </div>

                </div>

            </uib-tab>
            <uib-tab index="1" heading="Send To..." select="onTabPress('send')">

                <div class="modal-send-content">

                    <div ng-if="video">
                        <clix-share-modal-video-content video="video"></clix-share-modal-video-content>
                    </div>
                    <div ng-if="celebrity">
                        <clix-share-modal-celebrity-content celebrity="celebrity"></clix-share-modal-celebrity-content>
                    </div>

                </div>

            </uib-tab>
        </uib-tabset>

        <div class="share-modal-footer">

            <div ng-show="tab === 'post'">
                <div class="clix-share-modal-textbox">
                    <textarea>{{shareContent}}</textarea>
                </div>
                <div class="share-modal-post-container">
                    <div class="share-modal-social-networks">
                        <div class="share-modal-post-to-label">
                            Post to
                        </div>
                        <a class="social-network-icon-container facebook-social-network" ng-click="onSocialNetworkPress('facebook')" ng-class="{'active': socialNetworks.indexOf('facebook') !== -1}">
                            <i class="icon-facebook-logo social-network-icon"></i>
                        </a>
                        <a class="social-network-icon-container twitter-social-network" ng-click="onSocialNetworkPress('twitter')" ng-class="{'active': socialNetworks.indexOf('twitter') !== -1}">
                            <i class="icon-twitter-logo social-network-icon"></i>
                        </a>
                        <a class="social-network-icon-container tumblr-social-network" ng-click="onSocialNetworkPress('tumblr')" ng-class="{'active': socialNetworks.indexOf('tumblr') !== -1}">
                            <i class="icon-tumblr-logo social-network-icon"></i>
                        </a>
                    </div>
                    <a href="#" class="share-modal-settings">
                        Settings
                    </a>
                </div>
            </div>
            <div ng-show="tab === 'send'">
                <div class="clix-share-modal-input">
                    <input placeholder="Search Friends" />
                </div>
                <div class="clix-share-modal-textbox send-textbox">
                    <textarea>{{shareContent}}</textarea>
                </div>
                <div class="share-modal-post-container share-modal-copy-link-container">
                    <a href="#" class="share-modal-copy-link">
                        Copy Video Link
                    </a>
                </div>
            </div>
            <div class="row footer-modal-buttons-container">
                <div class="col-xs-6 footer-modal-button">
                    <a class="cancel-button" ng-click="onCancelPress()">
                        Cancel
                    </a>
                </div>
                <div class="col-xs-6 footer-modal-button">
                    <clix-primary-button ng-show="tab === 'send'" ng-click="onSendPress()">
                        Send
                    </clix-primary-button>
                    <clix-primary-button ng-show="tab === 'post'" ng-click="onPostPress()">
                        Post
                    </clix-primary-button>
                </div>
            </div>
        </div>
    </div>
</div>