<clix-message-modal>
    <modal-title>
        {{title}}
    </modal-title>
    <modal-body>
        {{message}}
    </modal-body>
    <modal-cancel-button>
        <clix-secondary-button alternate="true" ng-click="onCloseButtonPress()">
            Cancel
        </clix-secondary-button>
    </modal-cancel-button>
    <modal-confirm-button>
        <clix-primary-button ng-click="onConfirmButtonPress()">
            Remove
        </clix-primary-button>
    </modal-confirm-button>
</clix-message-modal>