.brand-page {
    color: white;
    background-color: #0E0E0E;
    @media (max-width: @screen-xs-max) {
         padding-top: : 55px;
    }
    .brand-page-header {
        position: relative;
        height: 60vh;
        background-position: 50% 0;
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;
        .overlay{
            position: absolute;
            background: rgba(0,0,0,0);
            background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.77));
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.77)));
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.69) 50%, rgba(0,0,0,1) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.77) 100%);
            background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.77) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.77));
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
            bottom: 0;
            left: 0;
            right: 0;
            text-align: left;
            padding: 10px 30px 40px;
            .pic {
                background-position: center;
                background-size: cover;
                width: 135px;
                height: 135px;
                float: left;
                border-radius: 50%;
                margin-right: 20px;
            }

            .info{
                float: left;
                .title{
                    font-family: PTSans;
                    font-size: 56px;
                    letter-spacing: 2.3px;

                    @media (max-width: @screen-sm-max){
                            font-size: 35px;
                            letter-spacing:1.9px;
                    }
                }


                .share{
                    display: inline-block;
                    float: left;
                    margin-top: 5px;
                    .icon{
                        font-size: 40px;
                        float: left;
                    }

                    &:hover .icon{
                        background-image: url("/assets/theme/clixtv/images/sprite/share-gray-hover-39x40.png");
                        background-size: cover;
                        background-position: center;
                    }
                    .reward{
                        background-color: #fe0000;
                        border-radius: 50px;
                        padding: 5px 8px;
                        float: left;
                        font-size: 19px;
                        margin-left: 10px;
                        margin-top: 3px;

                    }
                }



                .fa-share-alt{
                    font-size: 20px;
                    cursor: pointer;
                }
            }

            .videos{
                position: absolute;
                right: 36px;
                bottom: 43px;
                color: #757575;
                font-size: 1.3vw;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-family: Cabin;
            }
        }
    }

    .tabs{
        margin: 30px;

        .tab{
            margin: 0;
            &.home{
                .home-left{
                    &.col-md-10{
                        width: 81.5%;
                    }
                    .info{
                        border-bottom: 1px solid #636363;
                        padding: 30px 0;
                        margin-right: 15px;
                        .player{
                            position: relative;
                            .reward{
                                top: 35px;
                                right: 35px;
                                border-radius: 20px;
                                background-color: #e61419;
                                padding: 0px 10px;
                                font-size: 15px;
                            }
                        }
                        .details{
                            .title{
                                color: #9c9b9b;
                                font-size: 27px;
                                letter-spacing: 3px;
                                text-transform: uppercase;
                                font-family: Cabin;
                                padding: 10px 0 20px;
                            }

                            .desc{
                                font-size: 14px;
                                line-height: 20px;
                                letter-spacing: 0.5px;
                                border-bottom: 1px solid #303030;
                                padding-bottom: 60px;
//                              min-height: 315px;
                            }
                            .share{
                                margin-top: 14px;
                                .icon-share-black-36x37{
                                    float: left;
                                }
                                .reward{
                                    background-color: #fe0000;
                                    -webkit-border-radius: 50px;
                                    -moz-border-radius: 50px;
                                    -ms-border-radius: 50px;
                                    -o-border-radius: 50px;
                                    border-radius: 50px;
                                    float: left;
                                    font-size: 19px;
                                    margin-left: 10px;
                                    margin-top: 3px;
                                    width: 38px;
                                    height: 38px;
                                    text-align: center;
                                    line-height: 39px;
                                }
                            }
                            .social{
                                margin-top: 15px;
                                padding-left: 20px;
                                .icon{
                                    float: left;
                                    margin-right: 20px;
                                }
                                .reward{
                                    background-color: #fe0000;
                                    border-radius: 50px;
                                    padding: 8px 10px;
                                    float: left;
                                    font-size: 20px;
                                    width: 42px;
                                    height: 42px;
                                    letter-spacing: 0.4px;
                                    position: relative;

                                    span{
                                        font-size: 10px;
                                        position: absolute;
                                        top: 10px;
                                        left: 6px;
                                    }

                                }
                            }

                        }
                    }

                }

                .home-right{
                    background-color: #1b1b1b;
                    border: 1px solid #777;
                    padding: 0 30px;

                    &.col-md-2{
                        width: 18.5%;
                    }

                    .offer {
                        margin: 0px 5px 30px 5px;
                        display: block;
                    }

                    .title{
                        color: #898989;
                        font-size: 1.35vw;
                        text-align: center;
                        padding: 30px 0;
                        font-family: Cabin;
                        text-transform: uppercase;
                        letter-spacing: 2.4px;
                    }

                    .all-stars {
                        font-size: 16px;
                        text-align: center;
                        color: #898989;
                        border: 1px solid #979797;
                        //padding: 0.23vw;
                        height:41px;
                        line-height: 41px;
                        letter-spacing: 0.125vw;
                        text-transform: uppercase;
                        border-radius: 40px;
                        //margin: 0.8vw;
                        margin: 0px 10px 40px 10px;

                        &:hover{
                            color: white;
                            border-color: white;
                        }
                    }
                }
            }

            .tab-header{
                border-bottom: 1px solid #a1a1a1;
                margin: 30px 0px;
            }

            .title{
                font-size: 30px;
                color: #aaaaaa;
                letter-spacing: 2px;
                padding: 39px 0px 19px;
                text-transform: uppercase;

                .fa-chevron-right{
                    margin-left: 30px;
                }
            }

            .celebrity-section{
                margin-top: 20px;
                margin-bottom: 20px;
                margin-right: 23px;
            }

            .all-videos {
                font-size: 16px;
                text-align: center;
                color: #9c9b9b;
                border: 1px solid #a1a1a1;
                height: 41px;
                line-height: 41px;
                letter-spacing: 4px;
                text-transform: uppercase;
                border-radius: 50px;
                //margin: 15px 20px;
                margin: 20px auto;
                width: 249px;
            }


            .celeb-videos{

                .video{
                    margin-bottom: 25px;
                }
            }

            .offer{
                margin-bottom: 30px;
            }
        }
    }

}
/*sup*/
sup{
    font-size: 11px;
    top: -6px;
}
