.celebrities-page{
    color:white;
    padding-top: 110px;
    .content{
        padding: 0 30px;
        .charities{
            margin-left: 0px;
            margin-right: 0px;


            .charities-grid{
                transition: 1s;

                .celebrity{
                    padding: 15px;
                }

            }
        }
    }
}
