.celebrity-page {
    color: white;
    background-color: #0E0E0E;
    @media (max-width: @screen-xs-max) {
         padding-top: : 55px;
    }
    .celebrity-page-header {
        position: relative;
        height: 50vh;
        background-position: 50% 0;
        background-size: contain;
        background-attachment: fixed;
        .overlay{
            position: absolute;
            background: rgba(0,0,0,0);
            background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.77));
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.77)));
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.69) 50%, rgba(0,0,0,1) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.77) 100%);
            background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.77) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.77));
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
            bottom: 0;
            left: 0;
            right: 0;
            text-align: left;
            padding: 10px 30px 40px;
            .pic {
                background-position: center;
                background-size: cover;
                width: 132px;
                height: 132px;
                float: left;
                border-radius: 50%;
                margin-right: 20px;
                margin-top: 20px;
            }

            .info{
                float: left;
                .title{
                    font-family: PTSans;
                    font-size: 3.75vw;
                    letter-spacing: 2.3px;

                    @media (max-width: @screen-sm-max){
                            font-size: 35px;
                            letter-spacing:1.9px;
                    }
                }




                .fa-share-alt{
                    font-size: 20px;
                    cursor: pointer;
                }


            }

            .videos{
                position: absolute;
                right: 31px;
                bottom: 35px;
                color: #757575;
                font-size: 21px;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
        }

    }



    .tabs{
        margin: 0px 30px 30px 30px;

        .tab{
            margin:0;
            &.home{
                .home-left{
                    padding: 0;
                    .info{
                        border-bottom: 1px solid #636363;
                        padding: 30px 0;
                        margin: 0 15px;
                        .slider{
                            .carousel-indicators li{
                                border: 0;
                                background-color: #777777;
                                margin-right: 20px;

                                &.active{
                                    border: 1px solid white;
                                    background-color: white;
                                }
                            }

                            .item {
                                background-position: center;
                                background-size: cover;
                                padding-bottom: 56%;
                            }

                            .carousel-control{
                                background: rgba(0,0,0,0);
                                width: 8%;
                                transition: 0.5s;

                                &:hover{
                                    background: rgba(0,0,0,0.5);
                                }
                                .icon{
                                    top: ~"calc(50% - 16.5px)";
                                    position: absolute;

                                }

                                &.left .icon{
                                    left:20px;
                                }
                                &.right .icon{
                                    right:20px;
                                }
                            }
                        }
                        .details{

                            .title{
                                font-size: 27px;
                                color: #aaaaaa;
                                line-height: 37px;
                            }

                            .desc{
                                font-size: 24px;
                            }

                            .donate-btn{
                                background-image: linear-gradient(to right, #930886, #f4010d), linear-gradient(#ffffff, #ffffff);
                                text-align: center;
                                padding: 5px;
                                border-radius: 30px;
                                font-size: 27px;
                                margin-top: 15px;
                                margin-bottom: 15px;
                                transition: 0.5s;

                                .reward{
                                    background-color: #fe0000;
                                    border-radius: 50px;
                                    padding: 5px 8px;
                                    font-size: 19px;
                                    position: absolute;
                                    right: 30px;
                                }

                                &:hover{
                                    opacity: 0.5;
                                }
                            }

                            .social{
                                margin-top: 15px;
                                padding-left: 20px;
                                .fa{
                                    font-size: 40px;
                                    float: left;
                                }
                                .reward{
                                    background-color: #fe0000;
                                    border-radius: 50px;
                                    padding: 5px 8px;
                                    float: left;
                                    font-size: 19px;
                                    margin-left: 10px;
                                    margin-top: 3px;

                                }
                            }
                        }
                    }

                }

                .home-right{
                    background-color: #1b1b1b;
                    border: 1px solid #777;
                    margin-bottom:30px;
                    padding-left: 12px;
                    padding-right: 12px;
                    padding-bottom: 50px;

                    .charity, .brand{
                        padding: 15px;
                    }

                    .title{
                        color: #9c9b9b;
                        font-size: 33px;
                        line-height: 28px;
                        letter-spacing: 3px;
                        text-align: center;
                        padding: 37px 0 23px 0px;
                        text-transform: uppercase;
                    }

                    .all-stars {
                        font-size: 16px;
                        height:41px;
                        line-height: 41px;
                        text-align: center;
                        color: #9c9b9b;
                        border: 1px solid #a1a1a1;
                        letter-spacing: 4px;
                        text-transform: uppercase;
                        border-radius: 40px;
                        margin-bottom: 0px;
                        margin-top: 62px;
                        cursor: pointer;

                        &:hover{
                            color: white;
                            border-color: white;
                        }
                    }
                }
            }

            .tab-header{
                border-bottom: 1px solid #363636;
                margin: 52px 0px 30px 0px;
            }

            .page-title2{
                padding: 0px 15px 20px 0;
                .fa-chevron-right{
                    margin-left: 30px;
                }
            }

            .desc{
                color: #aaa;
                font-size: 20px;

                span{
                    color: white;
                }
            }

            .celebrity-section{
                margin: 20px 15px;
            }

            .all-videos {
                font-size: 18px;
                text-align: center;
                color: #9c9b9b;
                border: 1px solid #a1a1a1;
                padding: 2px;
                letter-spacing: 2.3px;
                text-transform: uppercase;
                border-radius: 40px;
                margin: 15px 20px;
                margin: 20px auto;
                width: 260px;
            }



            .tab-details{
                margin: 0 15px;
            }

            .celeb-videos{

                .video{
                    margin-bottom: 25px;
                }
            }
        }
    }

}
