.charities-page{
    color:white;

    padding: 0 30px;
    padding-top: 110px;
    .content{
        .charities{




            .charities-grid{
                transition: 1s;
                .charity{
                    padding: 15px;
                }
            }
        }
    }
}
