.main-page {
    position: relative;
    padding-bottom: 6vh;
    .homeCarousel {
        font-family: 'PTsans', arial, 'Lato', sans-serif;
        position: absolute;
        width: 100%;
        height: ~"calc(60vh - 80px)";
        top: 80px;
        z-index: 1;
        color: white;
        @media (max-width: 800px) {
            width: 90%;
            margin-left: 5%;

        }
        .carousel-control {
            &.left, &.right {
                background-image: none;
                .icon-arrow-left-20x33 {
                    position: absolute;
                    top: 50%;
                    left: 26px;
                    margin-top: -15px;
                }
                .icon-arrow-right-20x33 {
                    position: absolute;
                    top: 50%;
                    right: 26px;
                    margin-top: -15px;
                }
            }
        }
        .carousel-indicators {
            li {
                width: 6px;
                border: none;
                height: 6px;
                margin: 1px 6px;
                background-color: rgba(255,255,255,0.3);
                &.active {
                    background-color: rgba(255,255,255,0.9);
                    margin: 1px 6px;
                }
            }
        }
        .item {
            margin-top: ~"calc(30vh - 164px)";
            text-align: center;
            .header-text {
                line-height: 1;
                font-weight: bold;
                font-size: 3.12vw;
                letter-spacing: 1.2px;
                @media (max-width: 800px) {
                    font-size: 50px;
                }
                @media (max-width: 730px) {
                    font-size: 40px;
                }
                @media (max-width: 560px) {
                    font-size: 34px;
                }
            }
            .span-text {
                font-family: Cabin;
                letter-spacing: 2px;
                font-size: 1.16vw;
                @media (max-width: 560px) {
                    font-size: 14px;
                }
            }
            .span-text2{
                font-family: Cabin;
                letter-spacing: 2px;
                font-size: 27px;
                @media (max-width: 560px) {
                    font-size: 16px;
                }
            }
            .signup-btn {
                font-family: Cabin;
                cursor: pointer;
                margin-top: 34px;
                padding: 15px 80px;
                display: inline-block;
                border-radius: 100px;
                background-image: linear-gradient(to right, #930887, #f00), linear-gradient(#f00, #f00);
                color: white;
                transition: 0.2s;
                font-size: 18px;
                letter-spacing: 1.4px;
                line-height: 19px;
                &:hover {
                    background-color: #141414;
                }
            }
        }
    }
    .top-video {
        height: 60vh;
        overflow: hidden;
        position: relative;
        .overflow-bg {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.33);
            background-image: url('/assets/theme/clixtv/images/net.png');
        }
        video {
            width: 100%;
            @media (max-width: 1100px){
                width: 120%;
                margin-left: -10%;
            }
            @media (max-width: 890px){
                width: 140%;
                margin-left: -20%;
            }
            @media (max-width: 760px){
                width: 160%;
                margin-left: -30%;
            }
            @media (max-width: 665px){
                width: 180%;
                margin-left: -40%;
            }
            @media (max-width: 600px){
                width: 200%;
                margin-left: -50%;
            }
            @media (max-width: 535px){
                width: 220%;
                margin-left: -60%;
            }
            @media (max-width: 485px){
                width: 240%;
                margin-left: -80%;
            }
        }
    }
    .carousel-row{
        padding: 20px 18px;
        padding-right: 0px;
        @media(max-width: @screen-xs-max){
            padding: 20px 0;
        }
        .page-title2{
            margin: 15px 8px;
            font-weight: 500;
            display: inline-block;
            cursor: pointer;
            position: relative;
            padding: 0;

            .icon{
                position: absolute;
                top:50%;
                margin-top: -9px;
                right: -25px;
                transform: scale(1.4);
            }

            &:hover{
                color: #e0e0e0;

                .icon{
                    background-image: url('/assets/theme/clixtv/images/sprite/right-arrow-white-12-23.png');
                    background-position: center;
                    background-size: cover;
                }
            }

            span{
                display: inline-block;
            }
        }

        .carousel{

        }
    }

}
