.offer-page {
    color: white;
    background-color: #0E0E0E;
    @media (max-width: @screen-xs-max) {
         padding-top: : 55px;
    }
    .offer-page-header {
        position: relative;
        height: 50vh;
        background-position: 50% 0;
        background-size: contain;
        background-attachment: fixed;
        .overlay{
            position: absolute;
            background: rgba(0,0,0,0);
            background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.77));
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.77)));
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.69) 50%, rgba(0,0,0,1) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.77) 100%);
            background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.77) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.77));
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
            bottom: 0;
            left: 0;
            right: 0;
            text-align: left;
            padding: 10px 30px 40px;
            .pic {
                background-position: center;
                background-size: cover;
                width: 111px;
                height: 111px;
                float: left;
                border-radius: 50%;
                margin-right: 20px;
            }

            .info{
                float: left;
                .title{
                      font-size: 35px;
                        letter-spacing: 1.6px;
                        line-height: 50px;
                        margin-bottom: 20px;
                    @media (max-width: @screen-sm-max){
                            font-size: 35px;
                            letter-spacing:1.9px;
                    }
                }





                .share{
                    display: inline-block;
                    float: left;
                    margin-top: 5px;
                    .icon{
                        font-size: 40px;
                        float: left;
                    }

                    &:hover .icon{
                        background-image: url("/assets/theme/clixtv/images/sprite/share-gray-hover-39x40.png");
                        background-size: cover;
                        background-position: center;
                    }
                    .reward{
                        background-color: #fe0000;
                        border-radius: 50px;
                        padding: 8px 3px;
                        float: left;
                        font-size: 14px;
                        margin-left: 10px;
                        margin-top: 3px;
                        height: 30px;
                        width: 30px;
                    }
                }



                .fa-share-alt{
                    font-size: 20px;
                    cursor: pointer;
                }
            }

            .videos{
                position: absolute;
                right: 36px;
                bottom: 40px;
                color: #757575;
                font-size: 14px;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-family: Cabin;
            }
        }
    }

    .tabs{
        margin:0px 30px 30px 30px;

        .tab{

            &.home{
                margin-right: 0;
                margin-top: 30px;
                .home-left{
                    &.col-md-10{
                        width: 81.5%;
                    }
                    .info{
                        //border-bottom: 1px solid #636363;
                        margin-right: 15px;
                        margin-left: 0;
                        margin-bottom: 90px;
                        .slider{
                            padding: 0;

                            &.col-sm-7{
                                width: 60%;
                            }

                            .carousel-indicators li{
                                border: 0;
                                background-color: #777777;
                                margin-right: 20px;

                                &.active{
                                    border: 1px solid white;
                                    background-color: white;
                                }
                            }

                            .item {
                                background-position: center;
                                background-size: cover;
                                padding-bottom: 56%;
                            }

                            .carousel-control{
                                background: rgba(0,0,0,0);
                                width: 8%;
                                transition: 0.5s;

                                &:hover{
                                    background: rgba(0,0,0,0.5);
                                }
                                .icon{
                                    top: ~"calc(50% - 16.5px)";
                                    position: absolute;

                                }

                                &.left .icon{
                                    left:20px;
                                }
                                &.right .icon{
                                    right:20px;
                                }
                            }
                        }
                        .details{
                            &.col-sm-5{
                                width: 40%;
                            }

                            .title{
//                                font-size: 45px;
//                                font-family: PTSans-Bold;
//                                padding: 0;
//                                margin-bottom: 15px;
                                font-size: 30px;
                                font-family: PTSans;
                                padding: 0;
                                margin-bottom: 20px;
                                font-weight: normal;
                                color: #8a8a8a;  
                                text-transform: capitalize;
                                    letter-spacing: inherit;
                            }

                            .desc{
                                font-size: 14px;
                                line-height: 20px;
                                letter-spacing: 1.2px;
                                color: #8b8a8a;
                                p{
                                    font-size: 16px;
                                    margin-bottom: 30px;
                                    line-height: 20px;
                                    .paragraph{
                                        position: absolute;
                                        margin-left: 25px;
                                    }
                                    .round{
                                        color: white;
                                        border-radius: 50%;
                                        border: 1px solid #fe0000;
                                        height: 37px;
                                        width: 37px;
                                        display: inline-block;
                                        padding: 8px 0px 0px 0px;
                                        text-align: center;
                                        position: relative;
                                        left: 0px;
                                        font-size: 20px;

                                    }
                                }
                             
                            }

                            .save-offer-btn{
                                border-radius: 100px;
                                background-image: linear-gradient(to left, #fa0d1b, #911685);
                                margin-top: 40px;
                                padding: 2px 2px 2px 2px;
                                cursor: pointer;
                                text-align: center;
                                width: 203px;
                                height: 37px;
                                .save-offer-btn-content{
                                    background-color: #0e0e0e;
                                    font-size: 11px;
                                    text-transform: uppercase;
                                    letter-spacing: 2.3px;
                                    display: inline-block;
                                    border-radius: 100px;
                                    width: 100%;
                                    line-height: 28px;
                                    font-family: cabin;
                                    font-weight: 400;
                                }

                                &:hover .save-offer-btn-content{
                                    background-color: transparent;
                                }

                            }

                            .donate-btn{
                                background-image: linear-gradient(to right, #930886, #f4010d), linear-gradient(#fff, #fff);
                                text-align: center;
                                padding: 0;
                                border-radius: 100px;
                                font-size: 11px;
                                height: 32px;
                                line-height: 31px;
                                margin-top: 40px;
                                margin-bottom: 15px;
                                transition: 0.5s;
                                text-transform: uppercase;
                                letter-spacing: 2.3px;
                                font-family: Cabin;
                                font-weight: 400;
                                width: 205px;

                                &:hover{
                                    opacity: 0.5;
                                }
                            }

                            .reward{
                                background-color: #fe0000;
                                border-radius: 50px;
                                padding: 1px 0px 2px 0px;
                                float: right;
                                font-weight: 400;
                                font-size: 14px;
                                margin-left: 10px;
                                margin-top: 0px;
                                height: 30px;
                                width: 30px;
                                position: relative;
                                left: -2px;
                                letter-spacing: 0px;
                                top: 1px;
                            }

                            .social{
                                    margin-top: 15px;
                                    padding-left: 0px;
                                    position: absolute;
                                    bottom: 0px;
                                .icon{
                                    font-size: 40px;
                                    float: left;
                                }

                                &:hover .icon{
                                    background-image: url("/assets/theme/clixtv/images/sprite/share-gray-hover-39x40.png");
                                    background-size: cover;
                                    background-position: center;
                                }
                                .reward{
                                    float: left;
                                    margin-left: 10px;
                                    margin-top: 3px;
                                    right: initial;
                                    padding: 6px 0px 2px 2px;
                                }
                            }
                        }
                    }
                }

                .home-right{
                    background-color: #1b1b1b;
                    border: 1px solid #777;
                    padding: 0 42px;

                    &.col-md-2{
                        width: 18.5%;
                    }

                    .title{
                        color: #898989;
                        font-size: 14px;
                        text-align: center;
                        padding: 30px 0;
                        font-family: Cabin;
                        text-transform: uppercase;
                        letter-spacing: 1.6px;
                    }

                    .all-stars {
                        font-size: 11px;
                        text-align: center;
                        color: #898989;
                        border: 1px solid #979797;
                        letter-spacing: 0.125vw;
                        text-transform: uppercase;
                        border-radius: 40px;
                        font-family: Cabin;
                        height: 41px;
                        line-height: 41px;
                        margin: 60px 20px 50px 20px;

                        &:hover{
                            color: white;
                            border-color: white;
                        }
                    }
                }
            }

            &.offers{
                .offer{
                    margin-bottom: 30px;
                }
            }

            .tab-header{
                border-bottom: 1px solid #a1a1a1;
                margin: 0;
                margin-bottom: 50px;
                .page-title2{
                    padding: 40px 15px 20px 0;
                }
            }

            .title{
                font-size: 24px;
                color: #aaaaaa;
                letter-spacing: 3.5px;
                padding: 0px 15px;
                text-transform: uppercase;
                margin-bottom: 0px;

                .fa-chevron-right{
                    margin-left: 30px;
                }
            }

            .desc{
                color: #8b8b8b;
                font-size: 14px;
                line-height: 20px;

                span{
                    color: white;
                }
            }

            .celebrity-section{
                margin: 20px 15px;
                padding-right: 23px;

            }

            .all-videos {
                font-size: 18px;
                text-align: center;
                color: #9c9b9b;
                border: 1px solid #a1a1a1;
                padding: 2px;
                letter-spacing: 2.3px;
                text-transform: uppercase;
                border-radius: 40px;
                margin: 15px 20px;
                margin: 20px auto;
                width: 260px;
            }


            .tab-details{
                //margin: 0 15px;
                   .title{
                                    margin-bottom: 30px;
                                }
            }

            .celeb-videos{

                .video{
                    margin-bottom: 25px;
                }
            }
        }
    }

}
