.offers-page{
    color:white;
    padding: 0 30px;
    padding-top: 110px;

    .tabs-selectors{
        border-bottom: 1px solid #292929;
        margin: 10px 0px;
        .tab-selector{
            display: inline-block;
            padding: 10px 0px;
            margin: 0 30px 0 0;
            font-size: 24px;
            color: #8a8a8a;
            cursor: pointer;
            font-family: Cabin;
            text-transform: uppercase;
            letter-spacing: 2.5px;

            &:hover, &.active{
                color: white;
                border-bottom: 4px solid #fe0000;
                padding-bottom: 6px;
            }
        }
    }


    .tabs{
        margin: 30px 0;
        .tab{

            .brand, .charity{
                padding: 15px;
            }
        }
    }
}
