.video-page {
    color: white;
    padding-top: 123px;
    overflow: hidden;
    margin: 0 30px;
    @media (max-width: @screen-xs-max) {
         padding-top: : 55px;
    }

    .content{

        .left-side{
            .player{
                margin-bottom: 20px;
            }
            .title{
                font-size: 29px;
                color: #aaaaaa;
                letter-spacing: 2px;
                padding: 10px 0px 20px;
            }

            .tab-header{
                border-bottom: 1px solid #a1a1a1;
                margin: 0px;
            }

            .title{
                font-size: 29px;
                color: #aaaaaa;
                letter-spacing: 2px;
                padding: 15px 0;
                text-transform: uppercase;

                .fa-chevron-right{
                    margin-left: 30px;
                }
            }

            .videos{
                padding-top: 20px;

                .video{
                    padding-left: 13px;
                    padding-right: 13px;
                    margin-bottom: 37px;
                }
            }
        }

        .right-side{
            .video-details{
                min-width: 16vw;
                padding-bottom: 16vw;
                -moz-transition: 1s ease;
                -webkit-transition: 1s ease;
                -o-transition: 1s ease;
                transition: 1s ease;
                overflow: hidden;

                .header{
                    padding: 0.6vw;
                    .title{
                        font-size: 1.7vw;
                        color: white;
                        font-weight: bold;
                        display: inline-block;
                        padding: 0;
                        line-height: 2.65vw;
                        text-transform: capitalize;
                        font-family: PTSans;
                    }

                    .pic {
                        width: 2.65vw;
                        height: 2.65vw;
                        float: left;
                        background-position: center;
                        background-size: cover;
                        margin-right: 1.05vw;
                        border-radius: 50%;
                    }

                    .star {
                        float: right;
                        font-size: 1.8vw;
                        margin-top: 0.7vw;
                        color: #747474;
                        vertical-align: top;

                        &:hover{
                            color: white;
                            .icon-favorite-normal-video-top{
                                background-image: url('/assets/theme/clixtv/images/sprite/favorite-hover-video-top.png');
                                background-position: center;
                                background-size: cover;

                            }
                        }
                    }
                }

                .social{
                    padding: 1.2vw 0;
                    border-bottom: 1px solid #636363;
                    margin: 0;
                    white-space: nowrap;
                    .reward{
                        display: inline-block;
                        padding: 0.1vw 1vw;
                        background-color: #fe0000;
                        border-radius: 2vw;
                        font-size: 1.3vw;
                        text-align: center;
                        font-family: Cabin;
                        font-weight: bold;
                        vertical-align: top;

                        span{
                            font-size: 0.85vw;
                            vertical-align: text-top;
                        }
                    }

                    .likes{
                        display: inline-block;
                        margin-left: 2.1vw;

                        .icon{
                            font-size: 1.9vw;
                            color: #979797;
                            margin-right: 0.6vw;
                            display:inline-block;

                            &:hover{
                                background-image: url('/assets/theme/clixtv/images/sprite/like-icon-hover.png');
                                background-position: center;
                                background-size: cover;
                            }
                        }

                        span{
                            font-size: 1.3vw;
                            color: #828282;
                            vertical-align: super;
                        }
                    }

                    .add{
                        display: inline-block;
                        font-size: 1.5vw;
                        cursor: pointer;
                        margin-left: 1.7vw;
                        .icon{
                            transform: scale(1.2);

                            &:hover{
                                background-image: url("/assets/theme/clixtv/images/sprite/plus-circle-black-33x33.png");
                                background-size: cover;
                                background-position: center;
                            }
                        }
                    }

                    .share{
                        display: inline-block;
                        font-size: 1.7vw;
                        margin-left: 1.9vw;
                        vertical-align: text-bottom;

                        .icon{
                            float: left;
                        }

                        &:hover .icon{
                            background-image: url("/assets/theme/clixtv/images/sprite/share-gray-hover-39x40.png");
                            background-size: cover;
                            background-position: center;
                        }

                        .reward-points{
                            margin-left: 1vw;
                            font-size: 1.1vw;
                            background-color: #fe0000;
                            padding: .3vw .2vw;
                            border-radius: 50%;
                            float: left;
                            width: 2.1vw;
                            height: 2.1vw;

                            span{
                                vertical-align: top;
                                font-size: 0.8vw;
                            }
                        }
                    }
                }

                .video-name{
                    font-size: 1.77vw;
                    padding: .9vw 0 0;
                    font-family: LucidaGrande;
                    letter-spacing: -0.05vw;
                }

                .episode{
                    font-size: 1.8vw;
                    color: #f71415;
                    font-family: Cabin;
                    letter-spacing: -0.03vw;
                    text-transform: uppercase;
                }

                .statistics{
                    color: #8b8b8b;
                        font-size: 0.9vw;
                        letter-spacing: 0.01vw;
                        line-height: 1.5vw;
                    span{
                        font-family: Cabin;
                        font-size: 0.9vw;
                        letter-spacing: 0.08vw;
                        text-transform: uppercase;
                    }
                }

                .video-desc{
                    padding: .8vw 0;
                    font-size: 1.25vw;
                    line-height: 1.5vw;
                    letter-spacing: -0.03vw;


                }

                .video-categories {
                    color: #828282;
                    font-size: 1.2vw;
                    font-family: Cabin;
                    text-transform: uppercase;
                    line-height: 1.5vw;

                    .video-category{
                        color: white;
                        text-transform: capitalize;
                    }
                }

                .show-more-brands{
                    position: absolute;
                    bottom: 0;
                    padding-top: 50px;
                    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(14,14,14,0.5) 8%, #0e0e0e 24%);
                    width: ~"calc(100% - 30px)";


                    .show-more {
                        color: #6e6e6e;
                        display: table;
                        text-align: center;
                        border: 2px solid #343434;
                        border-radius: 2vw;
                        font-size: 0.9vw;
                        font-family: Cabin;
                        cursor: pointer;
                        text-transform: uppercase;
                        letter-spacing: 0.08vw;
                        padding: 1px 2vw;
                        margin: 1vw auto;

                        &:hover{
                            color: white;
                            border-color: white;
                        }
                    }

                    .video-brands{
                        border-top: 1px solid #636363;
                        margin-top: 0.4vw;
                        padding-top: 0.4vw;
                        overflow: auto;


                        .brands{
                            float: left;
                            &.left{
                                width: 80%;
                            }

                            &.right{
                                width: 20%;
                            }
                            .brands-title{
                                color: #ae2eff;
                                letter-spacing: 0.33vw;
                                font-family: Cabin;
                                padding-left: 0.4vw;
                                margin-bottom: 0.2vw;
                                font-size: 0.8vw;
                                text-transform: uppercase;

                                &.charities{
                                    color: #E52BC4;
                                }
                            }

                            .offer{
                                    padding: 0 0.2vw;
                                    width: 25%;
                                    display: inline-block;
                                    background-image: radial-gradient(circle at 0 100%, #c60548, #7a0ba8);
                                    background-clip: content-box;

                                    &.charity{
                                        width: 100%;
                                        background-image: radial-gradient(circle at 0 100%, #03bcf2, #ed00e5 40%, #f700e6);
                                    }

                                    &:hover{
                                        .overlay{
                                            background-color: rgba(0,0,0,0.8);
                                        }
                                    }

                                    .offer-img{
                                        background-position: center;
                                        background-size: 80%;
                                        padding-bottom: 100%;
                                        background-repeat: no-repeat;

                                        .overlay{
                                            position: absolute;
                                            top: 0;
                                            bottom: 0;
                                            left: 0;
                                            right: 0;


                                        }
                                    }

                                    .reward{
                                        bottom: 0.5vw;
                                        right: 0.6vw;
                                        background-color: #fe0000;
                                        padding: 0.2vw 0.3vw;
                                        border-radius: 50%;
                                        height: 1.4vw;
                                        width: 1.4vw;
                                        font-size: 0.75vw;
                                    }
                            }
                        }



                    }
                }





                .desc{
                    font-size: 24px;
                }

                .donate-btn{
                    background-image: linear-gradient(to right, #7084e0, #ff2aed), linear-gradient(#fff, #fff);
                    text-align: center;
                    padding: 5px;
                    border-radius: 30px;
                    font-size: 27px;
                    margin-top: 15px;
                }
            }

            .right-content{
                background-color: #1b1b1b;
                border: 1px solid #777;
                margin: 0;
                padding: 15px 7px 15px 23px;

                .video{
                    padding-left: 7.5px;
                    padding-right: 7.5px;
                    margin-bottom: 23px;
                }
            }

            .title{
                color: #949494;
                font-size: 30px;
                text-align: center;
                padding: 0;
                font-family: Cabin;
                margin-bottom: 10px;
                text-transform: uppercase;
                letter-spacing: 3px;
                margin-top: 5px;
            }

            .all-stars {
                font-size: 16px;
                text-align: center;
                color: #949494;
                border: 1px solid #a1a1a1;
                padding: 4px;
                letter-spacing: 4.4px;
                text-transform: uppercase;
                border-radius: 40px;
                margin-bottom: 10px;
                margin-top: 10px;

                &:hover{
                    color: white;
                    border-color: white;
                }
            }
        }
    }
}
