/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-clixtv-footer-logo {
  background-image: url(images/layout-sprite.png);
  background-position: -148px -31px;
  width: 136px;
  height: 30px;
}
.icon-colorful-clix-logo {
  background-image: url(images/layout-sprite.png);
  background-position: -148px 0px;
  width: 136px;
  height: 31px;
}
.icon-gradient-border-right {
  background-image: url(images/layout-sprite.png);
  background-position: -148px -90px;
  width: 18px;
  height: 36px;
}
.icon-gradient-button-left {
  background-image: url(images/layout-sprite.png);
  background-position: -166px -90px;
  width: 18px;
  height: 36px;
}
.icon-play-button-click {
  background-image: url(images/layout-sprite.png);
  background-position: 0px 0px;
  width: 74px;
  height: 68px;
}
.icon-play-button-hover {
  background-image: url(images/layout-sprite.png);
  background-position: -74px 0px;
  width: 74px;
  height: 68px;
}
.icon-play-button-normal {
  background-image: url(images/layout-sprite.png);
  background-position: 0px -68px;
  width: 73px;
  height: 68px;
}
.icon-save-icon-click {
  background-image: url(images/layout-sprite.png);
  background-position: -148px -61px;
  width: 28px;
  height: 29px;
}
.icon-save-icon-hover {
  background-image: url(images/layout-sprite.png);
  background-position: -176px -61px;
  width: 28px;
  height: 29px;
}
.icon-save-icon-normal {
  background-image: url(images/layout-sprite.png);
  background-position: -204px -61px;
  width: 28px;
  height: 29px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-clixtv-footer-logo {
    background-image: url(images/layout-sprite@2x.png);
    background-size: 284px 136px;
  }
  .icon-colorful-clix-logo {
    background-image: url(images/layout-sprite@2x.png);
    background-size: 284px 136px;
  }
  .icon-gradient-border-right {
    background-image: url(images/layout-sprite@2x.png);
    background-size: 284px 136px;
  }
  .icon-gradient-button-left {
    background-image: url(images/layout-sprite@2x.png);
    background-size: 284px 136px;
  }
  .icon-play-button-click {
    background-image: url(images/layout-sprite@2x.png);
    background-size: 284px 136px;
  }
  .icon-play-button-hover {
    background-image: url(images/layout-sprite@2x.png);
    background-size: 284px 136px;
  }
  .icon-play-button-normal {
    background-image: url(images/layout-sprite@2x.png);
    background-size: 284px 136px;
  }
  .icon-save-icon-click {
    background-image: url(images/layout-sprite@2x.png);
    background-size: 284px 136px;
  }
  .icon-save-icon-hover {
    background-image: url(images/layout-sprite@2x.png);
    background-size: 284px 136px;
  }
  .icon-save-icon-normal {
    background-image: url(images/layout-sprite@2x.png);
    background-size: 284px 136px;
  }
}
