.ped-carousel-container{
//    height: 220px;
    .ped-carousel{
            margin: 10px 26px;
            color: white;
    //        height: 100%;

            width: ~"calc(100% - 52px)";
            position: relative;
            @media (max-width: @screen-xs-max) {
    //            height: 50vw;
                overflow-x: scroll;
                -webkit-overflow-scrolling: touch;
            }
            &:hover {
                .arrow-right, .arrow-left {
                    opacity: 0.5;
                }
            }
            .arrow-right {
                z-index: 2;
                position: absolute;
                height: 100%;
                width: 65px;
                right: 0;
                top: 0;
                opacity: 1;
                transition: 0.5s ease;
                &:hover, &:focus {
                    opacity: 1;
                }
                &.opacity0 {
                    opacity: 0;
                }
                .icon-arrow-right-32x83 {
                    cursor: pointer;
                    position: absolute;
                    right: 10px;
                    z-index: 1;
                    top: ~"calc(50% - 42px)";
                }
            }
             .arrow-left {
                z-index: 2;
                 position: absolute;
                 height: 100%;
                 width: 65px;
                 left: 0;
                 top: 0;
                 opacity: 1;
                 transition: 0.5s ease;
                 &:hover, &:focus {
                     opacity: 1;
                 }
                 &.opacity0 {
                     opacity: 0;
                 }
                .icon-arrow-left-32x83 {
                    cursor: pointer;
                    top: ~"calc(50% - 42px)";
                    position: absolute;
                    left: 10px;
                    z-index: 1;
                }
            }

            .row__inner {
                background-color: transparent;
                left: 0%;
                position: relative;
        //        height: 100%;
                transition-delay: 0ms;
                transition: 1s ease;
                -webkit-transition: 1s ease;
            //    position: absolute;
                font-size: 0;
                white-space: nowrap;

                &.moveLeft {
                    left: -100%;
                }
            }
            .tile {
                margin-top: 2vw;
                margin-bottom: 2vw;
                vertical-align: middle;
                background-color: transparent;
                height: 13vw;
                width: ~"calc(25vw - 12px)";
                position: relative;
                display: inline-block;
                margin-right: 10px;
                font-size: 20px;
                cursor: pointer;
                transition-delay: 0ms;
                -webkit-transition: 450ms all;
                transition: 450ms all;
                -webkit-transform-origin: center left;
                transform-origin: center left;
                @media (min-width: @screen-xs-max) and (max-width: @screen-sm-max) {
                    width: ~"calc(49vw - 6px)";
                    height: 25vw;

                }

                @media (min-width: @screen-sm-max) and (max-width: @screen-md-max) {
                    width: ~"calc(33vw - 10px)";
                    height: 18vw;

                }

                @media (max-width: @screen-xs-max) {
                    width: 96vw;
                    height: 48vw;

                }
                .tile-content {
                    background-position: center;
                    background-size: cover;
                    height: 100%;
                    background-repeat: no-repeat;
                    transition: 0.5s;

                    .subscribe {
                        font-size: 16px;
                        text-align: center;
                        width: 110px;
                        height: 22px;
                        background-color: #ff1c63;
                    }

                    .free {
                        background-color: #3e5697;
                    }

                    .info {
                        left: 0;
                        right: 0;
                        bottom: 0;
                        transition: 0.5s;
                        padding: 3px 15px;
                        background-color: rgba(255,255,255,0.5);

                        .title {
                            font-size: 14px;
                            color: rgba(0, 53, 63,1);
                            font-weight: 500;
                            transition: 0.5s;
                            height: 40px;
                            overflow: hidden;

                            .expiry {
                                color: rgb(74, 74, 74,1);
                                font-size: 12px;
                                display: block;
                                transition: 0.5s;
                            }
                        }



                        .desc{
                            height: 0;
                            white-space: normal;
                            font-size: 12px;
                            line-height: 15px;
                            overflow: hidden;
                            color: white;
                            padding-bottom: 6px;
                            opacity: 0;
                            transition: 0.5s;
                        }

                    }



                    &:hover{
                        z-index: 1;
                        transform: scale(1.2);
                        box-shadow: 0px 0px 25px black;

                        .info{
                            background-color: rgba(0,0,0,0.5);
                        }

                        .title {
                            color: rgba(255,255,255,1);
                            display: inline-block;

                            .expiry {
                                color: rgba(255,255,255,1);
                                margin-left: 5px;
                                display: inline-block;
                            }

                        }



                        .desc{
                            height: 45px;
                            opacity: 1;
                        }
                    }
                }

            }

            .tile__details:before {
              position: absolute;
              top: 50%;
              left: 50%;
              display: #000;
            }

            .row__inner {
                &.unhover:hover{
                    .tile:hover {
                        height: 10.1vw;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        opacity: 1;
                        @media (max-width: @screen-xs-max) {
                            height: 27vw;
                        }
                    }
                    .tile:hover ~ .tile {
                        -webkit-transform: translate3d(0, 0, 0);
                        transform: translate3d(0, 0, 0);
                    }
                }
            }
        }
}
