.vtt-carousel-container{
    .vtt-carousel{
            color: white;

            width: ~"calc(100%)";
            position: relative;
            @media (max-width: @screen-xs-max) {
                overflow-x: scroll;
                -webkit-overflow-scrolling: touch;
            }
            &:hover {
                .arrow-right, .arrow-left {
                    opacity: 0.5;
                }
            }
            .arrow-right {
                z-index: 2;
                position: absolute;
                height: 100%;
                width: 10vw;
                right: 0;
                top: 0;
                opacity: 1;
                transition: 0.5s ease;
                background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(26,23,24,1) 75%, rgba(35,31,32,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(26,23,24,1) 75%,rgba(35,31,32,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(26,23,24,1) 75%,rgba(35,31,32,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#231f20',GradientType=1 ); /* IE6-9 */

                .icon-arrow-right-small {
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    z-index: 1;
                    top: ~"calc(50% - 30px)";
                }
            }
             .arrow-left {
                z-index: 2;
                 position: absolute;
                 height: 100%;
                 width: 10vw;
                 left: 0;
                 top: 0;
                 opacity: 1;
                 transition: 0.5s ease;
                background: -moz-linear-gradient(left, rgba(35,31,32,1) 0%, rgba(26,23,24,1) 25%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, rgba(35,31,32,1) 0%,rgba(26,23,24,1) 25%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba(35,31,32,1) 0%,rgba(26,23,24,1) 25%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231f20', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

                .icon-arrow-left-small {
                    cursor: pointer;
                    top: ~"calc(50% - 30px)";
                    position: absolute;
                    left: 0;
                    z-index: 1;
                }
            }

            .row__inner {
                background-color: transparent;
                left: 1.5vw;
                position: relative;
                transition-delay: 0ms;
                transition: 1s ease;
                -webkit-transition: 1s ease;
                font-size: 0;
                white-space: nowrap;

                &.moveLeft {
                    left: -100%;
                }
            }
            .tile {
                margin-top: 1.5vw;
                margin-bottom: 1.5vw;
                vertical-align: middle;
                background-color: transparent;
                height: 11.25vw;
                width: 18vw;
                height: 10vw;
                position: relative;
                display: inline-block;
                margin-right: 1.5vw;
                font-size: 20px;
                cursor: pointer;
                transition-delay: 0ms;
                -webkit-transition: 450ms all;
                transition: 450ms all;
                -webkit-transform-origin: center left;
                transform-origin: center left;

                &.vertical{
                    width: 14vw;
                    height: 21.5vw;
                    .tile-content{
                        padding-bottom: 153% !important;
                    }
                }
                @media (min-width: @screen-xs-max) and (max-width: @screen-sm-max) {
                    width: ~"calc(44.5vw - 6px)";
                    height: 25vw;
                    &.vertical{
                        width: 15.9vw;
                        height: 24.5vw;
                    }

                }

                @media (min-width: @screen-sm-max) and (max-width: @screen-md-max) {
                    width: ~"calc(28vw - 10px)";
                    height: 16vw;
                    &.vertical{
                        width: 20.2vw;
                        height:31vw
                    }

                }

                @media (max-width: @screen-xs-max) {
                    width: 96vw;
                    height: 53.76vw;
                    &.vertical{
                        width: 91vw;
                        height: 139vw;
                    }

                }
                .tile-content {
                    background-position: center;
                    background-size: cover;
                    padding-bottom: 56%;
                    background-repeat: no-repeat;
                    transition: 0.5s;

                    .subscribe , .free , .member{
                        font-size: 24px;
                        text-align: center;
                        padding: 5px 40px;

                    }

                    .subscribe{
                        background-color: #ff1c63;
                    }

                    .free {
                        background-color: #038d7f;
                    }

                    .member {
                        background-color: #a10c99;
                    }

                    .info {
                        left: 0;
                        right: 0;
                        bottom: 0;
                        transition: 0.5s;

                        background-color: rgba(35, 31, 32, 0.7);

                        .title {
                            padding: 10px 15px;
                            font-size: 21px;
                            color: white;
                            font-weight: 500;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        .desc{
                            padding: 10px 15px;
                        }

                        .date{
                            padding: 10px 15px;
                        }
                    }
                    &:hover{
                        z-index: 1;
                        transform: scale(1.2);
                        box-shadow: 0px 0px 25px black;

                    }
                }

            }

            .tile__details:before {
              position: absolute;
              top: 50%;
              left: 50%;
              display: #000;
            }

            .row__inner {
                &.unhover:hover{
                    .tile:hover {
                        height: 10.1vw;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        opacity: 1;
                        @media (max-width: @screen-xs-max) {
                            height: 27vw;
                        }
                    }
                    .tile:hover ~ .tile {
                        -webkit-transform: translate3d(0, 0, 0);
                        transform: translate3d(0, 0, 0);
                    }
                }
            }
        }
}
