<div class="clix-about-page">
    <div class="about-header">
        Premium content from your favorite stars.
    </div>
    <div class="header-container">
        <div class="about-tagline">
            Click. Watch. Share. Get Rewards.
        </div>
        <div class="about-signup-button">
            <clix-primary-button ng-click="onSignUpPress()" ng-hide="loggedInUser">
                Sign Up Free
            </clix-primary-button>
        </div>
        <div class="about-header">
            What is ClixTV?
        </div>
        <div class="row about-callout-row">
            <div class="col-sm-3 about-callout-block">
                <div class="icon-gradient-clix-icon about-callout-icon"></div>
                <div class="about-callout-separator"></div>
                <div class="about-callout-title">
                    Premium Video
                </div>
                <p class="about-callout-desc">
                    Short video series from your favorite stars and influencers, showcasing their passions, hobbies, games and antics.
                </p>
            </div>
            <div class="col-sm-3 about-callout-block">
                <div class="icon-charities-icon-bottom-nav about-callout-icon"></div>
                <div class="about-callout-separator"></div>
                <div class="about-callout-title">
                    Charity
                </div>
                <p class="about-callout-desc">
                    You have the opportunity to donate your reward points to any of the ClixTV supported charities.
                </p>
            </div>
            <div class="col-sm-3 about-callout-block">
                <div class="icon-offers-icon about-callout-icon"></div>
                <div class="about-callout-separator"></div>
                <div class="about-callout-title">
                    Discounts
                </div>
                <p class="about-callout-desc">
                    Each ClixTV video is paired with discounts, offers and coupons from your favorite brands.
                </p>
            </div>
            <div class="col-sm-3 about-callout-block">
                <div class="icon-rewards-icon-left-nav about-callout-icon"></div>
                <div class="about-callout-separator"></div>
                <div class="about-callout-title">
                    Rewards
                </div>
                <p class="about-callout-desc">
                    Wherever you see a green badge, you can earn reward points. Reward points have a cash value that you can use on offers, transfer to a PayPal account, or a Visa Prepaid Card USD or Amazon.com Gift Card.
                </p>
            </div>
        </div>
    </div>
    <div class="body-container">
        <div class="about-header">
            Plays on all your devices
        </div>
        <div class="about-devices-image-container">
            <img src="/assets/theme/clixtv/dist/images/about-us-devices.png" srcset="/assets/theme/clixtv/dist/images/about-us-devices@2x.png 2x" />
        </div>
    </div>
    <div class="footer-container">
        <div class="about-header">
            ClixTV is FREE.<br />And always will be.
        </div>
        <div class="about-callout-separator"></div>
        <p class="about-footer-desc">
            <span>No pre-roll ads. No post-roll ads. No payments.</span> Just the stars you love, the brands you love, and the charities you love without the noise.
        </p>
        <div class="about-signup-button">
            <clix-primary-button ng-click="onSignUpPress()" ng-hide="loggedInUser">
                Sign Up Free
            </clix-primary-button>
        </div>
    </div>
</div>