.clix-form-error {
    position: absolute;

    &.active {
        .error-message-container {
            .opacity(1);
        }
    }

    .error-message-container {
        .transition(0.5s ease);
        .opacity(0);
        .border-radius(5px);
        .drop-shadow(0, 2px, 4px, 0, .5);
        position: relative;
        background-color: @color-error;
        color: @color-white;
        font-family: @font-primary;
        font-size: 11px;
        line-height: 13px;
        width: 147px;
        padding: 6px 10px;

        &:before {
            content: '';
            position: absolute;
            left: -8px;
            top: 50%;
            margin-top: -8px;
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right: 8px solid @color-error;
        }
    }
}

.clix-form-input {

}