.clix-form {
    .clix-form-row {
        margin-bottom: 30px;
    }

    .clix-form-input-label {
        display: block;
        font-family: @font-primary;
        font-size: 18px;
        color: @color-white;
        margin-bottom: 3px;
    }

    .clix-form-input-label-required {
        color: @color-error;
        font-size: 18px;
        font-family: @font-primary;
    }

    .clix-form-input-field,
    .clix-form-textarea-field {
        background-color: @color-gray12;
        border: 1px solid @color-gray11;
        display: block;
        padding: 8px 5px;
        font-family: @font-primary;
        color: @color-white;
        font-size: 14px;
        width: 100%;
    }

    .clix-form-textarea-field {
        .box-shadow(none);
        height: 200px;
        resize: none;
        outline: none !important;
    }

    .clix-form-submit-button {
        display: inline-block;
    }
}