.home-page {
    background-color: @color-darker-gray;

    .primary-button {
        cursor: pointer;
    }

    @media (min-width: @screen-xs) {
        margin-bottom: 100px;
    }

    .home-page-content {
        @media (min-width: @screen-lg) {
            position: relative;
            top: -250px;
        }
    }

    .main-video-container {
        .gradient(@color-transparent, @color-black);
        position: relative;
        overflow: hidden;
        height: 100vh;
        min-height: 700px;

        @media (min-width: @screen-lg) {
            height: 90vh;
        }

        video {
            width: 100%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        &:hover {
            .main-carousel-button {
                display: block;
            }
        }
    }
    .video-overlay {
        //background: url('./images/video-overlay.png') repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        //background-color: fade(@color-black, 17%);
        .gradient(fade(@color-darker-gray, 17%), @color-darker-gray);
    }

    .carousel-container {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 250px;
        right: 0;
    }

    .carousel-slide {
        .flex-display;
        .flex(1);
        height: 100%;
        align-items: center;
        justify-content: center;

        .carouse-slide-content {
            align-self: center;
            text-align: center;
        }

        .carousel-main-header {
            font-family: @font-primary-bold;
            font-size: 80px;
            line-height: 80px;
            color: @color-white;
            margin-top: 50px;
        }

        .carousel-sub-header {
            font-family: @font-secondary;
            font-size: 22px;
            color: @color-white;
            text-transform: uppercase;
            letter-spacing: 3.3px;
            line-height: 22px;
        }

        .carousel-second-line {
            margin-top: 10px;
            margin-bottom: 60px;
        }

        .button-container {
            margin-top: 20px;
        }
    }
    .slick-slider {
        position: static;
    }
    .slick-dots {
        position: absolute;
        left: 0;
        bottom: 20px;
        list-style-type: none;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding: 0;

        li {
            display: inline-block;
            margin: 0 6px;
        }

        button {
            .border-radius(3px);
            border-width: 0;
            background-color: @color-transparent-white;
            font-size: 0;
            line-height: 0;
            width: 6px;
            height: 6px;
            padding: 0;
            margin: 0;
        }

        .slick-active {
            button {
                background-color: @color-white;
            }
        }
    }
    .slick-slide {
        outline: 0;
    }

    .slick-arrow {
        position: absolute;
        top: 40%;
        z-index: 3000;
    }

    #main-carousel-next {
        right: 0;
    }

    .main-carousel-button {
        font-size: 56px;
        color: @color-white;
        cursor: pointer;
        display: none;
    }
    
    .mobile-header {
        position: relative;
        margin-bottom: 25px;
        text-align: center;

        img {
            width: 100%;
        }

        .mobile-header-content {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 26px;
            text-align: center;
        }

        .header-content-title {
            .text-shadow(0 0 4px rgba(0, 0, 0, 0.5));
            font-family: @font-primary;
            font-size: 20px;
            color: @color-white;
        }

        .header-content-subtitle {
            .text-shadow(0 0 4px rgba(0, 0, 0, 0.5));
            font-family: @font-secondary;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1.8px;
            line-height: 12px;
            color: @color-white;
            margin-bottom: 20px;
        }
    }
}