.home-page {
    margin-bottom: 100px;

    .main-video-container {
        position: relative;
        overflow: hidden;
        height: 70vh;
        min-height: 300px;
        video {
            width: 100%;
        }
    }
    .video-overlay {
        background: url('./images/video-overlay.png') repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}