<div class="home-page">

    <div class="mobile-header" ng-if="showMobileCarousel">
        <img src="/assets/theme/clixtv/dist/images/redfoo-header.jpg" srcset="/assets/theme/clixtv/dist/images/redfoo-header@2x.jpg 2x" />
        <div class="mobile-header-content">
            <div class="header-content-title">
                Your Stars. Their Passions.
            </div>
            <div class="header-content-subtitle">
                Premium content from your favorite stars
            </div>
            <a ng-click="onSignupPress()" class="primary-button" ng-show="!loggedInUser">
                Sign Up Free
            </a>
        </div>
    </div>

    <div class="main-video-container hidden-xs">
        <video src="http://advncedcdn.vo.llnwd.net/clixtv_storage/storage/57cdc2665aad0b6fcf67bb3d/5829ca559c56fb0004f1fd6d/file.mp4" autoplay="" loop="" muted="" ng-if="!showMobileCarousel">
        </video>
        <div class="video-overlay"></div>

        <div class="carousel-container" id="carousel-container">
            <slick dots="true" autoplay="true" autoplay-speed="5000" prev-arrow="#main-carousel-previous" next-arrow="#main-carousel-next" pause-on-hover="true">
                <div>
                    <div class="carousel-slide" style="height: {{videoContainerHeight}}px">
                        <div class="carouse-slide-content">
                            <div class="carousel-main-header">
                                The Network That Gives.
                            </div>
                            <div class="carousel-second-line carousel-sub-header">
                                Support Your Favorite Causes By Watching
                            </div>
                            <div class="button-container" ng-show="!loggedInUser">
                                <a class="primary-button" ng-click="onSignupPress()">
                                    Sign Up Free
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="carousel-slide" style="height: {{videoContainerHeight}}px">
                        <div class="carouse-slide-content">
                            <div class="carousel-main-header">
                                Your Stars. Their Passions.
                            </div>
                            <div class="carousel-second-line carousel-sub-header">
                                Premium content from your favorite stars
                            </div>
                            <div class="button-container" ng-show="!loggedInUser">
                                <a class="primary-button" ng-click="onSignupPress()">
                                    Sign Up Free
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="carousel-slide" style="height: {{videoContainerHeight}}px">
                        <div class="carouse-slide-content">
                            <div class="carousel-main-header">
                                Your Stars. Their Passions.
                            </div>
                            <div class="carousel-second-line carousel-sub-header">
                                Premium content from your favorite stars
                            </div>
                            <div class="button-container" ng-show="!loggedInUser">
                                <a class="primary-button" ng-click="onSignupPress()">
                                    Sign Up Free
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </slick>
        </div>
        <div id="main-carousel-previous">
            <div class="main-carousel-button">
                <i class="icon-left-tall-arrow"></i>
            </div>
        </div>
        <div id="main-carousel-next">
            <div class="main-carousel-button">
                <i class="icon-right-tall-arrow"></i>
            </div>
        </div>
    </div>

    <!--<div ng-show="!ready">-->
        <!--<clix-loader size="medium"></clix-loader>-->
    <!--</div>-->
    <!--<div ng-show="ready">-->
        <div ng-repeat="category in categories" ng-if="category && category.videos">
            <clix-video-category-scroll-list category-title="{{category.title}}" category-videos="category.videos"></clix-video-category-scroll-list>
        </div>
    <!--</div>-->
</div>