.clix-donate-modal {
    background-color: @color-gray7;
    .stepper-container-container {
        margin: 0 auto;
        padding: 53px 0;
        width: 316px;

        &.buy-more-points-input-container {
            padding-top: 39px;
            padding-bottom: 39px;
            width: auto;
            display: inline-block;
        }
    }

    .donate-stepper-label {
        text-align: center;
        color: @color-white;
        font-size: 14px;
        font-family: @font-primary;
        margin-top: 11px;
    }

    .buy-more-points-container {
        border-bottom: 1px solid @color-gray3;
        border-top: 1px solid @color-gray3;
        background-color: @color-medium-gray4;
        padding: 90px 0;
        text-align: center;

        &.buy-more-points-credit-card {
            padding: 45px 0;
        }
    }

    .buy-points-label {
        font-family: @font-primary;
        font-size: 27px;
        color: @color-gray2;
        margin-bottom: 14px;

        @media (min-width: @screen-sm) {
            font-family: @font-primary-bold;
            font-size: 30px;
        }
    }

    .donate-footer {
        padding: 26px 0;

        @media (min-width: @screen-sm) {
            padding: 26px 0 26px 41px;
        }
    }

    .donate-footer-buttons {

        margin-left: -13px;
        margin-right: -13px;
        margin-top: 50px;
        padding-left: 13px;
        padding-right: 13px;
        text-align: center;

        @media (min-width: @screen-sm) {
            width: 475px;
            margin-left: auto;
            margin-right: 0;
        }

        .donate-footer-button {
            padding-left: 13px;
            padding-right: 13px;

            @media (min-width: @screen-sm) {
                text-align: right;
            }
        }

        &.buy-mobile-footer-buttons {
            .donate-footer-button:first-child {
                margin-bottom: 21px;
            }

            .buy-mobile-footer-button {
                display: inline-block;
            }
        }
    }

    .donate-cancel-button {
        .border-radius(100px);
        padding: 10px 50px;
        font-family: @font-primary;
        font-size: 11px;
        letter-spacing: 0.9px;
        color: @color-gray2;
        text-transform: uppercase;
        border: 1px solid @color-gray2;
        background-color: @color-medium-gray4;
        cursor: pointer;
        text-align: center;
        display: block;

        &:hover {
            text-decoration: none;
            border-color: @color-white;
            background-color: @color-transparent-dark-black;
            color: @color-white;
        }

        @media (min-width: @screen-sm) {
            display: inline-block;
        }

    }

    .clix-donate-modal-header {
        text-align: center;
    }

    .buy-points-input-container {
        border: 1px solid @color-gray11;
        background-color: @color-gray12;
        margin-left: 7px;
        margin-right: 7px;
        padding: 0 10px;

        input {
            color: @color-white;
            //color: @color-transparent;
            background-color: @color-transparent;
            position: relative;
            z-index: 20;
        }

        input,
        .input-display {
            font-family: @font-secondary;
            font-size: 45px;
            text-align: center;
            width: 100%;
            letter-spacing: 1.4px;
            border-width: 0;
            padding: 0;
            line-height: 45px;
        }

        .input-container {
            position: relative;
            display: inline;
            padding: 0 5px;
        }

        .input-display {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            color: @color-white;
        }

        // Disable the default "spin" arrows
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
    }

    .buy-points-input-container {
        text-align: center;
        color: @color-white;
        font-family: @font-secondary;
        font-size: 45px;
        margin-bottom: 20px;
    }

    .buy-points-cents {
        text-decoration: underline;
        font-size: 24px;
        position: relative;
        top: -13px;
        left: 0;
    }

    .buy-points-symbol {
        padding: 0;
        margin: 0;
        text-align: right;
        letter-spacing: 1px;
    }

    .buy-points-input-label {
        font-family: @font-primary;
        font-size: 14px;
        color: @color-gray2;
        text-align: center;

        &.buy-points-input-sublabel {
            font-style: italic;
        }
    }

    .credit-card-form {
        padding-left: 37px;
        padding-right: 37px;

        @media (min-width: @screen-sm) {
            padding-left: 63px;
            padding-right: 63px;
        }

        .credit-card-label {
            letter-spacing: 1.6px;
            text-transform: uppercase;
            font-size: 14px;
            color: @color-white;
            font-family: @font-primary;
            text-align: left;
            margin-bottom: 5px;

            .lock-icon {
                font-size: 16px;
            }
        }

        .input-container-row {
            margin-left: -20px;
            margin-right: -20px;

            @media (min-width: @screen-sm) {
                margin-bottom: 20px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .input-container {
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 20px;

            @media (min-width: @screen-sm) {
                margin-bottom: 0;
            }

            input {
                width: 100%;
                border: 1px solid @color-gray11;
                background-color: @color-gray12;
                font-family: @font-primary;
                color: @color-white;
                font-size: 16px;
                padding: 8px 10px;
            }
        }

        .input-container-label {
            display: block;
            font-size: 14px;
            font-family: @font-primary;
            color: @color-gray2;
            text-align: left;
            margin-top: 3px;
            position: relative;

            .info-icon {
                position: absolute;
                right: 0;
                top: 0;
                color: @color-gray13;
                font-size: 16px;
            }
        }
    }
}