<clix-modal modal-title="{{state === 'buy' ? 'Buy Points' : 'Donate Points'}}">
    <div class="clix-donate-modal">

        <div class="clix-donate-modal-header">
            <div class="stepper-container-container" ng-class="{'buy-more-points-input-container': state === 'buy'}">
                <div ng-show="state !== 'buy'">
                    <clix-number-stepper></clix-number-stepper>
                    <div class="donate-stepper-label">
                        Available Cash Balance 1760 Points Balance
                    </div>
                </div>
                <div ng-show="state === 'buy'">
                    <div class="buy-points-input-container" ng-click="onBuyPointsContainerPress()">
                        <span class="buy-points-symbol">
                            $
                        </span>
                        <input type="text" ng-pattern="/^[0-9,]*$/" id="buyPointsInput" ng-model="buyPointsModel" ng-blur="onBuyPointsBlur(buyPointsModel)" style="min-width: 35px;" pu-elastic-input-width-delta="5px" pu-elastic-input clix-max-length="8" />
                        <span class="buy-points-cents">
                            .00
                        </span>
                    </div>
                    <div class="buy-points-input-label">
                        Input amount to apply to points
                    </div>
                    <div class="buy-points-input-label buy-points-input-sublabel">
                        Each dollar equals one point.
                    </div>
                </div>

            </div>
        <div class="buy-more-points-container" ng-class="{'buy-more-points-credit-card': state === 'buy'}">

            <div ng-show="state !== 'buy'">
                <div class="buy-points-label">
                    Want to buy more points?
                </div>
                <clix-secondary-button ng-click="onBuyPointsPress()">
                    Buy Points Here
                </clix-secondary-button>
            </div>
            <div ng-show="state === 'buy'">

                <div class="credit-card-form">
                    <div class="credit-card-label">
                        Credit Card
                        <i class="lock-icon icon-icon-security-lock"></i>
                    </div>
                    <div class="input-container-row row">
                        <div class="input-container col-sm-6">
                            <input type="text" />
                            <span class="input-container-label">
                                Credit card number
                            </span>
                        </div>
                        <div class="input-container col-xs-5 col-sm-3">
                            <input type="text" />
                            <span class="input-container-label">
                                CCV
                                <i class="info-icon icon-info-icon"></i>
                            </span>
                        </div>
                        <div class="input-container col-xs-5 col-sm-3">
                            <input type="text" />
                            <span class="input-container-label">
                                Expiration date
                            </span>
                        </div>
                    </div>
                    <div class="input-container-row row">
                        <div class="input-container col-sm-8">
                            <input type="text" />
                            <span class="input-container-label">
                                Name (As shown on card)
                            </span>
                        </div>
                        <div class="input-container col-xs-6 col-sm-4">
                            <input type="text" />
                            <span class="input-container-label">
                                Zip/Postal code
                            </span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="donate-footer">
            <clix-checkbox label-text="I accept the Terms and Conditions"></clix-checkbox>

            <div class="row donate-footer-buttons hidden-xs hidden-sm" ng-show="state === 'buy'">
                <div class="col-sm-6 donate-footer-button">
                    <a ng-click="onBackPress()" class="donate-cancel-button">
                        Back
                    </a>
                </div>
                <div class="col-sm-6 donate-footer-button">
                    <clix-primary-button ng-click="onDonatePress()">
                        Complete Purchase
                    </clix-primary-button>
                </div>
            </div>

            <div class="row donate-footer-buttons buy-mobile-footer-buttons visible-sm visible-xs" ng-show="state === 'buy'">
                <div class="col-sm-6 donate-footer-button">
                    <div class="buy-mobile-footer-button">
                        <clix-primary-button ng-click="onDonatePress()">
                            Complete Purchase
                        </clix-primary-button>
                    </div>
                </div>
                <div class="col-sm-6 donate-footer-button">
                    <div class="buy-mobile-footer-button">
                        <a ng-click="onBackPress()" class="donate-cancel-button">
                            Back
                        </a>
                    </div>
                </div>
            </div>

            <div class="row donate-footer-buttons" ng-show="state !== 'buy'">
                <div class="col-xs-6 donate-footer-button">
                    <a ng-click="onCancelPress()" class="donate-cancel-button">
                        Cancel
                    </a>
                </div>
                <div class="col-xs-6 donate-footer-button">
                    <clix-primary-button ng-click="onDonatePress()">
                        Donate Now
                    </clix-primary-button>
                </div>
            </div>

        </div>
    </div>
</clix-modal>