<div class="clix-carousel-container {{loaded?'':'loader'}} pr">
    <div class="clix-carousel clix-carousel-{{index}}">
        <div ng-repeat="slide in videos track by $index">
            <div class="clix-block pr" onload="run()">
                <div class="block-content" >
                    <div class="header">
                        <div class="pic hand" style="background-image:url({{slide.PosterH.url}})" ng-click="go('celebrity/Kyrie Irving')"></div>
                        <div class="name hand" ng-click="go('celebrity/Kyrie Irving')">{{slide.artist_name}}</div>
                        <div class="dropdown">
                          <div class="dots hand dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">...</div>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a class="hand" ng-click="addRemoveWatchlist(slide._id)"><span class="icon icon-{{isWatchlist(slide._id)?'minus-circle-19x19':'plus-circle-19x19'}}" style="display:inline-block"></span> {{isWatchlist(slide._id)?'Remove From Watchlist':'Add To Watchlist'}}</a></li>
                            <li><a ng-click="shareModal(slide)"><span class="icon icon-share-white-19x20 ib"></span> Share <span class="reward">50</span></a></li>
                            <li><a href="#"><span class="icon icon-star-23x21" style="display:inline-block"></span> Go to star Page</a></li>
                            <li><a class="hand" ng-click="addRemoveFavorites(slide)"><span style="display:inline-block" class="icon {{isFavorite(slide._id)?'icon-remove-icon':'icon-favorite-star-sm'}}"></span> {{isFavorite(slide._id)?'Remove From Favorites':'Add Star To Favorites'}}</a></li>
                          </ul>
                        </div>
                    </div>
                    <div class="block-content pr" style="background-image:url({{slide.PosterH.url}})">

                        <div ng-click="go('/video/'+slide._id)" class="play hand pa"></div>
                        <div class="add-to-watchlist hand pa" ng-click="addRemoveWatchlist(slide._id)"><span class="icon icon-{{isWatchlist(slide._id)?'minus-circle-19x19':'plus-white-tran-28x28'}}" style="display:inline-block"></span></div>
                        <div class="brands pa">
                            <div class="brand hand" ng-repeat="brand in slide.brands | limitTo:5 track by $index" style="background-image:url({{brands[brand].BrandTransparentLogo.url}})">
                            </div>
                        </div>
                        <div class="overlay pa"></div>
                        <div class="reward pa">100 Reward Points</div>
                    </div>
                    <div class="block-info" ng-click="go('/video/'+slide._id)">
                        <div class="info-title">{{slide.title}}
                            <span class="date-time">{{slide.date | date:"hh:mm"}}</span>
                        </div>
                        <div class="details">
                            <div class="episode">Episode {{$index+1}} : {{slide.title}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
