<div class="social-share">
    <div class="modal fade" id="social-share-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <div class="modal-tab-selectors">
                  <div class="modal-tab-selector {{selectedTab=='post'?'active':''}}" ng-click="selectedTab='post'">Post To</div>
                  <div class="modal-tab-selector {{selectedTab=='send'?'active':''}}" ng-click="selectedTab='send'">Send To...</div>
              </div>
          </div>
          <div class="modal-body" ng-if="selectedTab=='post'">
              <div class="item row" ng-if="model.media_type!='video'">
                  <div class="col-xs-3 social_video">
                      <div class="item-img" style="background-image:url({{model.PosterH.url}})"></div>
                  </div>
                  <div class="item-details col-xs-9">
                      <div class="item-name">{{model.title}}</div>
                      <div class="item-brand">{{title.description | limitTo:50}}</div>
                  </div>
              </div>
              <div class="item row" ng-if="model.media_type=='video'">
                  <div class="col-xs-3 social_video">
                      <div class="item-img pr" style="background-image:url({{model.PosterH.url}})"><div class="play pa"></div></div>
                  </div>
                  <div class="item-details video col-xs-9">
                      <div class="video-item-title">{{model.title}}</div>
                      <div class="video-item-subtitle">Episode 1/12: {{model.title}}</div>
                      <div class="video-item-desc">{{title.description | limitTo:50}}</div>
                      <div class="clixtv">CLIXTV.COM</div>
                  </div>
              </div>
              <div class="share-message-box">
                  <textarea ng-show="$parent.selectedSocialMedia=='tubmlr'" id="tumblrText" rows="6" class="share-text"></textarea>
                  <textarea ng-show="$parent.selectedSocialMedia=='twitter'" id="twitterText" rows="6" class="share-text"></textarea>
                  <textarea ng-if="mentio" ng-show="$parent.selectedSocialMedia=='facebook'" type="text"
                         mentio
                         class="share-text"
                         rows="6"
                         ng-model="$parent.shareMessage"
                         mentio-typed-text="typedTerm"
                         mentio-items="friends | filter:name:typedTerm"
                         mentio-tags="tags"></textarea>
              </div>
              <div class="social-options row">
                  <div class="text fll">Post To</div>
                  <div class="option facebook {{selectedSocialMedia=='facebook'?'active':''}}" ng-click="$parent.selectedSocialMedia='facebook';postText=''"></div>
                  <div class="option twitter {{selectedSocialMedia=='twitter'?'active':''}}" ng-click="$parent.selectedSocialMedia='twitter';postText=''"></div>
                  <div class="option tumblr {{selectedSocialMedia=='tubmlr'?'active':''}}" ng-click="$parent.selectedSocialMedia='tubmlr';postText=''"></div>
                  <div class="text settings hand flr">Settings</div>
              </div>
          </div>
          <div class="modal-body" ng-if="selectedTab=='send'" >
              <div class="item row" ng-if="model.media_type!='video'">
                  <div class="col-xs-3">
                      <div class="item-img" style="background-image:url({{model.PosterH.url}})"></div>
                  </div>
                  <div class="item-details col-xs-9">
                      <div class="item-name">{{model.title}}</div>
                      <div class="item-brand">Bose - Exclusive Offer</div>
                  </div>
              </div>
              <div class="item row" ng-if="model.media_type=='video'">
                  <div class="col-xs-3">
                      <div class="item-img pr" style="background-image:url({{model.PosterH.url}})"><div class="play pa"></div></div>
                  </div>
                  <div class="item-details video col-xs-9">
                      <div class="video-item-title">{{model.title}}</div>
                      <div class="video-item-subtitle">Episode 1/12: {{model.title}}</div>
                      <div class="video-item-desc">{{title.description | limitTo:50}}</div>
                      <div class="clixtv">CLIXTV.COM</div>
                  </div>
              </div>
              <div class="share-message-box">
                  <oi-select
                    oi-options="item.name for item in fbFriendsList track by item.id"
                    oi-select-options="{dropdownFilter:'friendsTagFilter'}"
                    ng-model="bundle3"
                    multiple
                    placeholder="Search facebook Friends"
                    multiple-placeholder="Search"
                    list-placeholder="not found">
                    </oi-select>
              </div>
              <div class="share-message-box">
                  <textarea rows="7" class="share-text" autofocus="true" id="share-message" >Here’s an offer I thought you’d enjoy from #ClixTV - {{model.title}}</textarea>
              </div>
          </div>
          <div class="modal-footer" ng-if="selectedTab=='post'">
            <button type="button" class="modal-btn cancel" data-dismiss="modal">Cancel</button>
            <button type="button" class="modal-btn share" ng-click="share()">Share</button>
          </div>
          <div class="modal-footer" ng-if="selectedTab=='send'">
            <button type="button" class="modal-btn cancel" data-dismiss="modal">Cancel</button>
            <button type="button" class="modal-btn share" ng-click="sendFacebookMessage()">Send</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
