.newsfeed_page {
    .news_feed_container {
        background-color: #fc5f3d;
        padding-right: 14%;
        padding-left: 14%;
        height: 6vw;

    }
    .newsfeed_contant_container {
        padding-right: 14%;
        padding-left: 14%;
    }
}
