.newsfeed_page {
    font-family: SourceSansPro;
    .page_container {
        margin: 0;
        .news_feed_container {
            background-color: #fc5f3d;
            padding-right: 14%;
            padding-left: 14%;
            height: 6vw;
            .newsfeed-brand{
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                height: 3.5vw;
                width: 20vw;
                margin-top: 1.2vw;
            }

        }
        .contant_container {
            padding-right: 14%;
            padding-left: 14%;
            .carousel {
                padding: 0;
                .carousel-indicators {
                    li {
                        height: 13px;
                        width: 13px;
                        border-radius:13px;
                        border: solid 2px #fe6443;
                        margin-left: 20px;
                        &.active {
                            height: 15px;
                            width: 15px;
                            background-color:#fe6443;
                        }
                    }
                }
                .carousel-inner {
                    margin-top: 1vw;
                    height: 27vw;
                    .item {
                        .right_div {
                            float: right;
                            width: 61%;
                            .carousel-image {
                                position: relative;
                                background-position: center;
                                background-size: cover;
                                background-repeat: no-repeat;
                                height: 27vw;
                                .logo {
                                position: absolute;
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: right;
                                height: 6vw;
                                width: 4.5vw;
                                top: 3%;
                                right: 3%;
                                }
                                .play_button {
                                    top: 40%;
                                    margin-left: auto;
                                    margin-right: auto;
                                    right: 0;
                                    left: 0;
                                    position: absolute;
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    background-position: center;
                                    width: 3vw;
                                    height: 4vw;
                                    cursor: pointer;
                                    z-index: 1;
                                }
                                .full_desc_points{
                                    z-index: 1;
                                  position: absolute;
                                  width: 9.1vw;
                                  height: 3.8vw;
                                  border-radius: 100px;
                                  background-color: #1a2937;
                                  border: solid 0.2vw #18d676;
                                  top: 60%;
                                  left: 40%;
                                  transition: all 0.25s;
                                  .pin_icon{
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    background-position: center;
                                    width: 2.5vw;
                                    height: 2.5vw;
                                    margin: 0.4vw 0 0.4vw 0.8vw;
                                    float: left;
                                  }
                                  .points_num{
                                    float: left;
                                    font-family: SourceSansPro;
                                    font-size: 2.5vw;
                                    font-weight: 900;
                                    text-align: center;
                                    color: #ffffff;
                                    line-height: 3.2vw;
                                    margin-left: 0.4vw;
                                  }
                                }
                            }
                            .gradient {
                                top: 0;
                                width: 45vw;
                                position: absolute;
                                height: 27vw;
                                background-image: linear-gradient(to left, rgba(242, 242, 242, 0) 15%, #f2f2f2 );
                            }
                        }
                        .left_div {
                            float: left;
                            width: 39%;
                            height: 27vw;
                            .headline {
                                margin-top: 4vw;
                                font-style: italic;
                                position: relative;
                                font-size: 1.8vw;
                                font-weight: bold;
                                color: #fe6443;
                                width: 27vw;
                            }
                            .description {
                                width: 29vw;
                                font-family: Roboto;
                                font-size: 1.1vw;
                                color: #1a2937;
                                margin-top: 0.8vw;
                            }
                            .full_desc_share {
                                padding: 0;
                                margin-top: 1.5vw;
                                .full_desc_share_button {
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    background-position: center;
                                    width: 2.3vw;
                                    height:2.3vw;
                                    float: right;
                                    cursor: pointer;
                                }
                                .full_desc_add_to_my_list{
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    background-position: center;
                                    width: 2.3vw;
                                    height:2.3vw;
                                    margin-left: 1vw;
                                    float: right;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

            }
            .newsfeed_header {
                padding: 0;
                height: 4vw;
                background-color: #18d676;
                margin-top: 1vw;
                margin-bottom: 0.5vw;
                color: white;
                font-weight: bold;
                font-size: 2.5vw;
                padding-left: 1.4vw;
                text-transform: uppercase;
                padding-top: 0.2vw;
                .arrow {
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width: 1vw;
                    height: 1.6vw;
                    position: absolute;
                    top: 1.3vw;
                    left: 19.5vw;
                    cursor: pointer;
                }
            }
            .newsfeed_contant_container {
                padding: 0;

            }
        }
    }
}
