.clix-account-settings {

    &.disabled-notifications {
        margin-top: -80px;
    }

    .settings-page-content {
        padding: 46px @common-mobile-padding 46px @common-mobile-padding;

        @media (min-width: @screen-md) {
            padding: 46px 29px 46px 48px;
        }
    }

    .disabled-notifications-container {
        max-width: 500px;
        padding: 80px @common-mobile-padding 20px;

        @media (min-width: @screen-sm) {
            padding: 0 0 0 50px;
        }

        .clix-empty-container {
            padding: 0;
            margin-bottom: 20px;
            .body-text {
                text-align: left;
            }
        }
    }

    .setting-row {
        .flex-display;
        padding: 38px 0;

        &.notifications-setting-row {
            @media (max-width: @screen-sm) {
                display: block;
            }
        }

        &:first-child {
            padding-top: 0;
        }

        .setting-row-info {
            .flex(1);
        }

        .setting-row-title {
            font-family: @font-primary;
            font-size: 14px;
            letter-spacing: 1.6px;
            color: @color-white;
            text-transform: uppercase;
        }

        .setting-row-description {
            font-family: @font-primary;
            font-size: 14px;
            line-height: 20px;
            color: @color-gray2;
            padding-right: 40px;
        }

        .setting-switch.checked {
            border-color: @color-primary;
            background-color: @color-primary;
        }
    }

    .settings-subtitle {
        margin-top: 40px;
        .clix-account-header {
            padding-left: 0;
            margin-right: 0;
        }
    }

    .setting-notification-container {
        .flex(2);
        margin: 0;

        .row {
            margin: 0;
        }

        .setting-text-container,
        .setting-push-container {
            padding: 0;
        }

        .setting-text-push-container,
        .setting-email-container {
            padding-right: 0;
            padding-left: 0;
            @media (min-width: @screen-md) {
                padding-left: 60px;
            }
        }
    }

    .notification-label {
        font-family: @font-primary;
        font-size: 14px;
        letter-spacing: 1.6px;
        color: @color-white;
        text-transform: uppercase;
        margin-bottom: 5px;
        margin-top: 40px;
        @media (min-width: @screen-md) {
            margin-top: 0;
        }
    }

    .setting-email-container {
        border-bottom: 1px solid @color-gray3;
        padding-bottom: 40px;
        @media (min-width: @screen-sm) {
            border-bottom-width: 0;
        }
        @media (min-width: @screen-md) {
            border-right: 1px solid @color-gray3;
            padding-bottom: 0;
        }
    }

    .personal-info-form-row {
        margin-left: 0;
        margin-right: 10px;
    }

    .setting-notification-profile-desc {
        font-family: @font-primary;
        font-size: 14px;
        color: @color-gray2;
        margin-right: 50px;
    }

    .clix-checkbox {
        @media (max-width: @screen-md) {
            display: inline;
        }
    }
}