<div class="clix-account-settings">
    <clix-account-header>
        <header-text>
            Settings
        </header-text>
    </clix-account-header>
    <div class="settings-page-content">
        <div ng-if="!ready">
            <clix-loader size="large"></clix-loader>
        </div>

        <div ng-id="ready">
            <div class="setting-row" ng-repeat="setting in generalSettings | orderBy: 'order'">
                <div class="setting-row-info">
                    <div class="setting-row-title">
                        {{setting.title}}
                    </div>
                    <div class="setting-row-description">
                        {{setting.description}}
                    </div>
                </div>
                <div class="setting-row-trigger">
                    <switch ng-model="setting.enabled" class="setting-switch" ng-change="settingChange(setting)"></switch>
                </div>
            </div>

            <div class="settings-subtitle">
                <clix-account-header>
                    <header-text>
                        Your ClixTV
                    </header-text>
                </clix-account-header>
            </div>
            <div class="setting-row" ng-repeat="setting in accountSettings | orderBy: 'order'">
                <div class="setting-row-info">
                    <div class="setting-row-title">
                        {{setting.title}}
                    </div>
                    <div class="setting-row-description">
                        {{setting.description}}
                    </div>
                </div>
                <div class="setting-row-trigger">
                    <switch ng-model="setting.enabled" class="setting-switch" ng-change="settingChange(setting)"></switch>
                </div>
            </div>

            <div class="settings-subtitle">
                <clix-account-header>
                    <header-text>
                        Notifications
                    </header-text>
                </clix-account-header>
            </div>
            <div class="setting-row">
                <div class="setting-row-info">
                    <div class="setting-row-title">
                        Send Notifications
                    </div>
                    <div class="setting-row-description">
                        How we will keep you Up-To-Date
                    </div>
                </div>
                <div class="row setting-notification-container">
                    <div class="col-xs-6">

                    </div>
                    <div class="col-xs-6">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>