<div class="clix-account-settings">
    <clix-account-header>
        <header-text>
            Settings
        </header-text>
    </clix-account-header>
    <div class="settings-page-content">
        <div ng-if="!ready">
            <clix-loader size="large"></clix-loader>
        </div>

        <div ng-if="ready">
            <div class="setting-row" ng-repeat="setting in generalSettings | orderBy: 'order'">
                <div class="setting-row-info">
                    <div class="setting-row-title">
                        {{setting.title}}
                    </div>
                    <div class="setting-row-description">
                        {{setting.description}}
                    </div>
                </div>
                <div class="setting-row-trigger">
                    <switch ng-model="setting.enabled" class="setting-switch" ng-change="settingChange(setting)"></switch>
                </div>
            </div>

            <div class="settings-subtitle">
                <clix-account-header>
                    <header-text>
                        Your ClixTV
                    </header-text>
                </clix-account-header>
            </div>
            <div class="setting-row" ng-repeat="setting in accountSettings | orderBy: 'order'">
                <div class="setting-row-info">
                    <div class="setting-row-title">
                        {{setting.title}}
                    </div>
                    <div class="setting-row-description">
                        {{setting.description}}
                    </div>
                </div>
                <div class="setting-row-trigger">
                    <switch ng-model="setting.enabled" class="setting-switch" ng-change="settingChange(setting)"></switch>
                </div>
            </div>

            <div class="settings-subtitle">
                <clix-account-header>
                    <header-text>
                        Notifications
                    </header-text>
                </clix-account-header>
            </div>
            <div class="setting-row notifications-setting-row">
                <div class="setting-row-info">
                    <div class="setting-row-title">
                        Send Notifications
                    </div>
                    <div class="setting-row-description">
                        How we will keep you Up-To-Date
                    </div>
                </div>
                <div class="row setting-notification-container">
                    <div class="col-sm-6 setting-email-container">
                        <div class="notification-label">
                            Email
                        </div>
                        <clix-checkbox ng-model="enableEmailNotifications"></clix-checkbox>
                        <div class="setting-notification-profile-container">
                            <div class="setting-notification-profile-label">
                                <clix-account-overview-input ng-model="loggedInUser.email" on-save="onSaveField" type="email">
                                    <input-label>
                                        Email
                                    </input-label>
                                </clix-account-overview-input>
                            </div>
                            <div class="setting-notification-profile-desc">
                                Modifying your email address here will change the email address for your account.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 setting-text-push-container">
                        <div class="row">
                            <div class="col-xs-6 setting-text-container">
                                <div class="notification-label">
                                    Text
                                </div>
                                <clix-checkbox ng-model="enableTextNotifications"></clix-checkbox>
                            </div>
                            <div class="col-xs-6 setting-push-container">
                                <div class="notification-label">
                                    Push
                                </div>
                                <clix-checkbox ng-model="enablePushNotifications"></clix-checkbox>
                            </div>
                        </div>
                        <div class="setting-notification-profile-container">
                            <div class="setting-notification-profile-label">
                                <clix-account-overview-input ng-model="loggedInUser.phone" on-save="onSaveField" type="phone">
                                    <input-label>
                                        Phone
                                    </input-label>
                                </clix-account-overview-input>
                            </div>
                        </div>
                        <div class="setting-notification-profile-desc">
                            Modifying your phone number here will change the phone number for your account.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>