.event_block_page {
    .event_list_container {
      padding: 0.8vw;
      position: relative;
      transition: all 0.5s;
      .event_container {
          padding: 1vw;
          height: 13vw;
          border-radius: 4px;
          background-color: rgba(26, 41, 55, 0.1);
          .upper_container {
              .media-left {
                  .organiztion_image {
                      width: 2vw;
                      height: 2vw;
                  }
              }
              .media-body {
                  .channel_image {
                      padding: 0;
                     width: 2vw;
                      max-height:1.2vw;
                      background-repeat: no-repeat;
                      background-size: contain;
                      background-position: right;
                  }
              }
          }
          .organiztion_image {
              padding: 0;
              width: 2vw;
              height: 2vw;
              background-repeat: no-repeat;
              background-size: contain;
              background-position: right;
          }
          .middle_container {

              .channel_image {
                  padding: 0;
                  width: 3.2vw;
                  height: 2vw;
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: right;
              }
          }
      }
    }
  }
