<div class="event_block_page">
    <div class="col-xs-3 event_list_container" ng-repeat="video in model">
        <div class="event_container col-xs-12 {{video.live_now ? 'live' : ''}}">

            <div class="media upper_container">
                <div class="media-left ">
                    <img class="organiztion_image" src="{{video.organiztion_image}}" alt="">
                </div>
                <div class="media-body">
                    <div class="left_body col-xs-7">
                        <div class="channel_image"  style="background-image: url({{video.channel_image}});" > </div>
                        <div class="date">
                            {{video.date}}
                        </div>
                    </div>
                    <div class="right_body col-xs-5">
                        <div class="points_cover" ng-if="video.status!= 'purchased'">
                            <div class="points_logo"></div>
                            <div class="points_num">{{video.points}}</div>
                        </div>
                        <div class="status {{!video.live_now? 'not_live' : ''}}" ng-if="video.status == 'purchased'">
                            {{video.status}}
                        </div>
                    </div>

                </div>
                <div class="line"></div>
                <div class="header">{{video.title}}</div>
                <div class="description">{{video.description}}</div>
                <div class="live_now" ng-if="video.live_now">
                    live now
                </div>
                <div class="modal_time">
                  <div class="time_block">
                      <div class="time_item">
                        <div class="time_num">00</div>
                        <div class="time_desc">days</div>
                      </div>
                      <div class="time_item">
                        <div class="time_num">18</div>
                        <div class="time_desc">hours</div>
                      </div>
                      <div class="time_item">
                        <div class="time_num">23</div>
                        <div class="time_desc">mins</div>
                      </div>
                      <div class="time_item">
                        <div class="time_num">49</div>
                        <div class="time_desc">sec</div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="event_hover" ng-hide = "{{video.status =='purchased' && !video.live_now  }}">
                <div class="hover_header">
                    {{video.title}}
                </div>
                <div class="hover_button">
                    <div class="text" ng-if="video.status == 'purchased'">
                        go live
                    </div>
                    <div class="text purchased" ng-click ="getPurchaseEvent(video)"ng-if="video.status != 'purchased'">
                        purchase
                    </div>
                    <div class="triangle" ng-if="video.status == 'purchased'"></div>
                </div>
                <div class="reminder_button" ng-if="!video.live_now">
                    set a reminder
                </div>
            </div>

            <!-- <div class="organiztion_image col-xs-2" style="background-image: url({{video.organiztion_image}});"></div>
            <div class="middle_container col-xs-5">
                <div class="channel_image col-xs-12" style="background-image: url({{video.channel_image}});" ></div>
                <div class="date col-xs-12" >12.5.5</div>
            </div> -->

        </div>


<!--
        <div class="vod_list_image" style="background-image: url('{{video.url_image}}');">
            <div class="video_list_background"></div>
            <div class="video_logo" style="background-image: url('{{video.url_logo}}');"></div>
            <div class="video_play_button"></div>
            <div class="video_points">
              <div class="pin_icon"></div>
              <div class="points_num">{{video.points}}</div>
            </div>

        </div>
        <div class="vod_info_section">
            <div class="vod_header col-xs-6">{{video.title}}</div>
            <div class="vod_icons col-xs-6">
                <div class="add_to_list" style="background-image: url('/assets/theme/src/images/icon/add_to_list@2x.png');"></div>
                <div class="share" style="background-image: url('/assets/theme/src/images/icon/shape.png');"></div>
            </div>
            <div class="vod_desc col-xs-12">
                {{video.description | limitTo: 100}}
            </div>
        </div> -->
    </div>
</div>
