<div class="header_page" ng-controller="headerController">
    <!-- <div ng-hide="showfade==true" class="fade-div">

    </div> -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="dropdown drop-hamburger" ng-click="open-manu()"href="#">
             <i class="fa fa-bars "  id="dropdownMenu1" aria-hidden="true"  data-toggle="dropdown"></i>
                 <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                   <li class="li-style" ng-click="go('newsfeed');"><span >News Feed</span></li>
                   <li class="li-style" ng-click="go('vod');"><span >VOD</span></li>
                   <li class="li-style" ng-click="go('discover');"><span >Discover</span></li>
                   <li class="li-style" ng-click="go('social');"><span >TOSocial</span></li>
                   <li class="li-style" ng-click="go('');"><span >Market Place</span></li>
                   <li class="li-style" ng-click="go('');"><span >Gain Points</span></li>
                 </ul>
          </div>
          <div class="navbar-brand"></div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" >
              <i class="fa fa-search "  id="dropdownMenu1" aria-hidden="true"  data-toggle="dropdown"></i>
            </div>
            <div class="logout-token {{login==true ? 'loged-in':''}}"></div>
          </form>
          <div ng-show="login==false" ng-click="Signin()" class="sign-in">
              sign in
          </div>
          <div  ng-show="login==true" class="profile-cover">
              <div class="profile-name">sds</div>
              <div  class="profile-image"></div>
          </div>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</div>
