.clix-dropdown {
    .dropdown-trigger {
        .flex-display;
        .border-radius(100px);
        .align-items(center);
        font-family: @font-primary;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        color: @color-gray2;
        padding: 8px 22px;
        border: 1px solid @color-gray2;
        cursor: pointer;
    }
    .dropdown-trigger:hover {
        border-color: @color-white;
        color: @color-white;
    }

    .dropdown-label {
        .flex(1);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .icon-down-arrow {
        font-size: 15px;
    }

    .tooltip-menu {
        .menu-item {
            padding-top: 13px;
            padding-bottom: 13px;
            padding-left: 21px;
        }
        .menu-label {
            top: 0;
            font-family: @font-secondary;
            text-transform: uppercase;
        }
    }

    .menu-container {
        max-width: none;
        max-height: 250px;
        overflow: scroll;
    }
}