.clix-dropdown {
    .dropdown-trigger {
        .border-radius(100px);
        font-family: @font-secondary;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        color: @color-gray2;
        padding: 8px 22px;
        border: 1px solid @color-gray2;
        cursor: pointer;
    }
    .dropdown-trigger:hover {
        border-color: @color-white;
        color: @color-white;
    }
    .icon-down-arrow {
        font-size: 15px;
    }

    .tooltip-menu {
        .menu-item {
            padding-top: 13px;
            padding-bottom: 13px;
        }
        .menu-label {
            top: 0;
            font-family: @font-secondary;
            text-transform: uppercase;
        }
    }
}