

// search and dropdowns
.filters{
    border-bottom: 1px solid #292929;
    border-top: 1px solid #292929;
    padding: 10px 0;
    margin: 0;

}

.filter{
        padding-right: 0;

    .icon-search-21x22{
        position: absolute;
        top: 18px;
        font-size: 25px;
        left: 15px;
        color: #a1a1a1;
    }

    &.open .filter-btn{
        border-color: white;
        color: white !important;
    }


    .filter-btn{
        border: 1px solid #8a8a8a;
        padding: 1px 20px 1px 36px;
        border-radius: 20px;
        color: #8a8a8a;
        margin: 10px auto;
        background: none;
        width: 100%;
        font-size: 25px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: Cabin;

        &:hover{
            border-color: white;
            color: white;

            // &:hover{
            //     color: #5b5b5b;
            // }
        }
    }

    .search{
        outline: none;
        font-size: 18px ;
        color: #5b5b5b ;
        padding: 7px 50px;
        background-color: black ;
        border:0;
        text-transform: none;
        margin-left: -15px;
        letter-spacing: 0;
        font-family: PTSans;
        &:hover{
            color: #5b5b5b;
        }
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #5B5B5B;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #5B5B5B;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #5B5B5B;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #5B5B5B;
    }

    .filter-menu{
        background: #191919;
        border-radius: 0;
        left: 15px;
        width: ~"calc(100% - 15px)";
        top: ~"calc(100% - 5px)";
        padding: 0;

        .filter-menu-row{
            font-size: 23px;
            letter-spacing: 2px;
            padding: 13px 20px;
            color: #8a8a8a;
            text-transform: uppercase;
            font-family: Cabin;

            &:hover{
                background-color: #363636;
            }

        }
    }
}

.page-title{
    font-size: 54px;
    margin-bottom: 10px;
    border-bottom: 1px solid #363636;
    padding-bottom: 15px;
    font-family: PTsans;
}

.page-title2 {
    font-size: 27px;
    color: #9c9c9c;
    font-family: Cabin;
    letter-spacing: 3px;
    padding: 0px 15px 20px 0;
    text-transform: uppercase;
}


//Favorite Gradient border button

.favorites-border-gradient{
    float: left;
    display: inline-block;
    border-radius: 30px;
    background-image: linear-gradient(to left, #fa0d1b, #911685);
    padding: 2px;
    cursor: pointer;
    margin-right: 13px;
    span{
        background-color: #0e0e0e;
        font-size: 18px;
        text-transform: uppercase;
        padding: 8.5px 33px;
        letter-spacing: 1.4px;
        border-radius: 30px;
        width: 229px;
        display: inline-block;
        text-align: center;
        font-family: Cabin;
        position: relative;

        .icon{
            margin-right: -10px;
            margin-left: 15px;
            position: absolute;
        }
    }

    &:hover span{
        background-color: transparent;

        .icon-favorite-star-sm{
            background-position: center;
            background-size: cover;
            background-image: url('/assets/theme/clixtv/images/sprite/favorite-icon-filled.png');
        }
    }

}

// Tabs Selectores

.tabs-selectors{
    border-bottom: 1px solid #636363;
    margin: 30px 30px 10px 30px;
    .tab-selector{
        display: inline-block;
        padding: 10px 0px;
        margin: 0 60px 0 0;
        font-size: 24px;
        color: #8a8a8a;
        cursor: pointer;
        font-family: Cabin;
        text-transform: uppercase;
        letter-spacing: 2.5px;

        &:hover, &.active{
            color: white;
            border-bottom: 4px solid #fe0000;
            padding-bottom: 6px;
        }
    }
}

.details{
    padding-right:0px;
}