// GLOBAL HEADER DEFFENITIONS: HEIGHT PADDING ETC.
.header-clix {

    font-family: 'PTsans';
    padding: 0px 15px;
    font-size: 18px;
    color: #fff;
    // @media (max-width: 1400px) {
    //     font-size: 24px;
    // }
    @media (max-width: @screen-xs-max) {
        padding: 10px;
         height: 55px;
    }
    .points {
        border-radius: 18px;
    	display: inline-block;
    	background-color: #e61419;
        padding: 3px 13px;
        min-width: 87px;
        text-align: center;
        font-size: 14px;
        span{
            position: relative;
            top:2px;
        }
    }


   	.navbar-nav {

        &.left-nav {
            padding: 2px 0px 0px 25px;
            border-left: 2px solid white;
            height: 28px;
            margin-top: 8px;
            @media (max-width: @screen-xs-max) {
                border-left: 0px;
            }
            .search-a {
                padding: 0.4vw 0px;
                padding-left: 1vw;
                padding-right: 0px;
                margin-top: -4px;
            }
        }

    	>li {
            >a {
                padding: 5px 20px;
                font-size: 13px;
                line-height: 1.4;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
    	}
    }

}
.loginModal {
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.77);

      padding: 0!important;


    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
    }
    .modal-dialog {
      display: inline-block;
      vertical-align: middle;
    }

    .modal-dialog{
        width: 370px !important
    }

    @media (max-width: @screen-xs-max) {
        padding: 0;
        margin: 0;
        .modal-dialog {
            margin: 0;
        }
    }
    .modal-content {

        padding: 0px;
        background-color: transparent;
        overflow: hidden;
        box-shadow: none;
        border: none;

        .wrapper{
            width: 200%;
            display: table;
            margin-left:0;
            transition: 1s;

            &.left{
                margin-left: -100%;
            }
            .login, .register{
                border-radius: 8px;
                width: 50%;
                float: left;
                background-color: #1b1b1b;

                @media (max-width: 560px) {
                    padding: 0px 10px;
                }
            }
        }
        .modal-header {
            border: none;
            font-size: 36px;
            padding: 30px 0;
            border-bottom: 1px solid #636363;
        }

        .modal-body{
            padding: 0;
            background-color: #292929;

            .login-buttons {
                padding: 19px 30px 0px;
                background-color: #292929;
                .facebook-button {
                    padding: 11px 0px;
                    margin-bottom: 20px;
                    font-size: 11px;
                    letter-spacing: 2px;
                    cursor: pointer;
                    border-radius: 40px;
                    font-family: Cabin;
                    background-image: linear-gradient(to right, #2b3a92, #405ebf);
                    text-transform: uppercase;
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.35);

                    &:hover{
                        background-image: linear-gradient(to left, #2e448b, #1e2a6d);
                    }
                }
                .google-button {
                    padding: 11px 0px;
                    margin-bottom: 20px;
                    font-size: 11px;
                    letter-spacing: 2px;
                    cursor: pointer;
                    border-radius: 40px;
                    font-family: Cabin;
                    background-image: linear-gradient(to right, #b23e28 , #e35439);
                    text-transform: uppercase;
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.35);

                    &:hover{
                        background-image: linear-gradient(to left, #bf3e26, #92301d);
                    }
                }                
                .other {
                    height: 2px;
                    border: 1px solid #5d5d5d;
                    margin: 30px 0;
                    span{
                        font-size: 14px;
                        background-color: #292929;
                        margin-top: -9px;
                        display: inline-block;
                        padding: 0px 20px;
                        color: rgb(147,146,147);
                        font-style: italic;
                    }


                }
            }

            .credentials-login {
                .fields{
                    background-color: rgb(28,27,32);

                    .field{
                        padding: 6px 40px;
                        &.first{
                            border-bottom: 2px solid rgb(34,34,39);
                        }
                        .icon{
                            color: rgb(151,151,151);
                            font-size: 16px;
                            display: inline-block;
                            position: relative;
                            top: 2px;                            
                        }
                        input{
                            border:0;
                            height: 25px;
                            background-color: transparent;
                            padding: 0px 0px 0px 11px;
                            font-size: 14px;
                            line-height: 14px;
                            outline: none;
                            color: rgb(151,151,151);
                            width: 90%;

                        }

                        input:-webkit-autofill {
                            -webkit-text-fill-color: #979797;
                            background-color: #1c1b20 !important;
                            -webkit-box-shadow: 0 0 0px 1000px #1c1b20 inset;
                        }
                    }
                }

                .btns{
                    padding: 15px 30px 15px 30px;
                    .login-error , .register-error{
                        font-size: 19px;
                        color: #bababa;
                        width: 100%;
                        float: left;
                        padding: 5px 15px;
                        margin-bottom: 15px;
                        position: relative;
                        background-color: #b01c27;
                        border-radius: 8px;
                    }

                    .login-btn {
                        padding: 11px 0px;
                        font-size: 11px;
                        letter-spacing: 2px;
                        cursor: pointer;
                        border-radius: 40px;
                        font-family: Cabin;
                        background-image: linear-gradient(to right, rgb(145,22,133), rgb(250,17,27));
                        text-transform: uppercase;
                        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.35);
                        width: 100%;
                        border: 0;
                        outline: 0;

                        &:hover{
                            background-image: linear-gradient(to left, #d20004, #730063);
                        }
                    }
                }

            }
            .undeline:hover{
                text-decoration: underline;
            }
            .forgot-register {
                font-size: 14px;
                color: white;
                padding-bottom: 15px;


            }
        }

        .modal-footer {
            padding: 20px;
            text-align: center;
            border-top: 1px solid #636363;
            font-size: 14px;
            color: rgb(130,130,130);

            a{
               font-size: 14px;
                color: rgb(130,130,130); 
                text-decoration: underline;
            }
            a:hover{
                text-decoration: underline;
            }
        }


    }
}
.header-clix {
    top: 0px;
    transition: 0.5s ease;
    position: fixed;
    width: 100%;
    z-index: 1010;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0));
    &.header-black {
        background-color: #000;
        opacity: 1;
    }
    .navbar {
        margin-top: 26px;
    }
    .seefull {
        color: #999;
        a {
            color: #999 !important;
        }
    }
    .search-form {
        outline: none;
        // margin-top: 6px;
        @media (max-width: @screen-xs-max) {
            text-align: center;
            margin-top: -2px;
        }

        .icon{
            top: 6px;
            position: absolute;
            left: 25px;
            transform: scale(0.8);
            z-index: 2;
        }
        .sub-search {
            font-size: 20px;
            display: inline-block;

            .fa-search {
                transition: 450ms;
                @media (max-width: @screen-xs-max) {
                    margin-top: 0px;
                }
                &:hover {
                    color: #e61419;
                }
            }
            &.input-sub {
                width: 9vw;
                @media (max-width: @screen-xs-max) {
                    width: auto;
                }
                #search-terms, #search-terms-mobile {
                    transition: .6s ease;
                    margin-top: -6px;
                    width: 0px;
                    opacity: 0;
                    border: 2px solid #535353;
                    border-radius: 2px;
                    background-color: #000;
                    outline: none;
                    border-radius: 30px;
                    padding: 2px 10px 2px 30px;
                    color: #5b5b5b;
                    &.focused {
                        width:  9vw;
                        opacity: 1;
                        @media(max-width: 400px) {
                            width: 160px;
                        }
                    }
                }
            }
        }
    }
    .navbar-brand {
        // transform: scale(0.8);
        margin-left: 0 !important;
        height: auto;
        padding: 0;
        padding-bottom: 45px;
        width: 135.6px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        cursor: pointer;
        background-image: url('/assets/theme/clixtv/images/clixlogo.png');
        margin-right: 44px;

    }
    .navbar-toggle {
        @media (max-width: @screen-xs-max) {
            padding: 0;
            margin-right: 0;
        }
        .icon-bar {
            background-color: white;
        }
    }
    .navbar-collapse {
        // margin-top: 10px;
        @media (max-width: @screen-xs-max) {
            margin-top: 0;
            background-color: rgba(0,0,0,0.6);
            border-top: none;
        }
        a {
            transition: 450ms;
            border-radius: 3px;
            color: #bababa;
            // margin-right: 14px;
        }
        .navbar-right {
            a {
                transition: none;
            }
        }

        .icon {
            display: inline-block;
            margin-bottom: -7px;
        }
        .nav>li>a:focus, .nav>li>a:hover {
            text-decoration: none;
            background-color: transparent;
        }
        .nav>li>a{
            &:hover, &.active{
                color: #FFFFFF;
            }
        }
        .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
            background-color: transparent;
        }
        .dropdown-menu {
            padding: 0;
            margin-top: 10px;

            @media(max-width: @screen-xs-max) {
                margin-top: 0px;
                margin-left: 30px;
                font-size: 16px;
                li>a {
                    color: #bababa;
                    text-decoration: none;
                    background-color: transparent;
                }
            }


        }
        .dropdown {
            &.open {
                .dropdown-toggle {
                    color: #e61419;
                }

            }
        }
        .signin-div {
            margin-top: 3px;
            text-align: center;
            color: white;
            @media (max-width: @screen-xs-max) {
                text-align: left;
            }

            div {
                vertical-align: top;
                cursor: pointer;
            }
            .logged-out {
                color: white;
                 margin-top: 1vh;
            }
            .logged-in {
                // margin-top: 6px;
                .user-img {
                    width: 45px;
                    height: 45px;
                }
                .account-drop {
                    border-radius: 0;
                    right: -396px;
                    font-size: 20px;
                    background-color: rgba(0, 0, 0, 0.89);
                    //width: 350px;
                    width: 245px;
                    top: -10px;
                    transition: 0.5s;
                    display: block;
                    position: fixed;
                    height: 101%;

                    &.show{
                        right: -2px !important;
                    }

                    .image-field {

                        background-color: rgba(0,0,0,0.62);
                        overflow: hidden;
                        position: relative;
                        text-align: center;
                        padding: 30px 0px;
                        .overlay-image {
                            z-index: -1;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            width: 100%;
                            background-position: center;
                            background-size: 160%;
                            -webkit-filter: blur(15px);
                            -moz-filter: blur(15px);
                            -o-filter: blur(15px);
                            -ms-filter: blur(15px);
                            filter: blur(15px);
                        }
                        .user-image {
                            border-radius: 50%;
                            width: 4.2vw;
                            padding-bottom: 4.2vw;
                            background-position: center;
                            background-size: cover;
                            margin: auto;
                        }
                        .user-name {
                            font-family: PTsans;
                            font-weight: normal;
                            margin-top: 0.2em;
                            font-size: 16px;
                        }
                        .my-clix {
                            font-family: Cabin;
                            font-size: 13px;
                            color: #8e8e8e;
                        }
                    }
                    li {
                        .li-img {
                            width: 1.1vw;
                            height: 1.1vw;
                            margin: -3px 20px 0 0;
                        }

                        &.logout{
                            background-color: transparent;
                            padding: 30px;

                            span{
                                border: 1px solid #a1a1a1;
                                border-radius: 40px;
                                width: 135px;
                                height: 36px;
                                line-height: 36px;
                                color: #a1a1a1;
                                font-size: 11px;
                                letter-spacing: 4px;
                                text-align: center;
                                text-transform: uppercase;
                                display: table;
                                margin: 0 auto;
                                font-family: Cabin;
                            }
                        }
                        a {
                            //font-size: 0.95vw;
                            //line-height: 0.95vw;
                            //padding: 0.57vw 0.76vw;
                            //color: white;

                            font-size: 13px;
                            line-height: 25px;
                            padding: 10px 25px;
                            color: #bababa;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            background-color: #171717;                          

                            //background-color: rgb(23,23,23);
                            &:hover {
                                background-color: #313131;
                            }
                        }
                    }
                }
                .user-section {
                    &:hover, &:focus {
                        color: #FFFFFF;
                    }
                }
                .reward-span {
                    font-size: 9px;
                    letter-spacing: 1px;
                    &:hover, &:focus {
                        color: #e61419;
                    }
                }
            }
            .singin-btn {
                margin-top: -1.4vh;
                margin-bottom: 2px;
                // line-height: 1.2;
                color: white;
                width: 110px;

                border-radius: 20px;
                background-color: #e61419;

            }
        }
    }

    .dropdown {
        .nots{
            position: absolute;
            background-color: #232323;
            width: 375px;
            border-radius: 8px;
            padding: 0;
            list-style: none;
            color: white;
            text-align: left;
            margin-top: -10px;
            right: -5px;

            .title{
                text-align: left;
                font-size: 18px;
                font-weight: bold;
                padding: 6px 23px;
                border-bottom: 1px solid #494949;
            }
            .not{
                font-size: 14px;
                padding: 12px 23px;
                border-bottom: 1px solid #494949;

                .not-title{
                        margin-bottom: 8px;
                        .not-subject{
                            font-size: 14px;
                            font-weight: bold;
                        }

                        .not-text{
                            font-size: 14px;
                        }
                }

                .not-time{
                    color: #939393;
                    font-size: 10.5px;
                    letter-spacing: 0.7px;
                    text-transform: uppercase;

                    .icon{
                        margin-bottom: -5px
                    }

                    .not-reward-points{
                        background-color: red;
                        padding: 3px 10px;
                        border-radius: 50px;
                        color: white;
                        font-size: 12px;
                        width: 138px;
                        display: inline-flex;
                        text-align: center;
                        text-transform: capitalize;
                        margin-left: 5px;
                    }
                }



                &:last-child{
                    border: 0;
                }
            }

        }
        .notifications-number{
            width: 1.25vw;
            height: 1.25vw;
            background-color: #e31924;
            z-index: 5;
            right: -0.7vw;
            top: -0.7vw;
            position: absolute;
            border-radius: 50%;
            color: white;
            font-size: 0.6vw;
            line-height: 1.5vw;
        }
        #dropdownMenu1 {
            font-weight: 400;
            font-size: 16px;
        }
        .arrow-up {
            color: rgba(0,0,0,0.8);
            position: absolute;
            margin-top: -12px;
            right: 10px;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 12px solid
        }
    }

}
.footer-clix {
    //font-family: 'PTsans';
    font-family: 'Cabin';
    color: white;
    //padding-top: 30px;
    padding: 90px 0px 40px 0px;
    .links-section {
        //padding: 70px 0px;
        background-color: #000;
        .clix-side {
            width: 45%;
        }
        .help-side {
            width: 54%;
        }
        .links-header {
            padding: 0px 0px 60px 0px;
            height: 70px;
            color: white;
            font-size: 13px;
            letter-spacing: 2px;
            text-transform: uppercase;
            &:first-child {
                font-family: Cabin;
                color: #b3b2ae;
                letter-spacing: 8px;
                height: initial;
            }
        }
        .link-footer {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 20px;
        }

        .footer-social{
            float: left;
            margin-right: 25px;
            padding-top: 0px;
            font-size: 20px;
            color: #b3b2ae;
        }

    }
    .logo-section {
        .icon {
            margin: 30px auto;

            img{
                width:90%;
            }
        }
    }
    .legal-section {
        background-color: #000;
        color: #848484;
        margin: 90px 0px 0px 0px;
        .legal-links {
            padding-left:0;
            padding-bottom: 24px;
            //float:left;
            a {
                color: #323232;
                padding: 0px 50px;
                font-size: 13px;
            }
        }
    }
}
