.clix-printable-page {
    padding-top: 93px;
    .printable-logo-container {
        text-align: center;
        margin: 0 auto;
        width: 300px;

        img {
            max-width: 100%;
        }
    }
}