.clix-logo-container {
    .flex-display;
    .flex(1);
    .align-items(center);
    .justify-content(center);
    .radial-gradient(@color-brand-start, @color-brand-end, 0 100%);
    height: 115px;
    text-align: center;
    padding: 20px;


    &.clix-charity-logo-container {
        .radial-gradient(@color-charity-start, @color-charity-end, 0 100%, 60%);
    }

    .logo-image {
        max-height: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    &.large {
        height: 289px;
    }
}