
<div class="home-page ">
    <div class="backgroundImage">
        <mycarousel  images="images">
       </mycarousel>
</div>


    <div class="container-vive">
        <div class="main-video">
            <div class="left-tabs" >
                 <ul class="nav">
<!-- {{mystring='video' ? 'available' : 'oh no, you don't have classit'} -->
                    <li ng-click="limit('videos',9)"  class="{{changeclass=='videos'?'changeliclass': ''}}" ><a class="{{changeclass=='videos'?'changeaclass': ''}}" data-toggle="tab"> Videos </a></li>
                    <li ng-click="limit('movies',10)"  class="{{changeclass=='movies'?'changeliclass': ''}}"><a class="{{changeclass=='movies'?'changeaclass': ''}}"  data-toggle="tab" >Peliculas</a></li>
                    <li ng-click="limit('featuredVideos',10)"  class="{{changeclass=='featuredVideos'?'changeliclass': ''}}"><a class="{{changeclass=='featuredVideos'?'changeaclass': ''}}" data-toggle="tab">Programas</a></li>
                    <li ng-click="limit('karaoke',10)"  class="{{changeclass=='karaoke'?'changeliclass': ''}}"><a class="{{changeclass=='karaoke'?'changeaclass': ''}}"  data-toggle="tab">Karaoke</a></li>
                </ul>
            </div>
         <div class="right-tabs tab-pane active  ">

                <div class=" images">
                    <div class="showAllVideos">
                        <a  class="showAllVideosa" href ng-click="incrementLimit()"> Show All</a>
                    </div>
                    <div ng-repeat="obj in collection | limitTo:videosToShow  track by $index" class="{{changeclass=='videos'?'col-xs-12 col-sm-6 col-md-4 video-box':changeclass=='movies'?' col-xs-12 col-sm-4 col-md-15   movies-box':changeclass=='featuredVideos'?'col-xs-12 col-sm-4 col-md-15  feature-box':'col-xs-12 col-sm-4 col-md-15 karaoke-box'}}  ">
                        <videosdir ng-if="changeclass=='videos'" video="obj" >

                        </videosdir>

                        <moviedir ng-if="changeclass=='movies'" movie="obj" >

                        </moviedir>

                        <featurdir ng-if="changeclass=='featuredVideos'" featured-video="obj" >

                        </featurdir>

                        <karaokedir ng-if="changeclass=='karaoke'" karaoke="obj" >

                        </karaokedir>

                    </div>
                </div>


         </div>
        </div>
        <div class="channels row">
            <div class="channelsHeadline">
                <p>Canales populares Envivo</p>
            </div>
            <div class="col-xs-12 col-md-2 channels-box " ng-repeat="logo in logos ">
                <div class="channels-style" ng-style="{'background-image':'url({{logo.PosterH.url}})'}">
                </div>
            </div>
        </div>
    </div>

</div>
