


<div class="karokae-page">


    <div class="karaoke-container">
        <div class="main-karoke">
            <div class="karaoke-left-tabs">
                <ul class="nav">
                   <li ng-click="select('singers',9)"  class="{{changeclass=='singers'?'changeliclass': ''}}" ><a class="{{changeclass=='singers'?'changeaclass': ''}}" data-toggle="tab"> Singers </a></li>
                   <li ng-click="select('Playlist',10)"  class="{{changeclass=='Playlist'?'changeliclass': ''}}"><a class="{{changeclass=='Playlist'?'changeaclass': ''}}"  data-toggle="tab" >Playlist</a></li>
                   <li ng-click="select('Myplayist',10)"  class="{{changeclass=='Myplayist'?'changeliclass': ''}}"><a class="{{changeclass=='Myplayist'?'changeaclass': ''}}" data-toggle="tab">My Playlist</a></li>

               </ul>
            </div>
            <div class="karaoke-right-tabs">
                <div class="upper-karaoke">
                    <input class="search-box" ng-model="search.name">
                    </input>
                    <span class="glyphicon glyphicon-search iconsearclass" aria-hidden="true"></span>


                    <div class="dropdown dropdown-karaoke">
                        <div class="dropdown-div"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          Sort by
                      </div>
                      <div class="arrow" data-toggle="dropdown"></div>
                        <ul class="dropdown-menu ul-style" aria-labelledby="dropdownMenu1">
                          <li class="listyle"><a ng-click="sortbyfunc('popular')" class="astyle" >Popular</a></li>
                           <li role="separator " class="divider separator-style"></li>
                          <li  class="listyle "><a ng-click="sortbyfunc('newest')" class="astyle">Newest</a></li>
                           <li role="separator" class="divider separator-style"></li>
                          <li  class="listyle"><a ng-click="sortbyfunc('name')" class="astyle">Name</a></li>
                        </ul>
                    </div>

                </div>
                <div ng-repeat="obj in collection  | filter:search:strict" class="{{changeclass=='videos'?'col-xs-12 col-sm-6 col-md-4 video-box':changeclass=='movies'?' col-xs-12 col-sm-4 col-md-15   movies-box':changeclass=='featuredVideos'?'col-xs-12 col-sm-4 col-md-15  feature-box':'col-xs-12 col-sm-4 col-md-15 karaoke-box'}}  ">
                    <karaokedir ng-if="changeclass=='singers'" karaoke="obj" >

                    </karaokedir>
                </div>
            </div>
        </div>
    </div>
</div>








<!-- <div class="karaoke-page vive-container">
    <div class="page-header">
        Karaoake
    </div>
    <div class="page-content">
        <div class="by-genre">
            <div class="title">By Genre</div>
            <div class="genres">
                <vtt-carousel data-model="genre" data-target-dir="Karaoke/Genre" data-orientation="square" data-target-param="title" data-title="true"></vtt-carousel>
            </div>
        </div>
        <div class="filter row">
            <div class="title col-xs-12 col-md-6">By Singer</div>
            <div class="search flr pr">
                <i class="fa fa-search"></i>
                <input id="search-box" type="text" placeholder="Search..." ng-model="search" ></input>
            </div>
        </div>
        <div class="videos row">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="singer in singers | filter:videosFilter">
                <div class="video hand" style="background-image:url({{singer.PosterH.url}})" ng-click="go('/Karaoke/Singer/'+videos[0]._id)">
                    <div class="title">{{singer.title}}</div>
                </div>
            </div>
        </div>

    </div>

</div> -->
