# File name: 0000-init.config
# Purpose: Init the environment for the eMind EB extensions procedures
# Authors: Jack Bezalel

# option_settings:
# 
#   "aws:elasticbeanstalk:application:environment":
# 
#     # The following setting will be overriden by settings done via the eb command or console
# 
#     EB_APP_NAME : "undef_eb_app"
#     EB_ENV_NAME : "undef_eb_env" # Could be set to "Production","QA"

container_commands:

  00-display-env-set-app-name:
    # Verify the EB (Elastic Beanstalk) folder = current working directory
    command: "echo BEANSTALK at ${PWD} and BEANSTALK_APP_NAME = ${BEANSTALK_APP_NAME}"
    ignoreErrors: false

  10-init-rm:
    # Remove the ebextensions local copy directory if exists
    command: "/bin/rm -rf /emind/ebextensions"
    ignoreErrors: false

  20-init-mkdir:
    # Re-create the directory "/emind", if it does not exist, so ebextensions can be created under it
    command: "mkdir -p /emind/ebextensions"
    ignoreErrors: false

  30-init-copy:
    # Create a sym-link from the EB working directory to /emind/ebextensions
    command: "cd ${PWD}/.ebextensions ; /bin/cp -pr . /emind/ebextensions"
    ignoreErrors: false

  40-init-unix2dos-chmodx-convert:
    # Convert any possibly shell scripts edited in Windows, to Unix format and permissions
    # unix2dos-chmodx-convert.sh will find any *.sh files and take care of them
    # but first we take care of itself here and then activate it
    command: 
      "/usr/bin/dos2unix /emind/ebextensions/init/unix2dos-chmodx-convert.sh ;
       /bin/chmod a+x /emind/ebextensions/init/unix2dos-chmodx-convert.sh ;
       /bin/bash /emind/ebextensions/init/unix2dos-chmodx-convert.sh"
    ignoreErrors: false
