# File: 0020-logstash.config
# Purpose: Install and configure logstash with selected set of config files
# Author: Jack Bezalel

files:
  "/etc/yum.repos.d/logstash.repo":
    mode: "000644"
    owner: root
    group: root
    content: |
      [logstash-2.0]
      name=Logstash repository for 2.0.x packages
      baseurl=http://packages.elasticsearch.org/logstash/2.0/centos
      gpgcheck=1
      gpgkey=http://packages.elasticsearch.org/GPG-KEY-elasticsearch
      enabled=1

container_commands:

  100-install-logstash:
    command: "/usr/bin/yum -y install logstash"

  200-configure-logstash:
    command: "/emind/ebextensions/logstash/set-output-endpoint.sh"

  300-add-grok-patterns:
    command: "mkdir -p /etc/logstash/patterns.d && rm -f /etc/logstash/patterns.d/* && cp -f /emind/ebextensions/logstash/pattern* /etc/logstash/patterns.d/ && chown logstash:webapp /etc/logstash/patterns.d/pattern*"

  400-restart-logstash:
    command: "rm -f /etc/logstash/conf.d/*.conf && /bin/cp -pf /emind/ebextensions/logstash/*.conf /etc/logstash/conf.d/ && chown logstash /etc/logstash/conf.d/*.conf && /sbin/service logstash restart"
