# Module for installing NewRelic agent for PHP
# An environment property named "NR_INSTALL_KEY" needs to be set for the environment.
# The property name needs to be exactly the one specified above, as the NewRealic software also makes use of it

packages:
  yum:
    newrelic-php5: []
    newrelic-sysmond: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm 

container_commands:
  "100-perform-install":
    command: "newrelic-install install"
    env:
      NR_INSTALL_SILENT: true
  "200-set-application-name":
    command: "/emind/ebextensions/newrelic-php/php-appname.sh"
  "300-set-license-key":
    command: "/usr/sbin/nrsysmond-config --set license_key=${NR_INSTALL_KEY}"
    test: "hostname | grep -i '^prod'"
  "400-start-service":
    command: "/etc/init.d/newrelic-sysmond start"
    test: "hostname | grep -i '^prod'"
  "500-restart-httpd":
    command: "/etc/init.d/httpd restart"
    test: "hostname | grep -i '^prod'"
