# Installs the Datadog agent for Amazon Linux
#
# Prior to deploying, add an EB environment property named DD_API_KEY
# and set its value to the token which points at the correct Datadog account.

files:
  "/etc/yum.repos.d/datadog.repo":
    mode: "000644"
    owner: root
    group: root
    content: |
      [datadog]
      name = Datadog, Inc.
      baseurl = http://yum.datadoghq.com/rpm/x86_64/
      enabled=1
      gpgcheck=0

container_commands:
  0000-install-datadog:
    command: "/usr/bin/yum -y install datadog-agent"
  0001-set-api-key:
    command: "/bin/bash -c \"sed 's/api_key:.*/api_key: $DD_API_KEY/' /etc/dd-agent/datadog.conf.example > /etc/dd-agent/datadog.conf\" && /sbin/service datadog-agent restart"