.clix-checkbox {
    .flex-display;
    .align-items(center);
    .justify-content(center);
    cursor: pointer;

    @media (min-width: @screen-sm) {
        .justify-content(flex-start);
    }

    .checkbox-container {
        .border-radius(7px);
        width: 25px;
        height: 25px;
        border: 2px solid @color-white;
        text-align: center;
        padding-top: 2px;

        .check-icon {
            visibility: hidden;
            color: @color-white;
            font-size: 16px;
        }

        &.selected {
            .check-icon {
                visibility: visible;
            }
        }
    }

    .checkbox-label {
        font-family: @font-primary;
        color: @color-white;
        font-size: 17px;
        margin-left: 16px;

        @media (min-width: @screen-sm) {
            font-size: 14px;
        }
    }
}