<clix-modal>
    <a ng-click="onCloseIconPress()" class="hidden-md hidden-lg icon-remove-icon clix-modal-close"></a>
    <div class="signup-modal" ng-show="signup">
        <div class="signup-modal-header">
            <div class="header-logo-icon icon-colorful-clix-logo"></div>
        </div>
        <div class="signup-modal-social">
            <div class="social-modal-row">
                <clix-primary-button type="facebook">
                    Sign Up With Facebook
                </clix-primary-button>
            </div>
            <div class="social-modal-row">
                <clix-primary-button type="google">
                    Sign Up With Google
                </clix-primary-button>
            </div>
            <div class="or-email-container">
                <span>or with email</span>
            </div>
        </div>
        <div class="signup-modal-form">
            <div class="signup-modal-form-row">
                <i class="form-icon small icon-email-input-icon"></i>
                <div class="signup-modal-input">
                    <input type="email" placeholder="Email" name="email" />
                </div>
            </div>
            <div class="signup-modal-form-row">
                <i class="form-icon small icon-email-input-icon"></i>
                <div class="signup-modal-input">
                    <input type="email" placeholder="Re-Enter Email" name="email-confirm" />
                </div>
            </div>
            <div class="signup-modal-form-row">
                <i class="form-icon icon-password-input-icon"></i>
                <div class="signup-modal-input">
                    <input type="password" placeholder="Choose Password" name="password" />
                </div>
            </div>
            <div class="signup-modal-form-row">
                <i class="form-icon icon-password-input-icon"></i>
                <div class="signup-modal-input">
                    <input type="password" placeholder="Re-Enter Password" name="password-confirm" />
                </div>
            </div>
            <div class="signup-modal-form-row">
                <i class="form-icon large icon-full-name-input-icon"></i>
                <div class="signup-modal-input">
                    <input type="text" placeholder="Full Name" name="name" />
                </div>
            </div>
            <div class="signup-modal-form-row">
                <i class="form-icon icon-dateofbirth-input-icon"></i>
                <div class="signup-modal-input">
                    <input type="text" placeholder="Date of Birth" name="birthdate" />
                </div>
            </div>
            <div class="signup-modal-form-row">
                <i class="form-icon icon-gender-input-icon"></i>
                <div class="signup-modal-input">
                    <input type="text" placeholder="Gender" name="gender" />
                </div>
            </div>
        </div>
        <div class="signup-modal-submit">
            <div class="submit-button">
                <clix-primary-button type="normal">
                    Sign Up
                </clix-primary-button>
            </div>
            <div class="login-container">
                Have an account?
                <a ng-click="onLoginPress()">
                    Log in
                </a>
            </div>
        </div>
        <div class="signup-modal-footer">
            By signing in, you agree to our <a ng-click="onTermsPress()">Terms of Service</a> and <a ng-click="onPrivacyPress()">Privacy Policy</a>
        </div>
    </div>

    <div class="signup-modal" ng-hide="signup">
        <div class="signup-modal-header">
            <div class="header-logo-icon icon-colorful-clix-logo"></div>
        </div>
        <div class="signup-modal-social">
            <div class="social-modal-row">
                <clix-primary-button type="facebook" ng-click="onFacebookLoginPress()">
                    Log In With Facebook
                </clix-primary-button>
            </div>
            <div class="social-modal-row">
                <clix-primary-button type="google" ng-click="onGoogleLoginPress()">
                    Log In With Google
                </clix-primary-button>
            </div>
            <div class="or-email-container">
                <span>or with email</span>
            </div>
        </div>
        <form ng-submit="onLoginSubmit()" class="signup-modal-form">
            <div class="signup-modal-form-row">
                <i class="form-icon small icon-email-input-icon"></i>
                <div class="signup-modal-input">
                    <input type="email" placeholder="Email" ng-model="loginModel.email" />
                </div>
            </div>
            <div class="signup-modal-form-row">
                <i class="form-icon icon-password-input-icon"></i>
                <div class="signup-modal-input">
                    <input type="password" placeholder="Password" ng-model="loginModel.password" />
                </div>
            </div>
            <input type="submit" />
        </form>
        <div class="signup-modal-submit">
            <div class="submit-button">
                <clix-primary-button type="normal" ng-click="onLoginSubmit()">
                    Log In
                </clix-primary-button>
            </div>
            <div class="login-container">
                <a ng-click="onForgotPasswordPress()" class="forgot-password">
                    Forgot Password?
                </a><br />
                Don't have an account?
                <a ng-click="onSignupPress()">
                    Sign up
                </a>
            </div>
        </div>
        <div class="signup-modal-footer">
            By signing in, you agree to our <a ng-click="onTermsPress()">Terms of Service</a> and <a ng-click="onPrivacyPress()">Privacy Policy</a>
        </div>
    </div>
</clix-modal>