.clix-tabs {
    .nav-tabs {
        border-bottom-width: 0;
        font-family: @font-secondary;
        font-size: 14px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        margin-bottom: 1px;
        li {
            margin-right: 40px;
        }
        li.active {
            border-bottom: 4px solid @color-primary;
            a {
                color: @color-white;
            }
        }
        a {
            background-color: @color-transparent !important;
            border-width: 0 !important;
            color: @color-gray2;
            padding: 0 0 13px 0;
        }
    }
}