.liked_page {
    .liked_header {
        padding-right: 14%;
        padding-left: 14%;
        height: 6vw;
        background-color: #fc5f3d;
        .liked_brand {
            background-position: left;
            background-size: contain;
            background-repeat: no-repeat;
            height: 3.5vw;
            width: 25vw;
            margin-top: 1.2vw;
        }
    }
    .page_container {
        padding-right: 14%;
        padding-left: 14%;
        background: #ffffff;
        .liked_merchandise{
          padding: 0;
          background-image: url(../src/images/headers/merchandise.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: left;
          height: 4vw;
          cursor: pointer;
        }
        .sub_header {
            padding-top: 1.5vw;
            padding-bottom: 1.5vw;
            .search_input_cover {
                padding: 0;
                float: left;
                width: 12vw;
                position: relative;
                .search_input {
                    height: 1.8vw;
                    width: 12vw;
                    border: solid 1px #1a2937;
                }
                .fa-search {
                    position: absolute;
                    top: 0.3vw;
                    right: 1vw;
                    opacity: 0.8;
                    font-size: 1vw;
                }
            }
            .liked_buttons{
              float: right;
              padding: 0;
              bottom: 0.5vw;
              .liked_likes_container{
                float: right;
                width: 18%;
                height: 2.4vw;
                cursor: pointer;
                &:hover{
                  border-radius: 10px;
                  background-color: #fe6443;
                  border: solid 1px #fe6443;
                  .liked_likes_title{
                    color: #ffffff;
                  }
                  .liked_likes_image{
                    background-image: url(../src/images/icon/white_heart.png);
                  }
                }
                .liked_likes_title{
                  font-family: SourceSansPro;
                  font-size: 1.15vw;
                  font-weight: 600;
                  letter-spacing: 0.9px;
                  color: #fe6443;
                  float: left;
                  line-height: 2.4vw;
                  margin-left: 0.4vw;
                }
                .liked_likes_image{
                  background-image: url(../src/images/icon/heart_orange.png);
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                  width: 1.2vw;
                  height: 2.4vw;
                  float: right;
                  margin-right: 0.4vw;
                }
              }
              .liked_bag_container{
                float: right;
                width: 18%;
                height: 2.4vw;
                margin-left: 1vw;
                cursor: pointer;
                &:hover{
                  border-radius: 10px;
                  background-color: #fe6443;
                  border: solid 1px #fe6443;
                  .mybag_likes_title{
                    color: #ffffff;
                  }
                  .liked_bag_image{
                    background-image: url(../src/images/icon/bag_white.png);
                  }
                  .liked_bag_title{
                    color: #ffffff;
                  }
                }
                .liked_bag_title{
                  font-family: SourceSansPro;
                  font-size: 1.15vw;
                  font-weight: 600;
                  letter-spacing: 0.9px;
                  color: #fe6443;
                  float: left;
                  line-height: 2.4vw;
                  margin-left: 0.4vw;
                }
                .liked_bag_image{
                  background-image: url(../src/images/icon/bag_orange.png);
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                  width: 0.8vw;
                  height: 2.4vw;
                  float: right;
                  margin-right: 0.4vw;
                }
              }
            }
        }
        .products_container {
            padding:0;
        }
    }

}
