.mylist_page {
    .page_container {
        .mylist_header {
            background-color: #18d676;;
            padding-right: 14%;
            padding-left: 14%;
            height: 6vw;
            .mylist_brand {
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                height: 3.5vw;
                width: 20vw;
                margin-top: 1.2vw;
            }
        }
        .mylist_content {
            padding: 2vw 13.5vw 3.5vw;

        }
    }
}
