.clix-modal-window {
    z-index: 9000 !important;

    .clix-modal {
        position: relative;
    }

    .clix-modal-close {
        position: absolute;
        top: 13px;
        right: 20px;
        font-size: 18px;
        text-decoration: none !important;
    }

    .modal-content {
        .border-radius(8px);
        background-color: @color-medium-gray4;
        overflow: hidden;
    }

    .clix-modal-header {
        font-size: 13px;
        font-family: @font-secondary;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: @color-light-gray;
        text-align: center;
        padding: 27px;
        border-bottom: 1px solid @color-gray3;
    }
}

.modal-clix-md {
    width: 100%;
    margin: 0;

    @media (min-width: @screen-sm) {
        padding-bottom: 20px;
        margin: 10px auto;
        width: 370px;
    }
}

.modal-clix-lg {
    width: 100%;
    margin: 0;

    @media (min-width: @screen-sm) {
        padding-bottom: 20px;
        margin: 10px auto;
        width: 707px;
    }
}

.modal-backdrop {
    position: fixed !important;
    bottom: 0;
    z-index: 8500 !important;
}