.clix-modal-window {
    //z-index: 9000 !important;

    .clix-modal {
        position: relative;
    }

    .clix-modal-close {
        position: absolute;
        top: 13px;
        right: 20px;
        font-size: 18px;
        text-decoration: none !important;
        cursor: pointer;
        color: @color-gray2;

        &:hover {
            color: @color-white;
        }
    }

    .modal-content {
        .border-radius(8px);
        background-color: @color-gray7;
        overflow: hidden;
    }

    .clix-modal-header {
        font-size: 13px;
        font-family: @font-primary;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: @color-light-gray;
        text-align: center;
        padding: 27px;
        border-bottom: 1px solid @color-gray3;
    }

    .modal-back-button {
        position: absolute;
        top: 18px;
        left: 10px;
        cursor: pointer;
        font-size: 25px;
    }
}

.modal-clix-md {
    width: 100%;
    margin: 0;

    @media (min-width: @screen-sm) {
        padding-bottom: 20px;
        margin: 10px auto;
        width: 370px;
    }
}

.modal-clix-lg {
    width: 100%;
    margin: 0;

    @media (min-width: @screen-sm) {
        padding-bottom: 20px;
        margin: 10px auto;
        width: 707px;
    }
}

.modal-backdrop {
    position: fixed !important;
    bottom: 0;
    //z-index: 8500 !important;
}

.clix-message-modal {
    .message-modal-body {
        padding: 37px 63px;
        background-color: @color-medium-gray4;
        font-size: 14px;
        color: @color-white;
        text-transform: uppercase;
        font-family: @font-primary;
        line-height: 22px;
        letter-spacing: 1.7px;
        text-align: center;
        position: relative;
    }

    .message-modal-footer {
        padding: 30px 20px;
        border-top: 1px solid @color-gray3;
    }

    .buttons-container {
        text-align: right;
    }

    .button-container {
        display: inline-block;
        &:last-child {
            margin-left: 22px;
        }
    }
}