.clix-modal-window {
    z-index: 9000 !important;

    .modal-content {
        .border-radius(8px);
        background-color: @color-medium-gray4;
        overflow: hidden;
    }
}

.modal-clix-md {
    width: 370px;
}

.modal-backdrop {
    bottom: 0;
    z-index: 8500 !important;
}