.clix-category-page {

    .category-page-container {
        position: relative;
        z-index: 2000;
        background-color: @color-darker-gray;
        padding: 13px 30px 62px;
    }

    .category-page-content {
        margin: 0;
    }

    .category-list-container {
        padding: 20px 12px;
        background-color: @color-gray5;
        border: 1px solid @color-gray4;
    }

    .category-list-title {
        font-family: @font-secondary;
        font-size: 14px;
        color: @color-white;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        margin-bottom: 35px;
    }

    .category-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .category-list-item {
        margin: 0;
        padding: 0;

        &.active-category {
            a {
                color: @color-white;
            }
        }

        a {
            display: inline-block;
            font-family: @font-secondary;
            font-size: 13px;
            color: @color-light-gray;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 6px 0;
        }
    }

    .category-content {
        padding-right: 0;
    }

    .category-filter-bar {
        padding-bottom: 16px;
        border-bottom: 1px solid @color-gray3;
    }

    .category-filter-container {
        width: 500px;
        margin-right: 0;
        margin-left: auto;
    }

    .filter-container:first-child {
        padding-right: 20px;
        padding-left: 0;
    }
    .filter-container:last-child {
        padding-left: 20px;
        padding-right: 0;
    }

    .clix-block-row {
        padding-top: 41px;
    }
}