.clix-category-page {
    overflow-x: hidden;
    .category-page-container {
        position: relative;
        z-index: 2000;
        background-color: @color-darker-gray;
        padding: 0 0;

        @media (min-width: @screen-sm) {
            padding: 13px 30px 62px;
        }
    }

    .category-page-content {
        .flex-display;
        margin: 0;
    }

    .category-list-container {
        width: 257px;
        margin-top: 54px;
    }

    .category-list-content {
        padding: 20px 12px;
        background-color: @color-gray5;
        border: 1px solid @color-gray4;
    }

    .category-list-title {
        font-family: @font-secondary;
        font-size: 14px;
        color: @color-white;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        margin-bottom: 35px;
    }

    .category-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .category-list-item {
        margin: 0;
        padding: 0;

        &.active-category {
            a {
                color: @color-white;
            }
        }

        a {
            display: inline-block;
            font-family: @font-secondary;
            font-size: 13px;
            color: @color-light-gray;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 6px 0;
        }
    }

    .category-content {
        .flex(1);
        padding-right: 0;
        @media (min-width: @screen-sm) {
            padding-left: 31px;
        }
    }

    .category-filter-bar {

        padding-top: 30px;
        margin-left: @common-mobile-padding;
        margin-right: @common-mobile-padding;
        border-top: 1px solid @color-gray3;

        @media (min-width: @screen-sm) {
            padding-top: 0;
            margin-left: 0;
            margin-right: 0;
            padding-bottom: 16px;
            border-top-width: 0;
            border-bottom: 1px solid @color-gray3;
        }
    }

    .category-filter-container {
        margin-right: 0;
        margin-left: auto;

        @media (min-width: @screen-sm) {
            width: 500px;
        }

        &.hidden-category-filters {
            visibility: hidden;
        }
    }

    .filter-container:first-child {
        padding-right: 10px;
        padding-left: 0;

        @media (min-width: @screen-sm) {
            padding-right: 20px;
        }
    }
    .filter-container:last-child {
        padding-left: 10px;
        padding-right: 0;

        @media (min-width: @screen-sm) {
            padding-left: 20px;
        }
    }

    .clix-block-row {
        padding-top: 30px;

        @media (min-width: @screen-sm) {
            padding-top: 41px;
        }

        @media (max-width: @screen-sm) {
            margin-left: -5px;
            margin-right: -5px;
        }
    }
    
    .empty-videos {
        text-align: center;
    }

    .empty-category-container {
        text-align: center;
        margin: 100px auto 0;
        display: inline-block;

        .category-icon {
            margin: 0 auto 34px auto;
        }

        .empty-category-title {
            font-family: @font-primary-bold;
            font-size: 30px;
            color: @color-gray2;
        }

        .empty-category-desc {
            font-family: @font-primary;
            font-size: 14px;
            line-height: 22px;
            color: @color-gray2;
            text-transform: uppercase;
            letter-spacing: 1.6px;
            margin-top: 15px;
        }

        .empty-category-notify-container {
            display: inline-block;
            margin: 33px auto;
            padding: 23px 20px;
            border-top: 1px solid @color-gray3;
            border-bottom: 1px solid @color-gray3;
        }

        .empty-category-notify {
            .flex-display;
            .align-items(center);
        }

        .empty-category-notify-label {
            font-family: @font-primary;
            font-size: 14px;
            color: @color-gray2;
            text-transform: uppercase;
            letter-spacing: 1.6px;
        }

        .empty-category-switch {
            margin-left: 30px;
        }

        .manage-settings-container {
            a {
                font-family: @font-primary;
                font-size: 14px;
                color: @color-gray2;
                text-decoration: underline;
            }
        }

        .authentication-container {
            width: 170px;
            margin: 45px auto 0 auto;
        }

        .log-in-button {
            margin-top: 17px;

            a {
                font-family: @font-primary;
                font-size: 11px;
                text-transform: uppercase;
                color: @color-white;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}