.video-category-scroll-list {

    @media (min-width: @screen-sm) {
        padding-left: 30px;
        margin-top: 55px;
    }

    .slick-arrow {
        top: 0 !important;
    }

    h2 {
        font-family: @font-secondary-bold;
        font-size: 18px;
        padding: 0;
        margin: 0 0 30px 0;
        text-transform: uppercase;
        letter-spacing: 3.5px;
        text-align: center;

        @media (min-width: @screen-sm) {
            font-size: 24px;
            text-align: left;
            margin-bottom: 30px;
        }

        a {
            color: @color-gray;
        }
        a:hover, a:focus {
            color: @color-white;
            text-decoration: none;
        }
    }
    .icon-right-arrow {
        font-size: 16px;
        position: relative;

        @media (min-width: @screen-sm) {
            font-size: 20px;
            top: -1px;
        }
    }
    .video-list-container {
        .flex-display;
        .flex(1);
        overflow: hidden;
        margin-top: 20px;
        position: relative;
    }

    .category-container:hover {
        @media (min-width: @screen-sm) {
            .arrow-container {
                width: 63px;
            }
        }
    }

    .arrow-container {
        .flex-display;
        .flex(1);
        .align-items(center);
        .justify-content(center);
        //display: none;
        position: absolute;
        top: 0;
        font-size: 56px;
        height: 100%;
        background-color: @color-transparent-black;
        width: 0;
        overflow: hidden;
        cursor: pointer;
        color: @color-white;
    }

    .arrow:hover {
        text-decoration: none;
    }

    .video-inner-list-container {
        .flex-display;
        .transition(0.5s ease);
        position: relative;
    }

    .video-container {
        margin-right: 12px;
    }

    .video-list-container:hover {
        .arrow-container {
            width: 63px;
        }
    }

    .right-arrow-container {
        right: 0;
    }

    .video-content-container {
        margin-bottom: 30px;
        @media (min-width: @screen-xs) {
            margin-right: 12px;
            margin-bottom: 0;
        }
    }

    .category-container {
        position: relative;
    }

    .arrow-inner-container {
        .flex-display;
        .flex(1);
        .align-items(center);
        .justify-content(center);
        height: 100%;
    }

    .more-videos-button-container {
        text-align: center;
        margin-bottom: 19px;
        border-bottom: 1px solid @color-gray6;
        padding-bottom: 19px;
    }
}