.video-category-scroll-list {
    margin-top: 55px;
    padding-left: 30px;

    .slick-arrow {
        top: 0 !important;
    }

    h2 {
        font-family: @font-secondary;
        font-size: 24px;
        padding: 0;
        margin: 0 0 20px 0;
        text-transform: uppercase;
        letter-spacing: 3.5px;

        a {
            color: @color-gray;
        }
        a:hover, a:focus {
            color: @color-white;
            text-decoration: none;
        }
    }
    .icon-right-arrow {
        font-size: 20px;
    }
    .video-list-container {
        .flex-display;
        .flex(1);
        overflow: hidden;
        margin-top: 20px;
        position: relative;
    }

    .category-container:hover {
        .arrow-container {
            width: 63px;
        }
    }

    .arrow-container {
        .flex-display;
        .flex(1);
        .align-items(center);
        .justify-content(center);
        //display: none;
        position: absolute;
        top: 0;
        font-size: 56px;
        height: 100%;
        background-color: @color-transparent-black;
        width: 0;
        overflow: hidden;
        cursor: pointer;
        color: @color-white;
    }

    .arrow:hover {
        text-decoration: none;
    }

    .video-inner-list-container {
        .flex-display;
        .transition(0.5s ease);
        position: relative;
    }

    .video-container {
        margin-right: 12px;
    }

    .video-list-container:hover {
        .arrow-container {
            width: 63px;
        }
    }

    .right-arrow-container {
        right: 0;
    }

    .video-content-container {
        margin-right: 12px;
    }

    .category-container {
        position: relative;
    }

    .arrow-inner-container {
        .flex-display;
        .flex(1);
        .align-items(center);
        .justify-content(center);
        height: 100%;
    }
}