<div class="video-category-scroll-list" ng-show="category.title">
    <h2>
        <a href="#">
            {{category.title}} <i class="icon-right-arrow"></i>
        </a>
    </h2>
    <div ng-if="category.videos" class="category-container">
        <slick slides-to-show="5" slides-to-scroll="5" infinite="false" variable-width="true" prev-arrow="#carousel-previous-{{$id}}" next-arrow="#carousel-next-{{$id}}" settings="carouselConfig"">
            <div ng-repeat="video in category.videos" class="video-content-container" style="width: {{videoContainerWidth}}px;">
                <div clix-video-content-box video="video"></div>
            </div>
        </slick>
        <div class="arrow-container left-arrow-container" id="carousel-previous-{{$id}}" ng-show="leftArrowVisible">
            <div class="arrow-inner-container">
                <i class="icon-left-tall-arrow"></i>
            </div>
        </div>

        <div class="arrow-container right-arrow-container" id="carousel-next-{{$id}}">
            <i class="icon-right-tall-arrow"></i>
        </div>
    </div>
    <!--<div class="video-list-container">-->
        <!--<div class="video-inner-list-container" style="left: {{left}}px">-->
            <!--<div class="video-container" style="width: {{videoContainerWidth}}px;" ng-repeat="video in category.videos">-->
                <!--<clix-video-content-box video="video"></clix-video-content-box>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>