<div ng-if="!category">
    <clix-loader size="large"></clix-loader>
</div>

<div class="clix-category-page" ng-if="category">
    <clix-hero-banner
            title-text="{{category.title}}"
            button-text="{{'+ Favorites'}}"
            subtext="{{category.videos.videos.length}} {{category.videos.videos.length === 1 ? 'Video' : 'Videos'}}"
            button-icon-class="{{'icon-favorite-icon banner-favorite-icon'}}"
            background-image="{{category.headerImage}}"
            background-image2x="{{category.headerImage}}"
            background-image3x="{{category.headerImage}}"
            shareable="false"
            button-tooltip-text="{{loggedInUser ? 'Add this category to your Favorites.' : 'After signing up, you will be able to add this category to your Favorites.'}}"
            share-tooltip-text="Share this category."
    >
    </clix-hero-banner>
    <div class="category-page-container">
        <div class="category-page-content">
            <div class="category-list-container hidden-sm hidden-xs">
                <div class="category-list-content">
                    <div class="category-list-title">
                        More Categories
                    </div>
                    <ul class="category-list">
                        <li ng-repeat="relatedCategory in categories.categories | orderBy: 'order'" class="category-list-item" ng-class="{'active-category': relatedCategory.title === category.title}">
                            <a ui-sref="category({ id: '{{relatedCategory.id}}' })" ng-show="relatedCategory.videos.videos.length > 0">
                                {{relatedCategory.title}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="category-content">

                <div class="category-filter-bar">
                    <div class="category-filter-container row">
                        <div class="filter-container col-xs-6">
                            <clix-dropdown options="filterOptions" placeholder-text="Filter By"></clix-dropdown>
                        </div>
                        <div class="filter-container col-xs-6">
                            <clix-dropdown options="sortOptions" placeholder-text="Sort By"></clix-dropdown>
                        </div>
                    </div>
                </div>

                <div class="row clix-block-row">
                    <div class="clix-block-item col-xs-12 col-sm-12 col-lg-3" ng-repeat="video in category.videos.videos">
                        <clix-video-content-box video="video"></clix-video-content-box>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>