<div ng-if="!category">
    <clix-loader size="large"></clix-loader>
</div>

<div class="clix-category-page" ng-if="category">
    <clix-landing-page-banner background-image="{{category.headerImage}}">
        <banner-type>
            Category
        </banner-type>
        <banner-title>
            {{category.title}}
        </banner-title>
        <banner-sub-title>
            {{category.videos.videos.length}} {{category.videos.videos.length === 1 ? 'Video' : 'Videos'}}
        </banner-sub-title>
        <banner-logo-container>
            <img ng-src="{{category.logo}}" />
        </banner-logo-container>
        <banner-button-container>
            <clix-tertiary-button ng-click="onFavoritePress()">
                {{isFavorite ? 'Added to Favorites' : 'Favorite'}}
            </clix-tertiary-button>
        </banner-button-container>
    </clix-landing-page-banner>
    <div class="category-page-container">
        <div class="category-page-content">
            <div class="category-list-container hidden-sm hidden-xs hidden-md">
                <div class="category-list-content">
                    <div class="category-list-title">
                        More Categories
                    </div>
                    <ul class="category-list">
                        <li ng-repeat="relatedCategory in categories.categories | orderBy: 'order'" class="category-list-item" ng-class="{'active-category': relatedCategory.title === category.title}">
                            <a ui-sref="category({ id: '{{relatedCategory.id}}' })">
                                {{relatedCategory.title}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="category-content">

                <div class="category-filter-bar">
                    <div class="category-filter-container row" ng-class="{'hidden-category-filters': (!category.videos.videos || category.videos.videos.length === 0)}">
                        <div class="filter-container col-xs-6">
                            <clix-dropdown options="filterOptions" placeholder-text="Filter By"></clix-dropdown>
                        </div>
                        <div class="filter-container col-xs-6">
                            <clix-dropdown options="sortOptions" placeholder-text="Sort By"></clix-dropdown>
                        </div>
                    </div>
                </div>

                <div class="empty-videos" ng-if="!category.videos || !category.videos.videos || category.videos.videos.length === 0">
                    <div class="empty-category-container">
                        <div class="category-icon icon-lifestyle-icon"></div>
                        <div class="empty-category-title">
                            {{category.title}} videos are coming soon!
                        </div>
                        <clix-is-logged-in>
                            <logged-in>
                                <div class="empty-category-desc">
                                    ClixTV can let you know when new<br />content is uploaded into this category!
                                </div>
                                <div class="empty-category-notify-container">
                                    <div class="empty-category-notify">
                                        <div class="empty-category-notify-label">
                                            Notify Me!
                                        </div>
                                        <div class="empty-category-switch">
                                            <clix-switch ng-model="notify"></clix-switch>
                                        </div>
                                    </div>
                                </div>
                                <div class="manage-settings-container">
                                    <a ui-sref="account({ section: 'settings' })">Manage notification settings</a>
                                </div>
                            </logged-in>
                            <not-logged-in>
                                <div class="empty-category-desc">
                                    Sign up now to make sure you are<br />notified when videos become available!
                                </div>
                                <div class="authentication-container">
                                    <clix-primary-button ng-click="onSignupPress()">
                                        Sign Up Now
                                    </clix-primary-button>
                                    <div class="log-in-button">
                                        <a ng-click="onLoginPress()">
                                            Log In Now
                                        </a>
                                    </div>
                                </div>
                            </not-logged-in>
                        </clix-is-logged-in>
                    </div>
                </div>

                <div class="row clix-block-row">
                    <div class="clix-block-item col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2" ng-repeat="video in category.videos.videos">
                        <clix-video-content-callout video="video"></clix-video-content-callout>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>