<div class="clix-category-page" ng-if="configs">
    <clix-hero-banner
            title-text="{{configs.title}}"
            button-text="{{'+ Favorites'}}"
            subtext="{{'217 Videos'}}"
            button-icon-class="{{'icon-favorite-icon banner-favorite-icon'}}"
            background-image="{{configs.backgroundImage}}"
            background-image2x="{{configs.backgroundImage2x}}"
            shareable="false"
    >
    </clix-hero-banner>
    <div class="category-page-container">
        <div class="row category-page-content">
            <div class="col-sm-3 category-list-container">
                <div class="category-list-title">
                    More Categories
                </div>
                <ul class="category-list">
                    <li ng-repeat="relatedCategory in categories" class="category-list-item" ng-class="{'active-category': relatedCategory.title === category.title}">
                        <a ui-sref="category({ slug: '{{relatedCategory.title | slug}}' })">
                            {{relatedCategory.title}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 category-content">

                <div class="category-filter-bar">
                    <div class="category-filter-container row">
                        <div class="filter-container col-xs-6">
                            <clix-dropdown options="filterOptions"></clix-dropdown>
                        </div>
                        <div class="filter-container col-xs-6">
                            <clix-dropdown options="sortOptions"></clix-dropdown>
                        </div>
                    </div>
                </div>

                <div class="row clix-block-row">
                    <div class="clix-block-item col-xs-12 col-sm-12 col-lg-3" ng-repeat="video in videos" ng-if="videos">
                        <clix-video-content-box video="video"></clix-video-content-box>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>