<div class="video-category-scroll-list">
    <h2>
        <a ui-sref="category({ id: '{{category.id}}' })" ng-show="category.headerLink !== false">
            {{category.title}} <i class="icon-right-arrow"></i>
        </a>
        <span ng-show="category.headerLink === false">
            {{category.title}} <i class="icon-right-arrow"></i>
        </span>
    </h2>
    <div class="category-container">
        <div class="visible-lg">
            <slick slides-to-show="5" slides-to-scroll="4" infinite="false" variable-width="true" prev-arrow="#carousel-previous-{{$id}}" next-arrow="#carousel-next-{{$id}}" settings="carouselConfig">
                <div ng-repeat="video in category.videos.videos" class="video-content-container" style="width: {{videoContainerWidth}}px;">
                    <clix-video-content-callout video="video"></clix-video-content-callout>
                </div>
            </slick>
        </div>
        <div class="hidden-lg">
            <div ng-repeat="video in category.videos.videos | limitTo: 4" class="video-content-container">
                <clix-video-content-callout video="video"></clix-video-content-callout>
            </div>
            <div class="more-videos-button-container">
                <clix-secondary-button ui-sref="category({ slug: '{{category.title | slug}}' })">
                    View All {{category.title}}
                </clix-secondary-button>
            </div>
        </div>
        <div class="arrow-container left-arrow-container" id="carousel-previous-{{$id}}" ng-show="leftArrowVisible">
            <div class="arrow-inner-container">
                <i class="arrow-icon icon-left-tall-arrow"></i>
            </div>
        </div>

        <div class="arrow-container right-arrow-container" id="carousel-next-{{$id}}">
            <div class="arrow-inner-container">
                <i class="arrow-icon icon-right-tall-arrow"></i>
            </div>
        </div>
    </div>
</div>