<div ng-if="!categories">
    <clix-loader size="large"></clix-loader>
</div>

<div class="clix-categories-page">
    <clix-filter-page ng-if="categories">
        <page-title>
            Video Categories
        </page-title>
        <page-search-filter>
            <clix-search-filter
                search-placeholder="Search Categories"
                filter-placeholder="Filter By"
                sort-placeholder="Sort By"
                filter-options="filterOptions"
                sort-options="sortOptions"
            ></clix-search-filter>
        </page-search-filter>
        <page-content>
            <clix-content-callout-list items="categories.categories" menu-items="menuItems">
                <clix-content-callout sref="category({ id: '{{item.id}}' })" menu-items="menuItems">
                    <header-element>
                        <div class="category-logo" style="background-image: url('{{item.logo}}')"></div>
                    </header-element>
                    <title-content>
                        {{item.title}}
                    </title-content>
                    <subtitle-content>
                        {{item.videos.videos.length}} {{item.videos.videos.length === 1 ? 'Video' : 'Videos'}}
                    </subtitle-content>
                </clix-content-callout>
            </clix-content-callout-list>
        </page-content>
    </clix-filter-page>
</div>