/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/06/2016, 11:26:59
    Author     : ale_miller10
*/

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-bold';
    src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-light';
    src: url('../fonts/Roboto-Light.ttf');
}

@backgound-base: #eee;

@main-color: #7f00bf;
@main-overlay-color: #8f38bb;
@main-font: 'Roboto-light';

@nav-background: #222;
@nav-highlight-bg-color: #000;
@nav-highlight-font-color: #ffffff;
@nav-font-family: 'Roboto-light';
@nav-height: 90px;


@images-folder: '../images/';


body{
    background-color: @backgound-base;
    padding-top: @nav-height;
    font-family: @main-font;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #eee inset;
}

.custom-container{
    width: 100%;
    padding: 30px;
}

.main-title{
    width: 100%;
    text-align: center;
    font-family:@main-font;
    font-size: 36px;
    color: @main-color;
}

.section-title{
    margin-bottom: 30px;
}



