// GLOBAL HEADER DEFFENITIONS: HEIGHT PADDING ETC.
header {
    height: 128px;
    padding: 20px 26px;
    font-size: 24px;
    color: white;
    @media (max-width: @screen-xs-max) {
        padding: 10px;
         height: 55px;
    }
}

.header-clix {
    background-color: #141a53;
    .navbar-brand {
        margin-right: 10px;
        padding: 10px 0px;
        @media (max-width: @screen-xs-max) {
            padding: 0;
        }
    }
    .navbar-toggle {
        @media (max-width: @screen-xs-max) {
            padding: 0;
        }
        .icon-bar {
            background-color: white;
        }
    }
    .navbar-collapse {
        margin-top: 22px;

        a {
            border-radius: 3px;
            color: white;
            margin-right: 10px;
        }
        .caret {
            margin-top: -4px;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            border-top: 16px dashed
        }
        .nav>li>a:focus, .nav>li>a:hover {
            text-decoration: none;
            color: #141a53;
            background-color: white;
        }
        .dropdown-menu {
            padding: 0;
            border-radius: 5px;
        }
        .dropdown-menu>li>a {
            margin: 0;
            color: #141a53;
            &:hover, &:focus {
                background-color: #141a53;
                color: white;
            }
        }
        .signin-div {
            margin-left: 10px;
            margin-top: -9px;
            text-align: center;
            font-size: 16px;
            .singin-btn {
                margin-bottom: 18px;
                padding: 6px;
                color: #333869;
                width: 100px;
                height: 32px;
                border-radius: 3px;
                background-color: #ffffff;
            }
        }
    }
}
