/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/06/2016, 11:19:58
    Author     : ale_miller10
*/

@main-height: 70px;


.navbar-custom{
    background-color: @nav-background;
    font-family: @nav-font-family;
    font-size: 16px;
    width: 100%;
    height: @nav-height;
    position: fixed;
    top:0px;
    padding-right: 2%;
    z-index: 9999;
}

#main-logo{
    width: 80px;
    height: 90px;
    background-image:  url("@{images-folder}tvj_logo.png");
    background-size: 80px 80px;  
    background-position-y: 7px;
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
    z-index: 1;
}

.navbar-custom .navbar-collapse{
    padding-right: 0px;
}

.auxiliar-nav{
    height: 40px; 
    width: 100%;
    float: left
}

.main-nav{
    height: 50px;
    width: 100%;
    float: left;
}

.main-nav .navbar{
    margin-bottom: 0px;
}

.navbar-custom .navbar-nav > li > a {
    color: #999;
    border-left: 1px #333 solid;
    border-top: 1px #333 solid;
}

.main-nav .navbar-nav > li > a{
    height: 49px;
}

.main-nav .navbar-nav > li{
    width: 175px;
    text-align: center;
}

.auxiliar-nav .navbar-nav > li > a{
    height: 39px;
    font-size: 12px;
    padding-top: 9px;
    
}

.auxiliar-nav .navbar-nav > li > a:last-of-type, .main-nav .navbar-nav > li > a:last-of-type{
    border-right: 1px #333 solid;
}

.main-nav .nav>li>a:focus, .main-nav .nav>li>a:hover{
    color: @nav-highlight-font-color;
    background-color:@nav-highlight-bg-color;
}

.auxiliar-nav .nav>li>a:focus, .auxiliar-nav .nav>li>a:hover{
    color: #fff;
    background-color:transparent;
}


.main-nav .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .main-nav .navbar-nav > .active > a:focus {
    color: @nav-highlight-font-color;
    background-color:@nav-highlight-bg-color;
}

.auxiliar-nav .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .auxiliar-nav  .navbar-nav > .active > a:focus {
    color: @nav-highlight-font-color;
    background: transparent;

}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}

.navbar-custom .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    color: #ffffff;
    background-color: @nav-highlight-bg-color;
    border-color: #333;
}

.main-nav .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .main-nav .dropdown-menu>.active>a:hover{
    background-color: @main-color;
}


#user-icon{
    font-size: 14px;
}

#editbox_search{
    background-color: #333;
    border: none;
    width: 80%;
    height: 50px;
    color: #999;
    padding-left: 5px;
    float: left;

}

#editbox_search:focus{
    outline: none;
}

#search-icon{
    background-color: #333;
    float: left;
    width: 20%;
    height: 50px;
    border: none;
    color: #999;
    top: 0px;
    text-align: center;
    padding-top: 17px;
}