// GLOBAL HEADER DEFFENITIONS: HEIGHT PADDING ETC.
header {
    height: 128px;
    padding: 20px 26px;
    font-size: 24px;
    color: white;
    @media (max-width: @screen-xs-max) {
        padding: 10px;
         height: 55px;
    }
}

.header-clix {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0));
    .navbar-brand {
        margin-right: 10px;
        padding: 10px 0px;
        @media (max-width: @screen-xs-max) {
            padding: 0;
        }
    }
    .navbar-toggle {
        @media (max-width: @screen-xs-max) {
            padding: 0;
        }
        .icon-bar {
            background-color: white;
        }
    }
    .navbar-collapse {
        margin-top: 22px;

        a {
            border-radius: 3px;
            color: white;
            margin-right: 10px;
        }
        .caret {
            margin-top: -4px;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            border-top: 16px dashed
        }
        .nav>li>a:focus, .nav>li>a:hover {
            text-decoration: none;
            color: #e61419;
            background-color: transparent;
        }
        .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
            background-color: transparent;
        }
        .dropdown-menu {
            padding: 0;
            margin-top: 30px;
        }
        .dropdown-menu>li>a {
            margin: 0;
            color: #141a53;
            &:hover, &:focus {
                background-color: #141a53;
                color: white;
            }
        }

        #search {
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;
        }
        #label {
            width: 60px;
            height: 60px;
            position: relative;
            z-index: 20;
        }
        #label label {
            display: block;
            width: 60px;
            height: 60px;
            background: url("../img/search.png") 0 0;
            font-size: 0;
            color: rgba(0, 0, 0, 0);
            text-indent: -9999px;
            cursor: pointer;
        }
        #label label:hover {
            background: url("../img/search.png") -60px 0
        }
        #label.active label {
            background: url("../img/search.png") -60px 0
        }
        #input {
            position: absolute;
            top: 0;
            left: 60px;
            width: 450px;
            height: 60px;
            z-index: 5;
            overflow: hidden;
        }
        #input input {
            display: block;
            position: absolute;
            top: 0;
            left: -450px;
            width: 450px;
            height: 100%;
            margin: 0;
            padding: 0 10px;
            border: none;
            background-color: #23688b;
            color: #fff;
            font-size: 18px;
            backface-visibility: none;
            border-radius: 0;
            transition: left 0;
        }
        #input input:focus {
            outline: none
        }
        #input.focus {
            z-index: 20
        }
        #input.focus input {
            left: 0;
            transition: left 0.3s;
        }






        .signin-div {
            margin-left: 10px;
            margin-top: -9px;
            text-align: center;
            font-size: 16px;
            .singin-btn {
                margin-bottom: 18px;
                padding: 6px;
                color: #333869;
                width: 100px;
                height: 32px;
                border-radius: 3px;
                background-color: #ffffff;
            }
        }
    }
    .columns {
        background-color: rgba(0, 0, 0, 0.8);
        -moz-column-count: 4;
        /* Firefox */
        -webkit-column-count: 4;
        /* Safari and Chrome */
        column-count: 4;
        width: 900px;
        height: 392px;
        border-top: 12px solid white;
        .home-ul {
            color: #e61419;
            font-size: 18px;
            font-weight: bold;
        }
        .white-ul {
            font-size: 18px;
        }
        .white-ul {
            li:first-child {
                font-weight: bold;
            }
        }
        ul {
            margin-top: 30px;
            height: ~"calc(100% - 30px)";
            padding-left: 20px;
            li {
                margin-bottom: 10px;
                list-style: none;
            }
        }
        .arrow-up {
            position: absolute;
            margin-top: -24px;
            left: 45px;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 12px solid
        }
    }
}
