.stitches-icon(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}

.icon {
    background-image: url(/assets/theme/clixtv/images/sprite46.png);
    background-repeat: no-repeat;
    display: inline-block;

    &.icon-add-black-42x42 {
        .stitches-icon(-3px, -3px, 42px, 42px);
    }

    &.icon-arrow-down-black-45x24 {
        .stitches-icon(-51px, -3px, 45px, 24px);
    }

    &.icon-arrow-left-20x33 {
        .stitches-icon(-102px, -3px, 20px, 33px);
    }

    &.icon-arrow-left-49x82 {
        .stitches-icon(-128px, -3px, 49px, 82px);
    }

    &.icon-arrow-left-65x109 {
        .stitches-icon(-183px, -3px, 65px, 109px);
    }

    &.icon-arrow-right-20x33 {
        .stitches-icon(-254px, -3px, 20px, 33px);
    }

    &.icon-arrow-right-49x82 {
        .stitches-icon(-280px, -3px, 49px, 82px);
    }

    &.icon-arrow-right-65x109 {
        .stitches-icon(-335px, -3px, 65px, 109px);
    }

    &.icon-arrow-right-gray-12x23 {
        .stitches-icon(-406px, -3px, 12px, 20px);
    }

    &.icon-arrow-thin-white-20x11 {
        .stitches-icon(-424px, -3px, 20px, 11px);
    }

    &.icon-bell-21x21 {
        .stitches-icon(-450px, -3px, 21px, 21px);
    }

    &.icon-bell-25x25 {
        .stitches-icon(-477px, -3px, 25px, 25px);
    }

    &.icon-brandscon-150x146 {
        .stitches-icon(-508px, -3px, 150px, 146px);
    }

    &.icon-calendar-15x16 {
        .stitches-icon(-664px, -3px, 15px, 15px);
    }

    &.icon-certification-30x30 {
        .stitches-icon(-3px, -155px, 30px, 30px);
    }

    &.icon-certification-40x40 {
        .stitches-icon(-39px, -155px, 40px, 40px);
    }

    &.icon-certification-black-30x30 {
        .stitches-icon(-85px, -155px, 30px, 30px);
    }

    &.icon-charities-122x127 {
        .stitches-icon(-121px, -155px, 122px, 127px);
    }

    &.icon-check-violet-10x8 {
        .stitches-icon(-424px, -24px, 10px, 12px);
    }

    &.icon-clix-logo-213x45 {
        .stitches-icon(-249px, -155px, 213px, 45px);
    }

    &.icon-clix-logo-resp-37x33 {
        .stitches-icon(-468px, -155px, 37px, 33px);
    }

    &.icon-clix-logo-white-193x43 {
        .stitches-icon(-468px, -194px, 193px, 43px);
    }

    &.icon-clix-logo-white-241x54 {
        .stitches-icon(-249px, -243px, 241px, 54px);
    }

    &.icon-clix-logo-white-319x67 {
        .stitches-icon(-3px, -303px, 319px, 67px);
    }

    &.icon-clock-30x30 {
        .stitches-icon(-511px, -155px, 30px, 30px);
    }

    &.icon-clock-40x40 {
        .stitches-icon(-3px, -243px, 40px, 40px);
    }

    &.icon-clock-black-30x30 {
        .stitches-icon(-547px, -155px, 30px, 30px);
    }

    &.icon-cup-27x26 {
        .stitches-icon(-583px, -155px, 27px, 26px);
    }

    &.icon-dots-icon-hover {
        .stitches-icon(-616px, -155px, 39px, 8px);
    }

    &.icon-dots-icon-normal {
        .stitches-icon(-616px, -169px, 38px, 7px);
    }

    &.icon-edit-icon-hover-25x26 {
        .stitches-icon(-49px, -243px, 26px, 26px);
    }

    &.icon-edit-icon-normal-25x26 {
        .stitches-icon(-81px, -243px, 26px, 26px);
    }

    &.icon-email-15x10 {
        .stitches-icon(-664px, -24px, 15px, 11px);
    }

    &.icon-facebook-logo-29x29 {
        .stitches-icon(-496px, -243px, 29px, 29px);
    }

    &.icon-favorite-hover-video-top {
        .stitches-icon(-531px, -243px, 34px, 34px);
    }

    &.icon-favorite-icon-39x38-normal {
        .stitches-icon(-571px, -243px, 43px, 42px);
    }

    &.icon-favorite-icon-filled {
        .stitches-icon(-620px, -243px, 25px, 24px);
    }

    &.icon-favorite-icon-filled-sm {
        .stitches-icon(-651px, -243px, 25px, 24px);
    }

    &.icon-favorite-icon-hover {
        .stitches-icon(-620px, -273px, 43px, 42px);
    }

    &.icon-favorite-icon-normal {
        .stitches-icon(-328px, -321px, 43px, 42px);
    }

    &.icon-favorite-icon-sm {
        .stitches-icon(-377px, -321px, 27px, 24px);
    }

    &.icon-favorite-normal-video-top {
        .stitches-icon(-410px, -321px, 34px, 34px);
    }

    &.icon-favorite-star-sm {
        .stitches-icon(-450px, -321px, 25px, 25px);
    }

    &.icon-favorite-star-sm-filled {
        .stitches-icon(-481px, -321px, 25px, 25px);
    }

    &.icon-gender-17x14 {
        .stitches-icon(-661px, -155px, 17px, 13px);
    }

    &.icon-google-logo-30x31 {
        .stitches-icon(-512px, -321px, 30px, 31px);
    }

    &.icon-info-icon {
        .stitches-icon(-51px, -41px, 15px, 15px);
    }

    &.icon-like-icon-hover {
        .stitches-icon(-548px, -321px, 37px, 33px);
    }

    &.icon-like-icon-normal {
        .stitches-icon(-591px, -322px, 39px, 32px);
    }

    &.icon-lock-11x14 {
        .stitches-icon(-72px, -41px, 11px, 14px);
    }

    &.icon-logo-white-262x58 {
        .stitches-icon(-377px, -361px, 262px, 58px);
    }

    &.icon-magnifying-glass-23x23 {
        .stitches-icon(-634px, -321px, 23px, 23px);
    }

    &.icon-minus-19x19 {
        .stitches-icon(-645px, -350px, 19px, 19px);
    }

    &.icon-minus-30x30 {
        .stitches-icon(-328px, -375px, 30px, 30px);
    }

    &.icon-minus-circle-19x19 {
        .stitches-icon(-645px, -375px, 19px, 19px);
    }

    &.icon-minus-circle-black-trans-33x33 {
        .stitches-icon(-3px, -400px, 31px, 31px);
    }

    &.icon-next-27x65 {
        .stitches-icon(-40px, -400px, 27px, 65px);
    }

    &.icon-notification-33x23 {
        .stitches-icon(-73px, -400px, 33px, 23px);
    }

    &.icon-offers-31x30 {
        .stitches-icon(-112px, -400px, 31px, 30px);
    }

    &.icon-play-114x114 {
        .stitches-icon(-149px, -425px, 114px, 114px);
    }

    &.icon-play-152x152 {
        .stitches-icon(-269px, -425px, 152px, 152px);
    }

    &.icon-play-76x76 {
        .stitches-icon(-427px, -425px, 76px, 76px);
    }

    &.icon-play-arrow-white-14x19 {
        .stitches-icon(-440px, -41px, 14px, 19px);
    }

    &.icon-play-arrow-white-38x50 {
        .stitches-icon(-509px, -425px, 39px, 51px);
    }

    &.icon-play-grey-200x181 {
        .stitches-icon(-685px, -3px, 200px, 181px);
    }

    &.icon-play-red-100x100 {
        .stitches-icon(-682px, -190px, 100px, 100px);
    }

    &.icon-play-red-64x64 {
        .stitches-icon(-670px, -296px, 128px, 116px);
    }

    &.icon-play-trans-64x64 {
        .stitches-icon(-645px, -418px, 128px, 116px);
    }

    &.icon-play-white-120x120 {
        .stitches-icon(-3px, -540px, 120px, 120px);
    }

    &.icon-play-white-160x160 {
        .stitches-icon(-427px, -540px, 160px, 160px);
    }

    &.icon-play-white-23x23 {
        .stitches-icon(-788px, -190px, 23px, 23px);
    }

    &.icon-play-white-80x80 {
        .stitches-icon(-804px, -219px, 80px, 80px);
    }

    &.icon-plus-30x30 {
        .stitches-icon(-804px, -305px, 30px, 30px);
    }

    &.icon-plus-circle-19x19 {
        .stitches-icon(-817px, -190px, 19px, 19px);
    }

    &.icon-plus-circle-black-33x33 {
        .stitches-icon(-804px, -341px, 76px, 76px);
    }

    &.icon-plus-circle-black-trans-33x33 {
        .stitches-icon(-842px, -190px, 19px, 19px);
    }

    &.icon-plus-white-tran-28x28 {
        .stitches-icon(-840px, -305px, 28px, 28px);
    }

    &.icon-remove-icon {
        .stitches-icon(-867px, -190px, 18px, 18px);
    }

    &.icon-return-top-52x52 {
        .stitches-icon(-779px, -423px, 52px, 52px);
    }

    &.icon-right-arrow-12x23 {
        .stitches-icon(-3px, -214px, 12px, 19px);
    }

    &.icon-right-arrow-white-12-23 {
        .stitches-icon(-837px, -423px, 20px, 31px);
    }

    &.icon-search-21x22 {
        .stitches-icon(-21px, -215px, 21px, 22px);
    }

    &.icon-settings-29x29 {
        .stitches-icon(-3px, -460px, 29px, 29px);
    }

    &.icon-settings-30x30 {
        .stitches-icon(-73px, -460px, 30px, 30px);
    }

    &.icon-settings-40x40 {
        .stitches-icon(-554px, -460px, 40px, 40px);
    }

    &.icon-settings-black-30x30 {
        .stitches-icon(-109px, -460px, 30px, 30px);
    }

    &.icon-share-black-35x37 {
        .stitches-icon(-600px, -460px, 35px, 37px);
    }

    &.icon-share-black-36x37 {
        .stitches-icon(-837px, -460px, 37px, 37px);
    }

    &.icon-share-gray {
        .stitches-icon(-779px, -503px, 76px, 78px);
    }

    &.icon-share-gray-35x35 {
        .stitches-icon(-129px, -587px, 74px, 74px);
    }

    &.icon-share-gray-hover-39x40 {
        .stitches-icon(-600px, -503px, 39px, 40px);
    }

    &.icon-share-icon-sm {
        .stitches-icon(-863px, -423px, 23px, 24px);
    }

    &.icon-share-white-19x20 {
        .stitches-icon(-48px, -214px, 19px, 20px);
    }

    &.icon-share-white-35x36 {
        .stitches-icon(-209px, -587px, 35px, 36px);
    }

    &.icon-share-white-82x87 {
        .stitches-icon(-250px, -587px, 82px, 87px);
    }

    &.icon-star-23x21 {
        .stitches-icon(-73px, -214px, 25px, 23px);
    }

    &.icon-star-23x21-o {
        .stitches-icon(-249px, -215px, 23px, 21px);
    }

    &.icon-star-36x33 {
        .stitches-icon(-278px, -215px, 23px, 21px);
    }

    &.icon-star-black-tran-33x30 {
        .stitches-icon(-338px, -587px, 72px, 66px);
    }

    &.icon-star-icon-hover {
        .stitches-icon(-3px, -503px, 25px, 24px);
    }

    &.icon-tag-30x30 {
        .stitches-icon(-34px, -503px, 30px, 30px);
    }

    &.icon-tag-40x40 {
        .stitches-icon(-593px, -587px, 40px, 40px);
    }

    &.icon-tag-black-30x30 {
        .stitches-icon(-70px, -503px, 30px, 30px);
    }

    &.icon-triangle-29x12 {
        .stitches-icon(-307px, -214px, 29px, 12px);
    }

    &.icon-twitter-logo-34x27 {
        .stitches-icon(-106px, -503px, 34px, 27px);
    }

    &.icon-user-15x18 {
        .stitches-icon(-342px, -214px, 15px, 15px);
    }

    &.icon-user-24x31 {
        .stitches-icon(-509px, -503px, 24px, 31px);
    }

    &.icon-user-30x30 {
        .stitches-icon(-639px, -587px, 30px, 30px);
    }

    &.icon-user-40x40 {
        .stitches-icon(-675px, -587px, 40px, 40px);
    }

    &.icon-user-black-30x30 {
        .stitches-icon(-721px, -587px, 30px, 30px);
    }

    &.icon-v-green-23x18 {
        .stitches-icon(-363px, -215px, 23px, 18px);
    }

    &.icon-wheel-30x30 {
        .stitches-icon(-757px, -587px, 30px, 30px);
    }

    &.icon-wheel-40x40 {
        .stitches-icon(-793px, -587px, 40px, 40px);
    }

    &.icon-wheel-black-30x30 {
        .stitches-icon(-839px, -587px, 30px, 30px);
    }

    &.icon-x-red-19x19 {
        .stitches-icon(-392px, -214px, 19px, 19px);
    }

    &.icon-x-white-20x19 {
        .stitches-icon(-417px, -215px, 20px, 19px);
    }

    &.icon-x-white-22x22 {
        .stitches-icon(-861px, -503px, 22px, 22px);
    }
}

.icon{
    background-image: url(/assets/theme/clixtv/images/sprite46.png);
    background-repeat: no-repeat;
    display: inline-block;
}
