.stitches-icon(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}

.icon {
    background-image: url(../images/sprite.png);    background-repeat: no-repeat;
    display: block;

    &.icon-arrow-left-33x111 {
          .stitches-icon(-3px, -3px, 33px, 111px);
      }

      &.icon-arrow-right-33x111 {
          .stitches-icon(-42px, -3px, 33px, 111px);
      }

      &.icon-clix-logo-213x45 {
          .stitches-icon(-81px, -3px, 213px, 45px);
      }

      &.icon-clix-logo-resp-37x33 {
          .stitches-icon(-81px, -54px, 37px, 33px);
      }

      &.icon-clix-logo-white-319x67 {
          .stitches-icon(-3px, -120px, 319px, 67px);
      }

      &.icon-play-arrow-white-14x19 {
          .stitches-icon(-300px, -3px, 14px, 19px);
      }

      &.icon-play-white-23x23 {
          .stitches-icon(-124px, -54px, 23px, 23px);
      }

      &.icon-return-top-52x52 {
          .stitches-icon(-153px, -54px, 52px, 52px);
      }
}
