.stitches-icon(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}

.icon {
    background-image: url(/assets/theme/clixtv/images/sprite45.png);
    background-repeat: no-repeat;
    display: inline-block;

    &.icon-add-black-42x42 {
        .stitches-icon(-3px, -3px, 42px, 42px);
    }

    &.icon-arrow-down-black-45x24 {
        .stitches-icon(-51px, -3px, 45px, 24px);
    }

    &.icon-arrow-left-20x33 {
        .stitches-icon(-102px, -3px, 20px, 33px);
    }

    &.icon-arrow-left-49x82 {
        .stitches-icon(-128px, -3px, 49px, 82px);
    }

    &.icon-arrow-left-65x109 {
        .stitches-icon(-183px, -3px, 65px, 109px);
    }

    &.icon-arrow-right-20x33 {
        .stitches-icon(-254px, -3px, 20px, 33px);
    }

    &.icon-arrow-right-49x82 {
        .stitches-icon(-280px, -3px, 49px, 82px);
    }

    &.icon-arrow-right-65x109 {
        .stitches-icon(-335px, -3px, 65px, 109px);
    }

    &.icon-arrow-right-gray-12x23 {
        .stitches-icon(-406px, -3px, 12px, 20px);
    }

    &.icon-arrow-thin-white-20x11 {
        .stitches-icon(-424px, -3px, 20px, 11px);
    }

    &.icon-bell-21x21 {
        .stitches-icon(-450px, -3px, 21px, 21px);
    }

    &.icon-bell-25x25 {
        .stitches-icon(-477px, -3px, 25px, 25px);
    }

    &.icon-brandscon-150x146 {
        .stitches-icon(-508px, -3px, 150px, 146px);
    }

    &.icon-calendar-15x16 {
        .stitches-icon(-664px, -3px, 15px, 15px);
    }

    &.icon-certification-30x30 {
        .stitches-icon(-685px, -3px, 30px, 30px);
    }

    &.icon-certification-40x40 {
        .stitches-icon(-721px, -3px, 40px, 40px);
    }

    &.icon-certification-black-30x30 {
        .stitches-icon(-767px, -3px, 30px, 30px);
    }

    &.icon-charities-122x127 {
        .stitches-icon(-803px, -3px, 122px, 127px);
    }

    &.icon-check-violet-10x8 {
        .stitches-icon(-931px, -3px, 10px, 12px);
    }

    &.icon-clix-logo-213x45 {
        .stitches-icon(-3px, -136px, 213px, 45px);
    }

    &.icon-clix-logo-resp-37x33 {
        .stitches-icon(-947px, -3px, 37px, 33px);
    }

    &.icon-clix-logo-white-193x43 {
        .stitches-icon(-222px, -136px, 193px, 43px);
    }

    &.icon-clix-logo-white-241x54 {
        .stitches-icon(-664px, -136px, 241px, 54px);
    }

    &.icon-clix-logo-white-319x67 {
        .stitches-icon(-3px, -196px, 319px, 67px);
    }

    &.icon-clock-30x30 {
        .stitches-icon(-990px, -3px, 30px, 30px);
    }

    &.icon-clock-40x40 {
        .stitches-icon(-51px, -39px, 40px, 40px);
    }

    &.icon-clock-black-30x30 {
        .stitches-icon(-406px, -39px, 30px, 30px);
    }

    &.icon-cup-27x26 {
        .stitches-icon(-442px, -39px, 27px, 26px);
    }

    &.icon-dots-icon-hover {
        .stitches-icon(-664px, -39px, 39px, 8px);
    }

    &.icon-dots-icon-normal {
        .stitches-icon(-990px, -39px, 38px, 7px);
    }

    &.icon-edit-icon-hover-25x26 {
        .stitches-icon(-475px, -39px, 26px, 26px);
    }

    &.icon-edit-icon-normal-25x26 {
        .stitches-icon(-767px, -39px, 26px, 26px);
    }

    &.icon-email-15x10 {
        .stitches-icon(-1026px, -3px, 15px, 11px);
    }

    &.icon-facebook-logo-29x29 {
        .stitches-icon(-3px, -52px, 29px, 29px);
    }

    &.icon-favorite-hover-video-top {
        .stitches-icon(-709px, -52px, 34px, 34px);
    }

    &.icon-favorite-icon-39x38-normal {
        .stitches-icon(-931px, -52px, 43px, 42px);
    }

    &.icon-favorite-icon-filled {
        .stitches-icon(-97px, -52px, 25px, 24px);
    }

    &.icon-favorite-icon-filled-sm {
        .stitches-icon(-980px, -52px, 25px, 24px);
    }

    &.icon-favorite-icon-hover {
        .stitches-icon(-406px, -82px, 43px, 42px);
    }

    &.icon-favorite-icon-normal {
        .stitches-icon(-455px, -82px, 43px, 42px);
    }

    &.icon-favorite-icon-sm {
        .stitches-icon(-1011px, -52px, 27px, 24px);
    }

    &.icon-favorite-normal-video-top {
        .stitches-icon(-664px, -82px, 34px, 34px);
    }

    &.icon-favorite-star-sm {
        .stitches-icon(-97px, -82px, 25px, 25px);
    }

    &.icon-favorite-star-sm-filled {
        .stitches-icon(-749px, -82px, 25px, 25px);
    }

    &.icon-gender-17x14 {
        .stitches-icon(-424px, -20px, 17px, 13px);
    }

    &.icon-google-logo-30x31 {
        .stitches-icon(-980px, -82px, 30px, 31px);
    }

    &.icon-info-icon {
        .stitches-icon(-254px, -52px, 15px, 15px);
    }

    &.icon-like-icon-hover {
        .stitches-icon(-931px, -119px, 37px, 33px);
    }

    &.icon-like-icon-normal {
        .stitches-icon(-974px, -119px, 37px, 32px);
    }

    &.icon-lock-11x14 {
        .stitches-icon(-1034px, -20px, 11px, 14px);
    }

    &.icon-logo-white-262x58 {
        .stitches-icon(-328px, -196px, 262px, 58px);
    }

    &.icon-magnifying-glass-23x23 {
        .stitches-icon(-1016px, -82px, 23px, 23px);
    }

    &.icon-minus-19x19 {
        .stitches-icon(-254px, -82px, 19px, 19px);
    }

    &.icon-minus-30x30 {
        .stitches-icon(-421px, -157px, 30px, 30px);
    }

    &.icon-minus-circle-19x19 {
        .stitches-icon(-3px, -111px, 19px, 19px);
    }

    &.icon-minus-circle-black-trans-33x33 {
        .stitches-icon(-457px, -157px, 31px, 31px);
    }

    &.icon-next-27x65 {
        .stitches-icon(-1017px, -111px, 27px, 65px);
    }

    &.icon-notification-33x23 {
        .stitches-icon(-494px, -157px, 33px, 23px);
    }

    &.icon-offers-31x30 {
        .stitches-icon(-533px, -157px, 31px, 30px);
    }

    &.icon-play-114x114 {
        .stitches-icon(-911px, -182px, 114px, 114px);
    }

    &.icon-play-152x152 {
        .stitches-icon(-596px, -196px, 152px, 152px);
    }

    &.icon-play-76x76 {
        .stitches-icon(-3px, -302px, 76px, 76px);
    }

    &.icon-play-arrow-white-14x19 {
        .stitches-icon(-780px, -82px, 14px, 19px);
    }

    &.icon-play-arrow-white-38x50 {
        .stitches-icon(-85px, -302px, 39px, 51px);
    }

    &.icon-play-grey-200x181 {
        .stitches-icon(-130px, -302px, 200px, 181px);
    }

    &.icon-play-red-100x100 {
        .stitches-icon(-336px, -302px, 100px, 100px);
    }

    &.icon-play-red-64x64 {
        .stitches-icon(-442px, -302px, 128px, 116px);
    }

    &.icon-play-trans-64x64 {
        .stitches-icon(-754px, -302px, 128px, 116px);
    }

    &.icon-play-white-120x120 {
        .stitches-icon(-888px, -302px, 120px, 120px);
    }

    &.icon-play-white-160x160 {
        .stitches-icon(-336px, -428px, 160px, 160px);
    }

    &.icon-play-white-23x23 {
        .stitches-icon(-1014px, -302px, 23px, 23px);
    }

    &.icon-play-white-80x80 {
        .stitches-icon(-3px, -428px, 80px, 80px);
    }

    &.icon-plus-30x30 {
        .stitches-icon(-1014px, -331px, 30px, 30px);
    }

    &.icon-plus-circle-19x19 {
        .stitches-icon(-28px, -111px, 19px, 19px);
    }

    &.icon-plus-circle-black-33x33 {
        .stitches-icon(-502px, -428px, 76px, 76px);
    }

    &.icon-plus-circle-black-trans-33x33 {
        .stitches-icon(-53px, -111px, 19px, 19px);
    }

    &.icon-plus-white-tran-28x28 {
        .stitches-icon(-85px, -367px, 28px, 28px);
    }

    &.icon-remove-icon {
        .stitches-icon(-128px, -111px, 18px, 18px);
    }

    &.icon-return-top-52x52 {
        .stitches-icon(-584px, -428px, 52px, 52px);
    }

    &.icon-right-arrow-12x23 {
        .stitches-icon(-78px, -111px, 12px, 19px);
    }

    &.icon-right-arrow-white-12-23 {
        .stitches-icon(-576px, -367px, 20px, 31px);
    }

    &.icon-search-21x22 {
        .stitches-icon(-602px, -367px, 21px, 22px);
    }

    &.icon-settings-29x29 {
        .stitches-icon(-629px, -367px, 29px, 29px);
    }

    &.icon-settings-30x30 {
        .stitches-icon(-664px, -367px, 30px, 30px);
    }

    &.icon-settings-40x40 {
        .stitches-icon(-642px, -428px, 40px, 40px);
    }

    &.icon-settings-black-30x30 {
        .stitches-icon(-700px, -367px, 30px, 30px);
    }

    &.icon-share-black-35x37 {
        .stitches-icon(-89px, -428px, 35px, 37px);
    }

    &.icon-share-black-36x37 {
        .stitches-icon(-688px, -428px, 36px, 37px);
    }

    &.icon-share-gray {
        .stitches-icon(-730px, -428px, 76px, 78px);
    }

    &.icon-share-gray-35x35 {
        .stitches-icon(-812px, -428px, 74px, 74px);
    }

    &.icon-share-gray-hover-39x40 {
        .stitches-icon(-892px, -428px, 39px, 40px);
    }

    &.icon-share-white-19x20 {
        .stitches-icon(-1014px, -367px, 19px, 20px);
    }

    &.icon-share-white-35x36 {
        .stitches-icon(-937px, -428px, 35px, 36px);
    }

    &.icon-share-white-82x87 {
        .stitches-icon(-937px, -470px, 82px, 87px);
    }

    &.icon-sprite44 {
        .stitches-icon(-1051px, -3px, 888px, 703px);
    }

    &.icon-star-23x21 {
        .stitches-icon(-3px, -712px, 25px, 23px);
    }

    &.icon-star-23x21-o {
        .stitches-icon(-34px, -712px, 23px, 21px);
    }

    &.icon-star-36x33 {
        .stitches-icon(-63px, -712px, 23px, 21px);
    }

    &.icon-star-black-tran-33x30 {
        .stitches-icon(-92px, -712px, 72px, 66px);
    }

    &.icon-star-icon-hover {
        .stitches-icon(-170px, -712px, 25px, 24px);
    }

    &.icon-tag-30x30 {
        .stitches-icon(-201px, -712px, 30px, 30px);
    }

    &.icon-tag-40x40 {
        .stitches-icon(-237px, -712px, 40px, 40px);
    }

    &.icon-tag-black-30x30 {
        .stitches-icon(-283px, -712px, 30px, 30px);
    }

    &.icon-triangle-29x12 {
        .stitches-icon(-319px, -712px, 29px, 12px);
    }

    &.icon-twitter-logo-34x27 {
        .stitches-icon(-354px, -712px, 34px, 27px);
    }

    &.icon-user-15x18 {
        .stitches-icon(-394px, -712px, 15px, 15px);
    }

    &.icon-user-24x31 {
        .stitches-icon(-415px, -712px, 24px, 31px);
    }

    &.icon-user-30x30 {
        .stitches-icon(-445px, -712px, 30px, 30px);
    }

    &.icon-user-40x40 {
        .stitches-icon(-481px, -712px, 40px, 40px);
    }

    &.icon-user-black-30x30 {
        .stitches-icon(-527px, -712px, 30px, 30px);
    }

    &.icon-v-green-23x18 {
        .stitches-icon(-563px, -712px, 23px, 18px);
    }

    &.icon-wheel-30x30 {
        .stitches-icon(-592px, -712px, 30px, 30px);
    }

    &.icon-wheel-40x40 {
        .stitches-icon(-628px, -712px, 40px, 40px);
    }

    &.icon-wheel-black-30x30 {
        .stitches-icon(-674px, -712px, 30px, 30px);
    }

    &.icon-x-red-19x19 {
        .stitches-icon(-710px, -712px, 19px, 19px);
    }

    &.icon-x-white-20x19 {
        .stitches-icon(-735px, -712px, 20px, 19px);
    }

    &.icon-x-white-22x22 {
        .stitches-icon(-761px, -712px, 22px, 22px);
    }
}

.icon{
    background-image: url(/assets/theme/clixtv/images/sprite45.png);
    background-repeat: no-repeat;
    display: inline-block;
}
