<div class="ped-carousel-container">
    <div id="{{carouselId}}" class="ped-carousel pr">
        <div class="arrow-right hidden-xs {{caruselPosition==1?'opacity0':''}}" ng-click="moveRight()">
            <div class="icon icon-arrow-right-small"  >
            </div>
        </div>
        <div class="arrow-left  hidden-xs {{caruselPosition==0?'opacity0':''}}" ng-click="moveLeft()">
            <div class="icon icon-arrow-left-small" >
            </div>
        </div>
        <div class="row__inner recentInner {{caruselPosition==1?'moveLeft':''}} {{activeVideo?'unhover':''}}">
            <div class="tile {{activeVideo._id==video._id?'selected':''}}" ng-repeat="video in model">
                <div class="pr tile-content hand" style="background-image:url('{{getPosterH(video)}}')" ng-click="go('/video/'+video._id)" >
                    <div class="pa {{subscriptionType(video.categories[0].name)}}">
                        {{subscriptionType(video.categories[0].name) | uppercase}}
                    </div>
                    <!-- <div class="pa info">
                        <div class="title">
                            {{video.title}}
                            <span class="expiry">{{video.date | date: dd/MM/YYYY}}</span>
                        </div>
                        <div class="desc">
                                {{video.description | limitTo:200}}
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
