<div class="vtt-carousel-container">
    <div id="{{carouselId}}" class="vtt-carousel pr">
        <div class="arrow-right hidden-xs {{caruselPosition==1?'opacity0':''}}" ng-click="moveRight()">
            <div class="icon icon-arrow-right-small"  >
            </div>
        </div>
        <div class="arrow-left  hidden-xs {{caruselPosition==0?'opacity0':''}}" ng-click="moveLeft()">
            <div class="icon icon-arrow-left-small" >
            </div>
        </div>
        <div class="row__inner recentInner {{caruselPosition==1?'moveLeft':''}} {{activeVideo?'unhover':''}}">
            <div class="tile {{orientation?orientation:''}} {{activeVideo._id==video._id?'selected':''}}" ng-repeat="video in model">
                <div class="pr tile-content hand" style="background-image:url({{video.PosterH.url}})" data-toggle="modal" ng-click="watch(video.categories[0].name, video._id)">
                    <div class="pa {{subscription?'':'hidden'}} {{subscriptionType(video.categories[0].name)}}">
                        {{subscriptionType(video.categories[0].name) | uppercase}}
                    </div>
                     <div class="pa info">
                        <div class="title {{title?'':'hidden'}}">
                            {{video.title}}
                        </div>
                        <div class="date {{date?'':'hidden'}}">
                            {{video.date | date: dateFormat?dateFormat:'dd-MM-yyyy'}}
                        </div>
                       <div class="desc {{description?'':'hidden'}}">
                                {{video.description | limitTo:200}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
