/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/06/2016, 11:10:24
    Author     : ale_miller10
*/

.options-container {
    height: 400px;
    border-right: 1px #999 solid;
}

.options-container li{
    height: 40px;
    list-style: none;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.options-container li:hover{
    background-color: #fff;
    border-radius: 4px;
}

.options-container li:last-of-type:hover{
    background-color: transparent;

}

.options-container a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

#logout-btn{
    margin-top: 30px;
}
