/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/06/2016, 22:36:04
    Author     : ale_miller10
*/

@element-height: 55px;

.form-container{
    width: 400px;
    margin: 30px auto 0;
}

.form-subtitle{
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: @main-color;
}

.common-form{
    margin-top: 20px;
}

.common-form ul{
    padding: 0px;
}

.common-form ul li{
    list-style: none;
    margin-bottom: 20px;
}

.common-form input{
    background: transparent;
    width: 100%;
    height: @element-height;
    border: 1px #333 solid;
    border-radius: 2px;
    font-size: 16px;
    color: #333;
}

.common-form input:focus{
    outline: none;
}

.common-button{
    width: 100%;
    height: @element-height;
    background-color: @main-color;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;   
}

.common-button:hover{
    background-color: @main-overlay-color;
}

.common-button:disabled{
    background-color: @main-overlay-color;
}

.form_info{
    color: @main-color;
}

.form_notes{
    font-size: 12px;
    margin-top: 5px;
}

.or_separator{
    width: 100%;
    text-align: center;
}

button.fb-btn{
    width: 100%;
    background: url(../images/fb_div.png) no-repeat #3c599d;
    border: 1px solid #546da8;
    border-radius: 4px;
    color: #fff;
    height: @element-height;
    text-align: center;
    text-transform: uppercase;
}

.common-form input.common-checkbox{
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
} 
