@item-width: 220px;

.category-title{
    color: #333;
    font-family:@nav-font-family;
    font-size:20px;
    text-transform: uppercase;
    margin: 25px 15px 10px;
}

.custom-thumbnail{
    background-color: transparent;
    border: none;
}

.thumbnail a img {
    height:124px;
    width:@item-width;
    margin-bottom:5px;
}

.item-title {
    width:@item-width;
    word-wrap:break-word;
    color: #333;
    font-family:@nav-font-family;
    font-size:15px;
    font-weight:bold;
    line-height: 1.2;
}

.item-aired-date {
    width:@item-width;
    word-wrap:break-word;
    color: #333;
    font-family:@nav-font-family;
    font-size:13px;
    margin-top: 4px
}

.item-commerce{
    width:@item-width;
    word-wrap:break-word;
    color: @main-color;
    font-family:@nav-font-family;
    font-size:12px;
    margin-top: 4px;
    text-transform: uppercase;
}

.thumbnail h3 {
    height:220px;
    margin:0;
}
.lSSlideWrapper {
    margin:0px 10px 0px 10px;
}