.account-page{
     background-image: linear-gradient(to bottom, #5085b6, rgba(80, 133, 182, 0));
    .tabs-area{
        padding: 60px;
        @media (max-width: @screen-xs-max) {
            padding: 10px;
        }
        .side-menu{
            border-right: solid 3px #ab1217;
            padding-right: 0;
            @media (max-width: @screen-xs-max) {
                border-bottom: solid 3px #ab1217;
                border-right: none;
            }
            h1{
                font-size: 42px;
                padding-left: 15px;
                margin-top: 0;
                font-weight: bold;
                color: #fcfbf5;
            }
            .nav-tabs{
                border-bottom:none;
                margin-top: 40px;
                li{
                    color: #fcfbf5;
                    font-size: 24px;
                    &.active{
                        a{
                            border: none;
                            color: #fcfbf5;
                            background-color: #ab1217;
                            border-radius: 0;
                            margin-right: 0;
                            &:hover{
                                opacity: 1;
                            }
                        }
                    }
                    a{
                        border:none;
                        &:hover{
                            background-color: #ab1217;
                            opacity: 0.6;
                            border: none;
                            margin-right: 0;
                            border:none;
                        }
                        @media (max-width: @screen-lg-min) {
                            font-size: 20px;
                        }
                        @media (max-width: @screen-xs-max) {
                            font-size: 16px;
                        }
                    }
                }
            }
            .logout{
                margin-top: 34px;
                background-color: #ab1217;
                border-color: #ab1217;
                width: 50%;
                color: #fcfbf5;
                font-size: 22px;
                font-weight: bold;
                outline: none;
                padding: 5px 0;
            }
        }
        .tab-content{
            padding-top: 15px;
            position: relative;
            padding-left: 4vw;
            form {
                .col-sm-3, .col-sm-4, .col-sm-2{
                    padding: 0 40px;
                    @media (max-width: @screen-xs-max) {
                        padding: 0 15px;
                    }
                }
                position: relative;
                color: #fcfbf5;
                font-size: 24px;
                @media (max-width: @screen-lg-min) {
                    font-size: 20px;
                }
                @media (max-width: @screen-xs-max) {
                    font-size: 16px;
                }
                .form-group {
                    height: 46px;
                }
                label {
                    color: #fcfbf5;
                    font-size: 24px;
                    font-weight: normal;
                    padding-left: 10px;
                    margin-bottom: 10px;
                    @media (max-width: @screen-lg-min) {
                        font-size: 20px;
                    }
                    @media (max-width: @screen-xs-max) {
                        font-size: 16px;
                    }
                }
                .form-control {
                    background-color: transparent;
                    color: #fcfbf5;
                    border: 2px solid rgba(252, 251, 245, 0.5);
                    font-size: 20px;
                    height: 40px;
                    margin-bottom: 14px;
                    @media (max-width: @screen-lg-min) {
                        font-size: 18px;
                    }
                    @media (max-width: @screen-xs-max) {
                        font-size: 16px;
                    }
                }
                .form-section{
                    margin-top: 20px;
                    display: flex;
                    .names{
                        margin-top: 60px;
                    }
                }
                .btn{
                    width: 100%;
                    margin-top: 24px;
                    background-color: #2656f4;
                    border-color: #2656f4;
                    color: #fcfbf5;
                    font-size: 22px;
                    font-weight: bold;
                    @media (max-width: @screen-lg-min) {
                        font-size: 18px;
                    }
                    @media (max-width: @screen-xs-max) {
                        font-size: 16px;
                    }
                    &:focus{
                        outline:none;
                    }
                }
            }
            .profile{
                .profile-picture{
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
                .btn{
                    width: 50%;
                }
            }
            .billing-info{
                form{
                    .form-control {
                        margin-bottom: 40px;
                    }
                    .btn{
                        margin-top: 0;
                    }
                    .description{
                        margin-top: -40px;
                        span{
                            opacity: 0.6;
                            font-size: 16px;
                            color: #fcfbf5;
                            @media (max-width: @screen-lg-min) {
                                font-size: 12px;
                            }
                            @media (max-width: @screen-xs-max) {
                                font-size: 12px;
                            }
                        }
                    }
                }
                .all-methods{
                    display: flex;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    width:  66.66666%;
                    padding: 40px;
                    position: relative;
                    left: 0;
                    transition: 1s ease;
                    &.move-left{
                        left: -100%;
                    }
                    h2{
                        color: #fcfbf5;
                        font-size: 24px;
                        width: 100%;
                        text-align: center;
                        margin-bottom: 20px;
                        @media (max-width: @screen-lg-min) {
                            font-size: 20px;
                        }
                        @media (max-width: @screen-xs-max) {
                            font-size: 16px;
                        }
                    }
                    .methods{
                        width: 25%;
                        height: 6vw;
                        background-color: rgba(252,251,245,0.1);
                        padding: 15px;
                        border: 2px solid;
                        .method{
                            cursor: pointer;
                            text-align: center;
                            height: ~'calc(6vw - 30px)';
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                }
            }

            .subscription{
                .change-plan{
                    background-color: rgba(252, 251, 245, 0.2);
                    border: solid 2px #2656f4;
                }
            }
            .devices{
                .devices-table{
                    @media (max-width: @screen-xs-max) {
                        overflow-x: scroll;
                        -webkit-overflow-scrolling: touch;
                    }
                }
                .table{
                    tr{
                        th{
                            color: #fcfbf5;
                            font-size: 24px;
                            font-weight: normal;
                            border: none;
                            width:40%;
                            &:last-child{
                                width:10%;
                            }
                            &:first-child{
                                padding-left: 15px;
                            }
                        }
                    }
                    tbody{
                        tr{
                            background-color: rgba(252, 251, 245, 0.25);
                            th{
                                &:last-child{
                                    margin: 0;
                                    padding: 0;
                                }
                            }
                        }
                    }
                    thead{
                        tr{
                            background-color: transparent;
                        }
                    }
                    .remove-device{
                        background-color: #ab1217;
                        height: 100%;
                        width: 50%;
                        margin-left: auto;
                        text-align: center;
                        i{
                            cursor: pointer;
                            font-size: 30px;
                            padding: 10px;
                        }
                    }
                }
            }
            .my-channels{
                h2{
                    font-size: 30px;
                    color: #fcfbf5;
                    padding: 0 30px 20px 30px;

                }
                .filters{
                    margin: 25px 0;
                    text-align: left;
                    .sortFilters{
                        .sort{
                            font-size: 24px;
                            font-weight: 300;
                            color: #fcfbf5;
                            margin-right: 30px;
                            padding: 5px;
                            &.selected, &:hover{
                                cursor: pointer;
                                border-bottom: 5px solid #a41435;
                            }
                        }
                    }
                    .search-wrapper{
                        text-align: right;
                        .search{
                            .fa-search {
                                top: 9px;
                                font-size: 22px;
                                color: #2656f4;
                                right: 250px;
                                margin-right: -30px;
                            }
                            input{
                                color: #fcfbf5;
                                background-color: rgba(35, 30, 32, 0.6);
                                border: solid 2px #2656f4;
                                padding: 5px 20px 5px 30px;
                                font-size: 22px;
                                outline: 0;
                            }
                        }
                    }

                }
                .channels-grid{
                    background-color: rgba(252,251,245,0.1);
                    .grid-header{
                        padding: 20px 45px;
                        .title{
                            font-size: 30px;
                            color: #fcfbf5;
                        }
                        .pages{
                            font-size: 30px;
                            font-weight: 300;
                            color: #fcfbf5;
                            line-height: 45px;
                        }
                    }
                    .channels-content{
                        margin: 0;
                        .channel{
                            padding: 0;
                            border: 2px solid #231f20;
                            text-align: center;
                            position: relative;
                            &.selected {
                                background-color: rgba(252,251,245,0.75);
                            }
                            .bg{
                                background-position: center;
                                background-size: contain;
                                background-repeat: no-repeat;
                                padding-bottom: 33%;
                                margin: 5px 20px 0;
                            }
                            .name {
                                color: #fcfbf5;
                                font-size: 22px;
                                padding: 5px;
                            }
                            i{
                                color: #fcfbf5;
                                font-size:24px;
                                right: 6px;
                                top: 6px;
                                border-radius: 50%;
                                position: absolute;
                                background: -moz-linear-gradient(top,  rgba(38,86,244,0) 6%, rgba(38,86,244,0.42) 25%, rgba(38,86,244,1) 51%, rgba(38,86,244,0.42) 76%, rgba(38,86,244,0) 94%); /* FF3.6-15 */
                                background: -webkit-linear-gradient(top,  rgba(38,86,244,0) 6%,rgba(38,86,244,0.42) 25%,rgba(38,86,244,1) 51%,rgba(38,86,244,0.42) 76%,rgba(38,86,244,0) 94%); /* Chrome10-25,Safari5.1-6 */
                                background: linear-gradient(to bottom,  rgba(38,86,244,0) 6%,rgba(38,86,244,0.42) 25%,rgba(38,86,244,1) 51%,rgba(38,86,244,0.42) 76%,rgba(38,86,244,0) 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002656f4', endColorstr='#002656f4',GradientType=0 ); /* IE6-9 */
                            }
                        }
                    }
                }
                .icon{
                    margin: auto;
                    margin-top: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}
