.home_page{
  padding: 0;
  .sport_list_container{
    background-color: #18d676;
    padding-right: 14%;
    padding-left: 14%;
    height: 120px;
    .kinds_of_sports{
      width: 6.25%;
      height: 100%;
      float: left;
      padding: 1.5%;
      .sport_logo{
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}
