
.karokae-page{
      background-color: #191919;
      padding-top: 10px;
      padding-bottom: 20px;
    .karaoke-container{
        margin:0 160px ;
        position: relative;
        @media  (max-width: @screen-xs-max) { margin:0 0 ; }
        @media (max-width: @screen-md-min) and (min-width: @screen-xs-max ) {  margin:0 80px ; }
        @media (max-width: @screen-lg-min) and (min-width: @screen-md-min) {  margin:0 120px; }

        .main-karoke{
            border-top: 16px solid #ab1217;
            display: flex;
            @media (max-width: @screen-xs-max){
                flex-direction: column;
                border-top: 10px solid #ab1217;
            }
            .karaoke-left-tabs{
                width: 20%;
                background-color:rgba(107,104,103,.40);
                @media (max-width: @screen-xs-max){
                    width:100%;
                    border-bottom: 10px solid #ab1217;
                }
                ul{
                    margin-top: 23%;
                    @media (max-width: @screen-xs-max){
                        margin-top:0;
                        padding: 0 15px;
                    }
                    li {
                        border-left:10px solid rgba(107,104,103,0);
                        margin-bottom: 4%;
                        @media (max-width: @screen-xs-max){
                            float: left;
                            border-left: 0;
                            margin-bottom: 0;
                            width: 33%;
                            text-align: center;
                        }
                        &:hover{
                            border-left:10px solid rgba(107,104,103,.40);
                            @media (max-width: @screen-xs-max){
                            border-left:0;
                                }
                            }
                        &.changeliclass{

                            border-left: 10px solid #ab1217;
                            @media (max-width: @screen-xs-max){
                            border-left:0;

                            }
                        }
                        &:hover{
                            background-color:rgba(107,104,103,.40);
                        }

                        a {
                            color: #fcfbf5;
                            font-size: 1.4vw;
                            display: flex;
                            padding-left: 11%;
                            @media (max-width: @screen-xs-max){
                            font-size:13px;
                            display: block;

                            }
                            &.changeaclass{
                                font-size: 1.8vw;
                                color: #ab1217;
                                @media (max-width: @screen-xs-max){
                                font-size:15px;

                                }
                            }
                            &:hover{
                                background-color:rgba(107,104,103,.40);

                            }
                        }
                    }
                }

            }
            .karaoke-right-tabs{
                margin-left: 10px;
                width: 80%;
                padding: 0 10px;
                background-color:rgba(107,104,103,.40);
                .col-xs-15,
                .col-sm-15,
                .col-md-15,
                .col-lg-15 {
                    position: relative;
                    min-height: 1px;
                    padding-right: 10px;
                    padding-left: 10px;
                }
                .col-xs-15,
                .col-sm-15,
                .col-md-15,
                .col-lg-15 {
                    position: relative;
                    min-height: 1px;
                    padding-right: 10px;
                    padding-left: 10px;
                }
                @media (max-width: @screen-xs-max){
                    width: 100%;
                    margin-left: 0;
                }
                .upper-karaoke{
                    position: relative;
                    .dropdown-karaoke{
                        display: inline;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        .dropdown-div{
                            color: #fcfbf5;
                            display: inline;
                            float: left;
                            }

                        .arrow {
                              border-left: 5px solid transparent;
                              border-right: 5px solid transparent;
                              position: relative;
                              top: 15px;
                              margin-left: 14px;
                              border-top: 5px solid #fcfbf5;
                              display: inline;

                            }
                            &.open .arrow {
                                border-top:0;
                                border-bottom: 5px solid #fcfbf5;
                                top: -12px;

                            }
                            .ul-style{
                                left: -96px;
                                background-color: rgba(25,25,25,0.8);
                                border: 1px solid #fcfbf5;
                                border-radius: 0;
                                font-size: 16px;
                                border-bottom-left-radius:4px;
                                border-bottom-right-radius: 4px;
                                padding: 0 0;
                                .listyle{

                                    .astyle{
                                        color:#fcfbf5;
                                        padding: 9px 0px 9px 8px;
                                        &:hover{
                                            background-color:#d8d8d8;
                                            color: #ab1217;
                                        }
                                    }
                                }
                                .separator-style{
                                    margin: 0 0;
                                }

                            }

                    }
                    .search-box{
                        background-color: rgba(107,104,103,0.8);
                        border-color: rgba(107,104,103,0.8);
                        color: white;
                        margin:10px  0 0 10px;
                        width:18%;
                        display: inline;
                        position: relative;

                    }
                    .iconsearclass{
                        position: absolute;
                        top: 17px;
                        left: 17px;
                        color: #fcfbf5;

                    }
                }

            }
        }

    }
}
























//     color: white;
//     .page-header{
//         font-size: 48px;
//         border:0;
//     }
//     .page-content{
//         .by-genre{
//             font-size: 36px;
//             margin-bottom: 50px;
//
//             .genres{
//                 border-top: 10px solid #40a20b;
//                 background-color: rgba(63, 162, 10, 0.3);
//                 padding: 10px 0;
//                 position: relative;
//
//                 &::before{
//                     content: '';
//                     position: absolute;
//                     top: 0;
//                     bottom: 0;
//                     right: 100%;
//                     background-color: #343031;
//                     width: 370px;
//                     z-index: 1;
//
//                 }
//
//                 &::after{
//                     content: '';
//                     position: absolute;
//                     top: 0;
//                     bottom: 0;
//                     left: 100%;
//                     background-color: #343031;
//                     width: 370px;
//                     z-index: 1;
//                 }
//                 .genre{
//                     background-position: center;
//                     background-size: cover;
//                     padding-top: ~"calc(100% - 45px)";
//                     margin-bottom: 30px;
//                     transition: 0.5s;
//
//                     &:hover{
//                         transform: scale(1.1);
//                         z-index: 1;
//                     }
//
//                     .title{
//                         background: rgba(0,0,0,0.6);
//                         padding: 5px 15px;
//                         font-size: 17px;
//                         white-space: nowrap;
//                         overflow: hidden;
//                         text-overflow: ellipsis;
//                     }
//                 }
//             }
//         }
//         .filter{
//             font-size: 36px;
//             margin-bottom: 15px;
//
//             .title{
//
//             }
//             .search{
//                 padding: 8px 0;
//                 #search-box{
//                     height: 45px;
//                     background: none;
//                     border: 2px solid #40a20b;
//                     padding-left: 50px;
//                     outline: 0;
//                     margin-right: 15px;
//                 }
//
//                 .fa-search{
//                     color: #40a20b;
//                     position: absolute;
//                     top: 11px;
//                     left: 10px;
//                 }
//             }
//         }
//         .videos{
//             border-top: 10px solid #40a20b;
//             background-image: linear-gradient(to top, rgba(252,251,245,0), #fcfbf5);
//             padding: 30px;
//             .video{
//                 background-position: center;
//                 background-size: cover;
//                 padding-top: ~"calc(100% - 45px)";
//                 margin-bottom: 30px;
//                 transition: 0.5s;
//
//                 &:hover{
//                     transform: scale(1.1);
//                     z-index: 1;
//                 }
//
//                 .title{
//                     background: rgba(0,0,0,0.6);
//                     padding: 5px 15px;
//                     font-size: 22px;
//                     white-space: nowrap;
//                     overflow: hidden;
//                     text-overflow: ellipsis;
//                 }
//             }
//         }
//     }
// }
