.karaoke-singer-page{
    color: white;
    .page-header{
        font-size: 48px;
        border:0;

        .singer-poster{
            border-top:10px solid #40a20b;
            height: 25vw;
            background-position: center;
            background-size: cover;
        }
    }
    .page-content{
        .albums-wrapper{
            font-size: 36px;
            margin-bottom: 50px;

            .albums{
                border-top: 10px solid #40a20b;
                background-color: rgba(63, 162, 10, 0.3);
                padding: 30px;
                overflow-x: hidden;
                .album{
                    background-position: center;
                    background-size: cover;
                    padding-top: ~"calc(100% - 45px)";
                    margin-bottom: 30px;
                    transition: 0.5s;

                    &:hover{
                        transform: scale(1.25);
                        z-index: 1;
                    }

                    .title{
                        background: rgba(0,0,0,0.6);
                        padding: 5px 15px;
                        font-size: 17px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            .album-items {
                height: 0;
                overflow: hidden;
                transition: all 1s ease-out;

                .fa-times {
                    position: absolute;
                    right: 20px;
                    top: 15px;
                }

                &.active{
                    height: 500px;
                    margin-top: 100px;
                }

                .song{
                    background-color: rgba(63, 162, 10, 0.4);


                }
            }
        }
        .filter{
            font-size: 36px;
            margin-bottom: 15px;

            .title{

            }
            .search{
                padding: 8px 0;
                #search-box{
                    height: 45px;
                    background: none;
                    border: 2px solid #40a20b;
                    padding-left: 50px;
                    outline: 0;
                }

                .fa-search{
                    color: #40a20b;
                    position: absolute;
                    top: 11px;
                    left: 10px;
                }
            }
        }
        .songs{
            border-top: 10px solid #40a20b;
            background-image: linear-gradient(to top, #292525 40%, #514E4D);
            padding: 30px;
            .song{
                transition: 0.5s;
                padding: 20px;
                background: #3E393A;
                background-clip: content-box;

                &:hover{
                    transform: scale(1.1);
                    z-index: 1;
                }

                .pic{
                    width: 30%;
                    padding-bottom: 30%;
                    background-position: center;
                    background-size: cover;

                }

                .info{
                    padding: 20px 10px 0 10px;
                    font-size: 17px;
                    width: 60%;
                }

            }
        }
    }
}
