<div class="brand-page">
    <div class="brand-page-header" style="background-image:url('{{brand.BackgroundImage.url}}')">
        <div class="container">
            <div class="overlay">
                <div class="pic" style="background-image:url({{brand.BrandLogo.url}})"></div>
                <div class="info">
                    <div class="title">
                        {{brand.title}}
                    </div>
                    <div class="favorites-border-gradient hand" ng-click="addToFavorites()"><span>{{isFavorite()?'-':'+'}}  Favorites<i class="icon {{isFavorite()?'icon-favorite-icon-filled':'icon-favorite-star-sm'}}" style="display:inline-block"></i></span></div>
                    <div class="share">
                        <span class="icon icon-share-black-36x37 hand" ng-click="shareModal()"></span> <span class="reward"><sup>+</sup>50</span>
                    </div>
                </div>
                <div class="videos">{{relatedOffers.length}} {{relatedOffers.length>1?'Offers':Offer}}</div>
            </div>
        </div>
    </div>
    <div class="tabs-selectors">
        <div class="tab-selector {{shownTab=='Home'?'active':''}}" ng-click="shownTab='Home'">Home</div>
        <div class="tab-selector {{shownTab=='Offers'?'active':''}}" ng-click="shownTab='Offers'">Offers</div>
        <div class="tab-selector {{shownTab=='Stars'?'active':''}}" ng-click="shownTab='Stars'">Stars</div>
        <div class="tab-selector {{shownTab=='Videos'?'active':''}}" ng-click="shownTab='Videos'">Videos</div>
    </div>
    <div class="tabs" ng-switch="shownTab">
        <div class="tab home row" ng-switch-when="Home">
            <div class="home-left col-md-10">
                <div class="info row">
                    <div class="player col-sm-7" style="padding-left:0;">
                        <jwplayer ng-if="brand" data-id="charityPlayer" data-video="brand" data-auto-play="true"></jwplayer>
                        <div class="reward pa">100 Reward Points</div>
                    </div>
                    <div class="details col-sm-5">
                        <div class="title">About {{brand.title}}</div>
                        <div class="desc">{{brand.description}}</div>
                        <div class="share">
                            <span class="icon icon-share-black-36x37 hand" ng-click="shareModal()"></span> <span class="reward"><sup>+</sup>50</span>
                        </div>
                    </div>
                </div>
                <div class="celebrity-section row" ng-repeat="celeb in brand.relatedVideos">
                    <div class="title">{{celeb.title}} And {{brand.title}}   <i class="icon icon-arrow-right-gray-12x23" style="display: inline-block;" style="display: inline-block;" aria-hidden="true"></i></div>
                    <div class="celeb-videos row">
                        <clix-carousel ng-if="brand.relatedVideos" data-slides="4" data-videos="brand.relatedVideos" data-index="brand._id"></clix-caeousel>
                    </div>
                </div>
                <div class="all-videos hand" ng-click="$parent.shownTab='Videos'"s>See All Videos</div>
            </div>
            <div class="home-right col-md-2">
                <div class="title">Offers From {{brand.title}}</div>
                <clix-sec-block ng-repeat="offer in relatedOffers | limitTo:3" data-model="offer" class="offer" data-offer="true" data-href="offer" data-href-param="_id" ></clix-sec-block>
                <div class="all-stars hand" ng-click="$parent.shownTab='Offers'"s>See All Offers</div>
            </div>
        </div>
        <div class="tab row" ng-switch-when="Offers" style="margin:0 -15px">
            <clix-sec-block ng-repeat="offer in relatedOffers" data-model="offer" class="offer col-xs-6 col-sm-3 col-md-4 col-lg-2" data-offer="true" data-sub-menu="true" data-href="offer" data-href-param="_id"  ></clix-sec-block>
        </div>
        <div class="tab row" ng-switch-when="Stars">
            <div class="celebrity-section" ng-repeat="celeb in brand.celebrities">
                <div class="title">{{celeb.title}} And {{brand.title}}   <i class="icon icon-arrow-right-gray-12x23" style="display: inline-block;" aria-hidden="true"></i></div>
                <div class="celeb-videos row">
                    <clix-carousel ng-if="brand.relatedVideos" data-videos="brand.relatedVideos" data-index="celeb._id"></clix-caeousel>
                </div>
            </div>
        </div>
        <div class="tab" ng-switch-when="Videos">
            <div class="tab-header row">
                <div class="title col-md-9">All Videos Featuring {{brand.title}}   </div>
                <div class="filter sort col-md-3">
                    <div class="filter-btn hand dropdown-toggle" type="button" id="sortddm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{selectedSort?selectedSort:'SORT BY'}}
                        <span class="fa fa-angle-down flr" style="font-size:33px;"></span>
                    </div>
                      <ul class="filter-menu dropdown-menu" aria-labelledby="sortddm">
                        <li class="hand filter-menu-row" ng-click="selectedSort='A - Z';sortBy('title')">A - Z</li>
                        <li class="hand filter-menu-row" ng-click="selectedSort='Recently Added';sortBy('')">Most Viewed</li>
                        <li class="hand filter-menu-row" ng-click="selectedSort='Favorites';sortBy('')">Favorites</li>
                      </ul>
                </div>
            </div>

            <div class="celeb-videos row">
                <clix-block class="video col-xs-12 col-sm-6 col-md-3 col-lg-15" ng-repeat="video in brand.relatedVideos | orderBy:sortField" data-model="video" ></clix-block>
            </div>
        </div>
    </div>
</div>
