<div class="category-page">
    <div class="categories-header" style="background-image:url('{{category.BrandLogo}}')">
        <div class="container">
            <div class="overlay">
                <div class="title">
                    {{category.title}}
                </div>
                <div class="favorites-border-gradient" ng-click="addRemoveFavorites()"><span>{{isFavorite()?'-':'+'}}  Favorites<i class="icon {{isFavorite()?'icon-favorite-icon-filled':'icon-favorite-star-sm'}}"></i></span></div>
                <div class="videos">123 Videos</div>
            </div>

        </div>
    </div>
    <div class="content row">
        <div class="left col-sm-2">
            <div class="title">
                More Categories
            </div>
            <div class="categories">
                <div class="category hand {{cat.title==category.title?'active':''}}" ng-repeat="cat in categories" ng-click="go('/category/'+cat.title)">
                    {{cat.title}}
                </div>
            </div>
        </div>
        <div class="right col-sm-10">
            <div class="filters row" style="border-top:0">
                <div class="filter col-md-offset-5 col-md-4">
                    <div class="filter-btn hand dropdown-toggle" type="button" id="filterddm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{selectedFilter?selectedFilter:'FILTER BY'}}
                        <span class="fa fa-angle-down flr" style="font-size:33px;"></span>
                    </div>
                      <ul class="filter-menu dropdown-menu" aria-labelledby="filterddm">
                        <li class="hand filter-menu-row" ng-click="selectedFilter=''">All</li>
                        <li class="hand filter-menu-row" ng-click="selectedFilter='Atheletes'">Atheletes</li>
                        <li class="hand filter-menu-row" ng-click="selectedFilter='Influencers'">Influencers</li>
                        <li class="hand filter-menu-row" ng-click="selectedFilter='Movie Stars'">Movie Stars</li>
                        <li class="hand filter-menu-row" ng-click="selectedFilter='Musicians'">Musicians</li>
                        <li class="hand filter-menu-row" ng-click="selectedFilter='TV Stars'">TV Stars</li>
                      </ul>
                </div>
                <div class="filter sort col-md-3">
                    <div class="filter-btn hand dropdown-toggle" type="button" id="sortddm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{selectedSort?selectedSort:'SORT BY'}}
                        <span class="fa fa-angle-down flr" style="font-size:33px;"></span>
                    </div>
                      <ul class="filter-menu dropdown-menu" aria-labelledby="sortddm">
                        <li class="hand filter-menu-row" ng-click="selectedSort='A - Z';sortBy('title')">A - Z</li>
                        <li class="hand filter-menu-row" ng-click="selectedSort='Recently Added';sortBy('added')">Recently Added</li>
                        <li class="hand filter-menu-row" ng-click="selectedSort='Favorites';sortBy('')">Favorites</li>
                        <li class="hand filter-menu-row" ng-click="selectedSort='Most Watched';sortBy('')">Most Watched</li>
                      </ul>
                </div>
            </div>
            <div class="videos-cont">

                <div class="row">
                    <div class="video col-sm-4 col-md-3" ng-repeat="video in categoryVideos | filter:videosFilter | orderBy:sortField " >
                        <clix-block data-model="video" ></clix-block>
                    </div>
                    <div class="col-xs-12">
                        <div class="load-more">Load More</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
