<div class="celebrities-page">
    <div class="content ">
        <div class="charities">
            <div class="page-title">
                Stars
            </div>
            <div class="filters row" style="border-top:0" >
                <div class="filter col-md-6">
                    <i class="icon icon-search-21x22"></i>
                    <input type="text" class="filter-btn search" placeholder="Search Stars" ng-model="search" />
                </div>
                <div class="filter col-md-3">
                    <div class="filter-btn hand dropdown-toggle" type="button" id="filterddm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{selectedFilter?selectedFilter:'FILTER BY'}}
                        <span class="fa fa-angle-down flr" style="font-size:33px;"></span>
                    </div>
                      <ul class="filter-menu dropdown-menu" aria-labelledby="filterddm">
                        <li class="hand filter-menu-row" ng-click="selectedFilter=''">All</li>
                        <li class="hand filter-menu-row" ng-click="selectedFilter='Athletes'">Athletes</li>
                        <li class="hand filter-menu-row" ng-click="selectedFilter='Influencers'">Influencers</li>
                        <li class="hand filter-menu-row" ng-click="selectedFilter='Movie Stars'">Movie Stars</li>
                        <li class="hand filter-menu-row" ng-click="selectedFilter='Musicians'">Musicians</li>
                        <li class="hand filter-menu-row" ng-click="selectedFilter='Tv Stars'">Tv Stars</li>
                      </ul>
                </div>
                <div class="filter sort col-md-3">
                    <div class="filter-btn hand dropdown-toggle" type="button" id="sortddm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{selectedSort?selectedSort:'SORT BY'}}
                        <span class="fa fa-angle-down flr" style="font-size:33px;"></span>
                    </div>
                      <ul class="filter-menu dropdown-menu" aria-labelledby="sortddm">
                        <li class="hand filter-menu-row" ng-click="selectedSort='A - Z';sortBy('title')">A - Z</li>
                        <li class="hand filter-menu-row" ng-click="selectedSort='Recently Added';sortBy('added')">Recently</li>
                        <li class="hand filter-menu-row" ng-click="selectedSort='Favorites';sortBy('')">Favorites</li>
                        <li class="hand filter-menu-row" ng-click="selectedSort='Favorites';sortBy('')">Most Viewed</li>
                      </ul>
                </div>
            </div>
            <div class="charities-grid row">
                <clix-sec-block class="celebrity col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="celeb in celebrities | filter:celebritiesFilter | orderBy:sortField" data-sub-menu="true" data-model="celeb" data-href="celebrity" data-href-param="_id" data-category="true" ></clix-sec-block>

            </div>
        </div>
    </div>
</div>
