<div class="celebrity-page">
    <div class="celebrity-page-header" style="background-image:url('{{celebrity.BackgroundImage.url}}')">
        <div class="container">
            <div class="overlay">
                <div class="pic" style="background-image:url({{celebrity.BrandLogo.url}})"></div>
                <div class="info">
                    <div class="title">
                        {{celebrity.title}}
                    </div>
                    <div class="favorites-border-gradient hand" ng-click="addToFavorites()"><span>{{isFavorite()?'-':'+'}}  Favorites<i class="icon {{isFavorite()?'icon-favorite-icon-filled':'icon-favorite-star-sm'}}"></i></span></div>
                </div>
                <div class="videos">214 Videos</div>
            </div>
        </div>
    </div>
    <div class="tabs-selectors">
        <div class="tab-selector {{shownTab=='Video'?'active':''}}" ng-click="shownTab='Video'">Video</div>
        <div class="tab-selector {{shownTab=='Offers'?'active':''}}" ng-click="shownTab='Offers'">Brands & Offers</div>
        <div class="tab-selector {{shownTab=='Charity'?'active':''}}" ng-click="shownTab='Charity'">Charity</div>
    </div>
    <div class="tabs" ng-switch="shownTab">
        <div class="tab home row" ng-switch-when="Video">
            <div class="tab-header row">
                <div class="page-title2 col-md-9">{{celebrity.title}}: Series 1    </div>
                <div class="filter sort col-md-3">
                    <div class="filter-btn hand dropdown-toggle" type="button" id="sortddm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Series 1
                        <span class="fa fa-angle-down flr" style="font-size:33px;"></span>
                    </div>
                      <ul class="filter-menu dropdown-menu" aria-labelledby="sortddm">
                        <li class="hand filter-menu-row" ng-click="">Series 1</li>
                        <li class="hand filter-menu-row" ng-click="">Series 2</li>
                        <li class="hand filter-menu-row" ng-click="">Series 3</li>
                      </ul>
                </div>
            </div>
            <div class="row" style="margin-right: 0;">
                <div class="home-left col-md-8">
                    <clix-block class="col-xs-12 col-sm-6 col-md-4" ng-repeat="video in celebrity.related_videos | limitTo:4" data-model="video" ></clix-block>
                </div>
                <div class="col-md-4">
                    <div class="home-right row">
                        <div class="title">Brands in this Series</div>
                        <clix-sec-block class=" brand col-xs-12 col-sm-6" ng-repeat="brand in celebrity.related_brands | limitTo:4" data-model="brand" data-brand="true" data-href="brand" data-href-param="title" ></clix-sec-block>
                        <div class="all-stars hand col-xs-8 col-xs-offset-2" ng-click="$parent.shownTab='Stars'">See All Brands</div>
                    </div>
                    <div class="home-right row">
                        <div class="title">Charity in this Series</div>
                        <clix-sec-block class="charity col-xs-12 col-sm-6" ng-repeat="charity in celebrity.related_charities | limitTo:2" data-model="charity" data-charity="true" data-href="charity" data-href-param="title" ></clix-sec-block>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab" ng-switch-when="Offers">
            <div class="tab-header row">
                <div class="page-title2 col-md-9">Brands related to {{celebrity.title}}   </div>
            </div>
            <div class="celeb-videos row">
                <clix-sec-block class="video col-xs-12 col-sm-6 col-md-3 col-lg-2" data-brand="true" data-href="brand" data-href-param="title" ng-repeat="video in celebrity.related_brands" data-model="video" ></clix-sec-block>
            </div>
            <div class="tab-header row">
                <div class="page-title2 col-md-9">Offers related to {{celebrity.title}}   </div>
            </div>
            <div class="celeb-videos row">
                <clix-sec-block class="video col-xs-12 col-sm-6 col-md-3 col-lg-2" data-offer="true" data-href="offer" data-href-param="_id" ng-repeat="video in celebrity.related_offers" data-model="video" ></clix-sec-block>
            </div>
        </div>
        <div class="tab" ng-switch-when="Charity">
            <div class="tab-header row">
                <div class="page-title2 col-md-9">Charities related to {{celebrity.title}}</div>
            </div>
            <div class="celeb-videos row">
                <clix-sec-block class="video col-xs-12 col-sm-6 col-md-3 col-lg-2" data-charity="true"  data-href="charity" data-href-param="title" ng-repeat="video in celebrity.related_charities" data-model="video" ></clix-sec-block>
            </div>
        </div>
    </div>
</div>
