<div class="charities-page">
    <div class="content ">
        <div class="charities">
            <div class="page-title">
                Charities
            </div>
            <div class="filters row" style="border-top:0">
                <div class="filter col-md-6">
                    <i class="icon icon-search-21x22"></i>
                    <input type="text" class="filter-btn search" placeholder="Search Charities" ng-model="search" />
                </div>
                <div class="filter col-md-3">
                    <div class="filter-btn hand dropdown-toggle" type="button" id="filterddm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{selectedFilter?selectedFilter:'FILTER BY'}}
                        <span class="fa fa-angle-down flr" style="font-size:33px;"></span>
                    </div>
                      <ul class="filter-menu dropdown-menu" aria-labelledby="filterddm">
                        <li class="hand filter-menu-row" ng-click="selectedFilter=''">All</li>
                        <li class="hand filter-menu-row" ng-click="selectedFilter='Animals'">Animals</li>
                        <li class="hand filter-menu-row" ng-click="selectedFilter='Arts & Culture'">Arts & Culture</li>
                        <li class="hand filter-menu-row" ng-click="selectedFilter='Education'">Education</li>
                        <li class="hand filter-menu-row" ng-click="selectedFilter='Environmental'">Environmental</li>
                        <li class="hand filter-menu-row" ng-click="selectedFilter='International non-gov'">International non-gov</li>
                        <li class="hand filter-menu-row" ng-click="selectedFilter='Health'">Health</li>
                      </ul>
                </div>
                <div class="filter sort col-md-3">
                    <div class="filter-btn hand dropdown-toggle" type="button" id="sortddm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{selectedSort?selectedSort:'SORT BY'}}
                        <span class="fa fa-angle-down flr" style="font-size:33px;"></span>
                    </div>
                      <ul class="filter-menu dropdown-menu" aria-labelledby="sortddm">
                        <li class="hand filter-menu-row" ng-click="selectedSort='A - Z';sortBy('title')">A - Z</li>
                        <li class="hand filter-menu-row" ng-click="selectedSort='Recently Added';sortBy('')">Most Viewed</li>
                        <li class="hand filter-menu-row" ng-click="selectedSort='Favorites';sortBy('')">Favorites</li>
                      </ul>
                </div>
            </div>
            <div class="charities-grid row">
                <clix-sec-block class="charity col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="charity in charities | filter:offersFilter | orderBy:sortField" data-model="charity" data-href="charity" data-href-param="title" data-charity="true" data-sub-menu="true" style="padding:15px;"></clix-sec-block>

            </div>
        </div>
    </div>
</div>
