<div class="offers-page">
    <div class="page-title">
        Brands & Offers
    </div>
    <div class="tabs-selectors" style="margin:10px 0;">
        <div class="tab-selector {{shownTab=='Brands'?'active':''}}" ng-click="shownTab='Brands'">Brands</div>
        <div class="tab-selector {{shownTab=='Offers'?'active':''}}" ng-click="shownTab='Offers'">Offers</div>
    </div>
    <div class="filters row" style="border-top:0">
        <div class="filter col-md-6">
            <i class="icon icon-search-21x22"></i>
            <input type="text" class="filter-btn search" placeholder="Search Brands & Offers" ng-model="search" />
        </div>
        <div class="filter col-md-3">
            <div class="filter-btn hand dropdown-toggle" type="button" id="filterddm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{selectedFilter?selectedFilter:'FILTER BY'}}
                <span class="fa fa-angle-down flr" style="font-size:33px;"></span>
            </div>
              <ul class="filter-menu dropdown-menu" aria-labelledby="filterddm">
                <li class="hand filter-menu-row" ng-click="selectedFilter=''">All</li>
                <li class="hand filter-menu-row" ng-click="selectedFilter='Auto & Home'">Auto & Home</li>
                <li class="hand filter-menu-row" ng-click="selectedFilter='Baby,Kids & Toys'">Baby,Kids & Toys</li>
                <li class="hand filter-menu-row" ng-click="selectedFilter='Electronics'">Electronics</li>
                <li class="hand filter-menu-row" ng-click="selectedFilter='Entertainment'">Entertainment</li>
                <li class="hand filter-menu-row" ng-click="selectedFilter='Grocery, HouseHold & Pets'">Grocery, HouseHold & Pets</li>
                <li class="hand filter-menu-row" ng-click="selectedFilter='Health & Beauty'">Health & Beauty</li>
                <li class="hand filter-menu-row" ng-click="selectedFilter='Jewelry & Watches'">Jewelry & Watches</li>
                <li class="hand filter-menu-row" ng-click="selectedFilter='Men\'s Fashion'">Men's Fashion</li>
                <li class="hand filter-menu-row" ng-click="selectedFilter='Sports & Outdoors'">Sports & Outdoors</li>
                <li class="hand filter-menu-row" ng-click="selectedFilter='Women\'s Fashion'">Women's Fashion</li>
              </ul>
        </div>
        <div class="filter sort col-md-3">
            <div class="filter-btn hand dropdown-toggle" type="button" id="sortddm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{selectedSort?selectedSort:'SORT BY'}}
                <span class="fa fa-angle-down flr" style="font-size:33px;"></span>
            </div>
              <ul class="filter-menu dropdown-menu" aria-labelledby="sortddm">
                <li class="hand filter-menu-row" ng-click="selectedSort='Expiring Soon';sortBy('expire_date')">Expiring Soon</li>
                <li class="hand filter-menu-row" ng-click="selectedSort='Recently Added';sortBy('')">Most Viewed</li>
                <li class="hand filter-menu-row" ng-click="selectedSort='Favorites';sortBy('')">Favorites</li>
              </ul>
        </div>
    </div>
    <div class="tabs" ng-switch="shownTab">
        <div class="tab row" ng-switch-when="Brands">
            
            <clix-sec-block class="brand col-xs-6 col-sm-4 col-md-3 col-lg-2" data-sub-menu="true" data-brand="true" data-href="brand" data-href-param="title" ng-repeat="brand in brands | filter:offersFilter | orderBy:sortField" data-model="brand"></clix-sec-block>
        </div>
        <div class="tab row" ng-switch-when="Offers">
            <clix-sec-block class="charity col-xs-6 col-sm-4 col-md-3 col-lg-2" data-sub-menu="true" data-offer="true" data-href="offer" data-href-param="_id" ng-repeat="brand in offers | filter:offersFilter | orderBy:sortField" data-model="brand"></clix-sec-block>
        </div>
    </div>
</div>
