<div class="video-page">
    <div class="content">
        <div class="row">
            <div class="left-side col-sm-8">
                <div class="row">
                    <div class="player col-xs-12">
                        <jwplayer ng-if="video" data-id="videoPlayer" data-video="video" data-auto-play="true"></jwplayer>
                    </div>
                </div>
                <div class="row">
                    <div class="left col-xs-12">
                        <div class="tab-header row">
                            <div class="title col-md-8">Up Next in This Series</div>
                            <div class="filter sort col-md-4">
                                <div class="filter-btn hand dropdown-toggle" type="button" id="sortddm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Series 1
                                    <span class="fa fa-angle-down flr" style="font-size:33px;"></span>
                                </div>
                                  <ul class="filter-menu dropdown-menu" aria-labelledby="sortddm">
                                    <li class="hand filter-menu-row" ng-click="selectedSort='A - Z';sortBy('title')">Series 1</li>
                                    <li class="hand filter-menu-row" ng-click="selectedSort='Recently Added';sortBy('')">Series 2</li>
                                    <li class="hand filter-menu-row" ng-click="selectedSort='Favorites';sortBy('')">Series 3</li>
                                  </ul>
                            </div>
                        </div>
                        <div class="videos row">
                            <clix-block class="video col-xs-12 col-sm-6 col-md-4" ng-repeat="video in related_videos" data-model="video" ></clix-block>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-4 right-side">
                <div class="row">
                    <div class="video-details pr col-xs-12 ">
                        <div class="header">
                            <div class="pic hand" style="background-image:url({{relatedCelebrity.BrandLogo.url?relatedCelebrity.BrandLogo.url:video.PosterH.url}})" ng-click="go('celebrity/'+relatedCelebrity._id)"></div>
                            <div class="title hand" ng-click="go('celebrity/'+relatedCelebrity._id)">{{relatedCelebrity.title?relatedCelebrity.title:video.artist_name }}</div>
                            <div class="star"><i ng-click="addRemoveFavorites()" class="hand icon {{isFavorite()?'icon-favorite-hover-video-top':'icon-favorite-normal-video-top'}}"></i></div>
                        </div>
                        <div class="social">
                            <div class="reward hand"><span>+</span>100 Reward Points</div>
                            <div class="likes"><i class="icon icon-like-icon-normal hand"></i><span>256k</span></div>
                            <div class="add"><i ng-click="addRemoveWatchlist()" class="hand icon icon-{{isWatchlist()?'minus-30x30':'plus-30x30'}}"></i></div>
                            <div class="share" ng-click="shareModal()"><i class="hand icon icon-share-black-36x37" ></i><span class="reward-points"><span>+</span>50</span></div>
                        </div>
                        <div class="video-name">{{video.title}}</div>
                        <div class="episode">Episode 1: {{video.title}}</div>
                        <div class="statistics">2,451,798 views  <span>AVAILABLE UNTIL 2 February 2017</span></div>
                        <div class="video-desc">{{video.description}}</div>
                        <div class="video-categories">Category: <span class="video-category hand" ng-repeat="cat in video.categories track by $index" ng-click="go('/category/'+cat.name)">{{cat.name}}{{$index<(video.categories.length-1)?',':''}}</span></div>
                        <div class="show-more-brands pa">
                            <div class="show-more" ng-click="showMore=!showMore;detailsHeight()">{{showMore?'Show Less':'Show More'}}</div>
                            <div class="video-brands">
                                <div class="brands left">
                                    <div class="brands-title">Brands in this series</div>
                                    <div class="offer pr hand" ng-if="related_brands" ng-repeat="offer in related_brands | limitTo: 4" ng-click="go('/brand/'+offer.title)">
                                        <div class="offer-img pr" style="background-image:url({{offer.BrandTransparentLogo.url}})">
                                            <div class="overlay pa"></div>
                                        </div>
                                        <div class="reward pa">50</div>
                                    </div>
                                </div>
                                <div class="brands right">
                                    <div class="brands-title charities">Charity</div>
                                    <div class="offer charity hand" ng-if="related_charities" ng-repeat="charity in related_charities | limitTo: 1" ng-click="go('/charity/'+charity.title)">
                                        <div class="offer-img pr" style="background-image:url({{charity.BrandTransparentLogo.url}})">
                                            <div class="overlay pa"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="right col-xs-12" style="padding-top: 30px;">
                        <div class="title">Related Videos</div>
                        <div class="right-content row">
                            <clix-block class="video col-xs-6" ng-repeat="video in related_videos | limitTo:4" data-model="video" ></clix-block>
                            <div class="col-xs-12 text-center" >
                                <div class="all-stars hand" ng-click="$parent.shownTab='Stars'"s>
                                Show More
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="info row">


        </div>
        <div class="row" style="margin:0 15px;">


        </div>

    </div>
</div>
