<!-- <div class="navigation-search-container" ng-class="{'active': searchVisible === true}">
    <div class="search-icon-container" ng-click="onSearchIconPress()" clix-click-anywhere-else="bodyClicked">
        <i class="search-icon icon-search-icon-bottom-nav"></i>
    </div>

    <div class="search-results-container">
        <div class="search-input-field-container">
            <input class="search-input-field" id="search-input-field" type="text" placeholder="Search" ng-model="term" ng-change="onTermChange()" />
        </div>
        <div class="search-results">
            <clix-search-dropdown term="term"></clix-search-dropdown>
        </div>
    </div>
</div> -->
