<div class="slider">
  <div class="slide" ng-repeat="image in images track by $index" ng-show="$index == currentIndex">
    <div class="sliderin " style="background-image:url({{image.PosterH.url}})">

    </div>
  </div>
  <div class="cover-image">
             <div class="moviedetailes">
                 <div class="fake {{showMessage==true?'fadeinClass':''}} ">
                     <div class="wrap">
                         <div class="status">
                             <span class="statusspan">FREE</span>
                         </div>
                         <div class="movie-type">
                              <span class="movietypespan" >{{activeSlide.category}}</span>
                         </div>
                     </div>
                     <div class="movie-name">
                         <span class="movienamespan">{{activeSlide.name}}</span>
                     </div>
                     <div class="language">
                         <span class="languagespan">USA,English 2015</span>
                     </div>
                     <div class="viveahora">
                         <span class="viveahoraspan">VIVE Ahora</span>
                     </div>
                 </div>
             </div>
             <div class="grdianet">
             </div>
        </div>


        <ol class="carousel-indicators circels">
          <li ng-click="next(0)" class="{{currentIndex==0?'active':''}} circelsli"></li>
          <li ng-click="next(1)" class="{{currentIndex==1?'active':''}} circelsli" ></li>
          <li ng-click="next(2)" class="{{currentIndex==2?'active':''}} circelsli"></li>
        </ol>

</div>
