.clix-asset-logo {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;

    &.clix-brand-logo {
        .radial-gradient(@color-brand-start, @color-brand-end, 0 100%);
    }

    &.clix-charity-logo {
        .radial-gradient(@color-charity-start, @color-charity-end, 0 100%, 70%);
    }

    .clix-logo-content-container {
        position: absolute;
        top: 40px;
        left: 40px;
        right: 40px;
        bottom: 40px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}