.clix-search-dropdown {
    background-color: @color-gray21;
    width: 307px;

    .clix-search-result-item {
        .flex-display;
        .align-items(center);
        padding: 8px 20px;
        cursor: pointer;

        &:hover {
            background-color: @color-gray22;
        }

        .search-result-image {
            width: 45px;
            height: 45px;
            overflow: hidden;

            img {
                max-width: 100%;
            }

            &.search-result-image-circle {
                .border-radius(45px / 2);
            }
        }

        .search-result-info {
            .flex(1);
            padding-left: 10px;
        }

        .search-result-title {
            font-family: @font-primary;
            color: @color-white;
            font-size: 14px;
            line-height: 20px;
        }

        .search-result-subtitle {
            font-family: @font-primary;
            color: @color-gray2;
            font-size: 10px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }
    }

    .dropdown-empty-results-container {
        padding: 40px 40px 50px;
        text-align: center;
        color: @color-gray2;

        .dropdown-empty-results-message {
            font-family: @font-primary-bold;
            font-size: 18px;
            line-height: 22px;
        }

        .dropdown-empty-results-desc {
            font-family: @font-primary;
            font-size: 14px;
            line-height: 22px;
            margin-top: 8px;
        }
    }
}