.clix-search-dropdown {
    background-color: @color-gray21;
    width: 307px;

    .clix-search-result-item {
        .flex-display;
        .align-items(center);
        padding: 8px 20px;

        .search-result-image {
            width: 45px;
            height: 45px;

            &.search-result-image-circle {
                .border-radius(45px / 2);
                overflow: hidden;
            }
        }

        .search-result-info {
            .flex(1);
            padding-left: 10px;
        }

        .search-result-title {
            font-family: @font-primary;
            color: @color-white;
            font-size: 14px;
            line-height: 20px;
        }

        .search-result-subtitle {
            font-family: @font-primary;
            color: @color-gray2;
            font-size: 10px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }
    }
}