.clix-site-search {
    @media (max-width: @screen-sm) {
        max-height: 100%;
    }
    .search-results-container {
        background-color: @color-black;
        width: 100%;
        height: 100%;
    }

    .search-input-container {
        padding: 9px 7px;
    }

    .search-input-field-container {
        .border-radius(13px);
        border: 1px solid @color-light-gray;
        padding: 3px 13px;
    }

    .search-input-field {
        background-color: @color-transparent;
        border-width: 0;
        color: @color-white;
        font-family: @font-primary;
        font-size: 14px;
        width: 100%;

        &::placeholder {
            color: @color-light-gray;
        }
    }

    .search-results {
        background-color: @color-gray21;
    }

    .search-results-block {
        padding: 15px 0;
    }

    .search-results-title {
        padding-left: 20px;
        font-family: @font-primary;
        text-transform: uppercase;
        color: @color-gray2;
        font-size: 10px;
        letter-spacing: 1.5px;
        margin-bottom: 2px;
    }

    .header-search-row {
        .flex-display;
        .align-items(center);
        padding: 8px 20px;
        cursor: pointer;

        &:hover {
            @media (min-width: @screen-sm) {
                background-color: @color-gray22;
            }
        }

        .search-results-circle-image {
            .border-radius(44px / 2);
            width: 44px;
            height: 44px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .search-content-container {
            .flex(1);
            padding-left: 10px;
        }

        .search-title-text {
            font-family: @font-primary;
            font-size: 14px;
            color: @color-white;
            line-height: 20px;
        }

        .search-subtitle-text {
            font-family: @font-primary;
            text-transform: uppercase;
            color: @color-gray2;
            font-size: 10px;
            letter-spacing: 1.5px;
        }
    }
}