<div class="clix-search-filter">
    <div class="row">
        <div class="col-md-7">
            <div class="search-bar-container">
                <div class="search-bar" clix-click-anywhere-else="onBodyPress">
                    <i class="search-icon icon-search-icon-bottom-nav"></i>
                    <input type="text" class="search-input" ng-model="term" placeholder="{{searchPlaceholder}}" ng-focus="onInputFocus()" />
                    <div class="search-results-dropdown-container">
                        <clix-search-dropdown term="term" type="type" force-hide="dropdownForceHide"></clix-search-dropdown>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5" ng-if="showFilters !== 'false'">
            <div class="filters-container">
                <div class="filter-bar">
                    <clix-dropdown options="filterOptions" placeholder-text="{{filterPlaceholder}}"></clix-dropdown>
                </div>
                <div class="filter-bar">
                    <clix-dropdown options="sortOptions" placeholder-text="{{sortPlaceholder}}"></clix-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>