@logo-padding: 20px;

.clix-brand-charity-logo,
.clix-offer-logo,
.clix-charity-logo,
.clix-brand-category-logo {

    .flex(1);
    position: relative;

    .logo-save {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 15;
        cursor: pointer;
    }

    .logo-image {
        position: absolute;
        top: @logo-padding;
        left: @logo-padding;
        right: @logo-padding;
        bottom: @logo-padding;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .logo-overlay {
        .flex-display;
        .flex(1);
        .align-items(center);
        .justify-content(center);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: @color-transparent-dark-black;
        visibility: hidden;
    }

    .logo-points {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    .view-button-container {
        width: 30%;
        padding-bottom: 30%;
        position: relative;
        z-index: 20;

        .view-button {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    @media (min-width: @screen-sm) {
        &:hover {
            .logo-overlay {
                visibility: visible;
            }
        }
    }

    .logo-ellipsis {
        position: absolute;
        top: 10px;
        right: 10px;
        color: @color-gray2;
        z-index: 15;
        cursor: pointer;
        font-size: 20px;
        padding: 10px;

        &:hover {
            color: @color-white;
        }
    }

    .hit-area {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
    }

    .logo-menu-container {
        position: absolute;
        top: 25px;
        right: 0;
        width: 100%;
        padding: 7px;
    }
}

.clix-brand-charity-logo,
.clix-brand-category-logo {
    .radial-gradient(@color-brand-start, @color-brand-end, 0 100%);
}

.clix-offer-logo {

    background-size: cover;

    .logo-overlay-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        /**
         @todo - Make a mixin (3 color radial gradient)
         */
        background: -moz-radial-gradient(0 100%, ellipse cover, rgba(200,0,80,1) 0%, rgba(134,0,166,0.5) 50%, rgba(134,0,166,0) 100%);
        background: -webkit-radial-gradient(0 100%, ellipse cover, rgba(200,0,80,1) 0%,rgba(134,0,166,0.5) 50%,rgba(134,0,166,0) 100%);
        background: radial-gradient(ellipse at 0 100%, rgba(200,0,80,1) 0%,rgba(134,0,166,0.5) 50%,rgba(134,0,166,0) 100%);
    }

    .logo-icon {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 30%;
        height: 30%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.clix-charity-logo {
    .radial-gradient(@color-charity-start, @color-charity-end, 0 100%, 70%);
}

.clix-brand-category-logo {
    width: 115px;
    height: 115px;
    margin-top: 31px;

    .logo-image {
        top: 0;
    }

    .logo-category-title {
        position: absolute;
        text-align: center;
        font-size: 9px;
        font-family: @font-secondary;
        color: @color-white;
        letter-spacing: 1px;
        text-transform: uppercase;
        left: 0;
        right: 0;
        bottom: 35px;
    }

    .logo-category-violator {
        position: absolute;
        bottom: 4px;
        right: 4px;
    }
}