<div class="clix-offer-logo" style="background-image: url('{{offer.thumbnail}}')">
    <clix-tooltip-menu items="items" menuopen="menuVisible" class="logo-menu-container" ng-hide="!menuVisible"></clix-tooltip-menu>
    <div class="logo-overlay-image"></div>
    <div class="logo-icon" style="background-image: url('{{offer.transparentThumbnail}}')"></div>
    <div class="logo-points" clix-tooltip-trigger tooltip-id="tooltip-{{$id}}">
        <clix-points-violator>
            50
        </clix-points-violator>
    </div>
    <!--<div class="logo-overlay">-->
        <!--<a ui-sref="offer({ id: '{{offer._id}}' })" class="hit-area"></a>-->
        <!--<a ui-sref="offer({ id: '{{offer._id}}' })" class="view-button-container">-->
            <!--<div class="view-button">-->
                <!--<clix-view-button></clix-view-button>-->
            <!--</div>-->
        <!--</a>-->
        <!--<div class="logo-save">-->
            <!--<clix-save-button></clix-save-button>-->
        <!--</div>-->
        <!--<div class="logo-ellipsis">-->
            <!--<div class="menu-icon-container" ng-click="menuClicked($event)" clix-click-anywhere-else="bodyClicked">-->
                <!--<i class="icon-ellipsis"></i>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <clix-tooltip tooltip-id="tooltip-{{$id}}">
        <clix-is-logged-in>
            <logged-in>
                You will receive 50 Reward Points for viewing this offer!
            </logged-in>
            <not-logged-in>
                After you sign up, you will receive 50 Reward Points for viewing this offer! <a ng-click="">Learn more</a>.
            </not-logged-in>
        </clix-is-logged-in>
    </clix-tooltip>
</div>