<div class="account-page">
    <div class="account-header">
        <div class="container">
            Account Overview
        </div>
    </div>
    <div class="account-info container">
        <div class="row">
            <div class="col-sm-3 left-user">
                <div class="user-image" style="background-image: url('{{user.image}}'); ">

                </div>
                <div class="edit-btn" ng-if="editing">
                    Change
                </div>
            </div>
            <div class="col-sm-8 right-user">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="single-field">
                            <div class="field-header">
                                First Name
                            </div>
                            <div class="field-input" ng-if="!editing">
                                {{user.firstName}}
                            </div>
                            <input class="account-input" type="text" ng-model="user.first_name" ng-if="editing">
                        </div>
                        <div class="single-field">
                            <div class="field-header">
                                Email
                            </div>
                            <div class="field-input" ng-if="!editing">
                                {{user.email}}
                            </div>
                            <input class="account-input" type="text" ng-model="user.email" ng-if="editing">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="single-field">
                            <div class="field-header">
                                Last Name
                            </div>
                            <div class="field-input" ng-if="!editing">
                                {{user.lastName}}
                            </div>
                            <input class="account-input" type="text" ng-model="user.last_name" ng-if="editing">
                        </div>
                        <div class="single-field">
                            <div class="field-header">
                                Date of Birth
                            </div>
                            <div class="field-input" ng-if="!editing">
                                {{user.birthDay | date: dd/MM/yyyy}}
                            </div>
                            <input class="account-input" type="date" ng-model="user.birth"  ng-if="editing">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="single-field">
                            <div class="field-header">
                                Address
                            </div>
                            <div class="field-input" ng-if="!editing">
                                {{user.address}}
                            </div>
                            <input class="account-input" type="text" ng-model="user.address" ng-if="editing">
                        </div>
                        <div class="single-field">
                            <div class="field-header">
                                Phone
                            </div>
                            <div class="field-input" ng-if="!editing">
                                {{user.phone}}
                            </div>
                            <input class="account-input" type="text" ng-model="user.phone" ng-if="editing">
                        </div>
                        <div class="edit-btn" ng-click="enableEdit()">
                            <span ng-if="!editing">EDIT</span>
                            <span ng-if="editing">SAVE</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
