<div class="live-page">
    <div class="page-header row">
        <div class="col-xs-5">
            <div class="row">
            </div>
            <div class="row">
            </div>
        </div>

        <div class="col-xs-7">
            <jwplayer data-video="video" data-auto-play="false" data-id="video-player"></jwplayer>
        </div>

    </div>
    <div class="page-content">
        <div class="row brands">
            <ped-Brands-Carousel data-model="brands" data-carouse-id="brands"></ped-Brands-Carousel>
        </div>
        <div class="row epg" >
            <div class="col-xs-12 col-sm-3 col-md-2 epg-header pr" >EN VIVO
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 epg-content">
                <div class="row epg-channel">
                    <div class="channel-name hand" ng-click="go('/live/Peru 1')">{{channel1.name}}</div>
                    <div class="channel-img hidden-xs hand" ng-click="go('/live/Peru 1')" style="background-image:url({{channel1.icon_url}})"></div>
                    <div class="channel-epg ">
                        <div class="channel-program" ng-repeat="program in channel1.programs">
                            {{program.start_time}}<br/>
                            {{program.name}}<br/>
                            {{program.category}}<br/>
                            <div class="program-progress-container"><div class="progress" style="width:{{calcPercent(program.start_time,program.end_time)+'%'}}"></div></div>
                        </div>
                    </div>
                </div>
                <div class="row epg-channel">
                    <div class="channel-name hand"  ng-click="go('/live/Peru 2')" >{{channel2.name}}</div>
                    <div class="channel-img hidden-xs hand" ng-click="go('/live/Peru 2')" style="background-image:url({{channel2.icon_url}})"></div>
                    <div class="channel-epg">
                        <div class="channel-program" ng-repeat="program in channel2.programs">
                            {{program.start_time}}<br/>
                            {{program.name}}<br/>
                            {{program.category}}<br/>
                            <div class="program-progress-container"><div class="progress" style="width:{{calcPercent(program.start_time,program.end_time)+'%'}}"></div></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
