<div class="live-page">
    <div class="page-header">
        <div class="container">
            <div class="col-xs-12 col-sm-4" style="padding:0">
                <div class="col-xs-6 col-sm-12 channel hand channel1 selected" ng-click="go('/live/'+channels[0].title)">
                    <div class="channel-title">{{channels[0].title}}</div>
                    <div class="playing-now">
                        <div class="time">{{epg1[0].startTime | date:'HH:mm'}} - {{epg1[0].endTime | date:'HH:mm'}}</div>
                        <div class="playing-name">{{epg1[0].program.title}}</div>
                        <div class="progress-bar-container">
                            <div class="progress-bar"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-12 channel hand channel2" ng-click="go('/live/'+channels[0].title)">
                    <div class="channel-title">{{channels[0].title}}</div>
                    <div class="playing-now">
                        <div class="time">{{epg2[0].startTime | date:'HH:mm'}} - {{epg2[0].endTime | date:'HH:mm'}}</div>
                        <div class="playing-name">{{epg2[0].program.title}}</div>
                        <div class="progress-bar-container">
                            <div class="progress-bar"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-8 video-player-wrapper">
                <jwplayer data-video="activeVideo" data-auto-play="true" data-id="video-player"></jwplayer>
            </div>

        </div>
    </div>
    <div class="page-content">
        <div class="row brands">
            <ped-Brands-Carousel data-model="brands" data-carouse-id="brands"></ped-Brands-Carousel>
        </div>
        <div class="row epg" >
            <div class="col-xs-12 col-sm-3 col-md-2 epg-header pr" >EN VIVO
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 epg-content">
                <div class="row epg-channel">
                    <div class="channel-name hand" ng-click="go('/live/'+channels[0].title)">{{channels[0].title}}</div>
                    <div class="channel-img hidden-xs hand" ng-click="go('/live/'+channels[0].title)" style="background-image:url({{channels[0].ChannelLogoSmall.url}})"></div>
                    <div class="channel-epg ">
                        <div class="channel-program" ng-repeat="program in epg1 | limitTo:4">
                            <div class="program-time">{{program.startTime | date:'HH:mm'}}</div>
                            <div class="program-title">{{program.program.title}}</div>
                            <div class="program-progress-container"><div class="progress" style="width:{{calcPercent(program.startTime,program.endTime)+'%'}}"></div></div>
                        </div>
                    </div>
                </div>
                <div class="row epg-channel">
                    <div class="channel-name hand"  ng-click="go('/live/'+channels[0].title)" >{{channels[0].title}}</div>
                    <div class="channel-img hidden-xs hand" ng-click="go('/live/'+channels[0].title)" style="background-image:url({{channels[0].ChannelLogoSmall.url}})"></div>
                    <div class="channel-epg">
                        <div class="channel-program" ng-repeat="program in epg2 | limitTo:4">
                            <div class="program-time">{{program.startTime | date:'HH:mm'}}</div>
                            <div class="program-title">{{program.program.title}}</div>
                            <div class="program-progress-container"><div class="progress" style="width:{{calcPercent(program.startTime,program.endTime)+'%'}}"></div></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
