.clix-account-overview {

    .account-info-sub-header {
        font-family: @font-secondary;
        text-align: center;
        font-size: 14px;
        color: @color-gray2;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        padding-top: 40px;
        padding-bottom: 14px;

        @media (min-width: @screen-sm) {
            text-align: left;
        }
    }

    .form-value {
        margin-bottom: 10px;
    }

    .form-value-container {
        max-width: 360px;
    }

    .personal-info-form {
        background-color: @color-gray10;
        padding-top: 32px;
        padding-bottom: 31px;
    }

    .personal-info-form-row {
        padding-top: 25px;
        padding-bottom: 5px;
        margin-left: @account-padding-mobile;
        margin-right: @account-padding-mobile;
        border-bottom: 1px solid @color-gray3;

        &:last-child {
            border-bottom-width: 0;
        }

        @media (min-width: @screen-sm) {
            margin-left: 45px;
            margin-right: 45px;
        }
    }

    .form-header {
        .flex-display;
        .align-items(flex-end);
        margin-bottom: 9px;
    }

    .form-header-label {
        font-family: @font-secondary;
        font-size: 14px;
        text-transform: uppercase;
        color: @color-gray2;
        letter-spacing: 1.6px;
        margin-right: 25px;
    }

    .form-header-edit {
        font-size: 24px;
        color: @color-gray2;
        
        &:hover {
            color: @color-white;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .form-value-buttons {
        margin-bottom: 15px;
    }

    .form-value-button {
        display: inline-block;
        margin-right: 10px;
    }


    input {
        font-family: @font-primary;
        font-size: 16px;
        background-color: @color-gray12;
        border: 1px solid @color-gray11;
        padding: 8px 10px;
        color: @color-white;
        width: 100%;

        &:disabled {
            background-color: @color-transparent;
            border-color: @color-transparent;
            padding-left: 0;
        }
    }

    .reward-points {
        padding: 44px 44px 40px 44px;
        background-color: @color-gray10;
        text-align: center;

        @media (min-width: @screen-sm) {
            padding-top: 45px;
        }

        .points-label {
            font-family: @font-primary;
            font-size: 45px;
            color: @color-reward-primary;
            letter-spacing: 1.6px;
        }

        .available-balance-label {
            font-family: @font-primary;
            font-size: 14px;
            color: @color-white;
            line-height: 20px;
            margin-top: 10px;

            a {
                color: @color-primary;
            }

            @media (min-width: @screen-sm) {
                margin-top: 0;
            }
        }

        .rewards-button {
            width: 220px;
            margin: 0 auto;
        }
    }

    .body-content {
        @media (min-width: @screen-sm) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .personal-info-container {
        @media (min-width: @screen-sm) {
            padding-right: 25px;
            padding-left: 53px;
        }
    }

    .reward-points-container {
        @media (min-width: @screen-sm) {
            padding-left: 25px;
            padding-right: 53px;
        }
    }

    .reward-points-block {
        padding-bottom: 5px;
        margin-bottom: 37px;
        display: none;
        @media (min-width: @screen-sm) {
            display: block;
        }

        &.first-block {
            display: block;
        }

        &.last-block {
            padding-bottom: 50px;
            border-bottom-width: 0 !important;
        }
    }

    .level-label {
        font-size: 45px;
        font-family: @font-secondary;
        letter-spacing: 2.3px;
        text-transform: uppercase;
        color: @color-primary;
        line-height: 50px;
        margin-bottom: 5px;
    }

    .progress-label {
        font-family: @font-secondary;
        color: @color-white;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        line-height: 22px;
    }

    .clix-progress-bar-container {
        .border-radius(10px);
        background-color: @color-gray9;
        height: 18px;
        position: relative;
        overflow: hidden;
        margin-top: 18px;
        margin-bottom: 22px;

        .clix-progress-bar {
            .horizontal-gradient(@color-tertiary, @color-secondary);
            .border-radius(10px);
            width: 100%;
            height: 100%;
        }
    }
}