<div class="clix-account-overview">
    <clix-account-header>
        <header-text>
            Account Overview
        </header-text>
    </clix-account-header>
    <div class="row body-content">
        <div class="col-md-6 personal-info-container">
            <div class="account-info-sub-header">
                Personal Information
            </div>
            <div class="personal-info-form">

                <clix-account-overview-input ng-model="form.firstName" on-save="onSaveField">
                    <input-label>
                        First Name
                    </input-label>
                </clix-account-overview-input>
                <clix-account-overview-input ng-model="form.lastName" on-save="onSaveField">
                    <input-label>
                        Last Name
                    </input-label>
                </clix-account-overview-input>
                <clix-account-overview-input ng-model="form.email" on-save="onSaveField">
                    <input-label>
                        Email
                    </input-label>
                </clix-account-overview-input>
                <clix-account-overview-input ng-model="form.password" on-save="onSaveField">
                    <input-label>
                        Password
                    </input-label>
                </clix-account-overview-input>
                <clix-account-overview-input ng-model="form.birthdate" on-save="onSaveField">
                    <input-label>
                        Date of Birth
                    </input-label>
                </clix-account-overview-input>
                <clix-account-overview-input ng-model="form.gender" on-save="onSaveField">
                    <input-label>
                        Gender
                    </input-label>
                </clix-account-overview-input>
                <clix-account-overview-input ng-model="form.phone" on-save="onSaveField">
                    <input-label>
                        Phone
                    </input-label>
                </clix-account-overview-input>
                <clix-account-overview-input ng-model="form.paymentData" on-save="onSaveField">
                    <input-label>
                        Credit Card
                    </input-label>
                </clix-account-overview-input>

            </div>
        </div>
        <div class="col-md-6 reward-points-container">
            <div class="account-info-sub-header">
                Reward Points
            </div>
            <div class="reward-points">
                <div class="reward-points-block first-block">
                    <div class="points-label">
                        1760
                    </div>
                    <div class="available-balance-label">
                        Available Points Balance<br />
                        $17.60 Cash Balance
                    </div>
                </div>
                <div class="rewards-button">
                    <clix-primary-button ui-sref="account({ section: 'rewards' })" ui-sref-opts="{reload:true}">
                        Go To My Rewards
                    </clix-primary-button>
                </div>
            </div>
        </div>
    </div>
</div>