<div class="clix-account-overview">
    <clix-account-header>
        <header-text>
            Account Overview
        </header-text>
    </clix-account-header>
    <div class="row body-content">
        <div class="col-md-6 personal-info-container">
            <div class="account-info-sub-header">
                Personal Information
            </div>
            <div class="personal-info-form">

                <div class="personal-info-form-row">
                    <div class="form-header">
                        <div class="form-header-label">
                            First Name
                        </div>
                        <a ng-click="onFieldEdit('firstName')" class="icon-edit-icon form-header-edit"></a>
                    </div>
                    <div class="form-value-container">
                        <div class="form-value">
                            <input ng-model="form.firstName" type="text" ng-disabled="editField !== 'firstName'" />
                        </div>
                    </div>
                </div>

                <div class="personal-info-form-row">
                    <div class="form-header">
                        <div class="form-header-label">
                            Last Name
                        </div>
                        <a ng-click="onFieldEdit('lastName')" class="icon-edit-icon form-header-edit"></a>
                    </div>
                    <div class="form-value-container">
                        <div class="form-value">
                            <input ng-model="form.lastName" type="text" ng-disabled="editField !== 'lastName'" />
                        </div>
                    </div>
                </div>

                <div class="personal-info-form-row">
                    <div class="form-header">
                        <div class="form-header-label">
                            Email
                        </div>
                        <a ng-click="onFieldEdit('email')" class="icon-edit-icon form-header-edit"></a>
                    </div>
                    <div class="form-value-container">
                        <div class="form-value">
                            <input ng-model="form.email" type="email" ng-disabled="editField !== 'email'" />
                        </div>
                    </div>
                </div>

                <div class="personal-info-form-row">
                    <div class="form-header">
                        <div class="form-header-label">
                            Password
                        </div>
                        <a ng-click="onFieldEdit('password')" class="icon-edit-icon form-header-edit"></a>
                    </div>
                    <div class="form-value-container">
                        <div class="form-value">
                            <input ng-model="form.password" type="password" ng-disabled="editField !== 'password'" />
                        </div>
                    </div>
                </div>

                <div class="personal-info-form-row">
                    <div class="form-header">
                        <div class="form-header-label">
                            Date Of Birth
                        </div>
                        <a ng-click="onFieldEdit('birthdate')" class="icon-edit-icon form-header-edit"></a>
                    </div>
                    <div class="form-value-container">
                        <div class="form-value">
                            <input ng-model="form.birthdate" type="text" ng-disabled="editField !== 'birthdate'" />
                        </div>
                    </div>
                </div>

                <div class="personal-info-form-row">
                    <div class="form-header">
                        <div class="form-header-label">
                            Gender
                        </div>
                        <a ng-click="onFieldEdit('gender')" class="icon-edit-icon form-header-edit"></a>
                    </div>
                    <div class="form-value-container">
                        <div class="form-value">
                            <input ng-model="form.gender" type="text" ng-disabled="editField !== 'gender'" />
                        </div>
                    </div>
                </div>

                <div class="personal-info-form-row">
                    <div class="form-header">
                        <div class="form-header-label">
                            Phone
                        </div>
                        <a ng-click="onFieldEdit('phone')" class="icon-edit-icon form-header-edit"></a>
                    </div>
                    <div class="form-value-container">
                        <div class="form-value">
                            <input ng-model="form.phone" type="tel" ng-disabled="editField !== 'phone'" />
                        </div>
                    </div>
                </div>

                <div class="personal-info-form-row">
                    <div class="form-header">
                        <div class="form-header-label">
                            Credit Card
                        </div>
                        <a ng-click="onFieldEdit('paymentData')" class="icon-edit-icon form-header-edit"></a>
                    </div>
                    <div class="form-value-container">
                        <div class="form-value">
                            <input ng-model="form.paymentData" type="tel" ng-disabled="editField !== 'paymentData'" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6 reward-points-container">
            <div class="account-info-sub-header">
                Reward Points
            </div>
            <div class="reward-points">
                <div class="reward-points-block first-block">
                    <div class="points-label">
                        1760
                    </div>
                    <div class="available-balance-label">
                        Available Points Balance<br />
                        $17.60 Cash Balance
                    </div>
                </div>
                <div class="reward-points-block">
                    <div class="level-label">
                        Level 2
                    </div>
                    <div class="available-balance-label">
                        Reward Status
                    </div>
                </div>
                <div class="reward-points-block last-block">
                    <div class="progress-label">
                        185 of 500 Points
                    </div>
                    <div class="clix-progress-bar-container">
                        <div class="clix-progress-bar" style="width: 50%"></div>
                    </div>
                    <div class="available-balance-label">
                        Earn 500 points or more this month to stay at <a href="#">Level 2</a>
                    </div>
                </div>
                <div class="rewards-button">
                    <clix-primary-button ui-sref="account({ section: 'rewards' })" ui-sref-opts="{reload:true}">
                        Go To My Rewards
                    </clix-primary-button>
                </div>
            </div>
        </div>
    </div>
</div>