.clix-not-found-page {
    background-color: @color-gray9;
    padding-top: 93px;

    @media (min-width: @screen-sm) {
        padding-left: 30px;
        padding-right: 30px;
    }

    .clix-search-filter {
        .search-bar {
            margin: 0 @common-mobile-padding;

            @media (min-width: @screen-sm) {
                margin: 0;
            }
        }
        .search-bar-container {
            margin-bottom: 0;
        }
    }

    .clix-empty-container {
        margin: 0 10px;
        padding-top: 130px;
    }

    .footer-links-container {
        text-align: center;
        padding-bottom: 50px;

        @media (min-width: @screen-sm) {
            padding-bottom: 100px;
        }

        a {
            font-family: @font-primary;
            text-transform: uppercase;
            color: @color-gray2;
            text-decoration: underline;
            font-size: 14px;
            letter-spacing: 1.6px;
            line-height: 22px;

            &:hover {
                color: @color-white;
            }
        }
    }
}