<div class="container-fluid market_page">
  <div class="col-xs-12 market_header_container">
    <div class="market_header_title"></div>
  </div>

  <div class="col-xs-12 market_content">
    <div class="col-xs-12 market_sub_header_1">
      <div class="">
        <div class="col-xs-6 market_merchandise"></div>
        <div class="col-xs-6 market_header_info">

          <div class="market_bag_container">
            <div class="market_likes_image"></div>
            <div class="market_bag_title">MY BAG</div>
          </div>

          <div class="market_likes_container">
            <div class="market_likes_image"></div>
            <div class="market_likes_title">LIKED</div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-xs-12 market_sub_header_2">
        <div class="search_input_cover ">
            <input type="text" class = "search_input" >
            <i class="fa fa-search"></i>
        </div>
        <div class="btn-group search_menu">
          <button type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SORT BY <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">

            <li ><a>Newest </a></li>
            <li ><a>Highest-Rated</a></li>
            <li ><a>Price-High-Low </a></li>
            <li ><a>Price-Low-High </a></li>
          </ul>
        </div>
    </div>

    <aside>
      <div class="market_filters">FILTERS</div>

      <div class="filter_item">
        <div class="filter_title">BRAND</div>
        <div class="checkbox" ng-repeat="brand in brands">
          <label>
            <input type="checkbox" name="brand" id="brand_{{brand.value}}" value="{{brand.value}}">
            <span>{{brand.title}}</span>
          </label>
        </div>
      </div>

      <div class="filter_item">
        <div class="filter_title">TYPE</div>
        <div class="checkbox" ng-repeat="type in types">
          <label>
            <input type="checkbox" name="brand" id="type_{{type.value}}" value="{{type.value}}">
              <span>{{type.title}}</span>
          </label>
        </div>
      </div>

      <div class="filter_item">
        <div class="filter_title">SIZE</div>
        <div class="checkbox" ng-repeat="size in sizes">
          <label>
            <input type="checkbox" name="size" id="size_{{size.value}}" value="{{size.value}}">
              <span>{{size.title}}  </span>
          </label>
        </div>
      </div>

      <div class="filter_item">
        <div class="filter_title">COLOR</div>

        <div class="row">
          <div class="col-xs-6" ng-repeat="color in colors">
            <div class="checkbox" >
              <label>
                <input type="checkbox" name="color" id="color_{{color.value}}" value="{{color.value}}">
                  <span>{{color.title}}  </span>
              </label>
            </div>
          </div>
        </div>

      </div>

      <div class="filter_item">
        <div class="filter_title">PRICE RANGE</div>
        <div class="row">
          <div class="col-xs-6">
            <div class="range_filter_image"></div>
            <div class="range_filter_points">10</div>
          </div>
          <div class="col-xs-6">
            <div class="range_filter_image"></div>
            <div class="range_filter_points">50 000</div>
          </div>
        </div>
        <rzslider class="market_slider" rz-slider-model="slider.minValue"
                  rz-slider-high="slider.maxValue"
                  rz-slider-options="slider.options">
        </rzslider>
      </div>

    </aside>

    <article>
      <market-block data-model="products" data-limit = "20" data-col = "4"></market-block>
      <!-- <div class="col-xs-4 market_item" ng-repeat="product in products">
        <div class="market_background">
          <div class="market_item_points">
            <div class="market_points_image">
              <div class="points_logo"></div>
              <div class="points_num">{{product.points}}</div>
            </div>
          </div>
          <div class="market_item_image" style="background-image: url('{{product.url}}');"></div>
          <div class="market_item_info">
            <div class="market_item_title">{{product.title}}</div>
            <div class="market_item_desc">{{product.description}}</div>
          </div>
        </div>
      </div> -->

    </article>

  </div>

</div>
