.market_page{
  padding: 0;
  background: #ffffff;
  .market_header_container{
    padding-right: 14%;
    padding-left: 14%;
    height: 6vw;
    background-color: #fc5f3d;
    .market_header_title{
      background-image: url('../src/images/headers/market@2x.png');
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
      height: 3.5vw;
      width: 25vw;
      margin-top: 1.2vw;
    }
  }
  .market_content{
    background: #ffffff;
    padding: 0;
    padding-right: 14%;
    padding-left: 14%;
    .market_sub_header_1{
      padding: 0;
      height: 4vw;
      .market_merchandise{
        background-image: url(../src/images/headers/merchandise.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        height: 4vw;
        cursor: pointer;
      }
      .market_header_info{
        height: 4vw;
        .market_likes_container{
          float: right;
          width: 18%;
          height: 2.4vw;
          margin-top: 1.6vw;
          cursor: pointer;
          &:hover{
            border-radius: 10px;
            background-color: #fe6443;
            border: solid 1px #fe6443;
            .market_likes_title{
              color: #ffffff;
            }
            .market_likes_image{
              background-image: url(../src/images/icon/white_heart.png);
            }
          }
          .market_likes_title{
            font-family: SourceSansPro;
            font-size: 1.15vw;
            font-weight: 600;
            letter-spacing: 0.9px;
            color: #fe6443;
            float: left;
            line-height: 2.4vw;
            margin-left: 0.4vw;
          }
          .market_likes_image{
            background-image: url(../src/images/icon/heart_orange.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 1.2vw;
            height: 2.4vw;
            float: right;
            margin-right: 0.4vw;
          }
        }
        .market_bag_container{
          float: right;
          width: 18%;
          height: 2.4vw;
          margin-left: 1vw;
          margin-top: 1.6vw;
          cursor: pointer;
          &:hover{
            border-radius: 10px;
            background-color: #fe6443;
            border: solid 1px #fe6443;
            .market_likes_title{
              color: #ffffff;
            }
            .market_likes_image{
              background-image: url(../src/images/icon/bag_white.png);
            }
            .market_bag_title{
              color: #ffffff;
            }
          }
          .market_bag_title{
            font-family: SourceSansPro;
            font-size: 1.15vw;
            font-weight: 600;
            letter-spacing: 0.9px;
            color: #fe6443;
            float: left;
            line-height: 2.4vw;
            margin-left: 0.4vw;
          }
          .market_likes_image{
            background-image: url(../src/images/icon/bag_orange.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 0.8vw;
            height: 2.4vw;
            float: right;
            margin-right: 0.4vw;
          }
        }
      }
    }
    .market_sub_header_2{
      padding: 0;
      height: 4vw;
      padding-top: 1.5vw;
      padding-right: 0.8vw;
      .search_input_cover {
          float: left;
          width: 12vw;
          position: relative;
          .search_input {
              height: 1.8vw;
              width: 12vw;
              border: solid 1px #1a2937;
          }
          .fa-search {
              position: absolute;
              top: 0.3vw;
              right: 1vw;
              opacity: 0.8;
              font-size: 1vw;
          }
      }
      .search_menu{
        width: 12vw;
        float: right;
        button{
          height: 1.8vw;
          padding: 0.1vw 0.5vw;
          border-radius: 0;
          background-color: white;
          border: solid 0.5px #33414f;
          width: 12vw;
          font-size: 1vw;
          text-align: left;
          color: #33414f;
          &:active {
              background-color: white;
          }
          &:hover {
              background-color: white;
          }
          .caret{
            float: right;
            background-image: url(../src/images/icon/triangle_down.png);
            background-repeat: no-repeat;
            width: 0.8vw;
            height: 0.4vw;
            background-size: contain;
            background-position: center;
            margin-top: 0.5vw;
          }
        }
        .dropdown-menu{
          min-width: 100%;
          border-radius: 0px;
          background-color: #ffffff;
          box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
          border: 0px solid #ccc;
          li{
            a{
              padding: 0.2vw 0.5vw;
              font-size: 0.8vw;
              text-align: left;
              color: #33414f;
              cursor: pointer;
            }
            &:hover{
              background-color: #fe6443;
              a{
                color: #ffffff;
                &:hover {
                    background-color: #fe6443;
                 }
              }
            }
          }
        }
      }
    }
    aside{
      width: 18%;
      float: left;
      min-height: 100px;
      .market_filters{
        font-family: SourceSansPro;
        font-size: 1.45vw;
        font-weight: 600;
        letter-spacing: 1.2px;
        text-align: center;
        color: #1a2937;
        margin-top: 1vw;
        margin-bottom: 1vw;
      }
      .filter_item{
        border-top: 1px solid #1a2937;
        margin-bottom: 1.5vw;
        clear: both;
        .filter_title{
          font-family: SourceSansPro;
          font-size: 1.15vw;
          font-weight: 600;
          letter-spacing: 0.9px;
          color: #1a2937;
          margin-top: 1.5vw;
          margin-bottom: 0.5vw;
        }
        .checkbox{
          padding: 0;
          margin-top: 0px;
          //width: 50%;
          //float: left;
          label{
            font-family: SourceSansPro;
            font-size: 0.9vw;
            letter-spacing: 0.8px;
            color: #1a2937;
            input[type="checkbox"]{
              margin-top: 0.3vw;
              &:checked + span {
                font-size: 0.9vw;
                font-weight: bold;
                color: #fe6443;
              }
            }
          }
        }
        .range_filter_image{
          background-image: url(../src/images/icon/pin-icon-yellow.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 0.75vw;
          height: 1.25vw;
          float: left;
        }
        .range_filter_points{
          float: left;
          font-family: SourceSansPro;
          font-size: 0.9vw;
          font-weight: 600;
          letter-spacing: 0.8px;
          color: #1a2937;
          padding-left: 0.2vw;
        }
        .market_slider.rzslider{
          .rz-bar{
            background: rgba(26, 41, 55, 0.4);
            height: 2px;
          }
          .rz-selection{
            background: #1a2937;
          }
          .rz-pointer{
            background-image: url(../src/images/icon/pointer@2x.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-color: transparent;
            width: 8px;
            height: 0.9vw;
            top: -0.4vw;;
            //bottom: 0;
            &:after{
              display: none;
            }
          }
          .rz-bubble.rz-limit{
            display: none;
          }
        }
      }
    }
    article{
      width: 82%;
      float: left;
      padding-left: 4vw;
      // .market_item{
      //   padding: 0.8vw;
      //   height: 21.5vw;
      //   .market_background{
      //     width: 100%;
      //     height: 100%;
      //     background-color: #f0f0f0;
      //     box-shadow: 5px 5px 10px 0 rgba(138, 138, 138, 0.5);
      //     cursor: pointer;
      //     .market_item_points{
      //       height: 4.7vw;
      //       .market_points_image{
      //         width: 4.8vw;
      //         height: 2vw;
      //         margin-top: 1vw;
      //         background-image: url(../src/images/icon/points-discover.png);
      //         background-repeat: no-repeat;
      //         background-size: contain;
      //         background-position: center;
      //         float: right;
      //         margin-right: -0.75vw;
      //         .points_logo{
      //           background-image: url(../src/images/icon/pin-icon-yellow.png);
      //           background-repeat: no-repeat;
      //           background-size: contain;
      //           background-position: center;
      //           width: 0.9vw;
      //           height: 0.9vw;
      //           margin: 0.65vw 0.2vw 0.4vw 0.6vw;
      //           float: left;
      //         }
      //         .points_num{
      //           float: left;
      //           font-family: SourceSansPro;
      //           font-size: 0.82vw;
      //           font-weight: 900;
      //           color: #ffffff;
      //           margin: 0.55vw 0 0 0;
      //         }
      //       }
      //     }
      //     .market_item_image{
      //       padding-left: 3vw;
      //       padding-right: 3vw;
      //       height: 9vw;
      //       background-repeat: no-repeat;
      //       background-size: contain;
      //       background-position: center;
      //     }
      //     .market_item_info{
      //       padding: 1.6vw;
      //       .market_item_title{
      //         font-family: SourceSansPro;
      //         font-style: italic;
      //         font-size: 1.05vw;
      //         font-weight: 600;
      //         text-align: center;
      //         color: #1a2937;
      //         white-space: nowrap;
      //         overflow: hidden;
      //         text-overflow: ellipsis;
      //       }
      //       .market_item_desc{
      //         font-family: Roboto;
      //         font-size: 0.75vw;
      //         font-weight: 300;
      //         line-height: 1.29;
      //         letter-spacing: 0.4px;
      //         text-align: center;
      //         color: #fe6443;
      //         white-space: nowrap;
      //         overflow: hidden;
      //         text-overflow: ellipsis;
      //       }
      //     }
      //   }
      // }
    }
  }
}
