.discover_page {
    .page_container {
        .discover_header {
            background-color: #fc5f3d;;
            padding-right: 14%;
            padding-left: 14%;
            height: 6vw;
            .discover_brand {
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                height: 3.5vw;
                width: 20vw;
                margin-top: 1.2vw;
            }
        }

        .sport_list_container{
          background-color: #18d676;
          padding-right: 14%;
          padding-left: 14%;
          height: 6vw;
          .kinds_of_sports{
            width: 6.25%;
            height: 2vw;
            float: left;
            margin-top: 2vw;
            transition: all 0.25s;
            .sport_logo{
              height: 100%;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              cursor: pointer;
            }
            .sport_logo_hover{
              height: 100%;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              cursor: pointer;
              display: none;
            }
            .sport_title{
              display: none;
              color: #ffffff;
              text-align: center;
              font-family: SourceSansPro;
              font-style: italic;
              font-size: 0.9vw;
              font-weight: 600;
              line-height: 1.5;
            }
            &.active{
              height: 3vw;
              margin-top: 1vw;
              .sport_logo{
                display: none;
              }
              .sport_logo_hover{
                display: block;
              }
              .sport_title{
                display: block;
              }
            }
            &:hover{
              height: 3vw;
              margin-top: 1vw;
              .sport_logo{
                display: none;
              }
              .sport_logo_hover{
                display: block;
              }
              .sport_title{
                display: block;
              }
            }
            &:nth-child(14){
              .sport_title{
                font-size: 0.75vw;
              }
            }
          }
        }
        .sports_inner {
            padding: 0 7vw;
            .sport_kind_header {
                margin-top: 1.5vw;
                background-color: #fe532f;
                height: 3vw;
                text-transform: uppercase;
                color: #f2f2f2;
                padding-left: 8vw;
                font-size: 1.8vw;
                font-weight: bold;
                padding-top: 0.2vw;
            }
        }
        .event_block_inner {
            padding-left: 11.5vw;
            padding-right: 11.5vw;
        }
        .mylist_content {
            padding: 2vw 13.5vw 3.5vw;

        }
    }
    #discover_modal{
      .modal-dialog{
        @media (min-width: 768px){
          width: 500px;
          margin: 26vh auto;
        }
        .modal-content{
          border-radius: 10px;
          background-color: rgba(26, 37, 48, 0.9);
          border: solid 8px #18d676;
          .modal-body{
            padding: 10px;
            .close_section{
              width: 100%;
              height: 20px;
              .close_button{
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                background-image: url(../src/images/icon/x-red.png);
                width: 20px;
                height: 20px;
                float: right;
                cursor: pointer;
              }
            }
            .modal_header_section{
              width: 100%;
              height: 72px;
              .modal_logo{
                float: left;
                margin-left: 20px;
                width: 110px;
                height: 100%;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
              }
              .modal_time_info{
                width: 190px;
                height: 100%;
                float:left;
                margin-left: 20px;
                .modal_organization{
                  width: 45px;
                  height: 45px;
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                }
                .modal_date{
                  font-family: SourceSansPro;
                  font-style: italic;
                   font-size: 20px;
                   font-weight: 600;
                   color: #f2f2f2;
                   line-height: 25px;
                }
              }
              .modal_points{
                width: 108px;
                height: 52px;
                margin-top: 20px;
                background-image: url('../src/images/icon/points.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                float: right;
                .points_logo{
                  background-image: url(../src/images/icon/pin-icon-yellow.png);
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                  width: 25px;
                  height: 25px;
                  margin: 17px 0 9px 10px;
                  float: left;
                }
                .points_num{
                  float: left;
                  font-family: SourceSansPro;
                  font-size: 26px;
                  font-weight: 900;
                  color: #ffffff;
                  margin: 11px 0 0 5px;
                }
              }
            }
            .modal_center_section{
              margin: 10px 20px 20px 20px;
              border-top: solid 2px rgba(242, 242, 242, 0.9);
              .modal_title{
                font-family: SourceSansPro;
                font-style: italic;
                font-size: 36px;
                font-weight: bold;
                line-height: 1.19;
                color: #fc5f3e;
              }
              .modal_description{
                font-family: Roboto;
                font-size: 22px;
                line-height: 1.36;
                letter-spacing: 0.6px;
                color: #f2f2f2;
              }
              .modal_time{
                height: 60px;
                margin-top: 10px;
                .time_block{
                  width: 50%;
                  height: 100%;
                  float: right;
                  .time_item{
                    width: 25%;
                    height: 100%;
                    float: left;
                    .time_num{
                      font-family: Roboto;
                      font-size: 24px;
                      font-weight: 500;
                      line-height: 1;
                      letter-spacing: 1.7px;
                      text-align: center;
                      color: #fe532f;
                    }
                    .time_desc{
                      font-family: Roboto;
                      font-size: 16px;
                      font-weight: 500;
                      text-align: center;
                      color: #f2f2f2;
                    }
                  }
                }
              }
              .modal_button{
                text-align: center;
                .purchase_button{
                  border-radius: 6px;
                  border: solid 3px #f2f2f2;
                  font-family: SourceSansPro;
                  font-style: italic;
                  font-size: 28px;
                  font-weight: 900;
                  padding: 0px 12px;
                  text-align: center;
                  color: #18d676;
                  background-color: transparent;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
}
