<div class="discover_page">
    <div class="page_container row">
        <div class="col-xs-12 discover_header">
             <div class="discover_brand"  style="background-image: url('/assets/theme/src/images/headers/discover.png');"></div>
        </div>
        <div class="col-xs-12 sport_list_container">
            <div class="kinds_of_sports {{activeSport.id == sl.id?'active':''}}" ng-repeat="sl in sports" ng-click="getActiveSport(sl);">
              <div class="sport_logo" style="background-image: url('{{sl.url}}');"></div>
              <div class="sport_logo_hover" style="background-image: url('{{sl.url_hover}}');"></div>
              <div class="sport_title">{{sl.title}}</div>
            </div>
        </div>
        <div class="sports_inner col-xs-12">
            <div class="sport_kind_header col-xs-12">Soccer</div>
        </div>
        <div class="event_block_inner col-xs-12">
            <event-Block data-model="live_events"> </event-Block>
        </div>
        <!-- <div class="mylist_content col-xs-12">
            <mylistvideo-Block data-model="videosList"> </mylistvideo-Block>
        </div> -->
    </div>
    <div class="modal fade" id="discover_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <div class="close_section">
                <div class="close_button" data-dismiss="modal" aria-label="Close"></div>
            </div>

            <div class="modal_header_section">
              <div class="modal_logo" style="background-image: url('{{purchasedevent.channel_image}}');"></div>
              <div class="modal_time_info">
                <div class="modal_organization" style="background-image:  url('{{purchasedevent.organiztion_image}}');"></div>
                <div class="modal_date">{{purchasedevent.date}}</div>
              </div>
              <div class="modal_points">
                <div class="points_logo"></div>
                <div class="points_num">{{purchasedevent.points}}</div>
              </div>
            </div>
            <div class="modal_center_section">
              <div class="modal_title">{{purchasedevent.title}}</div>
              <div class="modal_description">{{purchasedevent.description}}</div>
              <div class="modal_time">
                <div class="time_block">
                    <div class="time_item">
                      <div class="time_num">00</div>
                      <div class="time_desc">days</div>
                    </div>
                    <div class="time_item">
                      <div class="time_num">18</div>
                      <div class="time_desc">hours</div>
                    </div>
                    <div class="time_item">
                      <div class="time_num">23</div>
                      <div class="time_desc">mins</div>
                    </div>
                    <div class="time_item">
                      <div class="time_num">49</div>
                      <div class="time_desc">sec</div>
                    </div>
                </div>
              </div>
              <div class="modal_button"><button type="button" class="btn purchase_button">purchase</button></div>
            </div>

          </div>

        </div>
      </div>
    </div>
</div>
