.stitches-icon(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}

.icon {
    background-image: url('/assets/images/spritesheet5.png');    background-repeat: no-repeat;
    display: block;

    &.icon-arrow-down-white {
        .stitches-icon(-3px, -3px, 42px, 22px);
    }

    &.icon-arrow-left-32x83 {
        .stitches-icon(-51px, -3px, 44px, 94px);
    }

    &.icon-arrow-left-small {
        .stitches-icon(-101px, -3px, 22px, 42px);
    }

    &.icon-arrow-right-32x83 {
        .stitches-icon(-129px, -3px, 44px, 95px);
    }

    &.icon-arrow-right-small {
        .stitches-icon(-179px, -3px, 22px, 42px);
    }

    &.icon-arrow-up-white {
        .stitches-icon(-207px, -3px, 42px, 22px);
    }

    &.icon-channel_down-20x14 {
        .stitches-icon(-255px, -3px, 20px, 14px);
    }

    &.icon-channel_left-14x20 {
        .stitches-icon(-255px, -23px, 14px, 20px);
    }

    &.icon-channel_right14x20 {
        .stitches-icon(-3px, -49px, 14px, 20px);
    }

    &.icon-channel_up-20x14 {
        .stitches-icon(-23px, -49px, 20px, 14px);
    }

    &.icon-clipboard-17x18 {
        .stitches-icon(-207px, -49px, 17px, 18px);
    }

    &.icon-epg-down-16x10 {
        .stitches-icon(-230px, -49px, 16px, 10px);
    }

    &.icon-epg-up-16x10 {
        .stitches-icon(-252px, -49px, 16px, 10px);
    }

    &.icon-facebook-40x40 {
        .stitches-icon(-230px, -65px, 40px, 41px);
    }

    &.icon-facebook-circle-29x29 {
        .stitches-icon(-3px, -112px, 29px, 29px);
    }

    &.icon-instagram-40x40 {
        .stitches-icon(-38px, -112px, 40px, 41px);
    }

    &.icon-instagram-circle-29x29 {
        .stitches-icon(-84px, -112px, 29px, 29px);
    }

    &.icon-left-channel {
        .stitches-icon(-179px, -65px, 22px, 42px);
    }

    &.icon-linkedin-circle-29x29 {
        .stitches-icon(-119px, -112px, 30px, 29px);
    }

    &.icon-lock-15x20 {
        .stitches-icon(-155px, -112px, 15px, 20px);
    }

    &.icon-lock-15x20-blue {
        .stitches-icon(-207px, -112px, 15px, 20px);
    }

    &.icon-medal-13x13 {
        .stitches-icon(-228px, -112px, 13px, 19px);
    }

    &.icon-play-circle-164x164 {
        .stitches-icon(-281px, -3px, 186px, 186px);
    }

    &.icon-play-circle-43x43 {
        .stitches-icon(-3px, -195px, 61px, 61px);
    }

    &.icon-right-channel {
        .stitches-icon(-70px, -195px, 22px, 42px);
    }

    &.icon-twitter-40x40 {
        .stitches-icon(-98px, -195px, 40px, 41px);
    }

    &.icon-twitter-circle-29x29 {
        .stitches-icon(-144px, -195px, 30px, 29px);
    }

    &.icon-user-20x20 {
        .stitches-icon(-180px, -195px, 20px, 20px);
    }

    &.icon-user-20x20-blue {
        .stitches-icon(-206px, -195px, 20px, 20px);
    }

    &.icon-youtube-circle-29x29 {
        .stitches-icon(-232px, -195px, 29px, 29px);
    }
}
