.footer-page{
    padding: 10px;
    color: #fcfbf5;
    background-image: linear-gradient(to top, rgba(213, 41, 51, 0), rgba(171, 17, 22, 0.2));
    border-top: 15px solid rgba(164, 20, 53, 0.5);
    .back-top {
        font-size: 30px;
        cursor: pointer;
        text-align: center;
        font-weight: 300;
        margin-bottom: 50px;
        margin-top: 20px;
    }
    .links-header {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 16px;
    }
    .single-link {
        font-size: 24px;
        cursor: pointer;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .logo{
        text-align: center;
        margin: auto;
        width:15%;
        img {
            height: 60px;
        }
    }
}
