.clix-education-modal {
    .education-modal-message {
        padding: 37px 85px;
        background-color: @color-medium-gray4;
        font-size: 14px;
        color: @color-white;
        text-transform: uppercase;
        font-family: @font-primary;
        line-height: 22px;
        letter-spacing: 1.7px;
        text-align: center;
        position: relative;
    }

    .education-modal-icon {
        position: absolute;
        top: -21px;
        left: 50%;
        margin-left: -21px;
    }

    .education-modal-footer {
        padding: 50px 20px;
        border-top: 1px solid @color-gray3;
    }

    .buttons-container {
        text-align: right;
        padding-left: 0;
    }

    .button-container {
        display: inline-block;
        vertical-align: top;
        &:last-child {
            margin-left: 30px;
        }
    }

    .save-preference-checkbox-container {
        margin-top: 6px;
    }

    .login-button {
        text-transform: uppercase;
        color: @color-white;
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
        display: block;
        font-size: 11px;
        font-family: @font-primary;
        margin-top: 17px;
    }

    .learn-more-violators-container {
        margin: 20px 0;
    }

    .learn-more-violator {
        margin: 11px auto;
        text-align: center;

        .points-violator {
            margin: 0 auto;
        }
    }

    .notification-coming-soon-header {
        font-family: @font-primary-bold;
        font-size: 30px;
        text-transform: none;
        margin-bottom: 15px;
    }
}