<clix-modal modal-title="{{title}}">
    <div ng-if="!ready">
        <clix-loader size="small"></clix-loader>
    </div>
    <div ng-if="ready" class="clix-education-modal">
        <div class="education-modal-message" ng-switch="type">

            <div ng-switch-when="watchlist">
                <clix-is-logged-in>
                    <logged-in>
                        This video has been saved to your watchlist, available in your "My turnon" section.
                    </logged-in>
                    <not-logged-in>
                        You need to sign up for a free turnon account to be able to save a video to your watchlist.
                    </not-logged-in>
                </clix-is-logged-in>
            </div>

            <div ng-switch-when="brand">
                <clix-is-logged-in>
                    <logged-in>
                        This brand has been saved to your favorites, available in your "My turnon" section.
                    </logged-in>
                    <not-logged-in>
                        You need to sign up for a free turnon account to be able to save to your favorites.
                    </not-logged-in>
                </clix-is-logged-in>
            </div>

            <div ng-switch-when="charity">
                <clix-is-logged-in>
                    <logged-in>
                        This charity has been saved to your favorites, available in your "My turnon" section.
                    </logged-in>
                    <not-logged-in>
                        You need to sign up for a free turnon account to be able to save to your favorites.
                    </not-logged-in>
                </clix-is-logged-in>
            </div>

            <div ng-switch-when="category">
                <clix-is-logged-in>
                    <logged-in>
                        This category has been saved to your favorites, available in your "My turnon" section.
                    </logged-in>
                    <not-logged-in>
                        You need to sign up for a free turnon account to be able to save to your favorites.
                    </not-logged-in>
                </clix-is-logged-in>
            </div>

            <div ng-switch-when="celebrity">
                <clix-is-logged-in>
                    <logged-in>
                        This star has been saved to your favorites, available in your "My turnon" section.
                    </logged-in>
                    <not-logged-in>
                        You need to sign up for a free turnon account to be able to save to your favorites.
                    </not-logged-in>
                </clix-is-logged-in>
            </div>

            <div ng-switch-when="offer">
                <div ng-if="pointsEnabled">
                    <clix-is-logged-in>
                        <logged-in>
                            <div class="education-modal-icon" clix-trophy-indicator-icon></div>
                            Congratulations! You've just received 50 reward points!<br /><br />This offer has been saved to your offers, available in your "My turnon" section.
                        </logged-in>
                        <not-logged-in>
                            <div class="education-modal-icon" clix-error-indicator-icon></div>
                            You missed out on 100 reward points! To earn rewards for watching, saving, clicking and sharing, sign up for a free turnon account!
                        </not-logged-in>
                    </clix-is-logged-in>
                </div>
                <div ng-if="!pointsEnabled">
                    <div class="education-modal-icon" clix-trophy-indicator-icon></div>
                    Reward Points are coming soon! When they are ready, you will receive points for saving this offer!
                </div>
            </div>

            <div ng-switch-when="offer-view">
                <div ng-if="pointsEnabled">
                    <clix-is-logged-in>
                        <logged-in>
                            <div class="education-modal-icon" clix-trophy-indicator-icon></div>
                            You received 50 Reward Points, just for visiting this offer. Save the offer to receive even more!
                        </logged-in>
                        <not-logged-in>
                            <div class="education-modal-icon" clix-error-indicator-icon></div>
                            You missed out on 50 reward points! To earn rewards for watching, saving, clicking and sharing, sign up for a free turnon account!
                        </not-logged-in>
                    </clix-is-logged-in>
                </div>
                <div ng-if="!pointsEnabled">
                    <div class="education-modal-icon" clix-trophy-indicator-icon></div>
                    Reward Points are coming soon! When they are ready, you will receive points for clicking on this offer!
                </div>
            </div>

            <div ng-switch-when="learn-more">
                <clix-is-logged-in>
                    <logged-in>
                        <div class="education-modal-icon" clix-trophy-indicator-icon></div>
                        turnon will reward you for watching videos, engaging with brands & offers, and sharing to social networks. Wherever you see the rewards points badges, points can be earned.
                    </logged-in>
                    <not-logged-in>
                        <div class="education-modal-icon" clix-error-indicator-icon></div>
                        After you sign up, turnon will reward you for watching videos, engaging with brands & offers, and sharing to social networks. Wherever you see the rewards points badges, points can be earned.
                    </not-logged-in>
                </clix-is-logged-in>
                <div class="learn-more-violators-container">
                    <div class="learn-more-violator">
                        <clix-points-violator>
                            50
                        </clix-points-violator>
                    </div>
                    <div class="learn-more-violator">
                        <clix-violator>
                            100 Reward Points
                        </clix-violator>
                    </div>
                </div>
                <p>
                    turnon reward points have a cash value that you can use toward goods and services.
                </p>
            </div>

            <div ng-switch-when="signup-offer">
                <div class="education-modal-icon" clix-error-indicator-icon></div>
                You need to have an account with us to view offers! Sign up for a free account!
            </div>

            <div ng-switch-when="notifications-coming-soon">
                <div class="notification-coming-soon-header">
                    Notifications are coming soon!
                </div>
                Go ahead and set things up, that way you’ll be ready once we have notifications up and running!
            </div>

            <div ng-switch-when="anonymous-liked-video">
                <div class="education-modal-icon" clix-error-indicator-icon></div>
                You need to have an account with us to like episodes! Sign up for a free account!
            </div>

        </div>
        <div class="row education-modal-footer">

            <div class="col-sm-5 save-preference-checkbox-container">
                <clix-is-logged-in>
                    <logged-in>
                        <div ng-switch="type">
                            <div ng-switch-when="learn-more">
                                <!-- Empty... -->
                            </div>
                            <div ng-switch-when="signup-offer">
                                <!-- Empty... -->
                            </div>
                            <div ng-switch-when="anonymous-liked-video">
                                <!-- Empty... -->
                            </div>
                            <div ng-switch-default>
                                <clix-checkbox ng-model="showAgainModel" on-checkbox-change="onShowAgainChange(showAgainModel)" label-text="{{type === 'notifications-coming-soon' ? 'Don\'t show this again' : 'Don\'t show this type again'}}"></clix-checkbox>
                            </div>
                        </div>
                    </logged-in>
                    <not-logged-in>
                        <div ng-switch="type">
                            <div ng-switch-when="learn-more">
                                <!-- Empty... -->
                            </div>
                            <div ng-switch-when="signup-offer">
                                <!-- Empty... -->
                            </div>
                            <div ng-switch-when="anonymous-liked-video">
                                <!-- Empty... -->
                            </div>
                            <div ng-switch-when="offer-view">
                                <clix-checkbox ng-model="showAgainModel" on-checkbox-change="onShowAgainChange(showAgainModel)" label-text="Don't show this type again"></clix-checkbox>
                            </div>
                        </div>
                    </not-logged-in>
                </clix-is-logged-in>
            </div>
            <div class="col-sm-7 buttons-container">
                <div class="button-container left-button-container">
                    <clix-secondary-button alternate="true" ng-click="onCloseButtonPress(false)">
                        Got it!
                    </clix-secondary-button>

                </div>
                <div class="button-container right-button-container">
                    <clix-is-logged-in>
                        <not-logged-in>
                            <clix-primary-button ng-click="onSignUpPress()">
                                Sign Up Now
                            </clix-primary-button>
                            <a class="login-button" ng-click="onLoginPress()">
                                Log In Now
                            </a>
                        </not-logged-in>
                        <logged-in>
                            <div ng-switch="type">
                                <div ng-switch-when="watchlist">
                                    <clix-primary-button ui-sref="account({ section: 'watchlist' })" ng-click="onCloseButtonPress(true)">
                                        Go to my Watchlist
                                    </clix-primary-button>
                                </div>
                                <div ng-switch-when="brand">
                                    <clix-primary-button ui-sref="account({ section: 'favorites', tab: 'brand' })" ng-click="onCloseButtonPress(true)">
                                        Go to my Favorites
                                    </clix-primary-button>
                                </div>
                                <div ng-switch-when="charity">
                                    <clix-primary-button ui-sref="account({ section: 'favorites', tab: 'charity' })" ng-click="onCloseButtonPress(true)">
                                        Go to my Favorites
                                    </clix-primary-button>
                                </div>
                                <div ng-switch-when="category">
                                    <clix-primary-button ui-sref="account({ section: 'favorites', tab: 'category' })" ng-click="onCloseButtonPress(true)">
                                        Go to my Favorites
                                    </clix-primary-button>
                                </div>
                                <div ng-switch-when="celebrity">
                                    <clix-primary-button ui-sref="account({ section: 'favorites', tab: 'star' })" ng-click="onCloseButtonPress(true)">
                                        Go to my Favorites
                                    </clix-primary-button>
                                </div>
                                <div ng-switch-when="offer">
                                    <clix-primary-button ui-sref="account({ section: 'saved-offers' })" ng-click="onCloseButtonPress(true)">
                                        Go to my Saved Offers
                                    </clix-primary-button>
                                </div>
                            </div>
                        </logged-in>
                    </clix-is-logged-in>
                </div>
            </div>

        </div>

    </div>
</clix-modal>