.karaoke-box{

    padding-bottom: 21px;
    padding: 10px;

    .image-style{
        padding-bottom: 100%;
        background-position:center;
        background-size: cover;
        position: relative;
        .karaoke-grdiant{
                background-color: rgba(35, 31, 32, 0.7);
                position: absolute;
                right: 0;
                left: 0;
                bottom: 0;
                height: 25%;

                color: #ffffff;
                overflow: hidden;
                padding: 3px 0 0 10px;
                @media  (max-width: @screen-xs-max) { }
                @media (max-width: @screen-md-min) and (min-width: @screen-xs-max ) {   }


                .karaokespan{
                    font-size: 1vw;
                    color: #fcfbf5;
                    display: inline-flex;
                    min-height: 100%;
                    align-items: center;
                    @media  (max-width: @screen-xs-max) {
                           font-size: 30px;
                           }
                    @media (max-width: @screen-md-min) and (min-width: @screen-xs-max ) {font-size: 20px;}


                }
            }

    }
}
