.primary-button {
    .horizontal-gradient(@color-tertiary, @color-secondary);
    .border-radius(30px);
    font-family: @font-primary;
    font-size: 11px;
    color: @color-white;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    padding: 10px 46px;
}

.primary-button:hover {
    .horizontal-gradient(darken(@color-tertiary, 5%), darken(@color-secondary, 5%));
    text-decoration: none;
}

.clix-primary-button {
    .horizontal-gradient(@color-tertiary, @color-secondary);
    .border-radius(30px);
    .drop-shadow(0, 2px, 3px, 0, .35);
    font-family: @font-primary;
    font-size: 11px;
    color: @color-white;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    padding: 11px 35px;
    text-align: center;
    cursor: pointer;

    &:hover {
        .horizontal-gradient(darken(@color-tertiary, 5%), darken(@color-secondary, 5%));
        text-decoration: none;
    }

    &.button-facebook {
        .horizontal-gradient(@color-facebook-dark, @color-facebook-light);
        &:hover {
            .horizontal-gradient(darken(@color-facebook-dark, 5%), darken(@color-facebook-light, 5%));
            text-decoration: none;
        }
    }

    &.button-google{
        .horizontal-gradient(@color-google-dark, @color-google-light);
        &:hover {
            .horizontal-gradient(darken(@color-google-dark, 5%), darken(@color-google-light, 5%));
            text-decoration: none;
        }
    }

    &.button-charity {
        .horizontal-gradient(@color-charity-start2, @color-charity-end2);
        &:hover {
            .horizontal-gradient(darken(@color-charity-start2, 5%), darken(@color-charity-end2, 5%));
            text-decoration: none;
        }
    }

    &.circle-button {
        .border-radius(20px);
        width: 40px;
        height: 40px;
        padding: 10px 0;
        font-size: 20px;
        color: @color-white;
    }
}

.clix-secondary-button {
    .border-radius(100px);
    border: 1px solid @color-gray2;
    font-family: @font-primary;
    color: @color-gray2;
    font-size: 11px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 50px;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        border-color: @color-white;
        color: @color-white;
    }

    &.alternate {
        padding: 11px 35px;
        color: @color-gray2;
        border: 1px solid @color-gray2;
        background-color: @color-medium-gray4;

        &:hover {
            text-decoration: none;
            border-color: @color-white;
            background-color: @color-transparent-dark-black;
            color: @color-white;
        }
    }
}

.clix-tertiary-button {
    position: relative;
    height: 36px;
    display: inline-block;
    margin-left: 18px;
    margin-right: 18px;
    cursor: pointer;

    &:hover,
    &.active {
        .horizontal-gradient(@color-tertiary, @color-secondary);
        .border-radius(30px);
        text-decoration: none;
        padding: 0 18px;
        margin-left: 0;
        margin-right: 0;

        &:before,
        &:after,
        .button-edge {
            visibility: hidden;
        }
    }

    &.active:hover {
        .horizontal-gradient(darken(@color-tertiary, 5%), darken(@color-secondary, 5%));
    }

    &:before,
    &:after {
        .horizontal-gradient(@color-tertiary, @color-secondary2);
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        //z-index: 9999;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
    .button-edge {
        .rotate(-225deg);
        position: absolute;
        top: 0;
        width: 36px;
        height: 36px;
        border-radius: 18px;
        border: 1px solid transparent;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
    }

    .button-edge.left-edge {
        left: -18px;
        border-right: 1px solid @color-tertiary;
        border-bottom: 1px solid @color-tertiary;
    }

    .button-edge.right-edge {
        .rotate(-45deg);
        right: -18px;
        border-right: 1px solid @color-secondary;
        border-bottom: 1px solid @color-secondary;
    }

    .button-content {
        font-family: @font-secondary;
        font-size: 11px;
        color: @color-white;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        text-align: center;
        line-height: 36px;

        @media (min-width: @screen-sm) {
            padding-left: 32px;
            padding-right: 32px;
        }
    }
}

.clix-callout-button {
    .border-radius(100px);
    .horizontal-gradient(@color-reward-primary, @color-reward-secondary);
    font-family: @font-primary;
    font-size: 14px;
    color: @color-white;
    padding: 3px 30px;
    cursor: pointer;

    &.secondary-callout {
        .horizontal-gradient(@color-tertiary, @color-secondary);
    }
}