.clix-secondary-button {
    .border-radius(100px);
    border: 1px solid @color-gray2;
    font-family: @font-secondary;
    color: @color-white;
    font-size: 11px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 50px;
}

.clix-secondary-button:hover {
    text-decoration: none;
    border-color: @color-white;
}