.video_list_container{
  padding: 0.8vw;
  position: relative;
  transition: all 0.5s;
  .video_list_image{
    padding-bottom: 58%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    .video_list_background{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(32, 32, 32, 0.5);
      transition: all 0.25s;
    }
    .video_logo{
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      height: 2vw;
      width: 2vw;
      top: 3%;
      right: 3%;
    }
    .video_play_button{
      background-image: url('../src/images/icon/play.png');
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 1.6vw;
      height: 2.2vw;
      top: 40%;
      margin-left: auto;
      margin-right: auto;
      right: 0;
      left: 0;
      transition: all 0.25s;
      cursor: pointer;
    }
    .video_points{
      position: absolute;
      width: 4.5vw;
      height: 1.8vw;
      border-radius: 100px;
      background-color: #1a2937;
      border: solid 0.1vw #18d676;
      top: 70%;
      left: 34%;
      transition: all 0.25s;
      .pin_icon{
        background-image: url('../src/images/icon/pin-icon-yellow.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 1.15vw;
        height: 1.15vw;
        margin: 0.2vw 0 0.2vw 0.5vw;
        float: left;
      }
      .points_num{
        float: left;
        font-family: SourceSansPro;
        font-size: 1.25vw;
        font-weight: 900;
        text-align: center;
        color: #ffffff;
        line-height: 1.6vw;
        margin-left: 0.2vw;
      }
    }
    .video_desc_hover{
      position: absolute;
      top: 100%;
      height: 47%;
      width: 100%;
      padding: 0.75vw;
      background-color: rgba(26, 37, 48, .72);
      transition: all 0.25s;
      .video_desc_title{
        font-family: SourceSansPro;
        font-style: italic;
        font-size: 0.82vw;
        font-weight: 600;
        color: #fc5f3d;
        padding: 0;
      }
      .video_desc_share{
        padding: 0;
        .video_share_button{
          background-image: url(../src/images/icon/share-green.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 1vw;
          height: 1vw;

          float: right;
          cursor: pointer;
        }
        .video_add_to_my_list{
          background-image: url(../src/images/icon/add_to_list.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 1vw;
          height: 1vw;
          margin-left: 1vw;
          float: right;
          cursor: pointer;
        }
      }
      .video_desc_info{
        padding: 0;
        font-family: Roboto;
        font-size: 0.5vw;
        font-weight: 300;
        line-height: 1.21;
        letter-spacing: 0.4px;
        text-align: left;
        color: #ffffff;
      }
      .video_desc_arrow{
        background-image: url(../src/images/icon/down.png);
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 0.5vw;
        height: 0.5vw;
        top: 80%;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
        cursor: pointer;
      }
    }
  }
  .video_aroow_green{
    background-image: url(../src/images/icon/arrow_green.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    position: absolute;
    width: 2.4vw;
    height: 0.8vw;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    display: none;
  }
  &:hover{
    z-index: 1;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    .video_list_background{
      opacity: 0;
    }
    .video_play_button{
      top: 25%;
    }
    .video_points{
      top: 3%;
      left: 3%;
    }
    .video_desc_hover{
      top: 53%;
    }
    .video_aroow_green{
      display: none!important;
    }
  }
  &.active{
    .video_list_image{
      .video_list_background{
        border: solid 0.2vw #18d676;
        background-color: rgba(32, 32, 32, 0);
      }
      .video_play_button{
        display: none;
      }
      .video_points{
        display: none;
      }
    }
    .video_aroow_green{
      display: block;
    }
  }
}
.video_full_desc_container{
  height: 26.5vw;
  overflow: hidden;
  padding-right: 0.8vw;
  padding-left: 0.8vw;
  .full_desc_info{
    padding: 0;
    .full_desc_title{
      font-family: SourceSansPro;
      font-style: italic;
      font-size: 1.9vw;
      font-weight: bold;
      line-height: 0.94;
      letter-spacing: 1.5px;
      color: #fe6443;
      text-transform: uppercase;
      padding: 0;
      margin-top: 3vw;
      margin-bottom: 1vw;
    }
    .full_desc_text{
      padding: 0;
      font-family: Roboto;
      font-size: 1.25vw;
      line-height: 1.17;
      letter-spacing: 1px;
      color: #1a2937;
    }
    .full_desc_desc_share{
      padding: 0;
      margin-top: 1vw;
      .full_desc_share_button{
        background-image: url(../src/images/icon/shape@2x.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 2.3vw;
        height: 2.3vw;
        float: right;
        cursor: pointer;
      }
      .full_desc_add_to_my_list{
        background-image: url(../src/images/icon/add_to_list@2x.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 2.3vw;
        height: 2.3vw;
        margin-left: 1vw;
        float: right;
        cursor: pointer;
      }
    }
  }
  .full_desc_image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
    padding-bottom: 38%;
    padding-left: 0;
    padding-right: 0;
    .full_desc_background{
        background-image: linear-gradient(to left, rgba(242, 242, 242, 0), #f2f2f2);
        position: absolute;
        width: 74%;
        height: 100%;
    }
    .full_desc_logo{
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      height: 6vw;
      width: 4.5vw;
      top: 3%;
      right: 3%;
    }
    .full_desc_play_button{
      background-image: url('../src/images/icon/play.png');
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 3vw;
      height: 4vw;
      top: 40%;
      margin-left: auto;
      margin-right: auto;
      right: 0;
      left: 0;
      cursor: pointer;
    }
    .full_desc_points{
      position: absolute;
      width: 9.1vw;
      height: 3.8vw;
      border-radius: 100px;
      background-color: #1a2937;
      border: solid 0.2vw #18d676;
      top: 60%;
      left: 40%;
      transition: all 0.25s;
      .pin_icon{
        background-image: url('../src/images/icon/pin-icon-yellow.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 2.5vw;
        height: 2.5vw;
        margin: 0.4vw 0 0.4vw 0.8vw;
        float: left;
      }
      .points_num{
        float: left;
        font-family: SourceSansPro;
        font-size: 2.5vw;
        font-weight: 900;
        text-align: center;
        color: #ffffff;
        line-height: 3.2vw;
        margin-left: 0.4vw;
      }
    }
  }
}
