@avatar-size: 55px;

.video-permalink-page {
    padding-top: 75px;
    padding-bottom: 30px;

    @media (min-width: @screen-sm) {
        padding-top: 120px;
        padding-bottom: 100px;
    }

    .row {
        margin: 0;
    }

    .video-player-column-container {
        padding-right: 0;

        @media (max-width: @screen-sm) {
            padding-left: 0;
        }
    }

    .star-info-column-container {

        padding-left: 24px;

        @media (max-width: @screen-sm) {
            padding-left: @common-mobile-padding;
            padding-right: @common-mobile-padding;
        }
    }

    .video-player {
        background-color: @color-gray;
    }

    .about-video-inner-container {
        .transition(all 0.25s ease-out);
        overflow: hidden;
        position: relative;
    }

    .about-video-overlay {
        .gradient(@color-transparent, @color-darker-gray);
        position: absolute;
        height: 40px;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .star-name-container {
        .flex-display;
        .align-items(flex-start);
        margin-top: 35px;
        padding: 0;

        @media (min-width: @screen-sm) {
            .align-items(center);
            margin-top: 0;
        }
        .star-avatar {
            .border-radius(65px / 2);
            width: 65px;
            height: 65px;
            background-size: cover;
            display: none;

            @media (min-width: @screen-sm) {
                .border-radius(@avatar-size / 2);
                width: @avatar-size;
                height: @avatar-size;
                display: block;
            }
        }
        .star-name-favorite-container {
            padding-left: 11px;

            .star-name {
                font-family: @font-primary-bold;
                font-size: 32px;
                line-height: 32px;
                color: @color-white;
                margin-bottom: 16px;

                @media (min-width: @screen-sm) {
                    margin-bottom: 0;
                    font-size: 25px;
                    line-height: 28px;
                }
            }

            @media (min-width: @screen-sm) {
                padding-left: 21px;
            }
        }
        .favorite-icon {
            font-size: 23px;
            color: @color-gray2;
            text-decoration: none !important;
            padding: 5px 13px;
            cursor: pointer;

            @media (min-width: @screen-sm) {
                font-size: 32px;
                padding: 0;
            }
        }
        .favorite-icon:hover {
            text-decoration: none;
            color: @color-white;
        }
    }

    .star-meta-info {
        padding-bottom: 16px;
        border-bottom: 1px solid @color-gray3;

        @media (min-width: @screen-sm) {
            padding-top: 16px;
        }
    }


    .favorite-button {
        cursor: pointer;
        margin-left: 35px;

        .clix-favorite-icon {
            font-size: 25px;

            @media (min-width: @screen-sm) {
                font-size: 33px;
            }
        }
    }

    .clix-save-button {
        font-size: 25px;
        .remove-icon {
            font-size: 25px;

            @media (min-width: @screen-sm) {
                font-size: 32px;
            }
        }

        @media (min-width: @screen-sm) {
            font-size: 35px;
        }
    }

    .social-container {
        .flex-display;
        .align-items(center);
        padding-right: 0;
        padding-bottom: 10px;

        @media (max-width: @screen-sm) {
            padding-left: @common-mobile-padding;
            padding-right: @common-mobile-padding;
        }

        @media (min-width: @screen-sm) {
            height: 55px;
            padding-bottom: 0;
        }

        .violator-container {
            .flex(1);

            .violator {
                @media (max-width: @screen-sm) {
                    font-size: 9px;
                }
            }
        }
        .social-icon-container {
            .flex-display;
            .align-items(center);

            color: @color-gray2;
            padding-right: 25px;
            cursor: pointer;

            @media (min-width: @screen-sm) {
                .flex(.5);
                .justify-content(center);
                padding-right: 0;
            }
        }
        .social-icon-container:last-child {
            padding-right: 0;
        }
        .social-icon {
            font-size: 20px;
            color: @color-gray2;

            &:before {
                margin-left: 0;
            }

            @media (min-width: @screen-sm) {
                font-size: 36px;
            }
        }
        .social-icon:hover {
            text-decoration: none;
            color: @color-white;
        }

        .save-icon {
            font-size: 24px;

            @media (min-width: @screen-sm) {
                font-size: 36px;
            }
        }

        .share-icon {
            font-size: 23px;

            @media (min-width: @screen-sm) {
                font-size: 38px;
            }
        }

        .social-icon-label {
            font-family: @font-primary;
            color: @color-gray2;
            font-size: 11px;
            letter-spacing: 1.5px;
            margin-left: 2px;

            @media (min-width: @screen-sm) {
                margin-left: 10px;
                font-size: 14px;
            }
        }
    }

    .video-info-container {

        .episode-number {
            font-family: @font-primary;
            font-size: 18px;
            line-height: 18px;
            color: @color-gray16;
            text-transform: uppercase;
            margin-top: 25px;

            @media (min-width: @screen-sm) {
                margin-top: 0;
                font-size: 24px;
                line-height: 27px;
            }
        }

        .series-title {
            font-family: @font-primary;
            font-size: 18px;
            color: @color-gray16;
            line-height: 18px;
            margin-bottom: 2px;
            text-transform: uppercase;
            margin-top: 5px;

            @media (min-width: @screen-sm) {
                margin-top: 0;
                font-size: 24px;
                line-height: 24px;
            }
        }

        .episode-title {
            font-family: @font-primary-bold;
            font-size: 32px;
            line-height: 32px;
            color: @color-white;
            margin-top: 5px;

            @media (min-width: @screen-sm) {
                margin-top: 0;
                font-size: 65px;
                line-height: 70px;
            }
        }

        .total-views-available-container {
            font-family: @font-primary;
            text-transform: uppercase;
            color: @color-gray2;
            font-size: 14px;
            letter-spacing: 1.6px;
            line-height: 14px;
            padding: 0;
            margin-top: 10px;

            .total-views {
                padding: 0;
                margin-bottom: 8px;
                @media (min-width: @screen-sm) {
                    margin-bottom: 0;
                }
            }

            .available-until {
                padding: 0;
                @media (min-width: @screen-sm) {
                    text-align: right;
                }
            }
        }
        .description {
            font-family: @font-primary;
            font-size: 14px;
            color: @color-white;
            line-height: 20px;
            margin-top: 25px;
        }
        .meta-data {
            font-family: @font-primary-bold;
            font-size: 14px;
            line-height: 18px;
            color: @color-white;
            margin-top: 36px;
        }
        .meta-data-label {
            font-family: @font-primary;
            text-transform: uppercase;
            color: @color-gray2;
        }

        .meta-data-row {
            margin-bottom: 10px;
        }
    }
    .visibility-toggle-button {
        text-align: center;
        margin-top: 20px;
    }

    .brands-charity-container {
        .flex-display;
        .flex(1);
        margin-top: 0;
        padding: 25px @common-mobile-padding 20px;
        border-bottom: 1px solid @color-gray3;

        @media (min-width: @screen-sm) {
            margin-top: 20px;
            padding: 20px 0 0;
            border-top: 1px solid @color-gray3;
            border-bottom-width: 0;
        }

        .brands-charity-title {
            .flex-display;
            .flex(1);
            font-family: @font-primary;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 4px;
            margin-bottom: 6px;

            @media (min-width: @screen-sm) {
                font-size: 11px;
            }
        }
        .brands-container {
            .flex(1);
        }
        .charity-container {
            width: 115px;
        }

        .logo-list-container {
            .flex-display;
            .flex(1);
        }

        .charity-logo {
            .flex(1);
        }

        .brand-logo-link {
            .flex(1);

            position: relative;

            &:before {
                content: '';
                float: left;
                padding-top: 100%;
            }

            &:last-child {
                .clix-charity-logo {
                    right: 0;
                }
            }

            @media (min-width: @screen-sm) {
                padding-right: 7px
            }
        }

        .brands-title {
            width: 80%;
            color: @color-brand;
        }
        .charity-title {
            color: @color-charity;
        }

        .clix-brand-charity-logo,
        .clix-charity-logo {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 4px;

            @media (min-width: @screen-sm) {
                right: 7px;
            }

            .logo-points {
                right: 4px;
                bottom: 4px;
            }

            .logo-image {
                top: 25px;
                bottom: 25px;
                left: 25px;
                right: 25px;
            }

            .logo-save,
            .logo-ellipsis,
            .view-button-container {
                display: none;
            }
        }
    }

    .up-next-container {
        margin-top: 25px;
        padding-top: 28px;
        border-top: 1px solid @color-gray3;

        @media (min-width: @screen-sm) {
            padding-top: 0;
            border-top-width: 0;
        }

        .up-next-header {
            .flex-display;
            .flex(1);
            padding-bottom: 17px;
            border-bottom: 1px solid @color-gray3;
        }

        .series-dropdown {
            padding-left: 18px;
            padding-right: 18px;
            margin-bottom: 29px;
            @media (min-width: @screen-sm) {
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 0;
                width: 275px;
            }
        }

        .up-next-label {
            .flex(1);
            font-family: @font-secondary-bold;
            font-size: 18px;
            color: @color-gray;
            letter-spacing: 2.6px;
            text-transform: uppercase;
            text-align: center;
            border-bottom: 1px solid @color-gray3;
            padding-bottom: 21px;

            @media (min-width: @screen-sm) {
                font-size: 24px;
                letter-spacing: 3.5px;
                text-align: left;
                border-bottom-width: 0;
                padding-bottom: 0;
            }
        }
    }

    .related-videos-container {
        margin-top: 39px;
        .related-videos-header {
            font-family: @font-primary;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1.6px;
            color: @color-gray2;
            text-align: center;
            padding-bottom: 27px;
        }
        .related-videos-list {
            background-color: @color-gray5;
            border-top: 1px solid @color-gray4;
            padding-top: 22px;

            @media (min-width: @screen-sm) {

                border: 1px solid @color-gray4;
            }
        }
    }

    .next-video-list {
        margin-top: 30px;
        margin-left: -(@common-video-spacing / 2);
        margin-right: -(@common-video-spacing / 2);
        .next-video {
            padding-left: @common-video-spacing / 2;
            padding-right: @common-video-spacing / 2;
            margin-bottom: 37px;
        }
    }

    .related-videos-list {
        margin-left: 0;
        margin-right: 0;

        @media (min-width: @screen-sm) {
            margin-left: -(@common-video-spacing / 2);
            margin-right: -(@common-video-spacing / 2);
            padding: 22px 15px 2px 15px;
        }

        .related-video {
            padding-left: @common-mobile-padding / 2;
            padding-right: @common-mobile-padding / 2;

            @media (min-width: @screen-sm) {
                padding-left: @common-video-spacing / 2;
                padding-right: @common-video-spacing / 2;
                margin-bottom: 20px;
            }
        }
    }

    .mobile-related-video {

        margin-bottom: 20px;

        .artist-avatar {
            .border-radius(12px);
            width: 25px;
            height: 25px;
        }

        .artist-name {
            font-family: @font-primary-bold;
            font-size: 10px;
            padding-left: 5px;
        }

        .violator {
            font-size: 8px;
        }

        .series-title {
            font-size: 10px;
        }

        .episode-title {
            font-size: 10px;
        }

        .menu-container {
            padding-left: 0;
            padding-right: 0;
        }
    }
}