<div ng-if="!ready">
    <clix-loader size="large"></clix-loader>
</div>
<div class="video-permalink-page" ng-if="ready">
    <div class="row">
        <div class="col-md-7 col-lg-8 video-player-column-container">
            <div class="video-player">
                <div id="videoPlayer"></div>
                <clix-video-player ng-if="video && !isMobile" video="video" auto-play="true" video-id="videoPlayer" on-ready="onPlayerReady"></clix-video-player>
                <clix-video-player ng-if="video && isMobile" video="video" auto-play="false" video-id="videoPlayer" on-ready="onPlayerReady"></clix-video-player>
            </div>

            <div class="visible-sm visible-xs">
                <div class="brands-charity-container">
                    <div class="brands-container">
                        <div class="brands-charity-title">
                            <div class="brands-title">
                                Brands in this Series
                            </div>
                            <div class="charity-title" ng-if="video.charity">
                                Charity
                            </div>
                        </div>

                        <div class="logo-list-container">
                            <a ng-repeat="brand in video.brands.brands | limitTo: 4" ui-sref="brand({ id: '{{brand.id}}' })" class="brand-logo-link">
                                <clix-brand-charity-logo brand="brand"></clix-brand-charity-logo>
                            </a>
                            <div class="brand-logo-link" ng-if="video.charity">
                                <clix-charity-logo charity="video.charity"></clix-charity-logo>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="star-meta-info row">
                <div class="col-sm-6 star-name-container">
                    <div class="star-avatar" style="background-image: url({{video.celebrity.thumbnail}})"></div>
                    <div class="star-name-favorite-container">
                        <div class="star-name">{{video.celebrity.name}}</div>
                    </div>
                    <div class="favorite-button" clix-tooltip-trigger tooltip-id="favorite-button-{{$id}}">
                        <clix-favorite-button ng-click="onFavoriteCelebrityPress()" is-favorite="isFavoriteCelebrity"></clix-favorite-button>
                    </div>
                    <clix-tooltip tooltip-id="favorite-button-{{$id}}">
                        {{isFavoriteCelebrity ? 'Remove this Star from your Favorites.' : 'Add this Star to your Favorites.'}}
                    </clix-tooltip>
                </div>
                <div class="col-sm-6 social-container">
                    <div class="violator-container" clix-tooltip-trigger tooltip-id="reward-points-button-{{$id}}">
                        <clix-violator size="large">100 Reward Points</clix-violator>
                    </div>
                    <clix-tooltip tooltip-id="reward-points-button-{{$id}}">
                        <clix-is-logged-in>
                            <logged-in>
                                You will receive 100 Reward Points for watching this video!
                            </logged-in>
                            <not-logged-in>
                                After you sign up, you will receive 100 Reward Points for watching this video! <a ng-click="">Learn more</a>.
                            </not-logged-in>
                        </clix-is-logged-in>
                    </clix-tooltip>

                    <div class="social-icon-container">
                        <a href="#" class="social-icon icon-heart-icon" clix-tooltip-trigger tooltip-id="heart-button-{{$id}}"></a>
                        <clix-tooltip tooltip-id="heart-button-{{$id}}">
                            Like this video!
                        </clix-tooltip>
                        <div class="social-icon-label">
                            256K
                        </div>
                    </div>
                    <div class="social-icon-container" clix-tooltip-trigger tooltip-id="watchlist-button-{{$id}}">
                        <clix-save-button ng-click="onWatchlistPress()" is-saved="isOnWatchlist"></clix-save-button>
                    </div>
                    <clix-tooltip tooltip-id="watchlist-button-{{$id}}">
                        {{isOnWatchlist ? 'Remove this video from your Watchlist.' : 'Add this video to your Watchlist.'}}
                    </clix-tooltip>
                    <div class="social-icon-container">
                        <div clix-tooltip-trigger tooltip-id="share-button-{{$id}}">
                            <clix-share-button extra-class="social-icon share-icon" video="video"></clix-share-button>
                        </div>
                        <clix-tooltip tooltip-id="share-button-{{$id}}">
                            <clix-is-logged-in>
                                <logged-in>
                                    You will receive 50 Reward Points for sharing!
                                </logged-in>
                                <not-logged-in>
                                    After signing up, you will receive 50 Reward Points for sharing! <a ng-click="">Learn more</a>.
                                </not-logged-in>
                            </clix-is-logged-in>
                        </clix-tooltip>
                        <clix-points-violator>
                            50
                        </clix-points-violator>
                    </div>

                </div>
            </div>

            <div class="hidden-xs hidden-sm">
                <div class="up-next-container">
                    <div class="up-next-label">
                        Up Next in This Series
                    </div>
                </div>
                <div ng-if="!series">
                    <clix-loader size="small"></clix-loader>
                </div>
                <div class="row next-video-list">
                    <div class="col-lg-4 next-video" ng-repeat="nextVideo in series.seasons.seasons[0].episodes track by $index" ng-show="nextVideo.id !== video.id">
                        <clix-video-content-callout video="nextVideo"></clix-video-content-callout>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-4 star-info-column-container">

            <div class="about-video-container" id="about-video-container">

                <div class="about-video-inner-container" id="about-video-inner-container">
                    <div class="about-video-overlay hidden-xs hidden-sm" ng-if="!expanded"></div>

                    <div class="video-info-container">
                        <div class="episode-number">
                            Episode {{video.episodeNumber}}:
                        </div>
                        <div class="episode-title">
                            {{video.title}}
                        </div>
                        <div class="series-title">
                            {{video.series.title}}
                        </div>
                        <div class="row total-views-available-container">
                            <div class="col-sm-6 total-views">48,096,110 views</div>
                            <div class="col-sm-6 available-until" ng-if="video.expirationDate">Available Until {{video.expirationDate | clixDate: 'long'}}</div>
                        </div>

                        <div class="description">
                            {{video.description}}
                        </div>

                        <div class="meta-data">
                            <div class="meta-data-row" ng-if="video.categories">
                                <span class="meta-data-label">
                                    Category:
                                </span>
                                <span ng-repeat="category in video.categories.categories">
                                    <a ui-sref="category({ id: '{{category.id}}' })">{{category.title}}</a><span ng-if="!$last">,&nbsp;</span>
                                </span>
                            </div>
                            <div class="meta-data-row" ng-if="video.celebrity">
                                <span class="meta-data-label">
                                    Stars:
                                </span>
                                <a ui-sref="star({ id: '{{video.celebrity.id}}' })">{{video.celebrity.name}}</a>
                            </div>
                            <div class="meta-data-row" ng-if="video.brands">
                                <span class="meta-data-label">
                                    Brands:
                                </span>
                                <span ng-repeat="brand in video.brands.brands">
                                    <a ui-sref="brand({ id: '{{brand.id}}' })">{{brand.title}}</a><span ng-if="!$last">,&nbsp;</span>
                                </span>
                            </div>
                            <div class="meta-data-row" ng-if="video.charity">
                                <span class="meta-data-label">
                                    Charity:
                                </span>
                                <a ui-sref="charity({ id: video.charity.id })">{{video.charity.title}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="toggle-button-container">
                    <div class="visibility-toggle-button hidden-xs hidden-sm" id="toggle-button" ng-show="!forceFullHeight">
                        <clix-secondary-button ng-click="onExpandToggle()">
                            {{expanded ? 'Show Less' : 'Show More'}}
                        </clix-secondary-button>
                    </div>
                    <div class="brands-charity-container hidden-sm hidden-xs">
                        <div class="brands-container">
                            <div class="brands-charity-title">
                                <div class="brands-title">
                                    Brands in this Series
                                </div>
                                <div class="charity-title" ng-if="video.charity">
                                    Charity
                                </div>
                            </div>

                            <div class="logo-list-container">
                                <a ng-repeat="brand in video.brands.brands | limitTo: 4" ui-sref="brand({ id: '{{brand.id}}' })" class="brand-logo-link">
                                    <clix-brand-charity-logo brand="brand" hover-enabled="true"></clix-brand-charity-logo>
                                </a>
                                <div class="brand-logo-link" ng-if="video.charity">
                                    <clix-charity-logo charity="video.charity"></clix-charity-logo>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="related-videos-container hidden-sm hidden-xs">
                <div class="related-videos-header">
                    Related Videos
                </div>
                <div class="row related-videos-list">
                    <div ng-if="!relatedVideos">
                        <clix-loader size="small"></clix-loader>
                    </div>
                    <div class="col-lg-6 related-video" ng-repeat="relatedVideo in relatedVideos.videos | limitTo: 6 track by $index">
                        <clix-video-content-callout video="relatedVideo"></clix-video-content-callout>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="visible-xs visible-sm">
        <div class="up-next-container">
            <div class="up-next-label">
                Up Next in This Series
            </div>
        </div>
        <div ng-if="!series">
            <clix-loader size="small"></clix-loader>
        </div>
        <div class="row next-video-list">
            <div class="col-xs-6 next-video" ng-repeat="nextVideo in series.seasons.seasons[0].episodes track by $index" ng-show="nextVideo.id !== video.id">
                <clix-video-content-callout video="nextVideo"></clix-video-content-callout>
            </div>
        </div>
    </div>

    <div class="related-videos-container visible-sm visible-xs">
        <div class="related-videos-header">
            Related Videos
        </div>
        <div class="row related-videos-list">
            <div ng-if="!relatedVideos">
                <clix-loader size="small"></clix-loader>
            </div>
            <div class="col-xs-6 related-video" ng-repeat="relatedVideo in relatedVideos.videos | limitTo: 6 track by $index">
                <clix-video-content-callout video="relatedVideo"></clix-video-content-callout>
            </div>
        </div>
    </div>
</div>