.account-page{
    .account-header {
        font-size: 28px;
        color: white;
        background-color: black;
        padding: 15px 0;

        .navigation{
            margin-top: 10px;
            .nav-item{
                display: inline;
                margin-right: 60px;
                padding: 17px 0px;
                font-size: 20px;


                &.active, &:hover{
                    border-bottom: 4px solid white;
                }
            }
        }
    }
    .account-info {
        margin-top: 50px;
        .left-user {

            .user-image {
                width: 60%;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                padding-bottom: 60%;
            }
            .edit-btn {
                cursor: pointer;
                text-align: center;
                padding: 14px;
                border-radius: 4px;
                font-size: 18px;
                margin-top: 30px;
                width: 60%;
                border: 2px solid #00aacf;
                color: #00aacf;
            }
        }
        .right-user {
            border-left: 2px dashed #33acd1;
            .single-field {
                margin-bottom: 14px;
                .field-header {
                    font-size: 14px;
                    color: #00abd0;
                    margin-bottom: 10px;
                }
                .field-input {
                    color: #9b9b9b;
                    border: 1px solid #00aacf;
                    font-size: 16px;
                    padding: 10px;
                    min-height: 44px;
                }
                .account-input {
                    width: 100%;
                    color: #9b9b9b;
                    border: 1px solid #00aacf;
                    font-size: 16px;
                    padding: 10px;
                    height: 42px;
                }
            }
            .edit-btn {
                cursor: pointer;
                color: #00353f;
                margin-top: 40px;
                text-align: center;
                padding: 14px;
                font-size: 18px;
                width: 170px;
                height: 50px;
                background-color: #33acd1;
                border-radius: 4px;
            }
        }

        .plans{
            .plan{
                text-align: center;
                color: #efefef;
                background-color: rgba(0,0,0,0.3);
                border-radius: 2px;
                .plan-title{
                    font-size: 28px;
                    line-height: 30px;
                    padding: 15px 0;

                }

                .plan-price{
                    font-size: 64px;
                    color: #0096c1;
                    padding: 15px 0px;
                }

                .plan-duration{
                    font-size: 16px;
                    padding: 15px 0;
                }

                .buy{
                    width: 100%;
                    text-align: center;
                    padding: 14px 0;
                    font-size: 20px;
                    background-color: #0096c1;
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                }
            }
        }

        .details{
            text-align: center;
            margin: 40px 0;
            width: 100%;
            font-size: 28px;
            background-color: rgba(0, 150, 193, 0.44);
            color: white;

            & > div{
                line-height: 80px;
                border-bottom: 1px solid #00353f;
            }
        }
    }

}
