body{
    background-image: linear-gradient(to bottom, #00353f, #00353f);
}

.header{
    width: 100%;
    color: white;
    font-size: 16px;
    .navbar  {
        padding: 0px 50px;
        background-color: #002329;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        @media (max-width: @screen-xs-max) {
            padding: 0px 15px;
        }
        .navbar-toggle {
            margin-top: 33px;
            margin-right: 0;
            margin-bottom: 0;
            .icon-bar {
                background-color: white;
            }
        }

        .container-fluid {
            @media (min-width: @screen-xs-max) {
                padding-left: 0px;
                padding-right: 0px;
            }
            .left-nav {
                margin-left: 26px;

                .active {
                    background-color: white;

                    a{
                        color: black;
                    }
                }
            }
            .navbar-brand {
                position: relative;
                height: 100px;
                padding: 0;
                width: 120px;
                .brand-img{
                    z-index: 2;
                    background-image: url('/assets/theme/ped/images/logo_ped.png');
                    background-position: center;
                    background-size: 60%;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                }
                .brand-bg {
                    z-index: 1;
                    -webkit-transform: skew(-20deg);
    	            -moz-transform: skew(-20deg);
    	            -o-transform: skew(-20deg);
                    background-color: white;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;

                }

            }

            .search-cont{
                display: inline-block;
                padding:30px 20px;

                .search {
                    font-size: 18px;
                    background-color: rgba(0,53,63,0.48);
                    border: 0;
                    height: 40px;
                    line-height: 40px;
                    padding-left: 10px;
                    width: 100%;
                }

                i{
                    right: 30px;
                    top: 40px;
                }
            }

            .signin-div {
                text-align: center;
                border-right: none;
                @media (max-width: @screen-xs-max) {
                    text-align: left;
                }
                div {
                    cursor: pointer;
                }


                .logged-out {

                    padding-top: 14px;
                    padding-bottom: 14px;

                    .singin-btn {
                        color: #0095c0;
                        width: 150px;

                        &:hover, &:focus {
                            background-color: white !important;
                        }
                    }
                }
                &.logged-in {
                    padding-bottom: 10px;

                    &:hover {
                        background-color: transparent !important;
                        color: white;

                        a{
                            color: white;
                        }
                    }

                    .account-drop {
                        right: -12px;
                        font-size: 20px;
                        background-color: rgba(0,0,0,0.8);
                        margin-top: 17px;
                        li {

                        }
                    }
                    .user-section {
                        transition: 0.5s ease;
                        img {
                            transition: border-color 0.5s ease;
                            border: 2px solid white;
                            border-color:  #FFFFFF;
                        }
                    }
                }

            }
        }
        // height: 150px;
        .navbar-nav>li {
            &:hover {
                background-color: white;
                a {
                    color: black;
                }
            }
            padding: 25px 0px;
            border-right: 1px solid rgba(208,208,208, 0.15);
            a {
                color: white;
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }

    .sec-navbar{
        background-color: #0096c1;
        padding: 15px 15px 0 15px;

        .button {
            height: 40px;
            background-color: #00353f;
            border-radius: 4px;
            font-size: 24px;
            padding: 0px 25px 0 15px;
            margin-right: 20px;
            line-height: 40px;
            margin-bottom: 20px;
            text-align: center;

            @media(max-width: @screen-xs-max){
                font-size: 15px;
                text-align: left;
            }

            .icon{
                margin-top: 11px;
                margin-left: 15px;
                right: 10px;
                top:0;
            }
        }


    }

    .epg{
        height: 190px;
        background-color: #0d0d0d;
    //    margin-top: 60px;
        color: white;

        .epg-header{
            background-color: #0094bf;
            height: 100%;
            background-repeat: no-repeat;
            font-size: 28px;
            overflow: hidden;
            line-height: 190px;
            padding-left: 50px;
            background-image: linear-gradient(to right, #0094bf, #0d0d0d);



            &:before{
                content: '';
                width: 0;
                height: 0;
                border-top: 0px solid transparent;
                border-bottom: 95px solid transparent;
                border-right: 95px solid #0d0d0d;
                position: absolute;
                right: 0;
            }

            &:after{
                content: '';
                width: 0;
                height: 0;
                border-top: 95px solid transparent;
                border-right: 95px solid #0d0d0d;
                position: absolute;
                right: 0;
                bottom: 0;

            }

            @media(max-width: @screen-xs-max){
                height: 90px;
                line-height: 80px;
                padding: 0;
                text-align: center;
                background-image: linear-gradient(to bottom, #0094bf, #0d0d0d);

                &:before{
                    border-top: 16vw solid transparent;
                    border-bottom: 0px solid transparent;
                    border-left: 55vw solid #0d0d0d;
                    right: auto;
                    left: 0;
                    bottom: 0;
                    border-right: 0;
                }

                &:after{
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: 16vw solid transparent;
                    border-right: 55vw solid #0d0d0d;
                    position: absolute;
                    right: 0;
                    bottom: 0;

                }

            }

        }

        .epg-content{
            height: 100%;
            padding-left: 40px;
            background-color: #0d0d0d;
            .epg-channel{
                height: 50%;

                .channel-name{
                    font-size: 20px;
                    line-height: 95px;
                    height: 100%;
                    overflow: hidden;
                    width: 70px;
                    margin-right: 10px;
                    display: inline-block;
                }

                .channel-img{
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                    width: 140px;
                    display: inline-block;
                }

                .channel-epg{
                    height: 100%;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    white-space: nowrap;
                    display: inline-block;
                    width: ~"calc(100% - 230px)";


                    @media(max-width: @screen-xs-max){
                        width: ~"calc(100% - 100px)";
                        overflow-x: scroll;
                    }
                    .channel-program{
                        font-size: 15px;
                        line-height: 20px;
                        height: 80px;
                        margin: 8px 0;
                        font-weight: 300;
                        border-right: 1px solid #fff;
                        width: 150px;
                        padding: 0px 16px;
                        display: inline-block;

                        &:last-child{
                            border:0;
                        }
                        .program-progress-container{
                            height: 7px;
                            width: 100%;
                            background-color: white;
                            margin-top: 7px;

                            .progress{
                                height: 100%;
                                background-color: #0093be;
                            }
                        }
                    }

                }


            }

            & .row:first-child{
                border-bottom:1px solid white;
            }

            & .row:last-child{
                border-top:1px solid white;
            }
        }
    }

}

.loginModal {
    text-align: center;
    color: white;
    @media (max-width: @screen-xs-max) {
        padding: 0;
        margin: 0;
        .modal-dialog {
            margin: 0;
        }
    }
    .modal-content {
        padding: 40px 100px;
        background-color: #0095c0;
        @media (max-width: 560px) {
            padding: 30px 10px;
        }
        .modal-header {
            border: none;
            font-size: 36px;
            padding: 0;
            margin-bottom: 40px;
        }
        .login-buttons {
            .login-button {
                padding: 14px 40px;
                height: 65px;
                margin-bottom: 20px;
                font-size: 24px;
                border-radius: 3px;
                cursor: pointer;
                @media (max-width: @screen-xs-max) {
                    padding: 14px 20px
                }
                @media (max-width: 350px) {
                    font-size: 20px;
                    line-height: 1.7;
                }
                &.facebook {
                    background-color: #39579a;
                    .icon {
                        margin-top: 4px;
                    }
                }
                &.twitter {
                    background-color: #50abf1;
                    .icon {
                        margin-top: 5px;
                    }
                }
                &.google {
                    background-color: #da4835;
                    .icon {
                        margin-top: 3px;
                    }
                }
            }
        }
        .other-span {
            font-size: 18px;
            margin-bottom: 40px;
        }
        .credentials-login {
            margin-bottom: 40px;
            .login-error , .register-error{
                font-size: 19px;
                color: white;
                width: 100%;
                float: left;
                padding: 5px 15px;
                margin-bottom: 15px;
                position: relative;
                background-color: #b01c27;
                border-radius: 8px;

                .error-triangle{
                    position: absolute;
                    right: 6px;
                    top: -18px;
                }
            }
            input {
                border: 1px solid white;
                margin-bottom: 20px;
                width: 100%;
                height: 50px;
                background-color: transparent;
                padding: 16px;
                font-size: 16px;
                outline: none;
            }
            .login-btn {
                background-color: white;
                color: #0094bf;
                font-size: 28px;
                padding: 0px;
                height: 60px;
                border: none;
                border-radius: 3px;
            }
            .remember-me{
                input{
                    width: 20px;
                    float: left;
                    height: auto;
                }

                label{
                    float: left;
                    padding-left: 15px;
                    font-size:18px;
                }
            }
        }
        .forgot-register {
            font-size: 16px;
            color: rgba(255,255,255,0.65);
            .not-reg {
                a {
                    color: white;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
    }
}
