.home-page{
    .home-header{
        height: 60vh;
        .homeCarousel {
            width: 100%;
            height: inherit;
            color: white;

            .carousel-control {
                &.left, &.right {
                    background-image: none;
                    .icon-arrow-left-32x83 {
                        position: absolute;
                        top: 50%;
                        left: 26px;
                        margin-top: -15px;
                    }
                    .icon-arrow-right-32x83 {
                        position: absolute;
                        top: 50%;
                        right: 26px;
                        margin-top: -15px;
                    }
                }
            }
            .carousel-inner{
                height: 100%;
                .item {
                height: 100%;
                    .item-content{
                    background-position: center;
                    background-size: cover;
                    height: 100%;
                    .info{
                        bottom: 0;
                        width: 80%;
                        left: 10%;
                    }
                    .header-text {
                        font-weight: bold;
                        font-size: 36px;
                        line-height: 40px;
                        @media (max-width: @screen-md-max) {
                            font-size: 32px;
                        }
                        @media (max-width: @screen-sm-max) {
                            font-size: 28px;
                        }
                        @media (max-width: @screen-xs-max) {
                            font-size: 26px;
                        }
                    }
                    .span-text {
                        font-size: 20px;
                        line-height: 26px;
                        margin-bottom: 20px;
                        text-align: justify;
                        @media (max-width: 560px) {
                            font-size: 14px;
                        }
                    }
                }
            }
            }
        }
    }

    @media (max-width: @screen-xs-max){
        .home-header{
            height: 30px;
        }
    }

    .home-content{

        .row-title {
            margin-left: 100px;
            font-size: 28px;
            color: white;
            margin-top: 40px;
        }

        .carousel-blue{
            background-color: #003f4d;
            height: 220px;
            margin-top:40px;
            margin-bottom: 10px;
        }

        .epg{
            height: 260px;
            background-color: #0d0d0d;
            margin-top: 60px;
            color: white;

            .epg-header{
                background-color: #0094bf;
                height: 100%;
                background-repeat: no-repeat;
                font-size: 28px;
                overflow: hidden;
                line-height: 260px;
                background-image: linear-gradient(to right, #0094bf, #0d0d0d);

                &:before{
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: 0px solid transparent;
                    border-bottom: 130px solid transparent;
                    border-right: 130px solid #0d0d0d;
                    position: absolute;
                    right: 0;
                }

                &:after{
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: 130px solid transparent;
                    border-right: 130px solid #0d0d0d;
                    position: absolute;
                    right: 0;
                    bottom: 0;

                }
            }

            .epg-content{
                height: 100%;
                padding-left: 40px;
                .epg-channel{
                    height: 50%;
                    .channel-name{
                        font-size: 20px;
                        line-height: 130px;
                        height: 100%;
                        overflow: hidden;
                    }

                    .channel-img{
                        height: 100%;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: contain;
                    }

                    .channel-epg{
                        height: 100%;
                        overflow: hidden;
                        .channel-program{
                            font-size: 17px;
                            line-height: 24px;
                            height: 100px;
                            margin: 15px 0;
                            font-weight: 300;
                            border-right: 1px solid white;
                            .program-progress-container{
                                height: 9px;
                                width: 100%;
                                background-color: white;
                                margin-top: 12px;

                                .progress{
                                    height: 100%;
                                    background-color: #0093be;
                                }
                            }
                        }

                    }

                }

                & .row:first-child{
                    border-bottom:1px solid white;
                }

                & .row:last-child{
                    border-top:1px solid white;
                }
            }
        }


        .other-celebs{
            margin-top:40px;
            height: 315px;
            background-color: #003f4d;
            overflow: hidden;
            padding: 0px 40px;

            .celebrity{
                padding: 15px;
                height: 100%;
                float: left;
                .celeb-name{
                    background-position: center;
                    background-size: cover;
                }

                .celeb-img{
                    height: 100%;
                    background-position: center center;
                    background-size: cover;
                }

                .celeb-name{
                    bottom: 0;
                    left: 0;
                    right: 0;
                    line-height: 50px;
                    background-color: rgba(255,255,255,0.5);
                    font-size: 18px;
                    color: #00353f;
                    padding-left: 10px;
                }
            }

        }
    }

}
