/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25/06/2016, 11:19:15
    Author     : ale_miller10
*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,300,100');
@import "commons";

// pages + globals

@import "icons";
@import "home";
@import "header";
@import "footer";
@import "account";
@import "category";
@import "celebrities";
@import "celebrity";
@import "video";
@import "survey";
@import "lottery";

@font-face {
	font-family: 'PTsans';
	src: url('/assets/theme/ped/fonts/sans/PTSans-Regular.eot');
	src: url('/assets/theme/ped/fonts/sans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/theme/ped/fonts/sans/PTSans-Regular.woff2') format('woff2'),
		url('/assets/theme/ped/fonts/sans/PTSans-Regular.woff') format('woff'),
		url('/assets/theme/ped/fonts/sans/PTSans-Regular.ttf') format('truetype'),
		url('/assets/theme/ped/fonts/sans/PTSans-Regular.svg#PTSans-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTcaption';
	src: url('/assets/theme/ped/fonts/sans/PTSans-Caption.eot');
	src: url('/assets/theme/ped/fonts/sans/PTSans-Caption.eot?#iefix') format('embedded-opentype'),
		url('/assets/theme/ped/fonts/sans/PTSans-Caption.woff2') format('woff2'),
		url('/assets/theme/ped/fonts/sans/PTSans-Caption.woff') format('woff'),
		url('/assets/theme/ped/fonts/sans/PTSans-Caption.ttf') format('truetype'),
		url('/assets/theme/ped/fonts/sans/PTSans-Caption.svg#PTSans-Caption') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTsans';
	src: url('/assets/theme/ped/fonts/sans/PTSans-Italic.eot');
	src: url('/assets/theme/ped/fonts/sans/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('/assets/theme/ped/fonts/sans/PTSans-Italic.woff2') format('woff2'),
		url('/assets/theme/ped/fonts/sans/PTSans-Italic.woff') format('woff'),
		url('/assets/theme/ped/fonts/sans/PTSans-Italic.ttf') format('truetype'),
		url('/assets/theme/ped/fonts/sans/PTSans-Italic.svg#PTSans-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'PTsans';
	src: url('/assets/theme/ped/fonts/sans/PTSans-Bold.eot');
	src: url('/assets/theme/ped/fonts/sans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/theme/ped/fonts/sans/PTSans-Bold.woff2') format('woff2'),
		url('/assets/theme/ped/fonts/sans/PTSans-Bold.woff') format('woff'),
		url('/assets/theme/ped/fonts/sans/PTSans-Bold.ttf') format('truetype'),
		url('/assets/theme/ped/fonts/sans/PTSans-Bold.svg#PTSans-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'PTsans';
	src: url('/assets/theme/ped/fonts/sans/PTSans-BoldItalic.eot');
	src: url('/assets/theme/ped/fonts/sans/PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('/assets/theme/ped/fonts/sans/PTSans-BoldItalic.woff2') format('woff2'),
		url('/assets/theme/ped/fonts/sans/PTSans-BoldItalic.woff') format('woff'),
		url('/assets/theme/ped/fonts/sans/PTSans-BoldItalic.ttf') format('truetype'),
		url('/assets/theme/ped/fonts/sans/PTSans-BoldItalic.svg#PTSans-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Cabin';
	src: url('/assets/theme/ped/fonts/cab/Cabin-Regular.eot');
	src: url('/assets/theme/ped/fonts/cab/Cabin-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/theme/ped/fonts/cab/Cabin-Regular.woff2') format('woff2'),
		url('/assets/theme/ped/fonts/cab/Cabin-Regular.woff') format('woff'),
		url('/assets/theme/ped/fonts/cab/Cabin-Regular.ttf') format('truetype'),
		url('/assets/theme/ped/fonts/cab/Cabin-Regular.svg#Cabin-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Cabin';
	src: url('/assets/theme/ped/fonts/cab/Cabin-Italic.eot');
	src: url('/assets/theme/ped/fonts/cab/Cabin-Italic.eot?#iefix') format('embedded-opentype'),
		url('/assets/theme/ped/fonts/cab/Cabin-Italic.woff2') format('woff2'),
		url('/assets/theme/ped/fonts/cab/Cabin-Italic.woff') format('woff'),
		url('/assets/theme/ped/fonts/cab/Cabin-Italic.ttf') format('truetype'),
		url('/assets/theme/ped/fonts/cab/Cabin-Italic.svg#Cabin-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Cabin';
	src: url('/assets/theme/ped/fonts/cab/Cabin-Bold.eot');
	src: url('/assets/theme/ped/fonts/cab/Cabin-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/theme/ped/fonts/cab/Cabin-Bold.woff2') format('woff2'),
		url('/assets/theme/ped/fonts/cab/Cabin-Bold.woff') format('woff'),
		url('/assets/theme/ped/fonts/cab/Cabin-Bold.ttf') format('truetype'),
		url('/assets/theme/ped/fonts/cab/Cabin-Bold.svg#Cabin-Bold') format('svg');

	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Cabin';
	src: url('/assets/theme/ped/fonts/cab/Cabin-BoldItalic.eot');
	src: url('/assets/theme/ped/fonts/cab/Cabin-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('/assets/theme/ped/fonts/cab/Cabin-BoldItalic.woff2') format('woff2'),
		url('/assets/theme/ped/fonts/cab/Cabin-BoldItalic.woff') format('woff'),
		url('/assets/theme/ped/fonts/cab/Cabin-BoldItalic.ttf') format('truetype'),
		url('/assets/theme/ped/fonts/cab/Cabin-BoldItalic.svg#Cabin-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}


.cabin {
	font-family: Cabin;
}

.browse-btn {
	@media (max-width: @screen-xs-max) {
		margin-bottom: 10px;
	}
}

.gradient-80-vertical-black {
	position: absolute;
	top: 0;
	bottom: 4vw;
	right: 0;
	left: 0;
	z-index: 1;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(80%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
	@media (max-width: @screen-xs-max) {
		bottom: 0;
	}
}

.gradient_vertical_10_black {
	background: rgba(0,0,0,0.1);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 85%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(85%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 85%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.1) 85%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 85%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.1) 85%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000333', endColorstr='#000333', GradientType=0 );
}



.gradient_vertical_70_black {
	background: rgba(0,0,0,0.1);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 70%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(70%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 70%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.1) 70%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 70%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.1) 70%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.gradient_vertical_50_black {
	background: rgba(0,3,51,0);
	background: -moz-linear-gradient(top, rgba(0,3,51,0) 50%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(50%, rgba(0,3,51,0)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,3,51,0) 50%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,3,51,0) 50%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,3,51,0) 50%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,3,51,0) 50%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000333', endColorstr='#000000', GradientType=0 );
}

.gradient_vertical_30_black {
	background: rgba(0,3,51,0);
	background: -moz-linear-gradient(top, rgba(0,3,51,0) 30%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(30%, rgba(0,3,51,0)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,3,51,0) 30%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,3,51,0) 30%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,3,51,0) 30%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,3,51,0) 30%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000333', endColorstr='#000000', GradientType=0 );
}
html.touch *:hover {
    pointer-events: none !important;
	all:unset!important;
}
html {
	width: 100%;
}
body {
	width: 100%;
	overflow-x: hidden;
	font-family: 'PTsans', arial, 'Lato', sans-serif;
	background-color: #141414;
}
.w100 {
	width: 100%;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-white {
	color: white;
}
.text-pink {
	color: #f600a3;
}
.text-red {
	color: red;
}
.text-purple {
	color: #7500e4;
}
.text-bold {
	font-weight: bold;
}

.bg-black {
	background-color: black;
}
.bg-red {
	background-color: red;
}
.bg-grey {
	background-color: #141414;
}
.bg-white {
	background-color: white;
}
.brw2 {
	border-right: 2px solid white;
}
.brw1 {
	border-right: 1px solid white;
}
.blw1 {
	border-left: 1px solid white;
}
.bw2 {
	border: 2px solid white;
}
.ls8 {
	letter-spacing: 8px;
}
.text-fs10 {
	font-size: 10px;
}
.text-fs11 {
	font-size: 11px;
}
.text-fs12 {
	font-size: 12px;
}
.text-fs13 {
	font-size: 13px;
}
.text-fs14 {
	font-size: 14px;
}
.text-fs15 {
	font-size: 15px;
}
.text-fs16 {
	font-size: 16px;
}
.text-fs17 {
	font-size: 17px;
}
.text-fs18 {
	font-size: 18px;
}
.text-fs19 {
	font-size: 19px;
}
.text-fs20 {
	font-size: 20px;
}
.text-fs21 {
	font-size: 21px;
}
.text-fs22 {
	font-size: 22px;
}
.text-fs23 {
	font-size: 23px;
}
.text-fs24 {
	font-size: 24px;
}
.text-fs25 {
	font-size: 25px;
}
.text-fs26 {
	font-size: 26px;
}
.text-fs28 {
	font-size: 28px;
}
.text-fs30 {
	font-size: 30px;
}
.text-fs32 {
	font-size: 32px;
}
.text-fs34 {
	font-size: 34px;
}
.text-fs36 {
	font-size: 36px;
	@media (max-width: @screen-sm-max) {
		font-size: 22px;
	}
}
.text-fs40 {
	font-size: 40px;
}
.text-fs46 {
    font-size: 46px;
}
.text-fs48{
    font-size: 48px;
}
.text-fs50 {
    font-size: 50px;
}
.text-fs60 {
	font-size: 60px;
}
.text-fs72 {
    font-size: 72px;
}



.pr {
	position: relative;
}
.pa {
	position: absolute;
}
.p0 {
	padding: 0px;
}
.p2 {
    padding: 2px;
}
.p5 {
	padding: 5px;
}
.p6 {
	padding: 6px;
}
.p7 {
	padding: 7px;
}
.p8 {
	padding: 8px;
}
.p9 {
	padding: 9px;
}
.p10 {
	padding: 10px;
}
.p11 {
	padding: 11px;
}
.p12 {
	padding: 12px;
}
.p13 {
	padding: 13px;
}
.p14 {
	padding: 14px;
}
.p15 {
	padding: 15px;
}
.p16 {
	padding: 16px;
}
.p17 {
	padding: 17px;
}
.p18 {
	padding: 18px;
}
.p19 {
	padding: 19px;
}
.p20 {
	padding: 20px;
}
.p30 {
	padding: 30px;
}
.p40 {
	padding: 40px;
}
.pb2 {
	padding-bottom: 2px;
}
.pb5 {
	padding-bottom: 5px;
}
.pb6 {
	padding-bottom: 6px;
}
.pb7 {
	padding-bottom: 7px;
}
.pb8 {
	padding-bottom: 8px;
}
.pb9 {
	padding-bottom: 9px;
}
.pb10 {
	padding-bottom: 10px;
}
.pb11 {
	padding-bottom: 11px;
}
.pb12 {
	padding-bottom: 12px;
}
.pb13 {
	padding-bottom: 13px;
}
.pb14 {
	padding-bottom: 14px;
}
.pb15 {
	padding-bottom: 15px;
}
.pb16 {
	padding-bottom: 16px;
}
.pb17 {
	padding-bottom: 17px;
}
.pb18 {
	padding-bottom: 18px;
}
.pb19 {
	padding-bottom: 19px;
}
.pb20 {
	padding-bottom: 20px;
}
.pb40 {
    padding-bottom: 40px;
}
.pb80 {
    padding-bottom: 80px;
}

.pt2 {
	padding-top: 2px
}
.pt5 {
	padding-top: 5px;
}
.pt6 {
	padding-top: 6px;
}
.pt7 {
	padding-top: 7px;
}
.pt8 {
	padding-top: 8px;
}
.pt9 {
	padding-top: 9px;
}
.pt10 {
	padding-top: 10px;
}
.pt11 {
	padding-top: 11px;
}
.pt12 {
	padding-top: 12px;
}
.pt13 {
	padding-top: 13px;
}
.pt14 {
	padding-top: 14px;
}
.pt15 {
	padding-top: 15px;
}
.pt16 {
	padding-top: 16px;
}
.pt17 {
	padding-top: 17px;
}
.pt18 {
	padding-top: 18px;
}
.pt19 {
	padding-top: 19px;
}
.pt20 {
	padding-top: 20px;
}

.pl5 {
	padding-left: 5px;
}
.pl6 {
	padding-left: 6px;
}
.pl7 {
	padding-left: 7px;
}
.pl8 {
	padding-left: 8px;
}
.pl9 {
	padding-left: 9px;
}
.pl10 {
	padding-left: 10px;
}
.pl11 {
	padding-left: 11px;
}
.pl12 {
	padding-left: 12px;
}
.pl13 {
	padding-left: 13px;
}
.pl14 {
	padding-left: 14px;
}
.pl15 {
	padding-left: 15px;
}
.pl16 {
	padding-left: 16px;
}
.pl17 {
	padding-left: 17px;
}
.pl18 {
	padding-left: 18px;
}
.pl19 {
	padding-left: 19px;
}
.pl20 {
	padding-left: 20px;
}
.pl40 {
    padding-left: 40px;
}
.pl80 {
  padding-left: 80px;
}
.pr5 {
	padding-right: 5px;
}
.pr6 {
	padding-right: 6px;
}
.pr7 {
	padding-right: 7px;
}
.pr8 {
	padding-right: 8px;
}
.pr9 {
	padding-right: 9px;
}
.pr10 {
	padding-right: 10px;
}
.pr11 {
	padding-right: 11px;
}
.pr12 {
	padding-right: 12px;
}
.pr13 {
	padding-right: 13px;
}
.pr14 {
	padding-right: 14px;
}
.pr15 {
	padding-right: 15px;
}
.pr16 {
	padding-right: 16px;
}
.pr17 {
	padding-right: 17px;
}
.pr18 {
	padding-right: 18px;
}
.pr19 {
	padding-right: 19px;
}
.pr20 {
	padding-right: 20px;
}
.pr40 {
	padding-right: 40px;
}
.pr80 {
  padding-right: 80px;
}

.ps10 {
	padding: 0px 10px;
}
.pbp30 {
    padding-bottom: 30% !important;
}
.m5 {
	margin: 5px;
}
.m6 {
	margin: 6px;
}
.m7 {
	margin: 7px;
}
.m8 {
	margin: 8px;
}
.m9 {
	margin: 9px;
}
.m10 {
	margin: 10px;
}
.m11 {
	margin: 11px;
}
.m12 {
	margin: 12px;
}
.m13 {
	margin: 13px;
}
.m14 {
	margin: 14px;
}
.m15 {
	margin: 15px;
}
.m16 {
	margin: 16px;
}
.m17 {
	margin: 17px;
}
.m18 {
	margin: 18px;
}
.m19 {
	margin: 19px;
}
.m20 {
	margin: 20px;
}
.mb2 {
    margin-bottom: 2px;
}
.mb4{
	margin-bottom: 4px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb6 {
	margin-bottom: 6px;
}
.mb7 {
	margin-bottom: 7px;
}
.mb8 {
	margin-bottom: 8px;
}
.mb9 {
	margin-bottom: 9px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb11 {
	margin-bottom: 11px;
}
.mb12 {
	margin-bottom: 12px;
}
.mb13 {
	margin-bottom: 13px;
}
.mb14 {
	margin-bottom: 14px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb16 {
	margin-bottom: 16px;
}
.mb17 {
	margin-bottom: 17px;
}
.mb18 {
	margin-bottom: 18px;
}
.mb19 {
	margin-bottom: 19px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb24 {
  margin-bottom: 24px;
}
.mb28 {
    margin-bottom: 28px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb50 {
	margin-bottom: 50px;
}
.mb60 {
	margin-bottom: 60px;
}
.mb80 {
	margin-bottom: 80px;
}
.mb90 {
	margin-bottom: 90px;
}
.mb100 {
	margin-bottom: 100px;
}
.mt {
	margin-top: 2px;
}
.mt3 {
    margin-top: 3px;
}
.mt5 {
	margin-top: 5px;
}
.mt6 {
	margin-top: 6px;
}
.mt7 {
	margin-top: 7px;
}
.mt8 {
	margin-top: 8px;
}
.mt9 {
	margin-top: 9px;
}
.mt10 {
	margin-top: 10px;
}
.mt11 {
	margin-top: 11px;
}
.mt12 {
	margin-top: 12px;
}
.mt13 {
	margin-top: 13px;
}
.mt14 {
	margin-top: 14px;
}
.mt15 {
	margin-top: 15px;
}
.mt16 {
	margin-top: 16px;
}
.mt17 {
	margin-top: 17px;
}
.mt18 {
	margin-top: 18px;
}
.mt19 {
	margin-top: 19px;
}
.mt20 {
	margin-top: 20px;
}
.mt26 {
    margin-top: 26px;
}
.mt30 {
	margin-top: 30px;
}
.mt40 {
	margin-top: 40px;
}
.mt70 {
	margin-top: 70px;
}
.mt80 {
	margin-top: 80px;
}
.mt160 {
	margin-top: 160px;
}
.mt-2 {
	margin-top: -2px;
}
.mt-3 {
	margin-top: -3px;
}
.mt-4 {
	margin-top: -4px;
}
.mt-6 {
    margin-top: -6px;
}
.mt-7 {
	margin-top: -7px;
}
.mt-8 {
    margin-top: -8px;
}
.mt-9 {
    margin-top: -9px;
}
.mt-11 {
    margin-top: -11px;
}
.ml4{
	margin-left: 4px;
}
.ml0 {
	margin-left: 0px;
}
.ml5 {
	margin-left: 5px;
}
.ml6 {
	margin-left: 6px;
}
.ml7 {
	margin-left: 7px;
}
.ml8 {
	margin-left: 8px;
}
.ml9 {
	margin-left: 9px;
}
.ml10 {
	margin-left: 10px;
}
.ml11 {
	margin-left: 11px;
}
.ml12 {
	margin-left: 12px;
}
.ml13 {
	margin-left: 13px;
}
.ml14 {
	margin-left: 14px;
}
.ml15 {
	margin-left: 15px;
}
.ml16 {
	margin-left: 16px;
}
.ml17 {
	margin-left: 17px;
}
.ml18 {
	margin-left: 18px;
}
.ml19 {
	margin-left: 19px;
}
.ml20 {
	margin-left: 20px;
}
.ml25 {
	margin-left: 25px;
}
.ml-4 {
    margin-left: -4px;
}
.ml-5 {
    margin-left: -5px;
}
.ml-10{
    margin-left: -10px;
}
.mr0 {
	margin-right: 0px;
}
.mr5 {
	margin-right: 5px;
}
.mr6 {
	margin-right: 6px;
}
.mr7 {
	margin-right: 7px;
}
.mr8 {
	margin-right: 8px;
}
.mr9 {
	margin-right: 9px;
}
.mr10 {
	margin-right: 10px;
}
.mr11 {
	margin-right: 11px;
}
.mr12 {
	margin-right: 12px;
}
.mr13 {
	margin-right: 13px;
}
.mr14 {
	margin-right: 14px;
}
.mr15 {
	margin-right: 15px;
}
.mr16 {
	margin-right: 16px;
}
.mr17 {
	margin-right: 17px;
}
.mr18 {
	margin-right: 18px;
}
.mr19 {
	margin-right: 19px;
}
.mr20 {
	margin-right: 20px;
}
.mr25 {
	margin-right: 25px;
}
.mr30 {
	margin-right: 30px;
}
.mr50 {
    margin-right: 50px;
}
.mr75 {
	margin-right: 75px;
}
.mr100 {
    margin-right: 100px;
}
.mr-4 {
    margin-right: -4px;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
