.clix-landing-video-content {
    padding-top: 31px;
    .about-landing-video {
        padding-right: 13px;
        position: relative;
    }
    .about-landing-content {
        padding-left: 13px;
    }

    .video-violator {
        position: absolute;
        top: 33px;
        right: 43px;
    }

    .landing-header {
        font-family: @font-secondary-bold;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 3.5px;
        color: @color-gray;
    }

    .landing-description {
        margin-top: 27px;
        font-family: @font-primary;
        font-size: 14px;
        line-height: 20px;
        color: @color-white;
    }

    .share-container {
        .flex-display;
        margin-top: 39px;
    }

    .landing-share-icon {
        font-size: 30px;
        color: @color-gray2;

        &:hover {
            text-decoration: none;
            color: @color-white;
        }
    }

    .content-points-validator {
        margin-left: 5px;
    }

    .video-content-container {
        padding-right: 0;
    }

    .video-sidebar-container {
        padding-left: 26px;
    }

    .sidebar-container {
        border: 1px solid @color-gray4;
        background-color: @color-gray5;
        padding: 30px;
    }

    .sidebar-title {
        font-family: @font-secondary;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        color: @color-gray2;
        text-align: center;
        line-height: 22px;
    }

    .sidebar-content {
        margin-top: 25px;
    }
}