<div class="contact-sidebar-container">
    <div class="contact-sidebar-block">
        <h3 class="contact-sidebar-label">
            Media Relations
        </h3>
        <p class="contact-sidebar-description">
            Media inquiries include a media kit, a press release archive and press contacts.
        </p>
    </div>
    <div class="contact-sidebar-block">
        <h3 class="contact-sidebar-label">
            Investor Relations
        </h3>
        <p class="contact-sidebar-description">
            Investor inquiries include share information, quarterly results, shareholders meetings, ratings, SEC filings, fixed income securities, listings and the financial calendar for ClixTV.
        </p>
    </div>
    <div class="contact-sidebar-block">
        <h3 class="contact-sidebar-label">
            Agency Relations
        </h3>
        <p class="contact-sidebar-description">
            Agency inquiries include general interest and questions regarding participation in the ClixTV experience.
        </p>
    </div>
    <div class="contact-sidebar-block">
        <h3 class="contact-sidebar-label">
            Our Address
        </h3>
        <p class="contact-sidebar-description">
            2025 Ocean Front Walk<br />
            Venice, CA 90291
        </p>
    </div>
</div>