<div class="clix-right-navigation" ng-class="{'active': open}">
    <div class="navigation-background-overlay" ng-click="onBackgroundPress()" ng-class="{'active': visible}"></div>
    <div class="navigation-bar" ng-class="{'active': visible}">
        <div class="navigation-bar-content">
            <a ng-click="onClosePress()" class="navigation-close-icon">
                <div class="icon-right-tall-arrow"></div>
            </a>
            <div class="avatar-container empty-avatar">
                <div ng-if="loggedInUser.avatar">
                    <div class="avatar-background-image" style="background-image: url('{{loggedInUser.avatar}}')"></div>
                    <div class="avatar-image" style="background-image: url('{{loggedInUser.avatar}}')"></div>
                </div>
                <div ng-if="!loggedInUser.avatar">
                    <div class="avatar-background"></div>
                    <div class="avatar-image" style="background-image: url('assets/theme/clixtv/dist/images/empty-profile-picture.png')"></div>
                </div>
            </div>
            <nav class="navigation-list">
                <a ng-click="goToAccount('overview')" class="navigation-list-item">
                    <div class="navigation-list-icon">
                        <i class="icon-account-icon"></i>
                    </div>
                    <div class="navigation-list-label">
                        Account
                    </div>
                </a>
                <a ng-click="goToAccount('watchlist')" class="navigation-list-item">
                    <div class="navigation-list-icon">
                        <i class="icon-plus-icon"></i>
                    </div>
                    <div class="navigation-list-label">
                        Watchlist
                    </div>
                </a>
                <a ng-click="goToAccount('favorites')" class="navigation-list-item">
                    <div class="navigation-list-icon">
                        <i class="icon-favorite-icon"></i>
                    </div>
                    <div class="navigation-list-label">
                        Favorites
                    </div>
                </a>
                <a ng-click="goToAccount('saved-offers')" class="navigation-list-item">
                    <div class="navigation-list-icon">
                        <i class="icon-offers-icon"></i>
                    </div>
                    <div class="navigation-list-label">
                        Saved Offers
                    </div>
                </a>
                <a ng-click="goToAccount('rewards')" class="navigation-list-item">
                    <div class="navigation-list-icon">
                        <i class="icon-rewards-icon-left-nav"></i>
                    </div>
                    <div class="navigation-list-label">
                        Rewards
                    </div>
                </a>
                <a ng-click="goToAccount('notifications')" class="navigation-list-item">
                    <div class="navigation-list-icon">
                        <i class="icon-notifications-icon-left-nav"></i>
                    </div>
                    <div class="navigation-list-label">
                        Notifications
                    </div>
                </a>
                <a ng-click="goToAccount('settings')" class="navigation-list-item">
                    <div class="navigation-list-icon">
                        <i class="icon-settings-icon-left-nav"></i>
                    </div>
                    <div class="navigation-list-label">
                        Settings
                    </div>
                </a>
            </nav>
            <div class="logout-button-container">
                <clix-secondary-button ng-click="onLogoutPress()">
                    Log Out
                </clix-secondary-button>
            </div>
        </div>
    </div>
</div>