<div class="clix-navigation-bar">
    <div class="avatar-container empty-avatar">
        <div ng-if="loggedInUser.avatar">
            <div class="avatar-background-image" style="background-image: url('{{loggedInUser.avatar}}')"></div>
            <div class="avatar-image" style="background-image: url('{{loggedInUser.avatar}}')"></div>
        </div>
        <div ng-if="!loggedInUser.avatar">
            <div class="avatar-background"></div>
            <div class="avatar-image" style="background-image: url('assets/theme/clixtv/dist/images/empty-profile-picture.png')"></div>
        </div>
    </div>
    <nav class="navigation-list">
        <a ng-click="onItemSelect('overview')" class="navigation-list-item" ng-class="{'active-item': activeItem === 'overview'}">
            <div class="navigation-list-icon">
                <i class="icon-account-icon"></i>
            </div>
            <div class="navigation-list-label">
                Account
            </div>
        </a>
        <a ng-click="onItemSelect('watchlist')" class="navigation-list-item" ng-class="{'active-item': activeItem === 'watchlist'}">
            <div class="navigation-list-icon">
                <i class="icon-plus-icon"></i>
            </div>
            <div class="navigation-list-label">
                Watchlist
            </div>
        </a>
        <a ng-click="onItemSelect('favorites')" class="navigation-list-item" ng-class="{'active-item': activeItem === 'favorites'}">
            <div class="navigation-list-icon">
                <i class="icon-favorite-icon"></i>
            </div>
            <div class="navigation-list-label">
                Favorites
            </div>
        </a>
        <a ng-click="onItemSelect('saved-offers')" class="navigation-list-item" ng-class="{'active-item': activeItem === 'saved-offers'}">
            <div class="navigation-list-icon">
                <i class="icon-offers-icon"></i>
            </div>
            <div class="navigation-list-label">
                Saved Offers
            </div>
        </a>
        <a ng-click="onItemSelect('rewards')" class="navigation-list-item" ng-class="{'active-item': activeItem === 'rewards'}">
            <div class="navigation-list-icon">
                <i class="icon-rewards-icon-left-nav"></i>
            </div>
            <div class="navigation-list-label">
                Rewards
            </div>
        </a>
        <a ng-click="onItemSelect('notifications')" class="navigation-list-item" ng-class="{'active-item': activeItem === 'notifications'}">
            <div class="navigation-list-icon">
                <i class="icon-notifications-icon-left-nav"></i>
            </div>
            <div class="navigation-list-label">
                Notifications
            </div>
        </a>
        <a ng-click="onItemSelect('settings')" class="navigation-list-item" ng-class="{'active-item': activeItem === 'settings'}">
            <div class="navigation-list-icon">
                <i class="icon-settings-icon-left-nav"></i>
            </div>
            <div class="navigation-list-label">
                Settings
            </div>
        </a>
    </nav>
</div>