.clix-account-notifications {

    .notifications-container {
        @media (min-width: @screen-md) {
            background-color: @color-dark-gray;
            margin: 50px 29px 0 50px;
            padding: 37px 45px;
        }
    }

    .notifications-header {
        font-family: @font-primary;
        font-size: 14px;
        color: @color-white;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        padding-bottom: 30px;
        margin-top: 33px;
        padding-left: @common-mobile-padding;
        border-bottom: 2px solid @color-gray3;

        @media (min-width: @screen-md) {

            padding-left: 0;
        }
    }
}