<clix-modal modal-title="Redeem Rewards">
    <div class="clix-redeem-rewards-modal">
        <div class="reward-callout">
            <div class="reward-image">
                <img ng-src="{{image}}" ng-srcset="{{imageHighRes}} 2x" />
            </div>
            <div class="reward-info">
                <div class="reward-title">
                    {{title}}
                </div>
                <div class="reward-subtitle">
                    Redeem Online Only
                </div>
            </div>
        </div>
        <div class="reward-stepper">
            <clix-number-stepper></clix-number-stepper>
            <div class="reward-stepper-label">
                Available Cash Balance 1760 Points Balance
            </div>
        </div>
        <div class="redeem-rewards-footer">
            <div class="redeem-rewards-legal">
                {{disclaimer}}
            </div>
            <div class="row redeem-rewards-buttons">
                <div class="col-xs-6 redeem-rewards-button">
                    <a ng-click="onCancelPress()" class="redeem-rewards-cancel-button">
                        Cancel
                    </a>
                </div>
                <div class="col-xs-6 redeem-rewards-button">
                    <clix-primary-button ng-click="onRedeemPress()">
                        Redeem Now
                    </clix-primary-button>
                </div>
            </div>
        </div>
    </div>
</clix-modal>