.carousel3d-container{
    width: 100%;
    height: 329px;
    position: relative;
    .carousel3d {
        height: 100%;
        width: 100%;
        position: relative;
        .slide{
            position: absolute;
            transition: 1s;
            left: 33%;
            width: 33%;
            height: 80%;
            top: 10%;
            opacity: 0;
            z-index: 1;
            overflow: hidden;
            background-position: center;
            background-size: cover;

            .slide-caption{
                position: absolute;
                bottom: 0;
                width: 100%;
                background-color: rgba(0,0,0,0.9);
                color: white;
                font-size: 24px;
                padding: 10px 20px 10px 20px;
                transition: 1s;
            }



            .slide-desc{
                font-size: 20px;
                line-height: 24px;
                padding: 10px;
                height: 0px;
                bottom: 0;
                text-align: justify;
                background-color: rgba(0,0,0,0.9);
                transition: 1s;
                opacity: 0;
            }

            .slide-logo {
                top: 20px;
                left: 20px;
            }



            .slide-reward{
                position: absolute;
                right: 0px;
                top: 20px;
                background-color: #e31924;
                border-radius: 35px 0 35px 35px;
                color: white;
                font-size: 20px;
                padding: 3px 10px;
            }

            .slide-play {
                position: absolute;
                top: 40%;
                left: 30px;
                cursor: pointer;
            }

        }

        .left, .right{
            display: block;
            opacity: 0.3;
        }
        .left{
            left: 50px;
            z-index: 1;
        }
        .right{
            z-index: 1;
            left: -webkit-calc(67% - 50px);
            left: -moz-calc(67% - 50px);
            left: ~"calc(67% - 50px)";
        }
        .center{
            left: 25%;
            width: 50%;
            height: 100%;
            top:0;
            opacity: 1;
            z-index: 4;
            cursor: pointer;

            &:hover .slide-caption{
                bottom: 88px;
            }

            &:hover .slide-desc{
                height: 88px;
                opacity: 1;
            }
        }

        @media (max-width: @screen-xs-max){

            .center {
            left: 5%;
            width: 90%;
            }
            .left{
                left:-30%;
            }
            .right{
                left:80%;
            }
        }
    }


    .carousel-nav{
        .prev, .next{
            top: ~"calc(50% - 41px)";
            position: absolute;
            cursor: pointer;
            z-index: 5;
        }
        .prev{
            left: 0px;
        }
        .next{
            right: 0px;
        }

    }

}

@media (max-width: @screen-sm-max){

    .carousel3d-container{
        height: 230px;
    }
}
