.clixCoupon{
      background-image: linear-gradient(235deg, #8b00b2, #ee002c);
      height: 360px;
      margin: 5px;

      .coupon-icon{
            height: 149px;
            margin: 10px 70px;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
      }

      .coupon-details{
          background-image: linear-gradient(244deg, #bf04d8, #f03d65);
          height: 169px;
          margin: 0px 20px 20px 20px;
          text-align: center;
          color: white;

          .coupon-title{
                font-size: 24px;
                padding: 15px 2vh 10px;

          }

          .coupon-expiry{
              font-size: 10px;
              letter-spacing: 1.7px;
              text-transform: uppercase;
          }

          .coupon-button{
                width: 70%;
                border: 1px solid white;
                height: 36px;
                margin: 10px auto;
                padding: 5px;
                border-radius: 50px;
                font-size: 16px;
                letter-spacing: 1.6px;
                cursor: pointer;

                .coupon-reward{
                    float: right;
                    background-color: #e31924;
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    margin-top: -3px;
                }
          }
      }
     }
