.clix-sec-block{
    overflow: hidden;
    .img-container{
        .go{
            opacity: 0;
            top: ~"calc(50% - 46px)";
            left: ~"calc(50% - 46px)";
            height: 95px;
            width: 95px;
            border: 2px solid #8a8a8a;
            color: #8a8a8a;
            border-radius: 50%;
            padding: 22px 20px;
            font-size: 32px;
            font-family: 'Cabin', sans-serif;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 2px;

            &.view{
                font-size: 20px;
                padding: 32px 16px;
                font-weight: bold;
                letter-spacing: 2px;
            }
        }


	.star{
            z-index: 1;
            opacity: 0;
            top: 15px;
            left: 15px;
            font-size: 30px;
            color: #8a8a8a;
            &:hover{
                color: white;
            }
        }


	.icon-plus-30x30:hover{
            background-image: url("/assets/theme/clixtv/images/sprite/plus-circle-black-33x33.png");
            background-position: center;
            background-size: contain;
        }

        .icon-minus-30x30:hover{
            background-image: url("/assets/theme/clixtv/images/sprite/minus-circle-black-trans-33x33.png");
            background-position: center;
            background-size: contain;
        }

        .dropdown{
            position: absolute;
            top:32px;
            right: 0px;
            opacity: 0;
            width: 100%;
            text-align: right;
            .dots{
                margin-right: 23px;
                float: right;
            }
            .dropdown-menu{
                top: 35px;
                left: auto;
                right: 7.5px;
                background-color: #323232;
                border: 0;
                border-radius: 0;
                width: ~"calc(100% - 15px)";
                padding: 0;


                a{
                    color: #ababab;
                    font-size: 20px;
                    padding: 0px 15px;
                    font-weight: normal;
                    line-height: 46px;

                    .icon {
                        width: 25px;
                        vertical-align: -2px;
                    }

                    .reward {
                        background-color: #e6151b;
                        border-radius: 50%;
                        padding: 6px;
                        color: white;
                    }

                    &:hover{
                        background-color: rgba(90, 90, 90, 0.75);;
                    }
                }
            }
        }


        .reward-points{
            bottom: 10px;
            right: 10px;
            font-size: 14px;
            background-color: #fe0000;
            border-radius: 50%;
            padding: 4px 2px;
            color: white;
            width: 30px;
            height: 30px;
            font-family: 'Cabin', sans-serif;
            span{
                font-size: 11px;
                vertical-align: super;
            }
        }

        .img{
            background-position: center;
            background-size: cover;
            padding: 0 !important;
            padding-top: ~"calc(100% - 2px)" !important;

            .img-overlay{
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            &.brand{
                background-image: radial-gradient(circle at 0 100%, #c60548, #7a0ba8);


                .brand-logo{
                    position: absolute;
                    background-position: center;
                    background-size: contain;
                    height: 70%;
                    top: 15%;
                    width: 70%;
                    left: 15%;
                    background-repeat: no-repeat;
                }

            }

            &.charity{
                background-image: radial-gradient(circle at 0 100%, #03bcf2, #ed00e5 40%, #f700e6);
            }

            &.offer{
                margin: 0 !important;
                .offer-overlay{
                    top: 0;
                    left:0;
                    right: 0;
                    bottom: 0;
                    background-image: linear-gradient(220deg, rgba(134, 0, 166, 0.11), rgba(134, 0, 166, 0.53) 47%, #c80050);
                }

                .offer-logo{
                    background-position: center;
                    background-size: cover;
                    bottom: 10px;
                    left: 0px;
                    width: 100px;
                    height: 30px;
                }
            }
        }

        &:hover{
            .img-overlay{
                background-color: rgba(0,0,0,0.8);
            }
            .go{
                opacity: 1;

                &:hover{
                    background-color: rgba(0,0,0,0.76);
                    color: white;
                    border-color: white;

                }
            }
            .star{
                opacity: 1;
                color: #979797;

                &:hover{
                    color: white;

                }

                .icon-favorite-icon-normal:hover{
                    background-image: url('/assets/theme/clixtv/images/sprite/favorite-icon-hover.png');
                    background-position: center;
                    background-size: cover;

                }
            }

            .dropdown{
                opacity: 1;
                .dots{
                    &:hover .icon{
                        background-image: url('/assets/theme/clixtv/images/sprite/dots-icon-hover.png');
                        background-position: center;
                        background-size: cover;
                    }
                }

            }
        }
    }
    .content{
        text-align: center;
        background-color: rgb(33,33,33);
        padding: 25px 10px 30px 10px;
        white-space: nowrap;
        .cat-name{
            color: white;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 18px;
            text-transform: capitalize;
            padding: 0 !important;


            @media(max-width: @screen-xs-max){
                font-size: 19px;
            }
        }
        .videos {
            color: #6c6c6c;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 0.15vw;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: 'Cabin', sans-serif;
            padding: 0 !important;


            @media(max-width: @screen-xs-max){
                font-size: 11px;
            }
        }


        .brand_name{
            color: #6c6c6c;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 0.15vw;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: 'Cabin', sans-serif;
            padding: 0;   
        }


        &:hover{
            .cat-name, .videos{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
