.clix-carousel-container{

    &.loader{
        height: 296px;
        overflow: hidden;

        &::after{
            content: '';
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #0E0E0E;
        }

    }

    .slick-list {
        padding-left: 0px !important;
        padding-right: 60px !important;
    }
    .clix-carousel{
        .slick-slide {
            padding: 0 5px;
            outline: 0;
        }
        &:hover {
            .slick-arrow {
                .pr {
                    opacity: 1;
                    z-index: 1;
                }
            }
        }
    }
    .slick-arrow{
        position: absolute;
        height: 100%;
        width: 62px;
        top: 0;
        cursor: pointer;

        &.hidden{
            display: none;
        }

        &:hover, &:focus {
            &:before {
            }
        }

        &:before{
            font-size: 20px;
            line-height: 1;
            opacity: 0.7;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        &.prev {
            left: 0;
            .pr {
                background-color: rgba(0,0,0,0.6);
                opacity: 1;
                height: 100%;
                .icon-next-27x65 {
                    position: absolute;
                    left: 15px;
                    top: ~"calc(50% - 32px)";
                    transform: rotate(180deg);
                }
            }
        }

        &.next {
            right: 0;
            .pr {
                background-color: rgba(0,0,0,0.6);
                opacity: 0;
                height: 100%;
                .icon-next-27x65 {
                    position: absolute;
                    right: 15px;
                    top: ~"calc(50% - 32px)";
                }
            }
        }
    }
}
