.jwp-container{
    position: relative;

    .jw-preview{
        background-size: cover !important;
    }

    .reward{
        top: 20px;
        right: 20px;
        border-radius: 20px;
        background-color: #e61419;
        padding: 1px 15px;
        font-size: 15px;
    }
    .play-holder {
        top: ~"calc(50% - 93px)";
        left: ~"calc(50% - 93px)";
        position: absolute;


        .img-play {
            background-image: url(/assets/theme/clixtv/images/play-grey-200x181.png);
            width: 100%;
            height: 24%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 7%;
        }

        .icon-play-circle-164x164 {
            margin: 30px auto;
        }
    }
}
