.social-share{
    .modal {
  text-align: center;
  padding: 0!important;
  background-color: rgba(0,0,0,0.77);
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
    .modal-content{
        background-color: #292929;

        .modal-header{
            border-bottom: 1px solid rgba(161, 161, 161, 0.32);
            padding: 0;

            .modal-tab-selectors{
                display: table;
                margin: 0 auto;
                .modal-tab-selector{
                    float: left;
                    color: #8a8a8a;
                    letter-spacing: 2px;
                    padding: 25px 0px 20px 0px;
                    cursor: pointer;
                    font-size: 14px;
                    margin: 0 20px;
                    text-transform: uppercase;
                    font-family: Cabin;

                    &:hover, &.active{
                        border-bottom: 3px solid #fe0000;
                        //padding-bottom: 12px;
                        color: white;
                    }
                }
            }
        }

        .modal-body{
            .item{
                margin: 0;
                margin-bottom: 15px;
                padding-bottom: 0;
                .item-img{
                    padding-top: 100%;
                    background-position: center;
                    background-size: cover;

                    .play{
                        background-image: url('/assets/theme/clixtv/images/sprite/play-trans-64x64.png');
                        background-position: center;
                        background-size: cover;
                        height: 46px;
                        width: 50px;
                        top: ~"calc(50% - 23px)";
                        left: ~"calc(50% - 25px)";
                    }
                }

                .item-details{
                    padding-left: 10px;
                    padding-top: 15px;
                    .item-name{
                        color: rgba(255,255,255,0.7);
                        font-size: 25px;
                    }
                    .item-brand{
                        color: #464646;
                        font-size: 15px;
                    }

                    &.video{
                        padding-top: 0;
                        padding-right:0px;
                    }
                    .video-item-title{
                        font-size: 30px;
                        line-height: 32px;
                        color: white;
                    }

                    .video-item-subtitle{
                        font-family: Cabin;
                        font-size: 14px;
                        line-height: 14px;
                        color: #fe0000;
                        padding-bottom: 6px;
                    }

                    .video-item-desc{
                        font-size: 15px;
                        font-family: Cabin;
                        color: #8a8a8a;
                        line-height: 18px;
                        height: 36px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .clixtv{
                        font-family: Cabin;
                        font-size: 13px;
                        letter-spacing: 2px;
                        color: #8a8a8a;
                        line-height: 16px;
                    }
                }
            }

            .share-message-box{
                margin-bottom: 10px;

                input{
                    font-size: 14px;
                }
                .share-text{
                    resize: none;
                    width: 100%;
                    outline: 0;
                    padding: 10px;
                    border-radius: 5px;
                    font-size: 14px;
                }
            }

            .social-options {
                padding: 15px 0 0px 0px;
                margin: 0;
                .text{
                    color: #969696;
                    font-size: 14px;
                    display: inline-block;
                    height: auto;
                    line-height: 40px;
                }

                .option{
                    height: 40px;
                    width: 40px;
                    display: inline-block;
                    margin-left: 20px;
                    border-radius: 50%;
                    cursor: pointer;
                    background-position: center;
                    background-size: cover;

                    &.facebook{
                        background-image: url('/assets/theme/clixtv/images/facebook-logo-button-normal.png');

                        &:hover, &.active{
                            background-image: url('/assets/theme/clixtv/images/facebook-logo-button-active.png');
                        }
                    }

                    &.twitter{
                        background-image: url('/assets/theme/clixtv/images/twitter-logo-button-normal.png');

                        &:hover, &.active{
                            background-image: url('/assets/theme/clixtv/images/twitter-logo-button-active.png');
                        }
                    }

                    &.tumblr{
                        background-image: url('/assets/theme/clixtv/images/tumblr-logo-button-normal.png');

                        &:hover, &.active{
                            background-image: url('/assets/theme/clixtv/images/tumblr-logo-button-active.png');
                        }
                    }


                }
            }

        }

        .modal-footer{
            border-top: 0;
            padding-top: 0;

            .modal-btn{
                margin-left: 15px;
                background: 0;
                border: 0;
                padding: 0px;
                border-radius: 30px;
                color: white;
                cursor: pointer;
                outline: 0;
                font-size: 14px;
                height: 36px;
                line-height: 36px;
                width: 146px;
                text-transform: uppercase;

                &.cancel{
                    background-color: #1f1f1f;
    	            border: solid 1px #8a8a8a;


                    &:hover{
	                    border: solid 1px #ffffff;
                        margin-bottom: 0px;
                        margin-top: 0px;
                    }
                }

                &.share, &.send{
                    background-image: linear-gradient(to left, #fa0d1b, #911685);

                    &:hover{
                        background-image: linear-gradient(to left, #d20004, #730063);
                    }
                }

                // &.send{
                //     background-color: #fe0000;
                // }
            }
        }

    }
    .social_video{
        padding-left:0px;
    }
    .modal-body {
        position: relative;
        padding: 20px 20px 0px 20px;
    }
    .modal-dialog {
        width: 708px;
        margin: 30px auto;
    }
    .modal-footer {
        padding: 15px 15px 45px 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
        margin-top: 30px;
    }    
}
