.clix-landing-page-banner {
    position: relative;
    height: 475px;
    overflow: hidden;
    font-family: @font-primary;
    color: @color-white;

    .placeholder-container {
        .flex-display;
        .align-items(center);
        .justify-content(center);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        .placeholder {
            width: 60%;
            max-width: 300px;
        }
    }

    .landing-banner-background {
        .blur(27px);
        position: absolute;
        top: -50px;
        left: -50px;
        bottom: -50px;
        right: -50px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        @media (min-width: @screen-sm) {
            .blur(0);
        }
    }

    .landing-banner-overlay {
        .gradient(@color-transparent, @color-darker-gray);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .landing-banner-content {
        .transform(translateY(-50%));
        position: absolute;
        top: 50%;
        text-align: center;
        width: 100%;
        padding: 70px 20px 0;

        @media (min-width: @screen-sm) {
            .transform(translateY(0));
            text-align: left;
            top: auto;
            bottom: 30px;
            padding-top: 0;
            padding-left: 10px;
        }

        @media (min-width: @screen-lg) {
            padding-left: 30px;
        }
    }

    .banner-logo {
        .border-radius(170px / 2);
        margin: 0 auto;
        width: 170px;
        height: 170px;
        overflow: hidden;

        @media (min-width: @screen-sm) {
            display: none;
        }

        img {
            max-width: 100%;
        }
    }

    .banner-type {
        font-size: 12px;
        text-transform: uppercase;
        margin-top: 11px;

        @media (min-width: @screen-sm) {
            font-size: 20px;
        }

        @media (min-width: @screen-md) {
            font-size: 24px;
        }
    }

    .banner-title {
        font-family: @font-primary-bold;
        font-size: 32px;
        line-height: 33px;

        @media (min-width: @screen-sm) {
            font-size: 60px;
            line-height: 60px;
        }

        @media (min-width: @screen-md) {
            font-size: 100px;
            line-height: 100px;
        }
    }

    .banner-subtitle {
        font-size: 12px;
        text-transform: uppercase;
        color: @color-gray16;
        margin-top: 2px;

        @media (min-width: @screen-sm) {
            .transform(translateY(-50%));
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: 0;
            font-size: 14px;
        }
    }

    .banner-buttons-container {
        display: inline-block;
        position: relative;
        margin-top: 7px;
        @media (min-width: @screen-sm) {
            display: block;
        }
    }

    .banner-button {
        display: inline-block;
        vertical-align: middle;
    }

    .banner-favorite-button {
        min-width: 155px;

        @media (min-width: @screen-sm) {
            width: auto;
        }

        .clix-tertiary-button {
            display: block;
        }
    }

    .banner-share-button {
        .border-radius(50%);
        border: 1px solid @color-gray16;
        font-size: 20px;
        width: 36px;
        height: 36px;
        padding-top: 6px;
        margin-left: 8px;
        text-align: center;

        @media (min-width: @screen-sm) {
            border-width: 0;
            width: auto;
            height: auto;
            padding-top: 0;
            font-size: 30px;
            margin-left: 11px;
        }

        .points-violator {
            position: absolute;
            top: -13px;
            right: -13px;

            @media (min-width: @screen-sm) {
                position: relative;
                top: -3px;
                right: 0;
                display: inline-block;
            }
        }
    }
}