.clix-radio-button-group {
    .flex-display;

    .radio-button-select-container {
        .flex-display;
        .align-items(center);
        cursor: pointer;
        margin: 10px 25px 10px 0;

        &.active {
            .radio-button-select {
                border-width: 6px;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .radio-button-select {
        .border-radius(20px / 2);
        width: 20px;
        height: 20px;
        border: 1px solid @color-lignt-gray2;
    }

    .radio-button-label {
        font-family: @font-primary;
        color: @color-white;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }
}