@import (inline) "../../node_modules/normalize.css/normalize.css";
@import (inline) "../../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css";
@import (inline) "../../bower_components/slick-carousel/slick/slick.css";
@import (inline) "sprites/compiled/layout-sprite.css";
@import (inline) "common/fonts.css";

@import "../../node_modules/bootstrap-less/bootstrap/bootstrap";

@grid-gutter-width: 60px;

@import "common/variables";
@import "common/mixins";
@import "common/flexbox";

@import "header/header";
@import "categories/video-category-scroll-list";
@import "video-content-box/video-content-box";
@import "tooltip-menu/tooltip-menu";
@import "violator/violator";
@import "buttons/buttons";
@import "logo/logo";
@import "dropdown/dropdown";
@import "footer/footer";

// Pages
@import "home/home";
@import "video-permalink/video-permalink";
@import "brand/brand";
@import "brand/brands";
@import "charity/charity";
@import "charity/charities";
@import "stars/stars";
@import "stars/star";
@import "categories/categories";
@import "offer/offer";
@import "account/account";
@import "account/overview/overview";
@import "account/watchlist/watchlist";

// Components
@import "common/hero-banner/hero-banner";
@import "common/parallax/parallax";
@import "common/tabs/tabs";
@import "common/brand-charity-logo/brand-charity-logo";
@import "common/buttons/buttons";
@import "common/headers/headers";
@import "common/search/search-filter";
@import "common/page/filter-page";
@import "common/page/landing-page";
@import "common/page/landing/landing-video-content";
@import "common/container/content-callout";
@import "common/container/empty-container";
@import "common/modal/modal";
@import "common/modal/login-signup/login-signup";
@import "common/navigation/right-navigation";
@import "common/navigation/navigation-bar";
@import "common/account/account-header";

body {
    background-color: @color-darker-gray;
}

a {
    color: @color-white;
}

a:hover, a:focus {
    color: @color-white;
    outline: 0;
}

input:focus,
button:focus {
    outline: 0;
}

.main-content {
    padding-left: 30px;
    padding-right: 30px;
}

.clix-block-row {
    margin-left: -@common-row-item-spacing;
    margin-right: -@common-row-item-spacing;

    .clix-block-item {
        padding-top: 0;
        padding-bottom: 30px;
        padding-left: @common-row-item-spacing;
        padding-right: @common-row-item-spacing;

        @media (min-width: @screen-sm) {
            padding-top: @common-row-item-spacing ;
            padding-bottom: 38px;
        }
    }
}

.modal-backdrop.in {
    .opacity(0.8) !important;
}

// 5 column grid
.col-lg-2-4 {
    .make-lg-column(2.4)
}
.col-md-2-4 {
    .make-md-column(2.4)
}
.col-sm-2-4 {
    .make-sm-column(2.4)
}
.col-xs-2-4 {
    .make-xs-column(2.4)
}