@import (inline) "../../node_modules/normalize.css/normalize.css";
@import (inline) "../../bower_components/slick-carousel/slick/slick.css";
@import (inline) "sprites/compiled/layout-sprite.css";
@import (inline) "common/fonts.css";

@import "../../node_modules/bootstrap-less/bootstrap/bootstrap";

@grid-gutter-width: 60px;

@import "common/variables";
@import "common/mixins";
@import "common/flexbox";

@import "header/header";
@import "home/home";
@import "categories/video-category-scroll-list";
@import "video-content-box/video-content-box";
@import "tooltip-menu/tooltip-menu";
@import "video-permalink/video-permalink";
@import "violator/violator";
@import "buttons/buttons";
@import "logo/logo";
@import "dropdown/dropdown";
@import "brand/brand";
@import "footer/footer";

@import "common/hero-banner/hero-banner";
@import "common/parallax/parallax";

body {
    background-color: @color-darker-gray;
}

a {
    color: @color-white;
}

a:hover, a:focus {
    color: @color-white;
    outline: 0;
}

.main-content {
    padding-left: 30px;
    padding-right: 30px;
}