@import (inline) "../../node_modules/normalize.css/normalize.css";
@import (inline) "../../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css";
@import (inline) "../../bower_components/slick-carousel/slick/slick.css";
@import (inline) "../../node_modules/angular-ui-switch/angular-ui-switch.css";
@import (inline) "sprites/compiled/layout-sprite.css";
@import (inline) "sprites/compiled/category-sprite.css";
@import (inline) "common/fonts.css";

@import "../../node_modules/bootstrap-less/bootstrap/bootstrap";

@grid-gutter-width: 30px;

@import "common/variables";
@import "common/mixins";
@import "common/flexbox";

@import "header/header";
@import "header/header-search-icon";
@import "categories/video-category-scroll-list";
@import "video-content-box/video-content-box";
@import "tooltip-menu/tooltip-menu";
@import "violator/violator";
@import "buttons/buttons";
@import "logo/logo";
@import "dropdown/dropdown";
@import "footer/footer";

// Pages
@import "notfound/not-found";
@import "home/home";
@import "video-permalink/video-permalink";
@import "brand/brand";
@import "brand/brands";
@import "charity/charity";
@import "charity/charities";
@import "stars/stars";
@import "stars/star";
@import "categories/categories";
@import "categories/category";
@import "offer/offer";
@import "offer/printable-redeem-offer";
@import "account/account";
@import "account/overview/overview";
@import "account/watchlist/watchlist";
@import "account/favorites/favorites";
@import "account/saved-offers/saved-offers";
@import "account/rewards/rewards";
@import "account/notifications/notifications";
@import "account/settings/settings";
@import "contact/contact-page";
@import "about/about-page";

// Components
@import "common/hero-banner/hero-banner";
@import "common/parallax/parallax";
@import "common/tabs/tabs";
@import "common/brand-charity-logo/brand-charity-logo";
@import "common/buttons/buttons";
@import "common/headers/headers";
@import "common/search/search-filter";
@import "common/search/site-search";
@import "common/search/search-dropdown";
@import "common/page/filter-page";
@import "common/page/landing-page";
@import "common/page/landing/landing-video-content";
@import "common/container/content-callout";
@import "common/container/video-content-callout";
@import "common/container/video-content-callout-list";
@import "common/container/empty-container";
@import "common/container/blurrable-container";
@import "common/modal/modal";
@import "common/modal/login-signup/login-signup";
@import "common/modal/donate/donate";
@import "common/modal/share/share";
@import "common/modal/share/share-settings";
@import "common/modal/share/share-modal-connect-button";
@import "common/modal/rewards/redeem-rewards";
@import "common/modal/education/education-modal";
@import "common/modal/offer/offer-modal";
@import "common/navigation/right-navigation";
@import "common/navigation/navigation-bar";
@import "common/navigation/mobile-navigation";
@import "common/account/account-header";
@import "common/stepper/number-stepper";
@import "common/checkbox/checkbox";
@import "common/tooltip/tooltip";
@import "common/loader/loader";
@import "common/notifications/notifications";
@import "common/notifications/site-notification-bar";
@import "common/icon/icon";
@import "common/datepicker/datepicker-dropdowns";
@import "common/radio-buttons/radio-button-group";
@import "common/switch/switch";
@import "common/form/form";
@import "common/form/form-input";
@import "common/printable/printable-page";
@import "common/grid/bootstrap-xl";
@import "common/banners/home-page-banner";
@import "common/banners/landing-page-banner";
@import "common/logos/logos";
@import "common/image/lazy-loader/lazy-loader";

body, html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: @color-darker-gray;
    &.printable {
        background-color: @color-white;
        .clix-header,
        .clix-footer,
        .clix-site-notification-bar,
        .clix-mobile-navigation {
            display: none;
        }
    }
}

a {
    color: @color-white;
}

a:hover, a:focus {
    color: @color-white;
    outline: 0;
}

input:focus,
button:focus {
    outline: 0;
}

.main-content {
    padding-left: 30px;
    padding-right: 30px;
}

.clix-block-row {
    margin-left: (@common-mobile-padding / 2);
    margin-right: (@common-mobile-padding / 2);

    @media (min-width: @screen-sm) {
        margin-left: -@common-row-item-spacing;
        margin-right: -@common-row-item-spacing;
    }

    .clix-block-item {
        padding-top: 0;
        padding-bottom: 30px;
        padding-left: (@common-mobile-padding / 2);
        padding-right: (@common-mobile-padding / 2);

        @media (min-width: @screen-sm) {
            padding-top: @common-row-item-spacing ;
            padding-bottom: 38px;
            padding-left: @common-row-item-spacing;
            padding-right: @common-row-item-spacing;
        }
    }
}

.modal-backdrop.in {
    .opacity(0.8) !important;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal.slide-in:not(.in) .modal-dialog {
    .translate3d(25%, 0, 0);
}

.modal.slide-out .modal-dialog {
    .translate3d(-200%, 0, 0);
}

.modal.slide-out-right .modal-dialog {
    .translate3d(125%, 0, 0);
}

// 5 column grid
.col-lg-2-4 {
    .make-lg-column(2.4)
}
.col-md-2-4 {
    .make-md-column(2.4)
}
.col-sm-2-4 {
    .make-sm-column(2.4)
}
.col-xs-2-4 {
    .make-xs-column(2.4)
}


// Custom grid
@sm-gutter: 10px;
@lg-gutter: 20px;

.clix-row {

    .make-row(@gutter: @sm-gutter);

    @media (min-width: @screen-sm-min) {
        .make-row(@gutter: @lg-gutter);
    }
}

.clix-2-col {
    margin-bottom: 40px;

    @media (max-width: @screen-sm) {
        .make-lg-column(6, @sm-gutter);
    }

    @media (min-width: @screen-sm-min) {
        .make-lg-column(6, @lg-gutter);
    }
}

.clix-6-col {
    margin-bottom: 40px;
    @media (min-width: @screen-xs-min) {
        .make-sm-column(6, @sm-gutter);
    }
    @media (min-width: @screen-sm-min) {
        .make-sm-column(4, @lg-gutter);
    }
    @media (min-width: @screen-md-min) {
        .make-sm-column(3, @lg-gutter);
    }
    @media (min-width: @screen-lg-min) {
        .make-lg-column(2, @lg-gutter);
    }
}

.icon-left-tall-arrow:hover {
    &:before {
        font-weight: bold;
    }
}

.icon-right-tall-arrow:hover {
    &:before {
        font-weight: bold;
    }
}


