.footer-page{
    margin: 10px;
    background-image: linear-gradient(to top, rgba(213, 41, 51, 0), rgba(171, 17, 22, 0.2));
    border-top: 10px solid rgba(164, 20, 53, 0.5);
    .logo{
        margin: auto;
        width:15%;
    }
}
