.home-page{
    padding-bottom: 40px;
    .home-header{
        height: 60vh;
        .homeCarousel {
            width: 100%;
            height: inherit;
            color: white;
            .carousel-indicators{
                li{
                    width: 20px;
                    height: 20px;
                    margin: 1px 10px;
                }
            }
            .carousel-control {
                &.left, &.right {
                    background-image: none;
                    .icon-arrow-left-32x83 {
                        position: absolute;
                        top: 50%;
                        left: 26px;
                        margin-top: -15px;
                    }
                    .icon-arrow-right-32x83 {
                        position: absolute;
                        top: 50%;
                        right: 26px;
                        margin-top: -15px;
                    }
                }
            }
            .carousel-inner{
                height: 100%;
                .item {
                    height: 100%;
                        .item-content{
                        background-position: center;
                        background-size: cover;
                        height: 100%;
                        .info{
                            padding: 10px 30px;
                            bottom: 5%;
                            width: 30%;
                            left: 10%;
                            background-color: rgba(0, 0, 0, 0.75);
                            @media (max-width: @screen-xs-max) {
                                width: 80%;
                            }
                        }
                        .header-text {
                            font-weight: bold;
                            font-size: 36px;
                            @media (max-width: @screen-md-max) {
                                font-size: 30px;
                            }
                            @media (max-width: @screen-sm-max) {
                                font-size: 26px;
                            }
                            @media (max-width: @screen-xs-max) {
                                font-size: 16px;
                            }
                        }
                        .span-text {
                            font-size: 20px;
                            margin-bottom: 20px;
                            text-align: justify;
                            @media (max-width: @screen-md-max) {
                                font-size: 16px;
                            }
                            @media (max-width: @screen-sm-max) {
                                font-size: 14px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .btn-primary{
        h2{
            padding: 5px 10px;
            margin: 0;
            @media (max-width: @screen-md-max) {
                font-size: 26px;
            }
            @media (max-width: @screen-sm-max) {
                font-size: 24px;
            }
            @media (max-width: @screen-xs-max) {
                font-size: 16px;
            }
        }
    }
    @media (max-width: @screen-xs-max){
        .home-header{
            height: 30vh;
        }
    }

    .home-content{
        margin: 0 6vw;
        .section-title{
            margin: 30px 20px 0px 20px;
            @media (max-width: @screen-xs-max) {
                    margin: 10px 0px;
            }
            h1{
                font-size: 44px;
                font-weight: bold;
                color: #fcfbf5;
                @media (max-width: @screen-xs-max) {
                    font-size: 20px;
                }
            }
            .watch-more{
                float: right;
                text-align: right;
                a{
                    color: #ebec30;
                    h2{
                        @media (max-width: @screen-xs-max) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .row-title {
            margin-left: 40px;
            font-size: 32px;
            color: white;
            margin-top: 10px;
            @media (max-width: @screen-xs-max) {
                font-size: 18px;
                margin-left: 10px;
            }
        }

        .carousel-videos{
            background-image: linear-gradient(to bottom, rgba(246, 247, 93, 0.25), rgba(234, 236, 47, 0.25));
            margin-top:10px;
            margin-bottom: 20px;
            border-top: 15px solid #ebed2f;
            position: relative;
            &.my-list{
                background-image: none;
                background-color: rgba(171, 18, 23, 0.25);
                border-top: 15px solid #ab1217;
            }

            &::before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 100%;
                background-color: #343031;
                width: 370px;
                z-index: 1;

            }

            &::after{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 100%;
                background-color: #343031;
                width: 370px;
                z-index: 1;
            }
        }

        .live-channels{
            margin: 10px 35px 20px 35px;
            transition-delay: 0ms;
            transition: 1s ease;
            -webkit-transition: 1s ease;
            height: 12vh;
            overflow: hidden;
            @media (max-width: @screen-xs-max) {
                height: 16vh;
            }
            .channels-top{
                display: -webkit-flex;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                background-color: rgba(252,251,245,0.1);
                .channels{
                    width: 14.285%;
                    // background-color: rgba(252,251,245,0.1);
                    border: 2px solid #231f20;
                    height: 12vh;
                    padding: 16px;
                    @media (max-width: @screen-xs-max) {
                        width: 25%;
                        border-top: none;
                        padding: 5px;
                        height: 8vh;
                    }
                    .channel{
                        cursor: pointer;
                        text-align: center;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            &.move-down{
                height: ~"calc(75vh + 10px)";
                @media (max-width: @screen-lg-min) {
                    height: ~"calc(85vh + 20px)";;
                }
            }
            .more-channels{
                position: relative;
                width: 100%;
                .select-channels{
                    width: 100%;
                    background-color: rgba(252,251,245,0.1);
                    padding: 1vw;
                    text-align: center;
                    // margin: 0 2px 2px 2px;
                    h1{
                        font-size: 34px;
                        color: #fcfbf5;
                        margin: auto;
                        padding: 1vw;
                        @media (max-width: @screen-xs-max) {
                            font-size: 16px;
                        }
                    }
                }
                .arrow-up{
                    background-color: rgba(252,251,245,0.1);
                    width: 100%;
                    margin: auto;
                    height: 5vh;
                    padding-top: 10px;
                    .icon{
                        margin: auto;
                        cursor: pointer;
                    }
                }
                .channels-bottom{
                    overflow: hidden;
                    @media (max-width: @screen-xs-max) {
                        overflow-x: scroll;
                        -webkit-overflow-scrolling: touch;
                    }
                    .all-channels{
                        display: flex;
                        flex-wrap: wrap;
                        align-content: flex-start;
                        width: 200%;
                        position: relative;
                        left: 0;
                        transition: 1s ease;
                        &.move-left{
                            left: -100%;
                        }
                        .channels{
                            background-color: rgba(252,251,245,0.1);
                            border: 2px solid #231f20;
                            width: 7.1425%;
                            padding: 8px;
                            @media (max-width: @screen-xs-max) {
                                width: 12.5%;
                                padding: 2px;
                            }
                            .channel{
                                background-position: center;
                                background-size: contain;
                                background-repeat: no-repeat;
                                padding-bottom: 33%;
                            }
                        }
                        .name {
                            color: #fcfbf5;
                            font-size: 18px;
                            padding: 5px;
                            text-align: center;
                            @media (max-width: @screen-xs-max) {
                                font-size: 10px;
                            }
                        }
                    }
                }
                &:hover {
                    .arrow-right, .arrow-left {
                        opacity: 0.5;
                    }
                }
                .arrow-right {
                    z-index: 2;
                    position: absolute;
                    height: ~"calc(100% - 5vh - 2px)";
                    width: 2.5%;
                    right: 0;
                    top: 0;
                    opacity: 1;
                    transition: 0.5s ease;
                    background-color: rgba(252, 251, 245, 0.1);
                    .icon-right-channel {
                        cursor: pointer;
                        position: absolute;
                        right: 8px;
                        z-index: 1;
                        top: ~"calc(50% - 30px)";
                    }
                }
                 .arrow-left {
                    z-index: 2;
                     position: absolute;
                     height: ~"calc(100% - 5vh - 2px)";
                     width: 2.5%;
                     left: 0;
                     top: 0;
                     opacity: 1;
                     transition: 0.5s ease;
                     background-color: rgba(252, 251, 245, 0.1);
                    .icon-left-channel {
                        cursor: pointer;
                        top: ~"calc(50% - 30px)";
                        position: absolute;
                        left: 8px;
                        z-index: 1;
                    }
                }
            }
        }
        .arrow{
            width: 12vw;
            margin: auto;
            cursor: pointer;
            .icon{
                margin: auto;
            }
        }

        .peliculas{
            .video{
                background-position: center;
                background-size: cover;
                padding-bottom: ~"calc(153% - 45px)";
                margin-bottom: 30px;
                transition: 0.5s;

                &:hover{
                    transform: scale(1.1);
                    z-index: 1;
                }

                .subscribe , .free , .member{
                    font-size: 24px;
                    text-align: center;
                    padding: 5px 40px;
                    color: white;

                }

                .subscribe{
                    background-color: #ff1c63;
                }

                .free {
                    background-color: #038d7f;
                }

                .member {
                    background-color: #a10c99;
                }
            }
        }
    }
}
