.stitches-icon(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}

.icon {
    background-image: url(/assets/theme/ped/images/sprite6.png);    background-repeat: no-repeat;
    display: block;

    &.icon-arrow-left-32x83 {
        .stitches-icon(-3px, -3px, 44px, 94px);
    }

    &.icon-arrow-right-32x83 {
        .stitches-icon(-53px, -3px, 44px, 95px);
    }

    &.icon-channel_down-20x14 {
        .stitches-icon(-103px, -3px, 20px, 14px);
    }

    &.icon-channel_left-14x20 {
        .stitches-icon(-129px, -3px, 14px, 20px);
    }

    &.icon-channel_right14x20 {
        .stitches-icon(-149px, -3px, 14px, 20px);
    }

    &.icon-channel_up-20x14 {
        .stitches-icon(-169px, -3px, 20px, 14px);
    }

    &.icon-clipboard-17x18 {
        .stitches-icon(-195px, -3px, 17px, 18px);
    }

    &.icon-epg-down-16x10 {
        .stitches-icon(-218px, -3px, 16px, 10px);
    }

    &.icon-epg-up-16x10 {
        .stitches-icon(-240px, -3px, 16px, 10px);
    }

    &.icon-facebook-circle-29x29 {
        .stitches-icon(-262px, -3px, 29px, 29px);
    }

    &.icon-instagram-circle-29x29 {
        .stitches-icon(-103px, -38px, 29px, 29px);
    }

    &.icon-linkedin-circle-29x29 {
        .stitches-icon(-138px, -38px, 30px, 29px);
    }

    &.icon-lock-15x20 {
        .stitches-icon(-297px, -3px, 15px, 20px);
    }

    &.icon-lock-15x20-blue {
        .stitches-icon(-174px, -29px, 15px, 20px);
    }

    &.icon-logo-ped {
        .stitches-icon(-103px, -73px, 176px, 133px);
    }

    &.icon-logo-ped-120x92 {
        .stitches-icon(-3px, -212px, 120px, 92px);
    }

    &.icon-medal-13x13 {
        .stitches-icon(-195px, -29px, 13px, 19px);
    }

    &.icon-play-circle-164x164 {
        .stitches-icon(-318px, -3px, 186px, 186px);
    }

    &.icon-play-circle-43x43 {
        .stitches-icon(-285px, -195px, 61px, 61px);
    }

    &.icon-twitter-circle-29x29 {
        .stitches-icon(-352px, -195px, 30px, 29px);
    }

    &.icon-user-20x20 {
        .stitches-icon(-388px, -195px, 20px, 20px);
    }

    &.icon-user-20x20-blue {
        .stitches-icon(-414px, -195px, 20px, 20px);
    }

    &.icon-youtube-circle-29x29 {
        .stitches-icon(-440px, -195px, 29px, 29px);
    }
}
