.karaoke-genre-page{
    color: white;
    .page-header{
        font-size: 48px;
        border:0;

        .search{
            font-size: 36px;
            padding: 8px 0;
            #search-box{
                height: 45px;
                background: none;
                border: 2px solid #40a20b;
                padding-left: 50px;
                outline: 0;
            }

            .fa-search{
                color: #40a20b;
                position: absolute;
                top: 11px;
                left: 10px;
            }
        }
    }
    .page-content{
        .player-wrapper{
            background-color: rgba(252, 251, 245, 0.2);
            padding: 40px;
            margin-bottom: 30px;

            .player{
                .video-info{
                    .social{
                        font-weight: bold;
                        font-size: 40px;


                        span{
                            display: inline-block;
                            transform: scale(0.7);
                            vertical-align: middle;
                        }
                    }

                    .title{
                        font-size: 36px;
                        font-weight: bold;
                    }
                }
            }

            .songs{
                height: 60vw;
                overflow-y: scroll;

                @media (min-width: 768px){
            		height: 50vw;
            	}

            	@media (min-width: 992px){
            	    height: 29.3vw;
            	}

            	@media (min-width: 1200px){
            	    height: 28vw;
            	}

            	@media (min-width: 1400px){
            	    height: 27.5vw;
            	}
                .song{
                    font-size: 20px;
                    color: #fcfbf5;
                    padding: 10px 12px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    background: rgba(35,31,32,0.4);
                    border: 2px solid rgba(252,251,245,0.2);
                    font-weight: 200;

                    &:hover{
                        background-color: rgba(63, 162, 10, 0.5);
                        border-color: rgba(255,255,255,0.44);
                    }
                }
            }

            .next{
                padding: 10px 0;
                .next-btn{
                    background-color: #40a20b;
                    border-radius: 4px;
                    padding: 3px 10px;
                    font-size: 20px;
                }
            }
        }

        .carousel-holder{
            .title{
                font-size: 36px;
            }
            .carousel{
                border-top: 10px solid #40a20b;
                background-image: rgba(63, 162, 10, 0.3);
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 100%;
                    width: 400px;
                    background-color: #343031;
                    z-index: 1;

                }

                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 100%;
                    width: 400px;
                    background-color: #343031;
                    z-index: 1;

                }
            }
        }

        .albums-wrapper{
            font-size: 36px;
            margin-bottom: 50px;

            .playlists{
                border-top: 10px solid #40a20b;
                background-color: rgba(63, 162, 10, 0.3);
                padding: 30px;
                .playlist{
                    background-position: center;
                    background-size: cover;
                    padding-top: ~"calc(100% - 45px)";
                    margin-bottom: 30px;
                    transition: 0.5s;

                    &:hover{
                        transform: scale(1.25);
                        z-index: 1;
                    }

                    .title{
                        background: rgba(0,0,0,0.6);
                        padding: 5px 15px;
                        font-size: 17px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        .filter{
            font-size: 36px;
            margin-bottom: 15px;

            .title{

            }

        }

    }
}
