.login-page {
    color: white;
    text-align: center;
    .login-container {
        padding-top: 60px;
        width: 380px;
        margin: auto;
        .login-header {
            font-size: 48px;
            margin-bottom: 60px;
            color: #df1b0f;
            font-weight: bold;
        }
        .fb-login-btn {
            background-color: #3a5897;
            border-radius: 3px;
            width: 100%;
            padding: 10px;
            font-size: 20px;
            margin-bottom: 40px;
            cursor: pointer;

            span{
                margin-top: -9px;
                font-size: 30px;
                border-right: 1px solid white;
                height: 46px;
                padding: 8px 13px 0 3px;
            }
        }
        .line {
            height: 2px;
            text-align: center;
            border-bottom: 1px solid white;
            line-height: 0.1em;
            margin: 10px 0 20px;
           span {
               font-size: 40px;
                background: #231f20;
                padding: 0 10px;
                color: #df1b0f;
           }
        }
        .login-email {
            border-bottom: 1px solid white;
            margin-top: 20px;
            .credentials-span {
                margin-bottom: 40px;
                color: #ab1217;
                font-size: 20px;
            }

            .register-label {
                font-size: 25px;
                float: left;
                color: #fcfbf5;
                margin-bottom: 5px;
            }
            .register-input {
                width: 100%;
                background-color: transparent;
                border: 1px solid #df1b0f;
                margin-bottom: 20px;
                font-size: 18px;
                padding: 7px;
            }
            .check-span {
                font-size: 18px;
            }

            .login-error {
                background-color: red;
                border-radius: 10px;
                margin: 20px 0;
                line-height: 30px;
                font-size: 18px;
                padding: 5px;
            }
            .login-btn {
                margin-top: 60px;
                margin-bottom: 40px;
                border-radius: 3px;
                background-color: white;
                font-size: 30px;
                padding: 8px;
                cursor: pointer;
                color: #ab1217;
                font-weight: bold;
            }
            .forgot-span {
                margin-bottom: 30px;
                font-size: 18px;
                .click-span {
                    cursor: pointer;
                    color: #ab1217;
                }
            }
        }
        .create-account {
            padding-top: 30px;
            padding-bottom: 80px;
            .create-span {
                font-size: 18px;
            }
            .create-btn {
                cursor: pointer;
                margin-top: 40px;
                border: 2px solid #ab1217;
                border-radius: 3px;
                color: orange;
                font-size: 24px;
                padding: 12px;
                color: #ab1217;
            }
        }
    }
}
