.lottery-page{
    color: white;
    .content-title{
        border-bottom: 2px solid #003f4d;
        font-size: 28px;
        padding: 20px 0;
    }

    .lottery-form{
        padding-top: 40px;

        .form{
            margin:40px 0;

            label{
                font-weight: normal;
            }

            .check-box{
                width: 15px;
                 height: 15px;
                 border: 1px solid white;
                 display: inline-block;
                 margin-right: 10px;

                 .fa{
                     display: none;
                 }

                 &.checked .fa{
                     display: inline-block;;
                 }
            }

            .form-control{
                background: none;
                color: white;
            }

            .button {
                font-size: 16px;
                outline: 0;
                border: 1px solid white;
                width: 90%;
            }

            .white{
                background: white;
                color: #00353f;
            }

        }
    }

    .lottery-right{
        background: #003f4d;
       border-radius: 0 0px 100px 100px;
       padding: 130px 60px 50px;

       .lottery-img {
            max-width: 90%;
        }

       .lottery-text{
           font-size: 20px;
            line-height: 30px;
            letter-spacing: 1.7px;
            margin-top: 20px;
       }


    }


}
