.programas-page{

    color: white;
    .page-header{
        font-size: 48px;
        border:0;
    }
    .page-content{
        .filter{
            font-size: 36px;
            margin-bottom: 15px;

            .categories{
                .category{
                    display: inline-block;
                    margin-right: 30px;
                    padding: 15px 2px;
                    font-size: 27px;

                    &.selected, &:hover{
                        border-radius: 10px;
                        border-bottom: 10px solid #ebed2f;
                        padding-bottom: 5px;
                    }
                }
            }
            .search{
                padding: 8px 0;
                #search-box{
                    height: 45px;
                    background: none;
                    border: 2px solid #ebed2f;
                    padding-left: 50px;
                    outline: 0;
                }

                .fa-search{
                    color: #ebed2f;
                    position: absolute;
                    top: 11px;
                    left: 10px;
                }
            }
        }
        .videos{
            .video{
                background-position: center;
                background-size: cover;
                padding-top: 100%;
                margin-bottom: 30px;
                transition: 0.5s;

                &:hover{
                    transform: scale(1.1);
                    z-index: 1;
                }

                .info{
                    background: rgba(35,31,32,0.5);
                    background: -moz-linear-gradient(top, rgba(35,31,32,0.5) 0%, rgba(186,186,44,0.7) 100%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(35,31,32,0.5)), color-stop(100%, rgba(186,186,44,0.7)));
                    background: -webkit-linear-gradient(top, rgba(35,31,32,0.5) 0%, rgba(186,186,44,0.7) 100%);
                    background: -o-linear-gradient(top, rgba(35,31,32,0.5) 0%, rgba(186,186,44,0.7) 100%);
                    background: -ms-linear-gradient(top, rgba(35,31,32,0.5) 0%, rgba(186,186,44,0.7) 100%);
                    background: linear-gradient(to bottom, rgba(35,31,32,0.5) 0%, rgba(186,186,44,0.7) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231f20', endColorstr='#baba2c', GradientType=0 );
                    padding: 20px;
                    height: 160px;
                    overflow: hidden;
                    .title{
                        font-size: 30px;
                    }
                    .desc{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
