.search-page{
    color:white;
    .search-header{

    }
    .results{
        margin-top:40px;
        padding: 0;

        .result{
            padding: 15px;
            transition: 1s;

            &:hover{
                transform: scale(1.4);
                z-index: 1;

                .vid-img{
                    box-shadow: 0 0 50px black;
                }

            }

            .result-img{
                width: 100%;
                transition: 1s;
            }

            .result-info{
                bottom: 15px;
                left:15px;
                right: 15px;
                line-height: 25px;
                background-color: rgba(255,255,255,0.5 );
                font-size: 20px;
                padding-left: 15px;
                color: #00353f;
                padding-left: 15px;

                .result-date{
                    font-size: 14px;
                    color: #4a4a4a;
                }

            }

            .result-play {
                top: 30%;
                left: 40%;
            }
        }

    }
    .more{
        height: 40px;
        margin-top: 28px;
        font-size: 28px;
        color: white;
        .arrow-down {
            width: 0px;
            height: 0px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #fff;
            display: inline-block;
            margin: 2px;
        }
    }
}
