.season-page{
    color: white;
    .page-nav{
        font-size: 36px;
        margin-bottom: 15px;
        .search{
            font-size: 35px;
            padding: 8px 0;
            #search-box{
                height: 45px;
                background: none;
                border: 2px solid #ebed2f;
                padding-left: 50px;
                outline: 0;
            }

            .fa-search{
                color: #ebed2f;
                position: absolute;
                top: 11px;
                left: 10px;
            }
        }
    }
    .video-holder{
        border-top: 10px solid #ebed2f;
        background-image: linear-gradient(to top, rgba(235, 236, 48, 0) 15%, rgba(235, 236, 48, 0.5));
        padding: 40px;
        .title{
            padding: 10px 0;
            font-size: 26px;
        }
        .video-player{
            width: 100%;
            margin: 30px 0px;
        }

        .video-info{
            padding: 10px 15%;
            font-size: 26px;
            .video-social{
                font-weight: bold;
                font-size: 40px;


                span{
                    display: inline-block;
                    transform: scale(0.7);
                    vertical-align: middle;
                }
            }

            .watch-list{
                font-size: 36px;
                font-weight: bold;
                display: inline-block;
            }

            .video-desc{
                font-size: 21px;
                padding: 12px;
            }
        }

    }

    .carousel-holder{
        border-top:10px solid #ebed2f;
        .carousel{
            position: relative;
            background-image: linear-gradient(to bottom, rgba(235, 236, 48, 0.25), rgba(235, 236, 48, 0.25));
            margin-bottom: 90px;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: ~"calc(100% - 20px)";
                width: 400px;
                background-color: #231f20;
                z-index: 1;

            }

            &::after{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: ~"calc(100% - 20px)";
                width: 400px;
                background-color: #231f20;
                z-index: 1;

            }
        }
    }
}
