.clix-education-modal {
    .education-modal-message {
        padding: 37px 116px;
        background-color: @color-medium-gray4;
        font-size: 14px;
        color: @color-white;
        text-transform: uppercase;
        font-family: @font-primary;
        line-height: 22px;
        letter-spacing: 1.7px;
        text-align: center;
        position: relative;
    }

    .education-modal-icon {
        position: absolute;
        top: -21px;
        left: 50%;
        margin-left: -21px;
    }

    .education-modal-footer {
        padding: 50px 20px;
        border-top: 1px solid @color-gray3;
    }

    .buttons-container {
        text-align: right;
    }

    .left-button-container,
    .right-button-container {
        display: inline-block;
    }
}