<clix-modal modal-title="{{title}}">
    <div ng-if="!ready">
        <clix-loader size="small"></clix-loader>
    </div>
    <div ng-if="ready" class="clix-education-modal">
        <div class="education-modal-message" ng-switch="type">

            <div ng-switch-when="watchlist">
                <clix-is-logged-in>
                    <logged-in>
                        This video has been saved to your watchlist, available in your "My ClixTV" section.
                    </logged-in>
                    <not-logged-in>
                        You need to sign up for a free ClixTV account to be able to save a video to your watchlist.
                    </not-logged-in>
                </clix-is-logged-in>
            </div>

            <div ng-switch-when="brand">
                <clix-is-logged-in>
                    <logged-in>
                        This brand has been saved to your favorites, available in your "My ClixTV" section.
                    </logged-in>
                    <not-logged-in>
                        You need to sign up for a free ClixTV account to be able to save to your favorites.
                    </not-logged-in>
                </clix-is-logged-in>
            </div>

            <div ng-switch-when="charity">
                <clix-is-logged-in>
                    <logged-in>
                        This charity has been saved to your favorites, available in your "My ClixTV" section.
                    </logged-in>
                    <not-logged-in>
                        You need to sign up for a free ClixTV account to be able to save to your favorites.
                    </not-logged-in>
                </clix-is-logged-in>
            </div>

            <div ng-switch-when="category">
                <clix-is-logged-in>
                    <logged-in>
                        This category has been saved to your favorites, available in your "My ClixTV" section.
                    </logged-in>
                    <not-logged-in>
                        You need to sign up for a free ClixTV account to be able to save to your favorites.
                    </not-logged-in>
                </clix-is-logged-in>
            </div>

            <div ng-switch-when="celebrity">
                <clix-is-logged-in>
                    <logged-in>
                        This star has been saved to your favorites, available in your "My ClixTV" section.
                    </logged-in>
                    <not-logged-in>
                        You need to sign up for a free ClixTV account to be able to save to your favorites.
                    </not-logged-in>
                </clix-is-logged-in>
            </div>

            <div ng-switch-when="offer">
                <clix-is-logged-in>
                    <logged-in>
                        <div class="education-modal-icon" clix-trophy-indicator-icon></div>
                        Congratulations! You've just received 50 reward points!<br /><br />This offer has been saved to your offers, available in your "My ClixTV" section.
                    </logged-in>
                    <not-logged-in>
                        <div class="education-modal-icon" clix-error-indicator-icon></div>
                        You missed out on 100 reward points! To earn rewards for watching, saving, clicking and sharing, sign up for a free ClixTV account!
                    </not-logged-in>
                </clix-is-logged-in>
            </div>

        </div>
        <div class="row education-modal-footer">

            <div class="col-sm-5">
                <clix-checkbox label-text="Don't show this type again"></clix-checkbox>
            </div>
            <div class="col-sm-7 buttons-container">
                <div class="left-button-container">
                    <clix-secondary-button alternate="true">
                        Got it!
                    </clix-secondary-button>
                </div>
                <div class="right-button-container">
                    <clix-is-logged-in>
                        <logged-in>
                            <div ng-switch="type">
                                <div ng-switch-when="watchlist">
                                    <clix-primary-button ui-sref="account({ section: 'watchlist' })" ng-click="onCloseButtonPress()">
                                        Go to my Watchlist
                                    </clix-primary-button>
                                </div>
                                <div ng-switch-when="brand">
                                    <clix-primary-button ui-sref="account({ section: 'favorites', tab: 'brand' })" ng-click="onCloseButtonPress()">
                                        Go to my Favorites
                                    </clix-primary-button>
                                </div>
                                <div ng-switch-when="charity">
                                    <clix-primary-button ui-sref="account({ section: 'favorites', tab: 'charity' })" ng-click="onCloseButtonPress()">
                                        Go to my Favorites
                                    </clix-primary-button>
                                </div>
                                <div ng-switch-when="category">
                                    <clix-primary-button ui-sref="account({ section: 'favorites', tab: 'category' })" ng-click="onCloseButtonPress()">
                                        Go to my Favorites
                                    </clix-primary-button>
                                </div>
                                <div ng-switch-when="celebrity">
                                    <clix-primary-button ui-sref="account({ section: 'favorites', tab: 'star' })" ng-click="onCloseButtonPress()">
                                        Go to my Favorites
                                    </clix-primary-button>
                                </div>
                                <div ng-switch-when="offer">
                                    <clix-primary-button ui-sref="account({ section: 'saved-offers' })" ng-click="onCloseButtonPress()">
                                        Go to my Saved Offers
                                    </clix-primary-button>
                                </div>
                            </div>
                        </logged-in>
                    </clix-is-logged-in>
                </div>
            </div>

        </div>

    </div>
</clix-modal>