@-webkit-keyframes infinite-spinning {
    from {
        .transform(rotate(0deg));
    }
    to {
        .transform(rotate(360deg));
    }
}

.clix-loader {
    .flex-display;
    .flex(1);
    .align-items(center);
    .justify-content(center);
    text-align: center;
    
    .loader-icon {
        .animation(infinite-spinning, 1s, infinite, linear);
        margin: 0 auto;
        background-image: url('/assets/theme/clixtv/dist/images/clix-spinner.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        
        &.loader-small {
            width: 75px;
            height: 75px;
            margin: 75px 0;
        }

        &.loader-medium {
            width: 150px;
            height: 150px;
            margin: 50px 0;
        }

        &.loader-large {
            width: 20%;
            padding-bottom: 20%;
            max-width: 500px;
            margin: 200px 0;

            @media (min-width: @screen-sm) {
                max-width: 200px;
            }
        }
    }
    
}