<!-- <div class="account-page" >
    <div class="account-header">
        <div class="container">
            <div class="page-title">Subscription</div>
            <div class="navigation">
                <div ng-click="shownView='overview'" class="nav-item hand {{shownView=='overview'?'active':''}}">Overview</div>
                <div ng-click="shownView='billing'" class="nav-item hand {{shownView=='billing'?'active':''}}">Billing Information</div>
                <div ng-click="shownView='subscription'" class="nav-item hand {{shownView=='subscription'?'active':''}}">Subscription</div>
            </div>
        </div>
    </div>
    <div ng-switch="shownView">
        <div ng-switch-when="overview">
            <div class="account-info container">
                <div class="row">
                    <div class="col-sm-3 left-user">
                        <div class="user-image" style="background-image: url('{{user.avatar?user.avatar:'/assets/theme/ped/images/profile.png'}}'); ">

                        </div>
                        <div class="edit-btn" ng-if="editing">
                            Change
                        </div>
                    </div>
                    <div class="col-sm-8 right-user">
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-1">
                                <div class="single-field">
                                    <div class="field-header">
                                        First Name
                                    </div>
                                    <div class="field-input" ng-if="!editing">
                                        {{user.firstName}}
                                    </div>
                                    <input class="account-input" type="text" ng-model="user.firstName" ng-if="editing">
                                </div>
                                <div class="single-field">
                                    <div class="field-header">
                                        Email
                                    </div>
                                    <div class="field-input" >
                                        {{user.email}}
                                    </div>
                                <!--    <input class="account-input" type="text" ng-model="user.email" ng-if="editing"> -->
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="single-field">
                                    <div class="field-header">
                                        Last Name
                                    </div>
                                    <div class="field-input" ng-if="!editing">
                                        {{user.lastName}}
                                    </div>
                                    <input class="account-input" type="text" ng-model="user.lastName" ng-if="editing">
                                </div>
                                <div class="single-field">
                                    <div class="field-header">
                                        Date of Birth
                                    </div>
                                    <div class="field-input" ng-if="!editing">
                                        {{user.birthdate | date: dd/MM/yyyy}}
                                    </div>
                                    <input class="account-input" type="date" ng-model="user.birthdate"  ng-if="editing">
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="single-field">
                                    <div class="field-header">
                                        Address
                                    </div>
                                    <div class="field-input" ng-if="!editing">
                                        {{user.city}}
                                    </div>
                                    <input class="account-input" type="text" ng-model="user.city" ng-if="editing">
                                </div>
                                <div class="single-field">
                                    <div class="field-header">
                                        Phone
                                    </div>
                                    <div class="field-input" ng-if="!editing">
                                        {{user.addressLine1}}
                                    </div>
                                    <input class="account-input" type="text" ng-model="user.addressLine1" ng-if="editing">
                                </div>
                                <div class="edit-btn" ng-click="enableEdit()">
                                    <span ng-if="!editing">EDIT</span>
                                    <span ng-if="editing">SAVE</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="billing">
            <div class="account-info container">
                <div class="row">
                    <div class="col-sm-8 right-user">
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-1">
                                <div class="single-field">
                                    <div class="field-header">
                                        Card Type
                                    </div>
                                    <div class="field-input" ng-if="!editing">
                                        {{user.cardType}}
                                    </div>
                                    <select class="account-input" ng-model="user.cardType" ng-if="editing">
                                        <option value="visa">Visa</option>
                                        <option value="mastercard">Master Card</option>
                                        <option value="amex">Amex</option>
                                    </select>
                                </div>
                                <div class="single-field">
                                    <div class="field-header">
                                        Card Number
                                    </div>
                                    <div class="field-input" ng-if="!editing">
                                        {{user.cardNumber}}
                                    </div>
                                    <input class="account-input" type="text" ng-model="user.cardNumber" ng-if="editing">
                                </div>
                                <div class="single-field">
                                    <div class="field-header">
                                        CVV
                                    </div>
                                    <div class="field-input" ng-if="!editing">
                                        {{user.cvv}}
                                    </div>
                                    <input class="account-input" type="text" ng-model="user.cvv" ng-if="editing">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="single-field">
                                    <div class="field-header">
                                        Card Holder Name
                                    </div>
                                    <div class="field-input" ng-if="!editing">
                                        {{user.cardHolderName}}
                                    </div>
                                    <input class="account-input" type="text" ng-model="user.cardHolderName" ng-if="editing">
                                </div>
                                <div class="single-field">
                                    <div class="field-header">
                                        Expiration Date
                                    </div>
                                    <div class="field-input" ng-if="!editing">
                                        {{user.expirationDateMonth}} / {{user.expirationDateYear}}
                                    </div>
                                    <select class="account-input" style="width:49%;" ng-model="user.expirationDateMonth" value="{{user.expirationDateMonthMonth}}"  ng-if="editing">
                                        <option value=''>Month</option>
                                        <option value='01'>January</option>
                                        <option value='02'>February</option>
                                        <option value='03'>March</option>
                                        <option value='04'>April</option>
                                        <option value='05'>May</option>
                                        <option value='06'>June</option>
                                        <option value='07'>July</option>
                                        <option value='08'>August</option>
                                        <option value='09'>September</option>
                                        <option value='10'>October</option>
                                        <option value='11'>November</option>
                                        <option value='12'>December</option>
                                    </select>
                                    <select class="account-input" style="width:49%;" ng-model="user.expirationDateYear" value="{{user.expirationDateMonthYear}}"  ng-if="editing">
                                        <option value=''>Year</option>
                                        <option value='2016'>2016</option>
                                        <option value='2017'>2017</option>
                                        <option value='2018'>2018</option>
                                        <option value='2019'>2019</option>
                                        <option value='2020'>2020</option>
                                        <option value='2021'>2021</option>
                                        <option value='2022'>2022</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-xs-10 col-xs-offset-1">

                                <div class="edit-btn" ng-click="enableEdit()">
                                    <span ng-if="!editing">EDIT</span>
                                    <span ng-if="editing">SAVE</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="subscription">
            <div class="account-info container">
                <div class="container">
                    <div class="row plans">
                        <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="plan in plans | filter:display | limitTo:4">
                            <div class="plan">
                                <div class="plan-title">{{plan.billingSchedule[0].duration}} Month{{plan.billingSchedule[0].duration>1?'s':''}}</div>
                                <div class="plan-price">${{plan.billingSchedule[0].amount}}</div>
                                <div class="plan-duration">{{plan.billingSchedule[0].duration==1?'Per':'Each'}} {{plan.billingSchedule[0].duration>1?plan.billingSchedule[0].duration+' ':''}}Month{{plan.billingSchedule[0].duration>1?'s':''}}</div>
                                <input type="button" class="buy" value="Buy Now" ng-click="buyPlan(plan._id)" />
                            </div>
                        </div>

                    </div>
                    <div class="row details">
                        <div class="col-xs-12">Access to 7 Live Channels (4 TV +3 Radio)</div>
                        <div class="col-xs-12">Unrestricted access to our VOD Catalogue</div>
                        <div class="col-xs-12">You can watch 3 screens simultaneously</div>
                        <div class="col-xs-12">Watch on your computer phone or tablet</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
