<div class="footer-page" ng-controller="footerController">
    <div class="back-top" ng-click="returnTop()">
        Volver Arriba
    </div>
    <div class="container">
        <div class="col-sm-15">
            <div class="links-header">
                QUÉ VER
            </div>
            <div class="single-link" ng-click="go('Canales Premium')">
                Canales
            </div>
            <div class="single-link">
                Deportes en Vivo
            </div>
            <div class="single-link" ng-click="go('Programas')">
                Programas
            </div>
            <div class="single-link">
                Noticias
            </div>
            <div class="single-link">
                Niños
            </div>
        </div>
        <div class="col-sm-15">
            <div class="links-header">
                PROMOCIONES
            </div>
            <div class="single-link">
                Aplicar Código de Promoción
            </div>
            <div class="single-link">
                Descuentos en Dispositivos
            </div>
            <div class="single-link">
                Regale VIVE
            </div>
        </div>
        <div class="col-sm-15">
            <div class="links-header">
                APLICACIONES
            </div>
            <div class="single-link">
                iOS
            </div>
            <div class="single-link">
                ROKU
            </div>
            <div class="single-link">
                Android
            </div>
        </div>
        <div class="col-sm-15">
            <div class="links-header">
                AYUDA
            </div>
            <div class="single-link">
                Chat
            </div>
            <div class="single-link">
                Ticket
            </div>
            <div class="single-link">
                Preguntas Frecuentes
            </div>
        </div>
        <div class="col-sm-15">
            <div class="links-header">
                Conozca VIVE
            </div>
            <div class="single-link">
                Quienes somos
            </div>
            <div class="single-link">
                Nuestra historia
            </div>
            <div class="single-link">
                Preguntas Terminos de Uso
            </div>
            <div class="single-link">
                Polizas de Privacidad
            </div>
        </div>

    </div>

    <div class="logo" ng-click="go('')">
        <img src="/assets/theme/vtt/images/logo.png" alt="">
    </div>
</div>
