<div class="header" ng-controller="headerController">
    <nav class="navbar ">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only" >Toggle navigation</span>
            <span class="icon-bar" ></span>
            <span class="icon-bar" ></span>
            <span class="icon-bar" ></span>
          </button>
          <a class="navbar-brand" href="#">
              <img src="/assets/theme/vtt/images/logo.png" alt="">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav left-nav" >
            <li class="hand" ng-repeat="item in menu" >
                <a ng-click="go('/'+item.title)">{{item.title}}</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="signin-div logged-out" ng-show="!isLoggedIn()">
                  <div class="logged-out">
                      <div class="singin-btn hand"  ng-click="go('/account')">
                          Mi Cuenta
                      </div>
                  </div>
              </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</div>

<!-- <div class="modal loginModal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" ng-controller="headerController">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close pa" style="right:15px; top: 15px;" data-dismiss="modal" aria-label="Close"><span class="icon icon-x-white-20x19"></span></button>
            <div ng-hide="showRegister">
                <div class="modal-header">
                    LOGIN
                </div>
                <div class="modal-body">
                <div class="login-buttons">
                    <div class="login-button facebook" ng-click="socialLogin()" onclick="window.open('/hauth/login/Facebook','fb','left=20,top=20,width=500,height=400,toolbar=1,resizable=0')">
                        Login with Facebook
                        <span class="icon icon-facebook-logo-29x29 flr"></span>
                    </div>
                    <div class="login-button twitter" ng-click="socialLogin()"  onclick="window.open('/hauth/login/Twitter','twitter','left=20,top=20,width=500,height=400,toolbar=1,resizable=0')">
                        Login with Twitter
                        <span class="icon icon-twitter-logo-34x27 flr"></span>
                    </div>
                    <div class="login-button google"  ng-click="socialLogin()" onclick="window.open('/hauth/login/Google','google','left=20,top=20,width=500,height=400,toolbar=1,resizable=0')">
                        Login with Google
                        <span class="icon icon-google-logo-30x31 flr"></span>
                    </div>
                </div>
                <div class="other-span">
                    or </br>
                    Enter your credentials
                </div>
                <div class="credentials-login"><form>
                    <input type="email" name="email" ng-model="userRegister.email" placeholder="Email" required>
                    <input type="password" name="password" ng-model="userRegister.password" placeholder="Password" required>
                    <div class="remember-me">
                        <input type="checkbox" name="remember-me" ng-model="userRegister.rememberMe" style="width:20px;" /><label for="remember-me">Remember Me</label>
                    </div>
                    <div class="login-error" ng-show="loginError">{{loginError}}<img class="error-triangle" src="/assets/theme/ped/images/red-triangle.png" /></div>
                    <input type="submit" class="login-btn" ng-click="loginUser()" value="LOGIN"></form>
                </div>

                <div class="forgot-register">
                    <div class="">
                        Forget your password?
                    </div>
                    <div class="not-reg">
                        Not registered? <span style="cursor:pointer;"> <a ng-click="showRegister=true">Create your account</a></span>
                    </div>
                </div>
            </div>
            </div>
            <div ng-show="showRegister">
                <div class="modal-header">Register</div>
                <div class="modal-body">
                    <div class="credentials-login"><form>
                        <input type="text" name="first-name" ng-model="userRegister.first_name" placeholder="First Name" required>
                        <input type="text" name="last-name" ng-model="userRegister.last_name" placeholder="Last Name" required>
                        <input type="email" name="email" ng-model="userRegister.email" placeholder="Email" required>
                        <input type="password" name="password" ng-model="userRegister.password" placeholder="Password" required>
                        <input type="password" name="confirm-password" ng-model="userRegister.confirmPassword" placeholder="Confirm Password" required>
                        <div class="register-error" ng-show="registerError">{{registerError}}<img class="error-triangle" src="/assets/theme/ped/images/red-triangle.png" /></div>
                        <input type="submit" class="login-btn" ng-click="registerUser()" value="REGISTER"></form>
                        <label>We’ll send a verification link to the email address you used to create the account. </label>
                    </div>
                    <div class="forgot-register">
                        <div class="not-reg">
                            Have an Account? <span style="cursor:pointer;"> <a ng-click="showRegister=false">Login</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
