<div class="karaoke-page vive-container">
    <div class="page-header">
        Karaoake
    </div>
    <div class="page-content">
        <div class="by-genre">
            <div class="title">By Genre</div>
            <div class="genres">
                <vtt-carousel data-model="categories" data-target-dir="Karaoke/Genre" data-target-param="title" data-title="true"></vtt-carousel>
            </div>
        </div>
        <div class="filter row">
            <div class="title col-xs-12 col-md-6">By Singer</div>
            <div class="search flr pr">
                <i class="fa fa-search"></i>
                <input id="search-box" type="text" placeholder="Search..." ng-model="search" ></input>
            </div>
        </div>
        <div class="videos row">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="video in videos | filter:videosFilter">
                <div class="video hand" style="background-image:url({{video.PosterH.url}})" ng-click="go('/Karaoke/Singer/'+video._id)">
                    <div class="title">{{video.title}}</div>
                </div>
            </div>
        </div>

    </div>

</div>
