<div class="programa-page vive-container">
    <div class="page-nav row">
        <div class="route col-xs-12 col-md-8">
            <a href="#!/Peliculas">Pelicula</a>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <a href="#!/{{video.categories[0]}}">{{video.categories[0]}}</a>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <span>{{video.title}}</span>


        </div>
        <div class="search col-xs-12 col-md-4">
            <i class="fa fa-search"></i>
            <input id="search-box" type="text" placeholder="Search..." ng-model="search" ></input>
        </div>
    </div>
    <div class="video-holder">
        <div class="video-info row">
            <div class="left col-xs-12 col-md-5">
                <div class="video-cover" style="background-image:url({{video.PosterH.url}})" >
                </div>
            </div>
            <div class=" right col-xs-12 col-md-7">
                <div class="video-title">
                    {{video.title}}
                </div>
                <div class="video-details">
                    {{video.seasons}} Temporadas  {{video.episodes}} Episodios  <span class="hand flr" ng-click="addToWatchLish()"><i class="fa fa-plus-circle"></i>  Mi Lista</span>
                </div>
                <div class="video-desc ">
                    {{video.description}}
                </div>
            </div>
        </div>
    </div>
    <div class="seasons">
        <div class="dropdown">
          <button class="btn season-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Temporada 1
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>Temporada 1</li>
            <li>Temporada 2</li>
            <li>Temporada 3</li>
            <li>Temporada 4</li>

          </ul>
      </div>
    </div>
    <div class="carousel-holder">
        <div class="carousel">
            <vtt-carousel data-model="videos" data-target-dir="Programa" data-target-param="_id" data-title="true" ></vtt-carousel>
        </div>
    </div>
</div>
