<div class="register-page" ng-switch="shownView">
    <div class="register-header">
        Regístrate
    </div>
    <div class="register narrow" ng-switch-when="register">

        <div class="terms-span">
            Al registrarte estas aceptando nuestros <span>Términos y Condiciones</span>
        </div>
        <div class="facebook-register" onclick="window.open('/hauth/login/Facebook','fb','left=20,top=20,width=500,height=400,toolbar=1,resizable=0')">
            <span class="fa fa-facebook fll"></span>Regístrate con Facebook
        </div>
        <div class="line">
            <span>O</span>
        </div>
        <div class="email-registry">
            <div class="email-header">
                Ingrese su información de acceso
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-header">
                        Primer Nombre *
                    </div>
                    <input class="register-input" type="text" ng-model="userRegister.first_name">
                </div>
                <div class="col-sm-6">
                    <div class="input-header">
                        Apellido *
                    </div>
                    <input class="register-input" type="text" ng-model="userRegister.last_name">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-header">
                        Email *
                    </div>
                    <input class="register-input" type="email" ng-model="userRegister.email">
                    <div class="input-details">Esta es la dirección que utilizaras para ingresar al servicio</div>
                </div>
                <div class="col-sm-6">
                    <div class="input-header">
                        Confirmación de Email *
                    </div>
                    <input class="register-input" type="email" ng-model="userCheck.confirmEmail">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-header">
                        Contraseña *
                    </div>
                    <input class="register-input" type="password" ng-model="userRegister.password">
                    <div class="input-details">Debe tener entre 8 a 16 caracteres</div>
                </div>
                <div class="col-sm-6">
                    <div class="input-header">
                        Confirmación de Contraseña *
                    </div>
                    <input class="register-input" type="password" ng-model="userCheck.confirmPassword">
                </div>
            </div>
            <div class="row country-select">
                <div class="">
                <!--    <div class="input-header">
                        Country*
                    </div>
                    <select class="" ng-model="userRegister.country" ng-change="user">
                        <option value="">-- Select a Country --</option>
                        <option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}</option>
                    </select>-->
                    <div class="checkbox">
                        <input type="checkbox" id="terms" value=""><label>Acepto los <span>Términos y Condiciones</span></label>
                        <div class="terms-details">Ver Términos y Condiciones</div>
                    </div>
                    <div class="error" ng-if="registerError">{{registerError}}</div>
                    <div class="continue-btn hand {{$('#terms').is(':checked')?'disabled':''}}" ng-click="registerUser()">
                        Registrarme
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="register narrow" ng-switch-when="ChoosePlan">
        <div class="email-registry">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-header">
                        Mi Plan
                    </div>
                    <i class="fa fa-caret-down"></i>
                    <select class="register-input" ng-model="$parent.selectedPlan">
                        <option ng-repeat="plan in plans track by $index" value="{{plan.id}}" ng-selected="$index==0">{{plan.title}} {{plan.cost?plan.cost+'$':''}} {{plan.channels?'('+plan.channels+' Canales)':''}}</option>

                    </select>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-header">
                        Nombre en Tarjeta *
                    </div>
                    <input class="register-input" type="text" maxlength="16" ng-model="ccInfo.number">
                    <div class="input-details">Entre el Nombre Exacto Como Figura en Su Tarjeta</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-header">
                        Dirección de Tarjeta *
                    </div>
                    <input class="register-input" type="text" ng-model="ccInfo.address">
                    <div class="input-details">Dirección donde se recibe la cuenta</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-header">
                        Código de Seguridad *
                    </div>
                    <input class="register-input" name="cvv" type="text" placeholder="CVV" maxlength="3" ng-model="ccInfo.cvv">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="input-header">
                        Fecha de Expiración *
                    </div>
                    <i class="fa fa-caret-down"></i>
                    <select name="month" class="register-input" ng-model="ccInfo.month">
                        <option value="" selected disabled>Mes</option>
                        <option ng-repeat="m in months" value="{{$index+1}}">{{ $index+1}} - {{m}}</option>
                    </select>

                    <div class="input-details" style="text-align:center">Mes</div>
                </div>
                <div class="col-xs-6">
                    <div class="input-header">
                    </div>
                    <i class="fa fa-caret-down"></i>
                    <select name="year" class="register-input" ng-model="ccInfo.year">
                        <option value="" selected disabled>Año</option>
                        <option ng-repeat="year in [] | range:currentYear:currentYear+6" value="{{year}}">{{year}}</option>
                    </select>
                    <div class="input-details" style="text-align:center">Año</div>
                </div>
            </div>
            <div class="country-select">
                <div class="error" ng-if="choosePlanError">{{choosePlanError}}</div>
                <div class="continue-btn hand {{$('#terms').is(':checked')?'disabled':''}}" ng-click="choosePlan()">
                    CONFIRMAR Suscripcion
                </div>
            </div>

        </div>
    </div>
    <div class="register channels" ng-switch-when="ChooseChannels">
        <div class="plans row">
            <div class="plan selected col-sm-6">Suscripción de 10 Canales</div>
            <div class="plan col-sm-6">Suscripción de 24 Canales</div>
        </div>
        <div class="filters row">
            <div class="sortFilters col-sm-6">
                <span class="sort selected">Por País</span>
                <span class="sort">Por Nombre</span>
                <span class="sort">Por Tipo</span>
            </div>
            <div class="search-wrapper col-sm-6">
                <div class="search">
                    <i class="fa fa-search"></i>
                    <input id="search" type="text" placeholder="Search..." ng-model="$parent.search" ></input>
                </div>
            </div>
        </div>
        <div class="channels-grid">
            <div class="grid-header row">
                <div class="title fll">Elija sus Canales</div>
                <div class="pages flr">({{selectedChannels.length}} de {{MaxChannels}})</div>
            </div>
            <div class="channels-content row">
                <div class="channel hand {{isSelectedChannel(channel.id)?'selected':''}} col-xs-4 col-sm-3 col-md-2" ng-click="selectChannel(channel.id)" ng-repeat="channel in channels | filter:channelsFilter">
                    <div class="bg " style="background-image:url({{channel.PosterH.url}})"></div>
                    <div class="name">{{channel.title}}</div>
                </div>
            </div>
        </div>
        <div class="continue-btn hand {{$('#terms').is(':checked')?'disabled':''}}" ng-click="choosechannels()">
            Listo
        </div>
    </div>
</div>
