<div class="karaoke-page vive-container">
    <div class="page-header">
        Karaoake
    </div>
    <div class="page-content">
        <div class="by-genre">
            <div class="title">By Genre</div>
            <div class="genres row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="cat in categories |  limitTo:6 " ng-click="">
                    <div class="genre hand" style="background-image:url({{cat.PosterH.url}})" ng-click="go('/Karaoke/Genre/'+cat.title)">
                        <div class="title">{{cat.title}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter row">
            <div class="title col-xs-12 col-md-8">By Singer</div>
            <div class="search col-xs-12 col-md-4">
                <i class="fa fa-search"></i>
                <input id="search-box" type="text" placeholder="Search..." ng-model="search" ></input>
            </div>
        </div>
        <div class="videos row">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="video in videos | filter:videosFilter">
                <div class="video hand" style="background-image:url({{video.PosterH.url}})" ng-click="go('/Karaoke/Singer/'+video._id)">
                    <div class="title">{{video.title}}</div>
                </div>
            </div>
        </div>

    </div>

</div>
