<div class="video-categories-page vive-container">

    <div class="page-content">
        <div class="filter row">
            <div class="title col-xs-12 col-md-8">Videos</div>
            <div class="search col-xs-12 col-md-4">
                <i class="fa fa-search"></i>
                <input id="search-box" type="text" placeholder="Search..." ng-model="search" ></input>
            </div>
        </div>
        <div class="categories row">
            <div class="cat col-xs-6 col-sm-4" ng-repeat="cat in videos | filter:videosFilter">
                <div class="title">{{cat.title}}</div>
                <div class="cover pr hand" style="background-image:url({{cat.PosterH.url}})" ng-click="go('/Video/Category/'+cat.title)">
                    <div class="overlay pa"></div>
                </div>
            </div>
        </div>
    </div>
</div>
