.charity-page {
    .banner-favorite-icon {
        font-size: 20px;
        position: relative;
        top: 2px;
    }
    .charity-page-content {
        position: relative;
        z-index: 2000;
        background-color: @color-darker-gray;
        padding-top: 13px;
        padding-left: 30px;
        padding-right: 30px;
    }
}