<div class="charity-page" ng-if="configs">
    <clix-hero-banner
            title-text="{{configs.title}}"
            button-text="{{'+ Favorites'}}"
            subtext="{{'18 Videos'}}"
            button-icon-class="{{'icon-favorite-icon banner-favorite-icon'}}"
            background-image="{{configs.backgroundImage}}"
            background-image2x="{{configs.backgroundImage2x}}"
            charity="true"
    >
        <hero-banner-logo>
            <img ng-src="{{configs.logo}}" ng-srcset="{{configs.logo2x}} 2x" />
        </hero-banner-logo>
    </clix-hero-banner>
    <div class="charity-page-content">
        <div class="clix-tabs">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Home">

                    <div class="home-container">
                        <clix-landing-video-content video="video" charity="true">
                            <content-description>
                                <div class="charity-description-container">
                                    <clix-secondary-header>
                                        About {{configs.title}}
                                    </clix-secondary-header>
                                    <div class="home-description">
                                        {{configs.description}}
                                    </div>
                                    <div class="donate-button">
                                        <clix-primary-button type="charity" ng-click="onDonatePress()">
                                            Donate
                                        </clix-primary-button>
                                    </div>
                                </div>
                            </content-description>
                            <sidebar-title>
                                Stars Who Support {{configs.title}}
                            </sidebar-title>
                            <sidebar-content>
                                <div class="row brand-offer-row">
                                    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 brand-offer-column" ng-repeat="celebrity in celebrities | limitTo: 3">
                                        <div class="star-support-callout">
                                            <clix-content-callout sref="star({ id: '{{celebrity._id}}' })">
                                                <header-element>
                                                    <div class="star-logo" style="background-image: url({{celebrity.BrandLogo.url}})"></div>
                                                </header-element>
                                                <title-content>
                                                    {{celebrity.title}}
                                                </title-content>
                                                <subtitle-content>
                                                    127 Videos
                                                </subtitle-content>
                                            </clix-content-callout>
                                        </div>
                                    </div>
                                </div>
                            </sidebar-content>
                            <footer-content>
                                <div class="home-footer-content">
                                    <div class="brand-celebrity-videos">
                                        <div ng-repeat="celebrity in celebrities | limitTo: 3">
                                            <clix-video-category-scroll-list category-title="{{celebrity.title}} and {{configs.title}}" category-videos="relatedVideos"></clix-video-category-scroll-list>
                                        </div>
                                    </div>
                                </div>
                            </footer-content>
                        </clix-landing-video-content>
                    </div>

                </uib-tab>
                <uib-tab index="2" heading="Stars">
                    <div class="stars-container">
                        <div ng-repeat="celebrity in celebrities">
                            <clix-video-category-scroll-list category-title="{{celebrity.title}} and {{configs.title}}" category-videos="relatedVideos"></clix-video-category-scroll-list>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="3" heading="Videos">
                    <div class="videos-container">
                        <div class="videos-title-container">
                            <div class="videos-title">
                                <clix-secondary-header>
                                    All Videos Featuring {{configs.title}}
                                </clix-secondary-header>
                            </div>
                            <div class="video-sort-container">
                                <clix-dropdown options="seriesList" placeholder-text="Sort By"></clix-dropdown>
                            </div>
                        </div>
                        <div class="row clix-block-row">
                            <div class="clix-block-item col-xs-12 col-sm-12 col-md-3 col-lg-2-4" ng-repeat="video in videos" ng-if="videos">
                                <clix-video-content-box video="video"></clix-video-content-box>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>