<div ng-if="!charity">
    <clix-loader size="large"></clix-loader>
</div>

<div class="charity-page" ng-if="charity">
    <clix-landing-page-banner background-image="{{charity.headerImage}}" mobile-background-image="/assets/theme/clixtv/dist/images/mobile-charity-cover.jpg">
        <banner-type>
            Charity
        </banner-type>
        <banner-title>
            {{charity.title}}
        </banner-title>
        <banner-sub-title>
            {{charity.totalVideos || '0'}} {{charity.totalVideos === 1 ? 'Video' : 'Videos'}}
        </banner-sub-title>
        <banner-logo-container>
            <clix-charity-asset-logo charity="charity"></clix-charity-asset-logo>
        </banner-logo-container>
        <banner-button-container>
            <div clix-tooltip-trigger tooltip-id="landing-banner-favorite-{{charity.id}}">
                <clix-tertiary-button ng-click="onFavoritePress()">
                    {{isFavorite ? 'Added to Favorites' : 'Favorite'}}
                </clix-tertiary-button>
            </div>
        </banner-button-container>
        <banner-share-button-container>
            <div clix-tooltip-trigger tooltip-id="landing-banner-share-{{charity.id}}">
                <clix-share-button extra-class="banner-share-icon" charity="charity"></clix-share-button>
            </div>
        </banner-share-button-container>
    </clix-landing-page-banner>
    <div class="charity-page-content">
        <div class="clix-tabs">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Home" select="onTabSelect('home')">

                    <div class="home-container">
                        <clix-landing-video-content video="video" charity="true">
                            <content-description>
                                <div class="charity-description-container">
                                    <clix-secondary-header>
                                        About {{charity.title}}
                                    </clix-secondary-header>
                                    <div class="home-description" ng-bind-html="charity.description | clixNewLineBreak"></div>
                                    <div class="donate-button">
                                        <clix-primary-button type="charity" ng-click="onDonatePress()">
                                            Donate
                                        </clix-primary-button>
                                    </div>
                                </div>
                            </content-description>
                            <sidebar-title>
                                Stars Who Support {{charity.title}}
                            </sidebar-title>
                            <sidebar-content>
                                <div class="row brand-offer-row">
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-12 brand-offer-column" ng-repeat="celebrity in charity.celebrities.celebrities | limitTo: 3">
                                        <div class="star-support-callout">
                                            <clix-star-content-callout star="celebrity"></clix-star-content-callout>
                                        </div>
                                    </div>
                                </div>
                            </sidebar-content>
                            <footer-content>
                                <div class="home-footer-content">
                                    <div class="brand-celebrity-videos">
                                        <div ng-repeat="celebrity in charity.celebrities.celebrities | limitTo: 3">
                                            <clix-video-category-scroll-list category-title="{{celebrity.name}} and {{charity.title}}" category-videos="celebrity.videos.videos" view-all-sref="star({ id: '{{celebrity.id}}' })" order="episodeNumber"></clix-video-category-scroll-list>
                                        </div>
                                    </div>
                                </div>
                            </footer-content>
                        </clix-landing-video-content>
                    </div>

                </uib-tab>
                <uib-tab index="2" heading="Stars" select="onTabSelect('stars')">
                    <div class="stars-container">
                        <div ng-repeat="celebrity in charity.celebrities.celebrities">
                            <clix-video-category-scroll-list category-title="{{celebrity.name}} and {{charity.title}}" category-videos="celebrity.videos.videos" view-all-sref="star({ id: '{{celebrity.id}}' })" order="episodeNumber"></clix-video-category-scroll-list>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="3" heading="Videos" select="onTabSelect('videos')">
                    <div class="videos-container">
                        <div class="videos-title-container">
                            <div class="videos-title">
                                <clix-secondary-header>
                                    All Videos Related To {{charity.title}}
                                </clix-secondary-header>
                            </div>
                            <div class="video-sort-container" ng-show="filtersEnabled !== false">
                                <clix-dropdown options="seriesList" placeholder-text="Sort By"></clix-dropdown>
                            </div>
                        </div>
                        <clix-video-content-callout-list videos="charity.videos.videos" grid-classes="col-xs-6 col-sm-4 col-md-4 col-lg-2-4"></clix-video-content-callout-list>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>

<clix-tooltip tooltip-id="landing-banner-favorite-{{charity.id}}">
    {{loggedInUser ? (isFavorite ? 'Remove this charity from your Favorites.' : 'Add this charity to your Favorites.') : 'After signing up, you will be able to add this charity to your Favorites.'}}
</clix-tooltip>

<clix-tooltip tooltip-id="landing-banner-share-{{charity.id}}">
    Share this page
</clix-tooltip>