<div ng-if="!charities">
    <clix-loader size="large"></clix-loader>
</div>

<div class="charities-page">
    <clix-filter-page ng-if="charities">
        <page-title>
            Charities
        </page-title>
        <page-search-filter>
            <clix-search-filter
                search-placeholder="Search Charities"
                filter-placeholder="Filter By"
                sort-placeholder="Sort By"
                filter-options="filterCharitiesOptions"
                sort-options="sortCharitiesOptions"
            ></clix-search-filter>
        </page-search-filter>
        <page-content>
            <clix-content-callout-list items="charities.charities" menu-items="menuItems">
                <clix-content-callout sref="charity({ id: '{{item.id}}' })" menu-items="menuItems">
                    <header-element>
                        <clix-charity-logo charity="item"></clix-charity-logo>
                    </header-element>
                    <title-content>
                        {{item.title}}
                    </title-content>
                    <subtitle-content>
                        {{item.videos.videos.length}} {{item.videos.videos.length === 1 ? 'Video' : 'Videos'}}
                    </subtitle-content>
                </clix-content-callout>
            </clix-content-callout-list>
        </page-content>
    </clix-filter-page>

</div>