.clix-redeem-rewards-modal {

    .reward-callout {
        background-color: @color-medium-gray4;
        padding: 22px 10px;
        border-bottom: 1px solid @color-gray3;

        @media (min-width: @screen-sm) {
            padding: 24px 20px;
        }
    }

    .reward-callout {
        .flex-display;
        .align-items(center);
    }

    .reward-image {
        width: 101px;
        height: 100px;
        border: 1px solid @color-white;

        img {
            max-width: 100%;
        }
    }

    .reward-info {
        .flex(1);
        padding-left: 36px;
    }

    .reward-title {
        font-family: @font-primary;
        color: @color-white;
        font-size: 30px;
        line-height: 32px;
    }

    .reward-subtitle {
        font-family: @font-secondary;
        font-size: 13px;
        letter-spacing: 2px;
        color: @color-light-gray;
        text-transform: uppercase;
        margin-top: 19px;

        @media (min-width: @screen-sm) {
            margin-top: 5px;
        }
    }

    .reward-stepper {
        margin: 0 auto;
        padding: 53px 0;
        width: 316px;
    }

    .reward-stepper-label {
        text-align: center;
        color: @color-white;
        font-size: 14px;
        font-family: @font-primary;
        margin-top: 11px;
    }

    .redeem-rewards-footer {
        border-top: 1px solid @color-gray3;
    }

    .redeem-rewards-legal {
        padding: 43px 10px 50px;
        text-align: center;
        line-height: 20px;
        font-family: @font-primary;
        color: @color-gray2;

        @media (min-width: @screen-sm) {
            padding: 32px 73px 50px;
        }
    }

    .redeem-rewards-buttons {

        margin-left: -13px;
        margin-right: -13px;
        margin-bottom: 50px;
        padding-left: 13px;
        padding-right: 13px;
        text-align: center;

        @media (min-width: @screen-sm) {
            width: 475px;
            margin-left: auto;
            margin-right: 0;
        }

        .redeem-rewards-button {
            padding-left: 13px;
            padding-right: 13px;

            @media (min-width: @screen-sm) {
                text-align: right;
            }
        }
    }

    .redeem-rewards-cancel-button {
        .border-radius(100px);
        padding: 10px 50px;
        font-family: @font-primary;
        font-size: 11px;
        letter-spacing: 0.9px;
        color: @color-gray2;
        text-transform: uppercase;
        border: 1px solid @color-gray2;
        background-color: @color-medium-gray4;
        cursor: pointer;
        text-align: center;
        display: block;

        &:hover {
            text-decoration: none;
            border-color: @color-white;
            background-color: @color-transparent-dark-black;
            color: @color-white;
        }

        @media (min-width: @screen-sm) {
            display: inline-block;
        }

    }
}