<div class="home-page">
    <clix-home-page-banner></clix-home-page-banner>
    <div class="home-page-content">
        <div ng-if="!ready">
            <clix-loader size="large"></clix-loader>
        </div>
        <div ng-if="ready">
            <div ng-repeat="category in categories.categories | orderBy: 'order' track by category.id" ng-if="category && category.videos && category.videos.videos && category.videos.videos.length > 0">
                <clix-video-category-scroll-list category="category"></clix-video-category-scroll-list>
            </div>
        </div>
        <div in-view="onLoadMore($inview, $inviewInfo)"></div>
    </div>
</div>
