@brand-spacing: 12px;

.brands-page {
    padding: 120px 30px 100px 30px;
    .brands-list {
        margin-left: -@brand-spacing;
        margin-right: -@brand-spacing;
    }
    .brand-container {
        padding-left: @brand-spacing;
        padding-right: @brand-spacing;
    }
}