@item-spacing: 9px;

.brand-page {
    overflow-x: hidden;
    .banner-favorite-icon {
        font-size: 12px;
        position: relative;

        @media (min-width: @screen-sm) {
            font-size: 20px;
            top: 2px;
        }
    }
    .brand-page-content {
        position: relative;
        z-index: 2000;
        background-color: @color-darker-gray;
        padding: 13px 0 62px;

        @media (min-width: @screen-sm) {
            padding: 13px 10px 62px;
        }

        @media (min-width: @screen-lg) {
            padding: 13px 30px 62px;
        }
    }

    .nav-tabs {
        border-bottom: 1px solid @color-gray3 !important;
        margin-left: @common-mobile-padding;
        margin-right: @common-mobile-padding;

        @media (min-width: @screen-sm) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .brand-offer {
        padding: 0 5px;
        margin-bottom: 51px;
    }

    .brand-offer-row {
        padding: 0 5px;
        margin: 0;
    }

    .brand-offer-column {
        margin: 0;
        padding: 0;
    }

    .offers-container {
        margin-top: 41px;
    }

    .videos-container {
        @media (max-width: @screen-xs) {
            margin-left: -(@common-mobile-padding);
            margin-right: -(@common-mobile-padding);
        }
    }

    .videos-title-container {

        padding-top: 30px;
        text-align: center;

        @media (min-width: @screen-sm) {
            .flex-display;
            .flex(1);
            padding-top: 50px;
            text-align: left;
            border-bottom: 1px solid @color-gray3;
            margin-bottom: 41px;
            padding-bottom: 16px;
        }
    }

    .video-sort-container {
        display: inline-block;
        margin: 30px auto;
        @media (min-width: @screen-sm) {
            display: block;
            margin: 0;
        }
    }

    .videos-title {
        .flex(1);
        text-align: center;
        @media (min-width: @screen-sm) {
            text-align: left;
        }
    }

    .video-category-scroll-list {
        margin-left: -(@common-mobile-padding);
        margin-right: -(@common-mobile-padding);
        @media (min-width: @screen-sm) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .stars-container {

        .video-category-scroll-list {

            margin-right: 0;

            @media (min-width: @screen-sm) {
                margin-right: -30px;
                padding-left: 0;
            }

            @media (max-width: @screen-sm) {
                margin-left: 0;
            }
        }
        @media (max-width: @screen-sm) {
            padding-top: 30px;
        }
    }

    .home-container {
        .video-category-scroll-list {
            margin-top: 45px;
            padding-left: 0;
        }

        .home-description {
            margin-top: 27px;
        }
    }

    .brand-categories-container {
        margin-top: 33px;
        padding-bottom: 39px;
        border-bottom: 1px solid @color-gray3;

        // This isn't ready to go live yet...
        display: none;
    }

    .brand-category-logo-container {
        .flex-display;

        .brand-category-logo {
            margin-right: 20px;
        }
    }

    .brand-celebrity-videos {

        margin-top: 32px;
        border-top: 1px solid @color-gray3;
        margin-left: @common-mobile-padding;
        margin-right: @common-mobile-padding;

        @media (min-width: @screen-sm) {
            margin-top: 0;
            border-top-width: 0;
            margin-left: 0;
            margin-right: 0;
        }
    }

    // Banner overrides
    @media (max-width: @screen-sm) {
        .clix-hero-banner {
            .banner-logo-container {
                float: left;
            }
            .banner-title-content {
                display: block;
                //padding-left: 68px;
            }
            .hero-banner-content {
                display: block;
            }

            .banner-subtext-container {
                text-align: left;
                margin-top: 10px;
            }
        }
    }
}