<div ng-if="!configs">
    <clix-loader size="large"></clix-loader>
</div>

<div class="brand-page" ng-if="configs">
    <clix-hero-banner
            title-text="{{configs.title}}"
            button-text="{{'Favorites'}}"
            points="{{'50'}}"
            subtext="{{brand.offers.offers.length}} {{brand.offers.offers.length === 1 ? 'Offer' : 'Offers'}}"
            button-icon-class="{{'icon-favorite-icon banner-favorite-icon'}}"
            background-image="{{configs.backgroundImage}}"
            background-image2x="{{configs.backgroundImage2x}}"
            background-image3x="{{configs.backgroundImage3x}}"
            button-tooltip-text="{{loggedInUser ? (isFavorite ? 'Remove this brand from your Favorites.' : 'Add this brand to your Favorites.') : 'After signing up, you will be able to add this brand to your Favorites.'}}"
            share-tooltip-text="Share this brand."
            banner-type="Brand"
    >
        <favorite-button>
            <clix-tertiary-button ng-click="onFavoritePress()">
                {{isFavorite ? 'Added to Favorites' : 'Favorite'}}
            </clix-tertiary-button>
        </favorite-button>
        <share-icon>
            <clix-share-button extra-class="banner-share-icon" brand="brand"></clix-share-button>
        </share-icon>
    </clix-hero-banner>
    <div class="brand-page-content">
        <div class="clix-tabs">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Home" select="onTabSelect('home')">
                    <div class="home-container">
                        <clix-landing-video-content video="video">
                            <content-description>
                                <clix-secondary-header>
                                    About {{configs.title}}
                                </clix-secondary-header>
                                <div class="home-description" ng-bind-html="configs.description | clixNewLineBreak"></div>
                            </content-description>
                            <sidebar-title>
                                Offers From {{configs.title}}
                            </sidebar-title>
                            <sidebar-content>
                                <div class="row brand-offer-row">
                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-12 brand-offer-column" ng-repeat="offer in brand.offers.offers | limitTo: 3">
                                        <div class="brand-offer">
                                            <clix-offer-content-callout offer="offer"></clix-offer-content-callout>
                                        </div>
                                    </div>
                                </div>
                            </sidebar-content>
                            <footer-content>
                                <div class="brand-categories-container">
                                    <clix-secondary-header>
                                        Brand Categories <i class="icon-right-arrow"></i>
                                    </clix-secondary-header>
                                    <div class="brand-category-logo-container">
                                        <div class="brand-category-logo">
                                            <clix-brand-category-logo brand="video" category-title="Sportswear"></clix-brand-category-logo>
                                        </div>
                                        <div class="brand-category-logo">
                                            <clix-brand-category-logo brand="video" category-title="Shoes"></clix-brand-category-logo>
                                        </div>
                                        <div class="brand-category-logo">
                                            <clix-brand-category-logo brand="video" category-title="Swimwear"></clix-brand-category-logo>
                                        </div>
                                        <div class="brand-category-logo">
                                            <clix-brand-category-logo brand="video" category-title="Training & Gym"></clix-brand-category-logo>
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-celebrity-videos">
                                    <div ng-repeat="celebrity in brand.celebrities.celebrities | limitTo: 3">
                                        <clix-video-category-scroll-list category-title="{{celebrity.name}} and {{brand.title}}" category-videos="celebrity.videos.videos" enable-show-more="false"></clix-video-category-scroll-list>
                                    </div>
                                </div>
                            </footer-content>
                            <share-tooltip-content>
                                <div ng-if="loggedInUser">
                                    You will receive 50 Reward Points for sharing!
                                </div>
                                <div ng-if="!loggedInUser">
                                    After signing up, you will receive 50 Reward Points for sharing! <a ng-click="">Learn more</a>.
                                </div>
                            </share-tooltip-content>
                            <share-icon>
                                <clix-share-button extra-class="landing-share-icon" brand="brand"></clix-share-button>
                            </share-icon>
                        </clix-landing-video-content>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Offers" select="onTabSelect('offers')">
                    <div class="row clix-block-row offers-container">
                        <div class="clix-block-item col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="offer in brand.offers.offers">
                            <clix-offer-content-callout offer="offer" ng-click="onOfferPress(offer)"></clix-offer-content-callout>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Stars" select="onTabSelect('stars')">
                    <div class="stars-container">
                        <div ng-repeat="celebrity in brand.celebrities.celebrities">
                            <clix-video-category-scroll-list category-title="{{celebrity.name}} and {{brand.title}}" category-videos="celebrity.videos.videos" enable-show-more="false"></clix-video-category-scroll-list>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="3" heading="Videos" select="onTabSelect('videos')">
                    <div class="videos-container">
                        <div class="videos-title-container">
                            <div class="videos-title">
                                <clix-secondary-header>
                                    All Videos Related To {{brand.title}}
                                </clix-secondary-header>
                            </div>
                            <div class="video-sort-container">
                                <clix-dropdown options="seriesList" placeholder-text="Sort By"></clix-dropdown>
                            </div>
                        </div>
                        <div class="row clix-block-row">
                            <div class="clix-block-item col-xs-6 col-sm-4 col-md-4 col-lg-2-4" ng-repeat="video in brand.videos.videos">
                                <clix-video-content-callout video="video"></clix-video-content-callout>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>