<div ng-if="!ready">
    <clix-loader size="large"></clix-loader>
</div>

<div class="brands-page" ng-if="ready">
    <div class="main-header">
        <clix-main-header>
            Brands &amp; Offers
        </clix-main-header>
    </div>
    <div class="clix-tabs">
        <uib-tabset active="active">
            <uib-tab index="0" heading="Brands">

                <div class="search-filter-container">
                    <clix-search-filter
                            search-placeholder="Search Brands"
                            filter-placeholder="Filter By"
                            sort-placeholder="Sort By"
                            filter-options="filterBrandsOptions"
                            sort-options="sortBrandsOptions"
                    ></clix-search-filter>
                </div>

                <div class="row brands-list">
                    <div class="brand-outer-container col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="brand in brands.brands">
                        <clix-content-callout sref="brand({ id: '{{brand.id}}' })" menu-items="brandMenuItems">
                            <header-element>
                                <clix-brand-charity-logo brand="brand"></clix-brand-charity-logo>
                            </header-element>
                            <title-content>
                                {{brand.title}}
                            </title-content>
                            <subtitle-content>
                                {{brand.offers.offers.length}} {{brand.offers.offers.length === 1 ? 'Offer' : 'Offers'}}
                            </subtitle-content>
                        </clix-content-callout>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Offers">

                <div class="search-filter-container">
                    <clix-search-filter
                        search-placeholder="Search Offers"
                        filter-placeholder="Filter By"
                        sort-placeholder="Sort By"
                        filter-options="filterOffersOptions"
                        sort-options="sortOffersOptions"
                    ></clix-search-filter>
                </div>

                <div class="row brands-list">
                    <div class="brand-outer-container col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="offer in offers.offers">
                        <clix-content-callout sref="offer({ id: '{{offer.id}}' })" menu-items="offerMenuItems">
                            <header-element>
                                <clix-offer-logo offer="offer"></clix-offer-logo>
                            </header-element>
                            <title-content>
                                {{offer.title}}
                            </title-content>
                            <subtitle-content>
                                Expires 2/1/2017
                            </subtitle-content>
                        </clix-content-callout>


                        <!--<div class="brand-logo-container">-->
                            <!--<div class="brand-container">-->
                                <!--<clix-offer-logo offer="offer"></clix-offer-logo>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<a ui-sref="offer({ id: '{{offer._id}}' })" class="brand-footer">-->
                            <!--<span class="brand-title">-->
                                <!--{{offer.title}}-->
                            <!--</span>-->
                            <!--<span class="brand-offers">-->
                                <!--Nike-->
                            <!--</span>-->
                            <!--<span class="brand-offers">-->
                                <!--Expires 2/1/2017-->
                            <!--</span>-->
                        <!--</a>-->
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>