<div class="brands-page">
    <div class="main-header">
        <clix-main-header>
            Brands &amp; Offers
        </clix-main-header>
    </div>
    <div class="clix-tabs">
        <uib-tabset active="active">
            <uib-tab index="0" heading="Brands">

                <div class="search-filter-container">
                    <clix-search-filter
                            search-placeholder="Search Brands"
                            filter-placeholder="Filter By"
                            sort-placeholder="Sort By"
                            filter-options="filterBrandsOptions"
                            sort-options="sortBrandsOptions"
                    ></clix-search-filter>
                </div>

                <div class="row brands-list">
                    <div class="brand-outer-container col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="(id, brand) in brands">
                        <clix-content-callout sref="brand({ slug: '{{brand.title | slug}}' })" menu-items="menuItems">
                            <header-element>
                                <clix-brand-charity-logo brand="brand"></clix-brand-charity-logo>
                            </header-element>
                            <title-content>
                                {{brand.title}}
                            </title-content>
                            <subtitle-content>
                                18 Offers
                            </subtitle-content>
                        </clix-content-callout>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Offers">

                <div class="search-filter-container">
                    <clix-search-filter
                        search-placeholder="Search Offers"
                        filter-placeholder="Filter By"
                        sort-placeholder="Sort By"
                        filter-options="filterOffersOptions"
                        sort-options="sortOffersOptions"
                    ></clix-search-filter>
                </div>

                <div class="row brands-list">
                    <div class="brand-outer-container col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="(id, offer) in offers">
                        <clix-content-callout sref="offer({ id: '{{offer._id}}' })" menu-items="offerMenuItems">
                            <header-element>
                                <clix-offer-logo offer="offer"></clix-offer-logo>
                            </header-element>
                            <title-content>
                                {{offer.title}}
                            </title-content>
                            <subtitle-content>
                                Expires 2/1/2017
                            </subtitle-content>
                        </clix-content-callout>


                        <!--<div class="brand-logo-container">-->
                            <!--<div class="brand-container">-->
                                <!--<clix-offer-logo offer="offer"></clix-offer-logo>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<a ui-sref="offer({ id: '{{offer._id}}' })" class="brand-footer">-->
                            <!--<span class="brand-title">-->
                                <!--{{offer.title}}-->
                            <!--</span>-->
                            <!--<span class="brand-offers">-->
                                <!--Nike-->
                            <!--</span>-->
                            <!--<span class="brand-offers">-->
                                <!--Expires 2/1/2017-->
                            <!--</span>-->
                        <!--</a>-->
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>