.mybag_block_item {
    height: 9.4vw;
    padding: 0;
    .image_section {
        padding: 1.5vw 0 0;
        height: 80%;
        .proudct_image {
            width: 4vw;
            background-repeat: no-repeat;
            background-size: contain;
            height: 5vw;
            position: relative;

        }
    }
    .detailes_section {
        height: 80%;
        padding: 1.5vw 0 0;
    }
    .line {
        background-color: rgba(26, 41, 55, 0.5);
        height: 1px;
        padding: 0;
        
    }
}
