@color-white: #FFF;
@color-black: #000;
@color-light-gray: #bababa;
@color-gray: #aaaaaa;
@color-gray2: #8a8a8a;
@color-medium-gray: #323232;
@color-medium-gray2: #404040;
@color-medium-gray3: #2c2c2c;
@color-dark-gray: #171717;
@color-darker-gray: #0e0e0e;
@color-primary: #fe0000;
@color-transparent: rgba(0, 0, 0, 0);
@color-transparent-black: rgba(0, 0, 0, 0.8);

@font-primary: 'PT Sans', sans-serif;
@font-secondary: 'Cabin', sans-serif;
@font-icon: 'fontello';