@color-white: #FFF;
@color-black: #000;
@color-light-gray: #bababa;
@color-lignt-gray2: #979797;
@color-gray: #aaaaaa;
@color-gray2: #8a8a8a;
@color-gray3: #636363;
@color-gray4: #777777;
@color-gray5: #1b1b1b;
@color-gray6: #212121;
@color-gray7: #292929;
@color-gray8: #1c1b20;
@color-gray9: #313131;
@color-medium-gray: #323232;
@color-medium-gray2: #404040;
@color-medium-gray3: #2c2c2c;
@color-medium-gray4: #1f1f1f;
@color-dark-gray: #171717;
@color-darker-gray: #0e0e0e;
@color-primary: #fe0000;
@color-secondary: #fa0d1b;
@color-secondary2: #f61628;
@color-tertiary: #911685;
@color-brand-start: #c60548;
@color-brand-end: #7a0ba8;
@color-offer-start: #c80050;
@color-offer-end: rgba(0, 0, 0, 0);
@color-brand: #ae2eff;
@color-charity-start: #03bcf2;
@color-charity-end: #f700e6;
@color-charity: #e52bc4;
@color-transparent: rgba(0, 0, 0, 0);
@color-transparent-black: rgba(0, 0, 0, 0.63);
@color-transparent-dark-black: rgba(0, 0, 0, 0.8);
@color-transparent-white: rgba(255, 255, 255, 0.3);

@color-facebook-dark: #2b3a92;
@color-facebook-light: #405ebf;

@color-google-dark: #b23e28;
@color-google-light: #e35439;

@font-primary: 'PT Sans', sans-serif;
@font-secondary: 'cabinregular', sans-serif;
@font-secondary-bold: 'cabinbold', sans-serif;
@font-icon: 'fontello';

@common-video-spacing: 12px;