@color-white: #FFF;
@color-black: #000;
@color-light-gray: #bababa;
@color-lignt-gray2: #979797;
@color-gray: #aaaaaa;
@color-gray2: #8a8a8a;
@color-gray3: #636363;
@color-gray4: #777777;
@color-gray5: #1b1b1b;
@color-gray6: #212121;
@color-gray7: #292929;
@color-gray8: #1c1b20;
@color-gray9: #313131;
@color-gray10: #3d3d3d;
@color-gray11: #686868;
@color-gray12: #353535;
@color-gray13: #cccccc;
@color-gray14: #5f5f5f;
@color-gray15: #494949;
@color-gray16: #9b9b9b;
@color-gray17: #8d8d8d;
@color-gray18: #7e7c7d;
@color-gray19: #828282;
@color-medium-gray: #323232;
@color-medium-gray2: #404040;
@color-medium-gray3: #2c2c2c;
@color-medium-gray4: #1f1f1f;
@color-dark-gray: #171717;
@color-darker-gray: #0e0e0e;
@color-primary: #fe0000;
@color-secondary: #fa0d1b;
@color-secondary2: #f61628;
@color-tertiary: #911685;
@color-brand-start: #c60548;
@color-brand-end: #7a0ba8;
@color-offer-start: #c80050;
@color-offer-end: rgba(0, 0, 0, 0);
@color-brand: #ae2eff;
@color-charity-start: #03bcf2;
@color-charity-end: #f700e6;
@color-charity: #e52bc4;
@color-charity-start2: #7084e0;
@color-charity-end2: #ff2aed;
@color-transparent: rgba(0, 0, 0, 0);
@color-transparent-black: rgba(0, 0, 0, 0.63);
@color-transparent-dark-black: rgba(0, 0, 0, 0.8);
@color-transparent-white: rgba(255, 255, 255, 0.3);
@color-facebook-dark: #2b3a92;
@color-facebook-light: #405ebf;
@color-google-dark: #b23e28;
@color-google-light: #e35439;
@color-facebook: #3b5998;
@color-twitter: #1da1f2;
@color-tumblr: #36465d;

@color-reward-primary: #0dc73a;
@color-reward-secondary: #14cf1e;

@font-primary: 'montserratregular', sans-serif;
@font-primary-bold: 'montserratsemibold', sans-serif;
@font-secondary: 'montserratregular', sans-serif;
@font-secondary-bold: 'montserratsemibold', sans-serif;
@font-icon: 'fontello';

@common-video-spacing: 12px;
@common-row-item-spacing: 9px;

@common-mobile-padding: 9px;
@account-padding-mobile: @common-mobile-padding;