.social_list_container{
  padding-right: 0.3vw!important;
  padding-left: 0.3vw!important;
  padding: 0.3vw;
  position: relative;
  transition: all 0.5s;
  .social_list_image{
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    border-radius: 0.2vw;
    &.facebook{
      border: solid 0.2vw #3b5998;
      .social_desc{
        background-color: rgba(59, 89, 152, 0.8);
        .social_icon{
          background-image: url('../src/images/icon/facebook.png');
        }
      }
    }
    &.twitter{
      border: solid 0.2vw #5dd7fb;
      .social_desc{
        background-color: rgba(93, 215, 251, 0.9);
        .social_icon{
          background-image: url('../src/images/icon/twitter.png');
        }
      }
    }
    &.instagram{
      border: solid 0.2vw #cd486b;
      .social_desc{
        background-color: rgba(205, 72, 107, 0.8);
        .social_icon{
          background-image: url('../src/images/icon/instagram.png');
        }
      }
    }
    .social_desc{
      position: absolute;
      bottom: 0;
      height: 25%;
      width: 100%;
      transition: all 0.25s;
      .social_user_image{
        padding-left: 0.75vw;
        padding-right: 0.75vw;
        .user_image{
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          height: 1.6vw;
          width: 1.6vw;
          margin-top: 0.6vw;
          border-radius: 50%;
        }
      }
      .social_title{
        padding: 0;
        font-family: Roboto;
        font-size: 0.75vw;
        text-align: left;
        color: #ffffff;
        padding-top: 0.3vw;
      }
      .social_icon{
        padding: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        height: 1.6vw;
        margin-top: 0.6vw;
      }
      .social_time{
        padding: 0;
        font-family: Roboto;
        font-size: 0.5vw;
        text-align: left;
        color: #ffffff;
        line-height: 2.7vw;
        text-align: center;
      }
      .social_info{
        padding-left: 0.75vw;
        padding-right: 0.75vw;
        .social_likes{
          width: 100%;
          height: 1.2vw;
          font-family: Roboto;
          font-size: 0.75vw;
          text-align: left;
          color: #ffffff;
          .social_heart{
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 0.9vw;
            width: 0.9vw;
            margin-right: 0.5vw;
            float: left;
            &.facebook{
              display: none;
            }
            &.twitter{
                background-image: url(../src/images/icon/twitter_heart.png);
            }
            &.instagram{
                background-image: url(../src/images/icon/instagram_heart.png);
            }
          }
          .social_like_num{
            float: left;
            margin-right: 0.5vw;
          }
          .social_comments{
            float: left;
            margin-left: 0.5vw;
          }
        }
        .social_text{
          font-family: Roboto;
          font-size: 0.75vw;
          line-height: 1.13;
          letter-spacing: 0.5px;
          color: #ffffff;
        }
        .social_share{
          float: right;
          background-image: url(../src/images/icon/share_arrow@2x.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 1.6vw;
          height: 1.6vw;
          cursor: pointer;
          margin-right: 0.2vw;
        }
        .social_points{
          float: right;
          width: 3.4vw;
          height: 1.5vw;
          border-radius: 100px;
          background-color: #1a2937;
          border: solid 0.1vw #18d676;
          .pin_icon{
            background-image: url(../src/images/icon/pin-icon-yellow.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 0.9vw;
            height: 0.9vw;
            margin: 0.15vw 0.15vw 0.15vw 0.2vw;
            float: left;
          }
          .points_num{
            float: left;
            font-family: SourceSansPro;
            font-size: 0.9vw;
            font-weight: 900;
            text-align: center;
            color: #ffffff;
            line-height: 1.3vw;
          }
        }
      }
    }
    &:hover{
      .social_desc{
        height: 100%;
      }
    }
  }
}
