.clix-hero-banner {
    position: relative;
    z-index: 2000;
    height: 375px;

    @media (min-width: @screen-sm) {
        height: 443px;
    }

    .hero-background-image {
        height: 443px;
        position: relative;

        @media (max-width: @screen-sm) {
            height: 375px;
        }
    }
    .hero-banner-content-container {
        .gradient(@color-transparent 30%, @color-darker-gray);
        .flex-display;
        .flex(1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .hero-banner-overlay {
        .gradient(@color-transparent 30%, @color-darker-gray);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        @media (max-width: @screen-sm) {
            bottom: 140px;
        }
    }
    .hero-banner-content {
        .flex-display;
        .flex(1);
        .align-self(flex-end);
        .align-items(center);
        padding: 48px 10px 20px;

        @media (min-width: @screen-sm) {
            padding: 48px 30px;
        }
    }
    .banner-logo-container {
        .flex-display;
        .border-radius(55px);
        .radial-gradient(@color-brand-start, @color-brand-end, 0 100%);
        .align-items(center);
        .justify-content(center);
        width: 65px;
        height: 65px;
        padding: 10px;
        position: relative;

        @media (min-width: @screen-sm) {
            width: 110px;
            height: 110px;
            padding: 15px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }

        &.charity-logo {
            .radial-gradient(@color-charity-start, @color-charity-end, 0 100%, 70%);
        }
    }

    .banner-title-content {
        &.with-logo {
            margin-left: 11px;

            @media (min-width: @screen-sm) {
                margin-left: 27px;
            }
        }
    }

    .banner-title {
        font-family: @font-primary;
        font-size: 28px;
        color: @color-white;
        letter-spacing: 1.6px;
        margin-bottom: 8px;
        line-height: 33px;

        @media (min-width: @screen-sm) {
            font-size: 35px;
            margin-bottom: 20px;
        }
    }

    .banner-button {
        .flex-display;
        @media (min-width: @screen-sm) {
            .justify-content(center);
        }
    }

    .banner-share-icon {
        font-size: 27px;
        margin-left: 22px;
        color: @color-gray2;
        margin-top: 4px;

        @media (min-width: @screen-sm) {
            font-size: 38px;
            margin-top: 0;
        }

        &:hover {
            text-decoration: none;
            color: @color-white;
        }
    }

    .header-points-violator {
        .align-self(center);
    }

    .banner-subtext-container {
        .flex(1);
        .align-self(flex-end);
        text-align: center;
        font-family: @font-secondary;
        font-size: 14px;
        color: @color-gray2;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-bottom: 8px;

        @media (min-width: @screen-sm) {
            text-align: right;
            margin-bottom: 0;
        }
    }
}