#event-item-detail{
    height: 400px;
    margin-bottom: 30px;
}

.event-detail-img{
    width: 325px;
    height: 218px;
}

.event-detail-img img{
    width: 325px;
    height: 218px;
}

#event-right-column{
    padding-left: 65px;
}

.event-detail-title{
    font-size: 30px;
    font-family: 'Lato';
}

.event-detail-subtitle{
    font-size: 20px;
    color: #ccc;
}

.event-detail-description{
    margin-top: 30px;
}

.event-detail-result{
    margin-top: 30px;
}

#live_now_advise{
background-color: #fff;
    border: 2px solid #fd7d10;
    font-family: 'Lato';
    text-align: center;
    height: 36px;
    color: #fd7d10;
    padding-top: 4px;
    font-size: 18px;
    margin-bottom: 20px;
}

.already_purchased_msg{
    font-size: 18px;
    color: #fd7d10;
}

.already_purchased_sub_msg{
    font-size: 14px;
    color: #fff;
}

//BUY EVENTS PAGE

.live_events_buy_tickets a {
    height: 25px;
    background-color: #188432;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    border-radius: 6px;
    font-size: 20px;
}

#products_table{
    margin-bottom: 60px;    
}

#products_table td{
    padding: 30px 0px;
}

#products_table tr{
    padding-top: 30px;
    border-bottom: 1px solid #ccc;
}

.buy_button, .watch_now_btn{
    width: 100px;
    height: 25px;
    background-color:#fd7d10;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding-top: 5px;
    border-radius: 6px;
    margin: 0px auto;
}

.watch_now_btn{
    padding-top: 7px;
    font-size: 12px;
}



#finish_buy_btn{
    width: 105px;
    height: 35px;
    background-color: #188432;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding-top: 14px;
    border-radius: 6px;
    margin: auto;
    font-size: 22px;
}



td.product_content{
    width: 460px;
    padding-left: 10px;    
}

.product_title{
    font-size: 18px;
    color: #FFF;
}

.product_description{
    font-size: 12px;
    color: #999;
}
.product_image img{
    width: 150px;
}

.product_price{
    width: 100%;
    text-align: center;
    font-family: "Liberation sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin:-10px 0px 10px 0px;
    color: #fff;
}

#event_title_popup{
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 18px;
}

.already_purchased{
    color: #188432;
    font-size: 11px;
    text-align: center;
    line-height: 1.5;
}

#btn_buy_form{
    width: 200px;
    height: 25px;
    background-color: #188432;
    color: #fff!important;
    text-align: center;
    cursor: pointer;
    padding-top: 9px;
    border-radius: 5px;
    font-size: 18px;
}

#buy_event_form{

    height: 490px;
}

#buy_form_container{
    display: none;
}

#buy_event_info{
    width: 300px;
    text-align: left;
}


#player_container {
    background: #000;
    height: 0px;
    display: none;
    overflow: hidden;
    padding: 20px 0px 20px 0px;
    width: 960px;
    margin: 0px auto;
}

#player_close {
    float: right;
    padding-right: 6px;	
    display: none;
}

#player_close a {
    color: #626262;
    font-size: 14px;
}