.clix-empty-container {
    color: @color-gray2;
    text-align: center;
    padding: 50px 0;

    .empty-icon {
        font-size: 64px;
        font-family: @font-primary-bold;
    }

    .header-text {
        font-size: 24px;
        font-family: @font-primary-bold;
        line-height: 30px;
    }

    .body-text {
        font-size: 14px;
        font-family: @font-secondary;
        line-height: 22px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        margin-top: 15px;
    }
}