@item-margin: 6px;

.clix-video-content-callout-list {
    margin-left: -(@item-margin / 2);
    margin-right: -(@item-margin / 2);

    .video-content-callout-item {
        padding-left: (@item-margin / 2);
        padding-right: (@item-margin / 2);
        margin-top: 16px;
    }
}