@star-container-height: 50px;

.clix-video-content-callout {
    position: relative;
    padding-top: 178%;

    .placeholder-container {
        .flex-display;
        .align-items(center);
        .justify-content(center);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        .placeholder {
            width: 60%;
            max-width: 300px;
        }
    }

    &.minimized {
        .star-avatar {
            display: none !important;
        }
        .star-name {
            margin-left: 0 !important;
        }
        .video-episode-title {
            font-size: 18px !important;
            line-height: 18px !important;
        }
        .video-series-title {
            font-size: 8px !important;
        }
        .video-episode-number {
            font-size: 8px !important;
        }
        .brands-container {
            margin-top: 10px !important;
        }

        .video-hidden-container {
            .video-hidden-title,
            .video-hidden-login {
                font-size: 10px;
            }

            .primary-button {
                font-size: 8px;
                padding: 10px 20px;
            }
        }
    }

    &.active {
        .star-info-background,
        .video-thumbnail-background {
            background-size: 110% !important;

            .lazy-loader-image {
                @media (min-width: @screen-md) {
                    background-size: 110% !important;
                }
            }
        }

        .star-info-background {
            @media (min-width: @screen-md) {
                background-position: center 5% !important;
            }
            @media (min-width: @screen-lg) {
                background-position: center 5% !important;
            }
            @media (min-width: @screen-xl) {
                background-position: center 3% !important;
            }

            .lazy-loader-image {
                @media (min-width: @screen-md) {
                    background-position: center 5% !important;
                }
                @media (min-width: @screen-lg) {
                    background-position: center 5% !important;
                }
                @media (min-width: @screen-xl) {
                    background-position: center 3% !important;
                }
            }
        }
    }

    .video-hidden-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        background-color: fade(@color-gray7, 90%);

        .video-hidden-inner-container {
            .radial-gradient(fade(@color-white, 30%), fade(@color-black, 0), center -24%);
            border: 4px solid @color-lignt-gray2;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .video-hidden-content {
            .transform(translateY(-50%));
            position: absolute;
            top: 50%;
            text-align: center;
            width: 100%;
        }

        .video-hidden-content-border {
            border-top: 1px solid @color-white;
            margin: 24px 60px;
        }

        .video-hidden-title {
            color: @color-white;
            font-family: @font-primary;
            font-size: 8px;
            line-height: 15px;
            text-transform: uppercase;
            letter-spacing: 1.6px;
            padding: 0 10px;

            @media (min-width: @screen-sm) {
                font-size: 11px;
                line-height: 15px;
            }

            @media (min-width: @screen-md) {
                font-size: 13px;
                line-height: 22px;
            }
        }

        .video-hidden-signup-button {
            display: inline-block;
            margin: 25px 0;
            cursor: pointer;

            .primary-button {
                @media (max-width: @screen-sm) {
                    font-size: 8px;
                    padding: 10px 20px;
                }
            }
        }

        .video-hidden-login {
            color: @color-white;
            font-family: @font-primary;
            text-transform: uppercase;
            font-size: 8px;
            text-decoration: underline;
            cursor: pointer;

            @media (min-width: @screen-sm) {
                font-size: 11px;
            }
        }
    }

    // Keep the img tag for dimensions
    .video-thumbnail {
        width: 100%;
        visibility: hidden;
    }

    .video-thumbnail-background {
        .transition(0.5s ease);
        position: absolute;
        background-size: 100%;
        background-position: center center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .lazy-loader-image {
            .transition(0.5s ease);
            background-size: 100%;
        }
    }

    .video-content-container {
        .gradient(@color-transparent, @color-black);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
    }

    .star-info-container {
        height: @star-container-height;
        position: relative;
        z-index: 200;
        overflow: hidden;

        .star-info-background {
            .transition(0.5s ease);
            .blur(4px);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-position: center top;
            background-size: 100%;
            background-repeat: no-repeat;

        }

        .star-info {
            .flex-display;
            .align-items(center);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            //background-color: fade(@color-dark-gray, 80%);
            background-color: fade(@color-black, 60%);
            padding: 10px;
        }

        .star-avatar {
            .border-radius(15px);
            width: 30px;
            height: 30px;
            background-size: cover;
            display: none;
            overflow: hidden;

            @media (min-width: @screen-sm) {
                display: block;
            }
        }

        .star-name {
            .flex(1);
            font-family: @font-primary;
            font-size: 14px;
            color: @color-white;

            @media (min-width: @screen-sm) {
                margin-left: 14px;
            }
        }

        .video-menu-icon {
            font-size: 20px;
            color: @color-gray2;
            cursor: pointer;
            padding: 10px;

            &:hover {
                color: @color-white;
            }
        }
    }

    .video-info-container {
        position: absolute;
        bottom: 0;
        padding: 10px 10px 0;
        color: @color-white;
        font-family: @font-primary;
        width: 100%;

        .video-episode-runtime {
            display: inline-block;
            font-family: @font-primary-bold;
            font-size: 10px;
            color: @color-white;
            padding: 0 5px;
            background-color: fade(@color-dark-gray, 75%);
            margin-top: 5px;

            @media (min-width: @screen-sm) {
                font-size: 14px;
            }

        }

        .video-episode-number {
            font-size: 8px;
            text-transform: uppercase;
            @media (min-width: @screen-sm) {
                font-size: 14px;
            }
        }

        .video-episode-title {
            font-size: 18px;
            line-height: 18px;
            font-family: @font-primary-bold;
            position: relative;
            width: 100%;

            @media (min-width: @screen-md) {
                font-size: 32px;
                line-height: 32px;
                margin: 5px 0 8px -2px;
            }
        }

        .video-series-title {
            font-size: 8px;
            text-transform: uppercase;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @media (min-width: @screen-sm) {
                font-size: 14px;
            }
        }

        .brands-container {
            .flex-display;
            border-top: 1px solid @color-gray23;
            margin-top: 10px;
            height: 45px;

            @media (min-width: @screen-sm) {
                margin-top: 20px;
            }

            .brand-icon {
                .flex(1);
                .opacity(.5);
                margin: 12px 5px;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
    }

    .video-content-overlay {
        .opacity(0);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
        background-color: @color-transparent-black;
        cursor: pointer;

        &.active {
            @media (min-width: @screen-md) {
                .opacity(1);
            }
        }

        .video-play-button {
            position: absolute;
            left: 38.5%;
            right: 38.5%;
            top: 50%;
            margin-top: -15%;

            &:hover {
                .brightness(0.8);
            }
            img {
                max-width: 100%;
            }
        }

        .video-watchlist-button {
            position: absolute;
            color: @color-gray2;
            font-size: 25px;
            top: @star-container-height + 10px;
            left: 10px;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                color: @color-white;
            }
        }
    }

    .video-points-container {
        position: absolute;
        z-index: 300;
        top: @star-container-height + 10px;
        right: 10px;
        display: inline-block;
    }

    .video-menu-container {
        position: absolute;
        right: 0;
        top: 25px;
        width: 100%;
        padding: 7px;
    }

    .violator {
        @media (max-width: @screen-sm) {
            font-size: 6px;
        }
    }
}