@star-container-height: 50px;

.clix-video-content-callout {
    position: relative;

    &.active {
        .star-info-background,
        .video-thumbnail-background {
            background-size: 110% !important;
        }
    }

    // Keep the img tag for dimensions
    .video-thumbnail {
        width: 100%;
        visibility: hidden;
    }

    .video-thumbnail-background {
        .transition(0.5s ease);
        position: absolute;
        background-size: 100%;
        background-position: top center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .video-content-container {
        .gradient(@color-transparent, @color-black);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
    }

    .star-info-container {
        height: @star-container-height;
        position: relative;
        z-index: 200;
        overflow: hidden;

        .star-info-background {
            .transition(0.5s ease);
            .blur(4px);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-position: top center;
            background-size: 100%;
            background-repeat: no-repeat;
        }

        .star-info {
            .flex-display;
            .align-items(center);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: fade(@color-dark-gray, 80%);
            padding: 10px;
        }

        .star-avatar {
            .border-radius(15px);
            width: 30px;
            height: 30px;
            background-size: cover;
            display: none;

            @media (min-width: @screen-sm) {
                display: block;
            }
        }

        .star-name {
            .flex(1);
            font-family: @font-primary-bold;
            font-size: 14px;
            color: @color-white;

            @media (min-width: @screen-sm) {
                margin-left: 14px;
                font-family: @font-primary;
            }
        }

        .video-menu-icon {
            font-size: 20px;
            color: @color-gray2;
            cursor: pointer;
            padding: 10px;

            &:hover {
                color: @color-white;
            }
        }
    }

    .video-info-container {
        position: absolute;
        bottom: 0;
        padding: 10px 10px 0;
        color: @color-white;
        font-family: @font-primary;
        width: 100%;

        .video-episode-number {
            font-size: 8px;
            text-transform: uppercase;
            @media (min-width: @screen-sm) {
                font-size: 14px;
            }
        }

        .video-episode-title {
            font-size: 18px;
            line-height: 18px;
            max-height: 133px;
            overflow: hidden;
            font-family: @font-primary-bold;

            @media (min-width: @screen-sm) {
                font-size: 32px;
                line-height: 32px;
                margin: 5px 0 8px -2px;
            }

            @media (min-width: @screen-xl) {
                font-size: 64px;
                line-height: 64px;
                margin-left: -4px;
            }
        }

        .video-series-title {
            font-size: 8px;
            text-transform: uppercase;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @media (min-width: @screen-sm) {
                font-size: 14px;
            }
        }

        .brands-container {
            .flex-display;
            border-top: 1px solid @color-gray23;
            margin-top: 20px;
            height: 45px;

            .brand-icon {
                .flex(1);
                .opacity(.5);
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                margin: 5px 0;
            }
        }
    }

    .video-content-overlay {
        .opacity(0);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
        background-color: @color-transparent-black;
        cursor: pointer;

        &.active {
            @media (min-width: @screen-sm) {
                .opacity(1);
            }
        }

        .video-play-button {
            position: absolute;
            left: 38.5%;
            right: 38.5%;
            top: 50%;
            margin-top: -15%;

            &:hover {
                .brightness(0.8);
            }
            img {
                max-width: 100%;
            }
        }

        .video-watchlist-button {
            position: absolute;
            color: @color-gray2;
            font-size: 25px;
            top: @star-container-height + 10px;
            left: 10px;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                color: @color-white;
            }
        }
    }

    .video-points-container {
        position: absolute;
        z-index: 300;
        top: @star-container-height + 10px;
        right: 10px;
        display: inline-block;
    }

    .video-menu-container {
        position: absolute;
        right: 0;
        top: 25px;
        width: 100%;
        padding: 7px;
    }

    .violator {
        @media (max-width: @screen-sm) {
            font-size: 6px;
        }
    }
}