<div class="clix-content-callout">
    <div class="header-callout-container">
        <div class="placeholder-container">
            <div class="placeholder">
                <clix-placeholder></clix-placeholder>
            </div>
        </div>
        <a ui-sref="{{sref}}" class="header-container" ng-transclude="headerElement"></a>
        <clix-tooltip-menu items="menuItems" menuopen="menuVisible" class="overlay-menu-container" ng-hide="!menuVisible"></clix-tooltip-menu>
        <div class="header-overlay">
            <a ui-sref="{{sref}}" class="hit-area"></a>
            <a ui-sref="{{sref}}" class="view-button-container">
                <div class="view-button">
                    <clix-view-button text="Go"></clix-view-button>
                </div>
            </a>
            <div class="header-save" ng-click="onFavorite()" clix-tooltip-trigger tooltip-id="favorites-button-{{$id}}">
                <clix-favorite-button is-favorite="isFavorited" ng-show="addButton !== 'true'"></clix-favorite-button>
                <clix-save-button is-saved="isFavorited" ng-show="addButton === 'true'"></clix-save-button>
            </div>
            <div class="header-ellipsis" clix-tooltip-trigger tooltip-id="actions-button-{{$id}}">
                <div class="menu-icon-container" ng-click="menuClicked($event)" clix-click-anywhere-else="bodyClicked">
                    <i class="icon-ellipsis"></i>
                </div>
            </div>
            <clix-tooltip tooltip-id="favorites-button-{{$id}}">
                {{isFavorited ? (removeFavoriteTooltip || 'Remove from favorites') : (addFavoriteTooltip || 'Add to favorites')}}
            </clix-tooltip>
            <clix-tooltip tooltip-id="actions-button-{{$id}}">
                Actions
            </clix-tooltip>
        </div>

    </div>
    <a ui-sref="{{sref}}" class="callout-footer-container">
        <span class="callout-title" ng-transclude="titleContent"></span>
        <span class="callout-subtitle" ng-transclude="subtitleContent"></span>
    </a>
</div>