.clix-footer {
    padding-top: 73px;
    padding-bottom: 78px;
    background-color: @color-black;
    position: relative;
    z-index: 3000;

    .footer-content {
        margin: 0 auto;
        width: 100%;

        @media (min-width: @screen-lg) {
            width: 1170px;
        }
    }

    .footer-column {
        @media (max-width: @screen-sm) {
            padding-left: @common-mobile-padding;
            padding-right: @common-mobile-padding;
        }
    }

    .footer-label {
        font-family: @font-secondary;
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: @color-light-gray;
        margin-top: 40px;

        @media (min-width: @screen-sm) {
            margin-top: 0;
            font-size: 13px;
        }
    }

    .footer-list {
        list-style-type: none;
        margin: 17px 0 0 0;
        padding: 0;

        @media (min-width: @screen-sm) {
            margin-top: 55px;
        }

        li {
            margin-bottom: 11px;
            @media (min-width: @screen-sm) {
                margin-bottom: 23px;
            }
        }
    }

    .social-icons {
        .flex-display;
        width: 250px;
        margin: 40px auto 0;

        @media (min-width: @screen-sm) {
            width: auto;
            margin: 0;
        }

        .social-icon {
            .flex(1);
            font-size: 25px;
            margin-right: 20px;
            text-align: center;

            @media (min-width: @screen-sm) {
                font-size: 20px;
            }
        }

        .social-icon:first-child {
            margin-right: 10px;
        }
    }

    a {
        font-family: @font-primary;
        font-size: 16px;
        color: @color-light-gray;

        @media (min-width: @screen-sm) {
            font-size: 14px;
        }
    }

    a:hover, a:focus {
        color: @color-white;
        text-decoration: none;
    }

    .footer-legal-container {
        .flex-display;
        width: 350px;
        margin: 50px auto 0 auto;

        @media (min-width: @screen-sm) {
            margin-top: 110px;
        }
    }

    .footer-legal-column {
        .flex(1);
        color: @color-medium-gray;
        font-family: @font-secondary;
        font-size: 16px;

        @media (min-width: @screen-sm) {
            font-size: 13px;
        }

        a {
            color: @color-medium-gray;
        }

        a:hover, a:focus {
            color: @color-light-gray;
            text-decoration: none;
        }

        &:nth-child(2) {
            text-align: center;
        }

        &:nth-child(3) {
            text-align: right;
        }
    }

    .footer-logo-container {
        width: 125px;

        @media (min-width: @screen-sm) {
            max-height: none;
            max-width: 135px;
        }
    }

    .clix-logo {
        max-width: 100%;
    }
}