<footer class="clix-footer">
    <div class="row footer-content">
        <div class="col-xs-12 col-sm-3 footer-column">
            <div class="footer-logo-container">
                <img src="assets/theme/clixtv/dist/images/white-logo.svg" class="clix-logo" ng-if="!isBeta" />
                <img src="assets/theme/clixtv/dist/images/clixtv-logo-white-horizontal-beta.svg" class="clix-logo" ng-if="isBeta" />
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 footer-column">
            <div class="footer-label">
                Company
            </div>
            <ul class="footer-list">
                <li>
                    <a href="#">
                        What is ClixTV?
                    </a>
                </li>
                <li>
                    <a href="#">
                        Investor Relations
                    </a>
                </li>
                <li>
                    <a href="#">
                        Advertisers
                    </a>
                </li>
                <li>
                    <a href="#">
                        Jobs
                    </a>
                </li>
                <li>
                    <a href="#">
                        Press
                    </a>
                </li>
                <li>
                    <a href="#">
                        News
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-3 footer-column">
            <div class="footer-label">
                Useful Links
            </div>
            <ul class="footer-list">
                <li>
                    <a ui-sref="charities">
                        Charities
                    </a>
                </li>
                <li>
                    <a ui-sref="stars">
                        Stars
                    </a>
                </li>
                <li>
                    <a href="#">
                        Affiliates
                    </a>
                </li>
                <li>
                    <a href="#">
                        Rewards
                    </a>
                </li>
                <li>
                    <a ui-sref="categories">
                        Video Categories
                    </a>
                </li>
                <li>
                    <a href="#">
                        Help
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-3 footer-column">
            <div class="social-icons">
                <a href="https://www.facebook.com/clixtvofficial/" class="social-icon" target="_blank">
                    <i class="icon-facebook-logo"></i>
                </a>
                <a href="https://twitter.com/clixtvofficial" class="social-icon" target="_blank">
                    <i class="icon-twitter-logo"></i>
                </a>
                <a href="#" class="social-icon" target="_blank">
                    <i class="icon-youtube-logo"></i>
                </a>
                <a href="https://www.instagram.com/clixtv/" class="social-icon" target="_blank">
                    <i class="icon-instagram-logo"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-legal-container">
        <div class="footer-legal-column">
            <a href="#">
                Legal
            </a>
        </div>
        <div class="footer-legal-column">
            <a href="#">
                Cookies
            </a>
        </div>
        <div class="footer-legal-column">
            &copy; ClixTV, Inc
        </div>
    </div>
</footer>