<div class="clix-offer-page" ng-if="configs">
    <clix-hero-banner
        title-text="{{configs.title}}"
        button-text="{{'+ Save Offer'}}"
        button-tooltip-text="{{loggedInUser ? 'You will receive 50 Reward Points for saving this offer!' : 'After you sign up, you will receive 50 Reward Points for saving this offer!'}}"
        share-tooltip-text="{{loggedInUser ? 'You will receive 50 Reward Points for sharing!' : 'After signing up, you will receive 50 Reward Points for sharing!'}}"
        points="{{'50'}}"
        subtext="{{'Expires 1 February 2017'}}"
        background-image="{{configs.backgroundImage}}"
    >
        <hero-banner-logo>
            <img ng-src="{{configs.logo}}" ng-srcset="{{configs.logo2x}} 2x" />
        </hero-banner-logo>
    </clix-hero-banner>
    <div class="main-page-content">
        <div class="clix-tabs">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Overview">
                    <div class="home-container">
                        <clix-landing-video-content>
                            <main-content>
                                <div class="offer-carousel">
                                    <slick dots="true" prev-arrow="#main-carousel-previous" next-arrow="#main-carousel-next">
                                        <div class="offer-slide">
                                            <img ng-src="assets/theme/clixtv/dist/images/nike-offer-demo-1.png" />
                                        </div>
                                        <div class="offer-slide">
                                            <img ng-src="assets/theme/clixtv/dist/images/nike-offer-demo-2.png" />
                                        </div>
                                        <div class="offer-slide">
                                            <img ng-src="assets/theme/clixtv/dist/images/nike-offer-demo-3.png" />
                                        </div>
                                    </slick>
                                    <div id="main-carousel-previous">
                                        <div class="main-carousel-button">
                                            <i class="arrow-icon icon-left-tall-arrow"></i>
                                        </div>
                                    </div>
                                    <div id="main-carousel-next">
                                        <div class="main-carousel-button">
                                            <i class="arrow-icon icon-right-tall-arrow"></i>
                                        </div>
                                    </div>
                                </div>
                            </main-content>
                            <content-description>
                                <div class="home-header">
                                    Instructions
                                </div>
                                <div class="home-instructions">
                                    <div class="instructions-row">
                                        <div class="instructions-number">
                                            1
                                        </div>
                                        <div class="instructions-label">
                                            Click the button below to shop online at {{brand.title}}. Your Coupon code will be copied to your clipboard automatically.
                                        </div>
                                    </div>
                                    <div class="instructions-row">
                                        <div class="instructions-number">
                                            2
                                        </div>
                                        <div class="instructions-label">
                                            Paste your code during checkout.
                                        </div>
                                    </div>
                                    <div class="instructions-row">
                                        <div class="instructions-number">
                                            3
                                        </div>
                                        <div class="instructions-label">
                                            Enjoy!
                                        </div>
                                    </div>
                                </div>
                                <div class="offer-buttons">
                                    <div class="offer-button">
                                        <div class="save-offer-button" clix-tooltip-trigger tooltip-id="save-offer-button-{{$id}}">
                                            <clix-tertiary-button>
                                                + Save Offer
                                            </clix-tertiary-button>
                                            <div class="save-offer-points">
                                                <clix-points-violator>
                                                    50
                                                </clix-points-violator>
                                            </div>
                                        </div>
                                        <clix-tooltip tooltip-id="save-offer-button-{{$id}}">
                                            <div ng-if="loggedInUser">
                                                You will receive 50 Reward Points for saving this offer!
                                            </div>
                                            <div ng-if="!loggedInUser">
                                                After you sign up, you will receive 50 Reward Points for saving this offer! <a ng-click="">Learn more</a>.
                                            </div>
                                        </clix-tooltip>
                                    </div>
                                    <div class="offer-button">
                                        <div class="save-offer-button" clix-tooltip-trigger tooltip-id="redeem-offer-button-{{$id}}">
                                            <clix-tertiary-button>
                                                Redeem Now
                                            </clix-tertiary-button>
                                            <div class="save-offer-points">
                                                <clix-points-violator>
                                                    50
                                                </clix-points-violator>
                                            </div>
                                        </div>
                                        <clix-tooltip tooltip-id="redeem-offer-button-{{$id}}">
                                            <div ng-if="loggedInUser">
                                                You will receive 50 Reward Points for redeeming this offer!
                                            </div>
                                            <div ng-if="!loggedInUser">
                                                After signing up, you will receive 50 Reward Points for redeeming this offer! <a ng-click="">Learn more</a>.
                                            </div>
                                        </clix-tooltip>
                                    </div>
                                </div>
                            </content-description>
                            <share-tooltip-content>
                                <div ng-if="loggedInUser">
                                    You will receive 50 Reward Points for sharing!
                                </div>
                                <div ng-if="!loggedInUser">
                                    After signing up, you will receive 50 Reward Points for sharing! <a ng-click="">Learn more</a>.
                                </div>
                            </share-tooltip-content>
                            <sidebar-title>
                                More Offers From {{brand.title}}
                            </sidebar-title>
                            <sidebar-content>
                                <div class="row brand-offer-row">
                                    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 brand-offer-column" ng-repeat="offer in offers | limitTo: 3" ng-if="offers">
                                        <div class="brand-offer">
                                            <clix-content-callout sref="brand({ slug: (offer.title | slug) })" menu-items="offerMenuItems">
                                                <header-element>
                                                    <clix-offer-logo offer="offer"></clix-offer-logo>
                                                </header-element>
                                                <title-content>
                                                    {{offer.title}}
                                                </title-content>
                                                <subtitle-content>
                                                    Expires 2/1/2017
                                                </subtitle-content>
                                            </clix-content-callout>
                                        </div>
                                    </div>
                                </div>
                            </sidebar-content>
                            <footer-content>
                                <div class="offer-footer-info row">
                                    <div class="col-md-6 offer-footer-column">
                                        <div class="footer-header">
                                            <clix-secondary-header>
                                                The Revolution Never Ends
                                            </clix-secondary-header>
                                        </div>
                                        <p>
                                            Since 1985, the sneakers carrying Michael Jordan’s name and world-renowned “Jumpman” silhouette have helped to define and shape sneaker culture. It began with a standard Nike high top, and evolved with daring designs implemented into each iteration. From graphic prints to patent leather to fighter planes and Ferrari-inspired designs, Jordan sneakers routinely transcend its basketball roots by refreshing its initial offerings with new looks and color schemes to remain prevalent throughout generations.
                                        </p>
                                        <p>
                                            -  Leather upper for a supportive fit
                                        </p>
                                        <p>
                                            -  Full-length Nike Zoom Air unit for responsive cushioning
                                        </p>
                                        <p>
                                            -  Carbon fiber shank helps maximize energy return
                                        </p>
                                        <p>
                                            -  Rubber sole for traction on a variety of surfaces
                                        </p>
                                    </div>
                                    <div class="col-md-6 offer-footer-column">
                                        <div class="footer-header">
                                            <clix-secondary-header>
                                                About {{brand.title}}
                                            </clix-secondary-header>
                                        </div>
                                        <p>
                                            {{brand.description}}
                                        </p>
                                    </div>
                                </div>
                            </footer-content>
                        </clix-landing-video-content>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Related Offers">
                    <div class="videos-title-container related-offers-title">
                        <div class="videos-title">
                            <clix-secondary-header>
                                All {{brand.title}} Offers
                            </clix-secondary-header>
                        </div>
                    </div>
                    <div class="row clix-block-row offers-container">
                        <div class="clix-block-item col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="offer in offers" ng-if="offers">
                            <clix-content-callout sref="offer({ id: '{{offer._id}}' })" menu-items="offerMenuItems">
                                <header-element>
                                    <clix-offer-logo offer="offer"></clix-offer-logo>
                                </header-element>
                                <title-content>
                                    {{offer.title}}
                                </title-content>
                                <subtitle-content>
                                    Expires 2/1/2017
                                </subtitle-content>
                            </clix-content-callout>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Videos">
                    <div class="videos-container">
                        <div class="videos-title-container">
                            <div class="videos-title">
                                <clix-secondary-header>
                                    All Videos Featuring {{brand.title}}
                                </clix-secondary-header>
                            </div>
                            <div class="video-sort-container">
                                <clix-dropdown options="seriesList"></clix-dropdown>
                            </div>
                        </div>
                        <div class="row clix-block-row">
                            <div class="clix-block-item col-xs-12 col-sm-12 col-md-3 col-lg-2-4" ng-repeat="video in videos" ng-if="videos">
                                <clix-video-content-box video="video"></clix-video-content-box>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>

</div>