@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../src/sprites/compiled/layout-sprite.css';
// pages
@import "models/home/home";
@import "models/header_page/header";
@import "models/newsfeed/newsfeed";
@import "models/vod_page/vod";
@import "models/my_list/mylist";
@import "models/discover/discover";
@import "models/social/social";
//directives
@import "directives/video_block/video_block";
@import "directives/vod_block/vod_block";
@import "directives/mylist_video_block_page/mylist_video_block";
@import "directives/social_block/social_block";

@font-face {
	font-family: 'SourceSansPro';
	src: url('font/hinted-SourceSansPro-SemiBold.eot');
	src: local('SourceSansPro SemiBold'), local('SourceSansPro-SemiBold'),
		url('font/hinted-SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-SourceSansPro-SemiBold.woff2') format('woff2'),
		url('font/hinted-SourceSansPro-SemiBold.woff') format('woff'),
		url('font/hinted-SourceSansPro-SemiBold.ttf') format('truetype'),
		url('font/hinted-SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('font/hinted-SourceSansPro-Light.eot');
	src: local('SourceSansPro Light'), local('SourceSansPro-Light'),
		url('font/hinted-SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-SourceSansPro-Light.woff2') format('woff2'),
		url('font/hinted-SourceSansPro-Light.woff') format('woff'),
		url('font/hinted-SourceSansPro-Light.ttf') format('truetype'),
		url('font/hinted-SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('font/hinted-SourceSansPro-ExtraLight.eot');
	src: local('SourceSansPro ExtraLight'), local('SourceSansPro-ExtraLight'),
		url('font/hinted-SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-SourceSansPro-ExtraLight.woff2') format('woff2'),
		url('font/hinted-SourceSansPro-ExtraLight.woff') format('woff'),
		url('font/hinted-SourceSansPro-ExtraLight.ttf') format('truetype'),
		url('font/hinted-SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('font/hinted-SourceSansPro-ExtraLightItalic.eot');
	src: local('SourceSansPro ExtraLight Italic'), local('SourceSansPro-ExtraLightItalic'),
		url('font/hinted-SourceSansPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
		url('font/hinted-SourceSansPro-ExtraLightItalic.woff') format('woff'),
		url('font/hinted-SourceSansPro-ExtraLightItalic.ttf') format('truetype'),
		url('font/hinted-SourceSansPro-ExtraLightItalic.svg#SourceSansPro-ExtraLightItalic') format('svg');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('font/hinted-SourceSansPro-Italic.eot');
	src: local('SourceSansPro Italic'), local('SourceSansPro-Italic'),
		url('font/hinted-SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-SourceSansPro-Italic.woff2') format('woff2'),
		url('font/hinted-SourceSansPro-Italic.woff') format('woff'),
		url('font/hinted-SourceSansPro-Italic.ttf') format('truetype'),
		url('font/hinted-SourceSansPro-Italic.svg#SourceSansPro-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('font/hinted-SourceSansPro-LightItalic.eot');
	src: local('SourceSansPro Light Italic'), local('SourceSansPro-LightItalic'),
		url('font/hinted-SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-SourceSansPro-LightItalic.woff2') format('woff2'),
		url('font/hinted-SourceSansPro-LightItalic.woff') format('woff'),
		url('font/hinted-SourceSansPro-LightItalic.ttf') format('truetype'),
		url('font/hinted-SourceSansPro-LightItalic.svg#SourceSansPro-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('font/hinted-SourceSansPro-Black.eot');
	src: local('SourceSansPro Black'), local('SourceSansPro-Black'),
		url('font/hinted-SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-SourceSansPro-Black.woff2') format('woff2'),
		url('font/hinted-SourceSansPro-Black.woff') format('woff'),
		url('font/hinted-SourceSansPro-Black.ttf') format('truetype'),
		url('font/hinted-SourceSansPro-Black.svg#SourceSansPro-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('font/hinted-SourceSansPro-SemiBoldItalic.eot');
	src: local('SourceSansPro SemiBold Italic'), local('SourceSansPro-SemiBoldItalic'),
		url('font/hinted-SourceSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
		url('font/hinted-SourceSansPro-SemiBoldItalic.woff') format('woff'),
		url('font/hinted-SourceSansPro-SemiBoldItalic.ttf') format('truetype'),
		url('font/hinted-SourceSansPro-SemiBoldItalic.svg#SourceSansPro-SemiBoldItalic') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('font/hinted-SourceSansPro-Bold.eot');
	src: local('SourceSansPro Bold'), local('SourceSansPro-Bold'),
		url('font/hinted-SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-SourceSansPro-Bold.woff2') format('woff2'),
		url('font/hinted-SourceSansPro-Bold.woff') format('woff'),
		url('font/hinted-SourceSansPro-Bold.ttf') format('truetype'),
		url('font/hinted-SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('font/hinted-SourceSansPro-BlackItalic.eot');
	src: local('SourceSansPro Black Italic'), local('SourceSansPro-BlackItalic'),
		url('font/hinted-SourceSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-SourceSansPro-BlackItalic.woff2') format('woff2'),
		url('font/hinted-SourceSansPro-BlackItalic.woff') format('woff'),
		url('font/hinted-SourceSansPro-BlackItalic.ttf') format('truetype'),
		url('font/hinted-SourceSansPro-BlackItalic.svg#SourceSansPro-BlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('font/hinted-SourceSansPro-BoldItalic.eot');
	src: local('SourceSansPro Bold Italic'), local('SourceSansPro-BoldItalic'),
		url('font/hinted-SourceSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-SourceSansPro-BoldItalic.woff2') format('woff2'),
		url('font/hinted-SourceSansPro-BoldItalic.woff') format('woff'),
		url('font/hinted-SourceSansPro-BoldItalic.ttf') format('truetype'),
		url('font/hinted-SourceSansPro-BoldItalic.svg#SourceSansPro-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('font/hinted-SourceSansPro-Regular.eot');
	src: local('SourceSansPro Regular'), local('SourceSansPro-Regular'),
		url('font/hinted-SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-SourceSansPro-Regular.woff2') format('woff2'),
		url('font/hinted-SourceSansPro-Regular.woff') format('woff'),
		url('font/hinted-SourceSansPro-Regular.ttf') format('truetype'),
		url('font/hinted-SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('font/hinted-Roboto-BlackItalic.eot');
	src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
		url('font/hinted-Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-Roboto-BlackItalic.woff2') format('woff2'),
		url('font/hinted-Roboto-BlackItalic.woff') format('woff'),
		url('font/hinted-Roboto-BlackItalic.ttf') format('truetype'),
		url('font/hinted-Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('font/hinted-Roboto-BoldItalic.eot');
	src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
		url('font/hinted-Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-Roboto-BoldItalic.woff2') format('woff2'),
		url('font/hinted-Roboto-BoldItalic.woff') format('woff'),
		url('font/hinted-Roboto-BoldItalic.ttf') format('truetype'),
		url('font/hinted-Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('font/hinted-Roboto-Thin.eot');
	src: local('Roboto Thin'), local('Roboto-Thin'),
		url('font/hinted-Roboto-Thin.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-Roboto-Thin.woff2') format('woff2'),
		url('font/hinted-Roboto-Thin.woff') format('woff'),
		url('font/hinted-Roboto-Thin.ttf') format('truetype'),
		url('font/hinted-Roboto-Thin.svg#Roboto-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('font/hinted-Roboto-Italic.eot');
	src: local('Roboto Italic'), local('Roboto-Italic'),
		url('font/hinted-Roboto-Italic.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-Roboto-Italic.woff2') format('woff2'),
		url('font/hinted-Roboto-Italic.woff') format('woff'),
		url('font/hinted-Roboto-Italic.ttf') format('truetype'),
		url('font/hinted-Roboto-Italic.svg#Roboto-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('font/hinted-Roboto-Bold.eot');
	src: local('Roboto Bold'), local('Roboto-Bold'),
		url('font/hinted-Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-Roboto-Bold.woff2') format('woff2'),
		url('font/hinted-Roboto-Bold.woff') format('woff'),
		url('font/hinted-Roboto-Bold.ttf') format('truetype'),
		url('font/hinted-Roboto-Bold.svg#Roboto-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('font/hinted-Roboto-Regular.eot');
	src: local('Roboto'), local('Roboto-Regular'),
		url('font/hinted-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-Roboto-Regular.woff2') format('woff2'),
		url('font/hinted-Roboto-Regular.woff') format('woff'),
		url('font/hinted-Roboto-Regular.ttf') format('truetype'),
		url('font/hinted-Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('font/hinted-Roboto-Black.eot');
	src: local('Roboto Black'), local('Roboto-Black'),
		url('font/hinted-Roboto-Black.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-Roboto-Black.woff2') format('woff2'),
		url('font/hinted-Roboto-Black.woff') format('woff'),
		url('font/hinted-Roboto-Black.ttf') format('truetype'),
		url('font/hinted-Roboto-Black.svg#Roboto-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('font/hinted-Roboto-Light.eot');
	src: local('Roboto Light'), local('Roboto-Light'),
		url('font/hinted-Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-Roboto-Light.woff2') format('woff2'),
		url('font/hinted-Roboto-Light.woff') format('woff'),
		url('font/hinted-Roboto-Light.ttf') format('truetype'),
		url('font/hinted-Roboto-Light.svg#Roboto-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('font/hinted-Roboto-ThinItalic.eot');
	src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
		url('font/hinted-Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-Roboto-ThinItalic.woff2') format('woff2'),
		url('font/hinted-Roboto-ThinItalic.woff') format('woff'),
		url('font/hinted-Roboto-ThinItalic.ttf') format('truetype'),
		url('font/hinted-Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('font/hinted-Roboto-Medium.eot');
	src: local('Roboto Medium'), local('Roboto-Medium'),
		url('font/hinted-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-Roboto-Medium.woff2') format('woff2'),
		url('font/hinted-Roboto-Medium.woff') format('woff'),
		url('font/hinted-Roboto-Medium.ttf') format('truetype'),
		url('font/hinted-Roboto-Medium.svg#Roboto-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('font/hinted-Roboto-LightItalic.eot');
	src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
		url('font/hinted-Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-Roboto-LightItalic.woff2') format('woff2'),
		url('font/hinted-Roboto-LightItalic.woff') format('woff'),
		url('font/hinted-Roboto-LightItalic.ttf') format('truetype'),
		url('font/hinted-Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('font/hinted-Roboto-MediumItalic.eot');
	src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
		url('font/hinted-Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('font/hinted-Roboto-MediumItalic.woff2') format('woff2'),
		url('font/hinted-Roboto-MediumItalic.woff') format('woff'),
		url('font/hinted-Roboto-MediumItalic.ttf') format('truetype'),
		url('font/hinted-Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}


body{
  background: #f2f2f2;
}

*{
  outline: 0;
}

.title1{
  font-family: SourceSansPro;
  font-size: 2.5vw;
  font-weight: bold;
  text-align: left;
  color: #f2f2f2;
}

.flex_center{
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.close_button{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../src/images/icon/x-red.png);
	width: 20px;
	height: 20px;
	float: right;
	cursor: pointer;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
