.clix-account-header {
    border-bottom: 1px solid @color-gray3;
    margin-left: @common-mobile-padding;
    margin-right: @common-mobile-padding;

    @media (min-width: @screen-md) {
        margin-left: @account-padding-mobile;
        margin-right: @account-padding-mobile;
        padding-bottom: 8px;
    }

    .header-text {
        font-family: @font-primary-bold;
        font-size: 28px;
        color: @color-white;
        letter-spacing: 1.6px;
        text-align: center;

        @media (min-width: @screen-md) {
            font-size: 45px;
            text-align: left;
            margin-bottom: 0;
        }
    }

    .accesory-view {
        padding-bottom: 20px;
        padding-top: 30px;
        @media (min-width: @screen-md) {
            padding-bottom: 0;
            padding-top: 0;
            margin-top: 20px;
        }
    }

    @media (min-width: @screen-md) {
        padding-left: 53px;
        margin-left: 0;
        margin-right: 29px;
    }
}