.clix-account-header {
    font-family: @font-primary;
    font-size: 28px;
    color: @color-white;
    letter-spacing: 1.6px;
    padding-bottom: 20px;
    border-bottom: 1px solid @color-gray3;
    text-align: center;
    margin-left: @account-padding-mobile;
    margin-right: @account-padding-mobile;

    @media (min-width: @screen-sm) {
        padding-left: 53px;
        font-size: 35px;
        text-align: left;
        margin-left: 0;
        margin-right: 29px;
    }
}