.clix-account-watchlist {
    .filter-containers {
        .flex-display;
    }
    .filter-container {
        .flex(1);

        &:first-child {
            padding-right: 10px;
        }
        &:last-child {
            padding-left: 10px;
        }
    }

    .empty-watchlist-icon {
        position: relative;
        top: -1px;
    }

    .empty-message-container {
        padding-left: @account-padding-mobile;
        padding-right: @account-padding-mobile;
    }

    .watchlist-container {
        padding-top: 30px;

        @media (min-width: @screen-md) {
            padding-left: 50px;
            padding-right: 30px;
        }
    }
}